@page "/section/plus_nesting_fks/new"
@page "/section/plus_nesting_fks/{IdentityUidStr}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using WsStorageCore.TableScaleFkModels.PlusNestingFks
@using BlazorDeviceControl.Pages.ItemComponents
@inherits RazorComponentItemBase<WsStorageCore.TableScaleFkModels.PlusNestingFks.WsSqlPluNestingFkModel>

<RazorItemReload TItem="@WsSqlPluNestingFkModel" Title="@LocaleCore.DeviceControl.ItemPluNestingFk" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 })"/>
  <tbody>
  <RazorItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@LocaleCore.Table.Name</td>
    <td>@SqlItemCast.Name</td>
    <td>@LocaleCore.Table.IsDefault</td>
    <td>
      <RadzenCheckBox TValue="bool" Disabled="true" @bind-Value="@SqlItemCast.IsDefault"/>
    </td>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@GetRouteItemPath(SqlItemCast.PluBundle.Plu)" Text="@LocaleCore.Table.Plu"/>
    </td>
    <td>@SqlItemCast.PluBundle.Plu.DisplayName</td>
    <td>@LocaleCore.Table.NomenclatureCode</td>
    <td>@SqlItemCast.PluBundle.Plu.Code</td>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@GetRouteItemPath(SqlItemCast.PluBundle)" Text="@LocaleCore.Table.PluBundleFk"/>
    </td>
    <td>@SqlItemCast.PluBundle.Bundle.Name</td>
    <td>@LocaleCore.Table.BundleWeight</td>
    <td>@SqlItemCast.PluBundle.Bundle.Weight</td>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@GetRouteItemPath(SqlItemCast.Box)" Text="@LocaleCore.Table.Box"/>
    </td>
    <td>@SqlItemCast.Box.Name</td>
    <td>@LocaleCore.Table.BoxWeight</td>
    <td>@SqlItemCast.Box.Weight</td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.NestingCount</td>
    <td>@SqlItemCast.BundleCount</td>
    <td>@LocaleCore.Table.WeightNominal</td>
    <td>@SqlItemCast.WeightNom</td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.WeightMinimal</td>
    <td>@SqlItemCast.WeightMin</td>
    <td>@LocaleCore.Table.WeightMaximal</td>
    <td>@SqlItemCast.WeightMax</td>
  </tr>
  <RazorItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<RazorItemActions
  TItem="@WsSqlPluNestingFkModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"/>