@using DeviceControl.Components.Rz
@using DeviceControl.Components.Item
@attribute [Authorize(Roles = WsUserAccessStr.Read)]

<div Style="display: flex; margin-bottom: 10px">
  <RadzenDropDown TValue="List<SqlPluEntity>" @bind-Value="@SelectedPlus" Data="@Plus" TextProperty="DisplayName"
                Multiple="true" AllowFiltering="true" AllowClear="true" Placeholder="Select plu" AllowSelectAll="false"
                Style="width: 100%;" />
</div>

<RzDataGrid
  TItem="@SqlPluEntity"
  PagerPosition = "PagerPosition.Bottom"
  Data="@SelectedPlus">
  <Columns>
    <TItemContent TItem="@SqlPluEntity">
      <RadzenDataGridColumn Title="@LocaleCore.Table.Name" Property="Name"/>
      <RadzenDataGridColumn Title="@LocaleCore.Table.Weighted" SortProperty="IsCheckWeight">
        <Template Context="itemCast">
          <RadzenCheckBox ReadOnly="true" TValue="bool" @bind-Value="@itemCast.IsCheckWeight"/>
        </Template>
      </RadzenDataGridColumn>
      <RadzenDataGridColumn Title="@LocaleCore.Table.Number" Property="Number"/>
    </TItemContent>
  </Columns>
</RzDataGrid>


<ItemActions
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SaveItem"
  OnItemCancel="@ReloadPage"/>