@page "/section/logs/{Uid:guid}"
@attribute [Authorize(Roles = WsUserAccessStr.Read)]
@using DeviceControl.Components.Item
@inherits ItemBase<SqlLogEntity>

<ItemTopBar TItem="SqlLogEntity" Title="@LocaleCore.DeviceControl.ItemLog" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead HeadWidth="@(new List<int> { 15, 35, 15, 35 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  @if (SqlItemCast.Device is not null)
  {
    <tr>
      <td>@LocaleCore.Table.Line</td>
      <td>@LineRepository.GetItemByHost(SqlItemCast.Device).Description</td>
      <td>@LocaleCore.Table.Host</td>
      <td>@SqlItemCast.Device.Name</td>
    </tr>
  }
  @if (SqlItemCast.App is not null)
  {
    <tr>
      <td>@LocaleCore.Table.App</td>
      <td>@SqlItemCast.App.Name</td>
      <td>@LocaleCore.Table.Version</td>
      <td>@SqlItemCast.Version</td>
    </tr>
  }
  <tr>
    <td>@LocaleCore.Table.File</td>
    <td>@SqlItemCast.File</td>
    <td>@LocaleCore.Table.Row</td>
    <td>@SqlItemCast.Line</td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.Member</td>
    <td>@SqlItemCast.Member</td>
    <td>@LocaleCore.Table.LogType</td>
    <td>@SqlItemCast.Type</td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.Message</td>
    <td colspan="3">
      <RadzenTextArea
        Style="width: 100%; text-align: left; font-size: 12px; line-height: 18px; background-color: lightgray; "
        Rows="12" ReadOnly="true"
        @bind-Value="@SqlItemCast.Message"/>
    </td>
  </tr>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>
