@page "/section/logs"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using Ws.StorageCore.Enums
@using DeviceControl.Components.Section
@using DeviceControl.Components.Rz
@inherits SectionBase<SqlLogEntity>

<SectionTopBar
  Title="@LocaleCore.System.SystemLogs"
  ButtonSettings="@ButtonSettings"
  OnSectionUpdate="@GetSectionData"
  OnSectionAdd="@SqlItemNewAsync"
  SectionCount="@SqlSectionCast.Count"
  SqlCrudConfigSection="@SqlCrudConfigSection"
  IsGuiShowFilterMarked="@IsGuiShowFilterMarked"
  />

<div Style="display: flex; margin-bottom: 2px">
  <RzDropDownNullable
                      Style="width: 50%; display: inline-block;"
                      TItem="LogTypeEnum"
                      @bind-Value="@CurrentLogType"
                      Data="@Enum.GetValues(typeof(LogTypeEnum))"
                      Change="@(() => GetSectionData())"
                      Placeholder="Types: All"/>
  <RzDropDownNullable Style="width: 50%; display: inline-block;"
                      @bind-Value="@CurrentLine"
                      Data="@Lines"
                      FilterOperator="StringFilterOperator.Contains"
                      AllowFiltering="true"
                      TextProperty="Description" Change="@(() => GetSectionData())"
                      Placeholder="Lines: All"/>
</div>

<RzDataGrid
  TItem="@SqlLogEntity"
  @ref="@DataGrid"
  @bind-Value="@SelectedRow"
  Data="@SqlSectionCast"
  CellContextMenu="@OnCellContextMenu"
  RowSelect="@SqlItemSet"
  RowDoubleClick="@SqlItemOpenAsync">
  <Columns>
    <TItemContent TItem="@SqlLogEntity">
      <SectionIsMarked SqlCrudConfigSection="@SqlCrudConfigSection"/>
      <RadzenDataGridColumn Title="@LocaleCore.Table.CreateDt" Property="CreateDt" Width="14%"
                            FormatString="@StrUtils.FormatDtLong"/>
      <RadzenDataGridColumn Title="@LocaleCore.Table.Device" Property="Device.Name" Width="10%"/>
      <RadzenDataGridColumn Title="@LocaleCore.Table.App" Property="App.Name" Width="13%"/>
      <RadzenDataGridColumn Title="@LocaleCore.Table.Version" Property="Version" Width="6%"/>
      <RadzenDataGridColumn Title="@LocaleCore.Table.LogType" Property="Type" Width="10%"/>
      <RadzenDataGridColumn Title="@LocaleCore.Table.Message" Property="Message" Width="30%"/>
    </TItemContent>
  </Columns>
</RzDataGrid>
