@using ScalesDesktop.Source.Shared.UI
@using Blazor.Heroicons.Outline
<LabelDisplayItem Label="@Localizer["ColDt"]">
  <div class="grid overflow-hidden grid-cols-7 size-full">
    <div class="col-span-2 size-full py-1 overflow-hidden">
      <Button
        Variant="ButtonVariant.Outline"
        Size="ButtonSize.Full"
        OnClick="@DecreaseDate"
      >
        <ChevronLeftIcon class="size-full p-3"/>
      </Button>
    </div>
    <div class="col-span-3 flex items-center justify-center size-full overflow-hidden">
      <span class="text-xl xl:text-3xl font-medium">
        @LabelContext.KneadingModel.ProductDate.ToString("dd-MM-yyyy")
      </span>
    </div>
    <div class="col-span-2 flex gap-2 size-full overflow-hidden py-1">
      <Button
        Variant="ButtonVariant.Outline"
        Size="ButtonSize.Full"
        OnClick="@ResetDate"
      >
        <ArrowPathIcon class="size-full p-3" />
      </Button>
      <Button
        Variant="ButtonVariant.Outline"
        Size="ButtonSize.Full"
        OnClick="@IncreaseDate"
      >
        <ChevronRightIcon class="size-full p-3" />
      </Button>
    </div>
  </div>
</LabelDisplayItem>