@page "/section/scales/new"
@page "/section/scales/{Id:long}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using WsStorageCore.TableScaleModels.Scales
@using DeviceControl.Services
@using DeviceControl.Components.Rz
@using DeviceControl.Components.Item
@using DeviceControl.Components.Nested.PlusLines
@inherits ItemBase<WsStorageCore.TableScaleModels.Scales.WsSqlScaleModel>

<ItemTopBar TItem="@WsSqlScaleModel" Title="@WsLocaleCore.DeviceControl.ItemScale" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new List<int> { 20, 30, 20, 30 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@WsLocaleCore.Table.Name</td>
    <td>
      <RzTextBox @bind-Value="@SqlItemCast.Description"/>
    </td>

    <td>@WsLocaleCore.Table.IsKneading</td>
    <td>
      <RadzenCheckBox TValue="bool" @bind-Value="@SqlItemCast.IsKneading"/>
    </td>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@RouteService.GetItemRoute(Device)" Text="@WsLocaleCore.Table.Host"/>
    </td>
    <td>
      <RzDropDown @bind-Value="@Device" Data="@HostModels" TextProperty="DisplayName"/>
    </td>
    <td>@WsLocaleCore.Table.IsOrder</td>
    <td>
      <RadzenCheckBox @bind-Value="@SqlItemCast.IsOrder"/>
    </td>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@RouteService.GetItemRoute(SqlItemCast.PrinterMain)" Text="@WsLocaleCore.Print.NameMain"/>
    </td>
    <td>
      <RzDropDown @bind-Value="@SqlItemCast.PrinterMain" Data="@PrinterModels" TextProperty="DisplayName"/>
    </td>
    <td>@WsLocaleCore.Table.DeviceComPort</td>
    <td>
      <RzDropDown @bind-Value="@SqlItemCast.DeviceComPort" Data="@ComPorts" TextProperty="Name" ValueProperty="Value"/>
    </td>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@RouteService.GetItemRoute(SqlItemCast.PrinterShipping)" Text="@WsLocaleCore.Print.NameShipping"/>
    </td>
    <td>
      <RzDropDown @bind-Value="@SqlItemCast.PrinterShipping" Data="@PrinterModels" TextProperty="DisplayName"/>
    </td>
    <td>@WsLocaleCore.Table.IsShipping</td>
    <td>
      <RadzenCheckBox TValue="bool" @bind-Value="@SqlItemCast.IsShipping"/>
    </td>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@RouteService.GetItemRoute(SqlItemCast.WorkShop)" Text="@WsLocaleCore.Table.WorkShopName"/>
    </td>
    <td>
      <RzDropDown @bind-Value="@SqlItemCast.WorkShop" Data="@WorkShopModels" TextProperty="DisplayName"/>
    </td>
    <td>
      <RadzenLink Path="@RouteService.GetItemRoute(SqlItemCast.WorkShop?.ProductionFacility)" Text="@WsLocaleCore.Table.ProductionFacility"/>
    </td>
    <td>@(SqlItemCast.WorkShop is not null ? SqlItemCast.WorkShop.ProductionFacility.Name : WsLocaleCore.Table.FieldEmpty)</td>
  </tr>
  <tr>
    <td>@WsLocaleCore.Table.DeviceReceiveTimeout</td>
    <td>
      <RzNumeric Min="0" @bind-Value="@SqlItemCast.DeviceReceiveTimeout"/>
    </td>

    <td>@WsLocaleCore.Table.DeviceSendTimeout</td>
    <td>
      <RzNumeric Min="0" @bind-Value="@SqlItemCast.DeviceSendTimeout"/>
    </td>
  </tr>
  <tr>
    <td>@WsLocaleCore.Table.DeviceNumber</td>
    <td>
      <RzNumeric Min="1" Max="99999" @bind-Value="@SqlItemCast.Number"/>
    </td>

    <td>@WsLocaleCore.Table.IsShippingLength</td>
    <td>
      <RzNumeric Min="@byte.MinValue" Max="@byte.MaxValue" @bind-Value="@SqlItemCast.ShippingLength"/>
    </td>
  </tr>
  <tr>
    <td>@WsLocaleCore.Table.ScaleFactor</td>
    <td>
      <RzNumeric @bind-Value="@SqlItemCast.ScaleFactor"/>
    </td>

    <td>@WsLocaleCore.Table.Counter</td>
    <td>
      <RzNumeric Min="0" Max="99999" @bind-Value="@SqlItemCast.LabelCounter"/>
    </td>
  </tr>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  TItem="@WsSqlScaleModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>

<PlusLines Scale="@SqlItemCast"/>