@page "/section/barcodes/new"
@page "/section/barcodes/{IdentityUidStr}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@inherits RazorComponentItemBase<BarCodeModel>
@using BlazorDeviceControl.Pages.ItemComponents
@using DataCore.Sql.TableScaleModels.BarCodes
@using DataCore.Enums

<RazorItemReload TItem="@BarCodeModel" Title="@LocaleCore.DeviceControl.ItemBarcode"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 })"/>
  <tbody>
  <RazorItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>
       <RadzenLink Path="@GetRouteItemPath(SqlItemCast.PluLabel.PluScale.Scale)"
                            Text="@LocaleCore.Table.Scale" />
    </td>
    <td>@SqlItemCast.PluLabel.PluScale.Scale.Description</td>
    <td>
      <RadzenLink Path="@GetRouteItemPath(SqlItemCast.PluLabel)"
                  Text="@LocaleCore.Table.Label"/>
    </td>
    <td>@SqlItemCast.PluLabel.IdentityValueUid</td>
  </tr>
  <tr>
    <td>
        <RadzenLink Path="@GetRouteItemPath(SqlItemCast.PluLabel.PluScale.Plu)"
                        Text="@LocaleCore.Table.Plu" />
    </td>
    <td>@($"{SqlItemCast.PluLabel.PluScale.Plu.Number} | {SqlItemCast.PluLabel.PluScale.Plu.Name}")</td>
    <td/>
    <td/>
  </tr>
  @if (SqlItemCast.PluLabel.PluWeighing is not null)
  {
    <tr>
      <td>@LocaleCore.Table.ProductSeries</td>
      <td>@SqlItemCast.PluLabel.PluWeighing.Series?.Sscc</td>
      <td>
        <RadzenLink Path="@GetRouteItemPath(SqlItemCast.PluLabel.PluWeighing)"
                          Text="@LocaleCore.Table.Weighing" />
      </td>
      <td>@SqlItemCast.PluLabel.PluWeighing.IdentityValueUid</td>
    </tr>
  }
  <tr>
    <td>@LocaleCore.Table.TypeTop</td>
    <td>@SqlItemCast.TypeTop</td>
    <td>@LocaleCore.Table.ValueTop</td>
    <td>@SqlItemCast.ValueTop</td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.Description</td>
    <td colspan="3">
      <RadzenTextArea Style="width: 100%;" Disabled="true" Value="@GetBarcodeTop(FormatType.Xml)" Rows="11"/>
    </td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.TypeRight</td>
    <td>@SqlItemCast.TypeRight</td>
    <td>@LocaleCore.Table.ValueRight</td>
    <td>@SqlItemCast.ValueRight</td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.Description</td>
    <td colspan="3">
      <RadzenTextArea Style="width: 100%;" Disabled="true" Value="@GetBarcodeRight(FormatType.Xml)" Rows="5"/>
    </td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.TypeBottom</td>
    <td>@SqlItemCast.TypeBottom</td>
    <td>@LocaleCore.Table.ValueBottom</td>
    <td>@SqlItemCast.ValueBottom</td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.Description</td>
    <td colspan="3">
      <RadzenTextArea Style="width: 100%;" Disabled="true" Value="@GetBarcodeBottom(FormatType.Xml)" Rows="10"/>
    </td>
  </tr>
  <RazorItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<RazorItemActions
  TItem="@BarCodeModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"
  />
