@using Ws.Domain.Models.Entities.Print
@inherits SectionDataGridBase<Ws.Domain.Models.Entities.Print.ViewLabel>


<SectionDataGridWrapper
  TItem="ViewLabel"
  @ref="DataGridWrapperRef"
  Title="@Localizer["SectionLabels"]"
  GridData="SectionItems"
  GetGridData="SetSqlSectionCast"
  ReadAction="OpenDataGridEntityModal"
  OpenInTabAction="OpenItemInNewTab"
  IsLoading="IsLoading"
  IsFilterable
>
  <DataGridColumn
    Caption="@Localizer["DataGridColumnCreateDt"]"
    Field="@nameof(ViewLabel.CreateDt)"
    Width="10%"
  />
  <DataGridColumn
    Caption="@Localizer["DataGridColumnProductDt"]"
    Field="@nameof(ViewLabel.ProductDate)"
    Width="10%"
  />
  <DataGridColumn
    Caption="@Localizer["DataGridColumnLine"]"
    Field="@nameof(ViewLabel.LineName)"
    Width="20%"
  />
  <DataGridColumn
    Caption="@Localizer["DataGridColumnWarehouse"]"
    Field="@nameof(ViewLabel.Warehouse)"
    Width="20%"
  />
  <DataGridColumn
    Caption="@Localizer["DataGridColumnPluNumber"]"
    Field="@nameof(ViewLabel.PluNumber)"
    Width="10%"
  />
  <DataGridColumn
    Caption="@Localizer["DataGridColumnPluName"]"
    Field="@nameof(ViewLabel.PluName)"
    Width="20%"
  />
  <DataGridColumn
    Caption="@Localizer["DataGridColumnType"]"
    Field="@nameof(ViewLabel.IsCheckWeight)"
    Width="10%"
  >
    <DisplayTemplate>
      <p>
        @(context.IsCheckWeight ?
          Localizer["DataGridColumnIsWeight"] : Localizer["DataGridColumnIsPiece"])
      </p>
    </DisplayTemplate>
  </DataGridColumn>
</SectionDataGridWrapper>