@page "/section/printer_types/new"
@page "/section/printer_types/{IdentityId:long}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@inherits RazorComponentItemBase<WsStorage.TableScaleModels.PrintersTypes.PrinterTypeModel>
@using BlazorDeviceControl.Pages.ItemComponents
@using BlazorDeviceControl.Pages.CustomComponents
@using WsStorage.TableScaleModels.PrintersTypes

<RazorItemReload TItem="@PrinterTypeModel" Title="@LocaleCore.Print.Type"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 15, 35, 15, 35 })"/>
  <tbody>
    <RazorItemTableBody SqlItem="@SqlItemCast"/>
    <tr>
      <td>@LocaleCore.Table.Name</td>
      <td><RzTextBoxLocal @bind-Value="@SqlItemCast.Name"/></td>
      <td/>
      <td/>
    </tr>
    <RazorItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<RazorItemActions
  TItem="@PrinterTypeModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"
  />
