@page "/section/templates/new"
@page "/section/templates/{Id:long}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using WsStorageCore.TableScaleModels.Templates
@using DeviceControl.Components.Item
@using DeviceControl.Components.Rz
@inherits ItemBase<WsStorageCore.TableScaleModels.Templates.WsSqlTemplateModel>

<ItemTopBar TItem="@WsSqlTemplateModel" Title="@WsLocaleCore.DeviceControl.ItemTemplate" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead HeadWidth="@(new List<int> { 15, 35, 15, 35 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@WsLocaleCore.Table.Title</td>
    <td>
      <RadzenTextBox Style="width: 100%; text-align: left;" @bind-Value="@SqlItemCast.Title"/>
    </td>
    <td>@WsLocaleCore.Table.CategoryName</td>
    <td>
      <RzDropDown @bind-Value="@SqlItemCast.CategoryId" Data="@TemplateCategories" />
    </td>
  </tr>
  <tr>
    <td>@WsLocaleCore.Table.ImageData</td>
    <td colspan="3">
      <RadzenTextArea
        Style="width: 100%; text-align: left; font-size: 12px; line-height: 18px;"
        Rows="18"
        @bind-Value="@(SqlItemCast.Data)"/>
    </td>
  </tr>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>