@page "/section/plus_lines/new"
@page "/section/plus_lines/{Uid:guid}"
@attribute [Authorize(Roles = WsUserAccessStr.Read)]
@using DeviceControl.Services
@using DeviceControl.Components.Item
@using DeviceControl.Components.Rz
@using DeviceControl.Utils
@using WsStorageCore.Tables.TableScaleModels.PlusScales
@inherits ItemBase<WsStorageCore.Tables.TableScaleModels.PlusScales.WsSqlPluScaleModel>

<ItemTopBar TItem="@WsSqlPluScaleModel" Title="@WsLocaleCore.DeviceControl.ItemPluScale" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead HeadWidth="@(new List<int> { 15, 35, 15, 35 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@WsLocaleCore.Table.IsActive</td>
    <td>
      <RadzenCheckBox TValue="bool" @bind-Value="@SqlItemCast.IsActive"/>
    </td>
    <td/>
    <td/>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@WsRouteService.GetItemRoute(SqlItemCast.Line)" Text="@WsLocaleCore.Table.Line"/>
    </td>
    <td>
      <RzDropDown @bind-Value="@SqlItemCast.Line" Data="@ContextCache.Lines" TextProperty="Description"/>
    </td>
    <td>
      <RadzenLink Path="@WsRouteService.GetItemRoute(SqlItemCast.Plu)" Text="@WsLocaleCore.Table.Plu"/>
    </td>
    <td>
      <RzDropDown @bind-Value="@SqlItemCast.Plu" Data="@ContextCache.Plus" TextProperty="DisplayName"/>
    </td>
  </tr>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>