@page "/item/scale_screenshot"
@page "/item/scale_screenshot/new"
@page "/item/scale_screenshot/{IdentityUidStr}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@inherits RazorComponentItemBase<ScaleScreenShotModel>
@using DataCore.Sql.TableScaleModels.ScalesScreenshots

<RazorItemReload TItem="@ScaleScreenShotModel" Title="@LocaleCore.DeviceControl.ItemScreenShot"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RazorComponentUtils.GetTableHeadStyle(new() { 15, 35, 15, 35 })"/>
  <tbody>
  <RazorItemTableBody TItem="@ScaleScreenShotModel" SqlItem="@SqlItem"/>
  <tr>
    <td>
      <RadzenLabel
        Style="width: 100%; margin-left: 0;"
        Text="@LocaleCore.Table.Scale"/>
    </td>
    <td>
      <RadzenLink
        Style="width: 100%; margin-left: 0;"
        Path="@GetRouteItemPath(LocaleCore.DeviceControl.RouteItemScale, SqlItemCast.Scale, SqlItemCast.Scale.IdentityValueId)"
        Text="@SqlItemCast.Scale.Description"/>
    </td>
    <td>
      <RadzenLabel
        Style="width: 100%; margin-left: 0;"
        Text="@LocaleCore.Table.ScreenShot"/>
    </td>
    <td>
      <RadzenTextBox
        Style="width: 100%; text-align: left; background-color: lightgray;"
        ReadOnly="true" Value="@(DataUtils.GetBytesLength(SqlItemCast.ScreenShot, false))"/>
    </td>
  </tr>
  <tr>
    <td colspan="4">
      @if (!string.IsNullOrEmpty(ImagePath))
      {
        <RadzenImage
          Style="width: 100%; height: 100%;"
          Path=@ImagePath/>
      }
    </td>
  </tr>
  </tbody>
</MudSimpleTable>

<RazorItemDates SqlItem="@SqlItem"/>

<RazorItemActions
  TItem="@ScaleScreenShotModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"
  />


