@using Blazor.Heroicons.Outline

<div class="@Css.Class("space-y-2 w-full relative flex-col flex", Size == SectionInputSizeType.Large ? "col-span-2" : string.Empty, Class)">
  <FieldLabel HtmlFor="@HtmlFor" Url="@Path">@Label</FieldLabel>
  @ChildContent
  @if (!string.IsNullOrEmpty(ValueToCopy))
  {
    <button
      type="button"
      onclick="@(() => SaveToClipboard(ValueToCopy))"
      class="text-muted-foreground absolute opacity-50 hover:opacity-100 top-7 right-2 pt-px pr-px"
    >
      <ClipboardDocumentIcon class="size-5" />
    </button>
  }
</div>