@using DNTCaptcha.Blazor

<div class="@Css.Class("flex w-full", Class)">
  <div class="w-full">
    <InputTextField
      @bind-Value="@EnteredCaptcha"
      @bind-Value:after="OnInputChanged"
      Class="!rounded-r-none !h-9"
      Placeholder="Капча..."
    />
  </div>
  <DntInputCaptcha
    @bind-Value="Captcha"
    @bind-Value:after="@OnInputChanged"
    Language="@NumberToWordLanguage.English"
    DisplayMode="@DisplayMode.ShowDigits"
    RefreshButtonClass="hidden"
    AllowThousandsSeparators="false"
    CaptchaCanvasClass="h-9 rounded-r-md border border-l-0 overflow-hidden"
    Max="9999"
    Min="1000"
  />
</div>

@code {
  [Parameter] public string Class { get; set; } = string.Empty;
  [Parameter] public bool Valid { get; set; }
  [Parameter] public EventCallback<bool> ValidChanged { get; set; }

  private string Captcha { get; set; } = string.Empty;
  private string EnteredCaptcha { get; set; } = string.Empty;

  private async Task OnInputChanged()
  {
    if (Valid == Captcha.Equals(EnteredCaptcha)) return;
    Valid = !Valid;
    await ValidChanged.InvokeAsync(Valid);
  }
}