@using DeviceControl.Source.Widgets.Section.DataGridActions
@using Ws.Domain.Models.Entities.Devices.Arms
@using Ws.Domain.Models.Entities.Print
@using Ws.Domain.Models.Entities.Ref
@using Ws.Domain.Models.Entities.Ref1c.Plu
@using DeviceControl.Source.Widgets.Section
@inherits SectionDataGridPageBase<Ws.Domain.Models.Entities.Print.Label>
@attribute [Route($"{RouteUtils.SectionLabels}{RouteUtils.SectionQrlQuery}")]
@rendermode InteractiveServer

<PageTitle>DeviceControl - @Localizer["SectionLabels"]</PageTitle>

<PageHeader>
  <span>@Localizer["SectionLabels"]</span>
  <DataGridItemsCounter ItemsCount="@SectionItems.Count()" IsLoading="IsLoading"/>
  <DataGridActionReload OnClick="@UpdateData" IsLoading="IsLoading" />
</PageHeader>

<DataGridWrapper>
  <DataGridContainer
    TItem="Label"
    Items="SectionItems"
    OnItemSelect="@(item => OpenDataGridEntityModal(item))"
    IsFilterable
  >
    <ColumnsContent>
      <DataGridColumn
        Caption="@WsDataLocalizer["ColCreateDt"]"
        Field="@nameof(Label.CreateDt)"
        Filterable="false"
        Width="10%"
      />
      <DataGridColumn
        Caption="@WsDataLocalizer["ColProductDt"]"
        Field="@nameof(Label.ProductDt)"
        Filterable="false"
        Width="10%"
      />

      <DataGridColumn
        Caption="@WsDataLocalizer["ColPluNumber"]"
        Field="@($"{nameof(Label.Plu)}.{nameof(Plu.Number)}")"
        Width="5%"
      />

      <DataGridColumn
        Caption="@WsDataLocalizer["ColBarcodeTop"]"
        Field="@nameof(Label.BarcodeTop)"
        Sortable="false"
        Width="20%"
      />

      <DataGridColumn
        Caption="@WsDataLocalizer["ColLine"]"
        Field="@($"{nameof(Label.Line)}.{nameof(Arm.Name)}")"
        Width="20%"
      />
      <DataGridColumn
        Caption="@WsDataLocalizer["ColWarehouse"]"
        Field="@($"{nameof(Label.Line)}.{nameof(Arm.Warehouse)}.{nameof(Warehouse.Name)}")"
        Width="20%"
      />

      <DataGridColumn
        Caption="@WsDataLocalizer["ColType"]"
        Field="@($"{nameof(Label.Plu)}.{nameof(Plu.IsCheckWeight)}")"
        Filterable="false"
        Width="10%"
      >
        <DisplayTemplate>
          @if (context.Plu != null)
          {
            <p>
              @(context.Plu.IsCheckWeight ?
                WsDataLocalizer["ColPluWeight"] : WsDataLocalizer["ColPluPiece"])
            </p>
          }
        </DisplayTemplate>
      </DataGridColumn>
    </ColumnsContent>
    <ContextMenuContent>
      <DataGridActionViewItem OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, async item => await OpenDataGridEntityModal(item)))" />
      <DataGridActionOpenInNewTab OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, async item => await OpenItemInNewTab(item)))" />
    </ContextMenuContent>
  </DataGridContainer>
</DataGridWrapper>
