@inherits SectionDataGridBase<SqlTemplateResourceEntity>


<SectionDataGridWrapper
  TItem="SqlTemplateResourceEntity"
  @ref="DataGridWrapperRef"
  Title="@Localizer["SectionTemplatesResources"]"
  GridData="SectionItems"
  GetGridData="GetSectionData"
  ReadAction="OpenDataGridEntityModal"
  AddAction="OpenSectionCreateForm"
  OpenInTabAction="OpenItemInNewTab"
  IsLoading="IsLoading"
>
  <SectionDataGridColumn
    Caption="@Localizer["DataGridColumnName"]"
    Field="@nameof(SqlTemplateResourceEntity.Name)"
    Width="80%"
  />
  <SectionDataGridColumn
    Caption="@Localizer["DataGridColumnSize"]"
    Field="@nameof(SqlTemplateResourceEntity.DataValue)"
    Width="20%"
  >
    <DisplayTemplate>
      <p>@ConvertBytes(context.DataValue.Length)</p>
    </DisplayTemplate>
  </SectionDataGridColumn>
</SectionDataGridWrapper>