@using Ws.Domain.Models.Entities.Scale
@inherits SectionDataGridBase<Ws.Domain.Models.Entities.Scale.TemplateResourceEntity>


<SectionDataGridWrapper
  TItem="TemplateResourceEntity"
  @ref="DataGridWrapperRef"
  Title="@Localizer["SectionTemplatesResources"]"
  GridData="SectionItems"
  GetGridData="GetSectionData"
  ReadAction="OpenDataGridEntityModal"
  AddAction="OpenSectionCreateForm"
  OpenInTabAction="OpenItemInNewTab"
  IsLoading="IsLoading"
>
  <DataGridColumn
    Caption="@Localizer["DataGridColumnName"]"
    Field="@nameof(TemplateResourceEntity.Name)"
    Width="80%"
  />
  <DataGridColumn
    Caption="@Localizer["DataGridColumnSize"]"
    Field="@nameof(TemplateResourceEntity.DataValue)"
    Width="20%"
  >
    <DisplayTemplate>
      <p>@ConvertBytes(context.DataValue.Length)</p>
    </DisplayTemplate>
  </DataGridColumn>
</SectionDataGridWrapper>