@* @page "/profile" *@
@* @using DeviceControl.Components.Item *@
@* @inherits ComponentBase *@
@* *@
@* <p class="page-title">@LocaleCore.System.UserInfo</p> *@
@* *@
@* <div class="info-table-wrapper"> *@
@*   <table class="info-table"> *@
@*     <ItemTableHead/> *@
@*     <tbody> *@
@*     <tr> *@
@*       <td>@LocaleCore.Strings.AuthorizingUserName</td> *@
@*       <td>@User?.Identity?.Name</td> *@
@*     </tr> *@
@*     <tr> *@
@*       <td>@LocaleCore.Strings.AuthorizingApAddress</td> *@
@*       <td>@IpAddress</td> *@
@*     </tr> *@
@*     <tr> *@
@*       <td>@LocaleCore.Strings.AccessRights</td> *@
@*       <td>@GetAccessRightsDescription(User)</td> *@
@*     </tr> *@
@*     <tr> *@
@*       <td>@LocaleCore.Strings.DefaultRowCount</td> *@
@*       <td> *@
@*         <RadzenNumeric Style="width: 100%" TValue="int" Min="0" Max="1000" @bind-Value="@DefaultRowCount" Change="@OnDefaultRowCountChanged"/> *@
@*       </td> *@
@*     </tr> *@
@*     </tbody> *@
@*   </table> *@
@* </div> *@
@* *@
