@page "/profile"
@using DeviceControl.Components.Item
@using DeviceControl.Components.Rz
@inherits ComponentBase

<p class="page-title">@WsLocaleCore.System.UserInfo</p>

<div class="info-table-wrapper">
  <table class="info-table">
    <ItemTableHead/>
    <tbody>
    <tr>
      <td>@WsLocaleCore.Strings.AuthorizingUserName</td>
      <td>@User?.Identity?.Name</td>
    </tr>
    <tr>
      <td>@WsLocaleCore.Strings.AuthorizingApAddress</td>
      <td>@IpAddress</td>
    </tr>
    <tr>
      <td>@WsLocaleCore.Strings.AccessRights</td>
      <td>@GetAccessRightsDescription(User)</td>
    </tr>
    <tr>
      <td>@WsLocaleCore.Strings.Language</td>
      <td>
        <RzDropDown @bind-Value="@WsLocaleCore.Lang" Data="@Langs"/>
      </td>
    </tr>
    <tr>
      <td>@WsLocaleCore.Strings.DefaultRowCount</td>
      <td>
        <RadzenNumeric Style="width: 100%" TValue="int" Min="0" Max="1000" @bind-Value="@DefaultRowCount" Change="@OnDefaultRowCountChanged"/>
      </td>
    </tr>
    </tbody>
  </table>
</div>

