@page "/contacts"
@using ResourcesVS.Utils

<h2>
    <RadzenLabel Text="@LocalizationStrings.ContactsTitle" />
</h2>

<body>
<RadzenLink Icon="account_box" Path="@LocalizationStrings.ContactsPhonePath" Text="@LocalizationStrings.ContactsPhoneText" />
<br />
<RadzenLink Icon="account_box" Path="@LocalizationStrings.ContactsCreatioPath" Text="@LocalizationStrings.ContactsCreatioText" />
</body>

@code {
}
