@page "/iis"
@using ResourcesVS.Utils

<h2>
    <RadzenLabel Text="@LocalizationStrings.IisServerTitle" />
</h2>

<body>
    <RadzenLink Path="@LocalizationStrings.IisServerBlazorDevicePath" Text="@LocalizationStrings.IisServerBlazorDeviceText" />
    <br />
    <RadzenLink Path="@LocalizationStrings.IisServerBlazorBackupPath" Text="@LocalizationStrings.IisServerBlazorBackupText" />
    <br />
    <RadzenLink Path="@LocalizationStrings.IisServerBlazorExamplePath" Text="@LocalizationStrings.IisServerBlazorExampleText" />
    <br />
    <RadzenLink Path="@LocalizationStrings.IisServerBlazorDao1Path" Text="@LocalizationStrings.IisServerBlazorDao1Text" />
    <br />
    <RadzenLink Path="@LocalizationStrings.IisServerBlazorDao2Path" Text="@LocalizationStrings.IisServerBlazorDao2Text" />
    <br />
    <RadzenLink Path="@LocalizationStrings.IisServerBlazorDbDocPath" Text="@LocalizationStrings.IisServerBlazorDbDocText" />
    <br />
    <RadzenLink Path="@LocalizationStrings.IisServerBlazorResourcesVsPath" Text="@LocalizationStrings.IisServerBlazorResourcesVsText" />
    <br />
    <RadzenLink Path="@LocalizationStrings.IisServerBlazorSmart1Path" Text="@LocalizationStrings.IisServerBlazorSmart1Text" />
    <br />
    <RadzenLink Path="@LocalizationStrings.IisServerBlazorSmart2Path" Text="@LocalizationStrings.IisServerBlazorSmart2Text" />
    <br />
</body>

@code {
}
