@page "/redmine"
@using ResourcesVS.Utils

<h2>
    <RadzenLabel Text="@LocalizationStrings.RedmineTitle" />
</h2>

<body>
    <RadzenLink Icon="task_alt" Path="@LocalizationStrings.RedmineProjectsPath" Text="@LocalizationStrings.RedmineProjectsText" />
    <br />
    <RadzenLink Icon="task_alt" Path="@LocalizationStrings.RedmineWikiPath" Text="@LocalizationStrings.RedmineWikiText" />
    <br />
    <RadzenLink Icon="task_alt" Path="@LocalizationStrings.RedmineGooglePath" Text="@LocalizationStrings.RedmineGoogleText" />
</body>

@code {
}
