@page "/support"
@using ResourcesVS.Utils

<h2>
    <RadzenLabel Text="@LocalizationStrings.SupportTitle" />
</h2>

<body>
    <RadzenLink Path="@LocalizationStrings.SupportLinkCreatioPath" Text="@LocalizationStrings.SupportLinkCreatioText" />
    <br />
    <RadzenLink Path="@LocalizationStrings.SupportLinkHelpPath" Text="@LocalizationStrings.SupportLinkHelpText" Icon="email" />
</body>

@code {
}
