@page "/zabbix"
@using ResourcesVS.Utils

<h2>
    <RadzenLabel Text="@LocalizationStrings.ZabbixTitle" />
</h2>

<body>
    <RadzenLink Icon="task_alt" Path="@LocalizationStrings.ZabbixKolbasaPath" Text="@LocalizationStrings.ZabbixKolbasaText" />
    <br />
    <RadzenLink Icon="task_alt" Path="@LocalizationStrings.ZabbixGlobalPath" Text="@LocalizationStrings.ZabbixGlobalText" />
    <br />
    <RadzenLink Icon="task_alt" Path="@LocalizationStrings.ZabbixWebPath" Text="@LocalizationStrings.ZabbixWebText" />
</body>

@code {
}
