@page "/section/access/new"
@page "/section/access/{Uid:guid}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using WsDataCore.Utils
@using DeviceControl.Components.Item
@using DeviceControl.Components.Rz
@using WsStorageCore.Tables.TableScaleModels.Access
@inherits ItemBase<WsStorageCore.Tables.TableScaleModels.Access.WsSqlAccessModel>

<ItemTopBar TItem="@WsSqlAccessModel" Title="@WsLocaleCore.Strings.AccessRights" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead HeadWidth="@(new List<int> { 20, 30, 20, 30 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@WsLocaleCore.Table.User</td>
    <td><RzTextBox @bind-Value="@SqlItemCast.Name"/></td>
    <td>@WsLocaleCore.Strings.AccessRights</td>
    <td>
      <RzDropDown @bind-Value="@Rights" Data="@TemplateAccessRights" ValueProperty="Value" TextProperty="Name"/>
    </td>
  </tr>
  <tr>
    <td>@WsLocaleCore.Table.LoginDt</td>
    <td>@string.Format(WsStrUtils.FormatDtLong, SqlItemCast.LoginDt)</td>
    <td/>
    <td/>
  </tr>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>