@page "/section/info"
@using BlazorCore.Models
@using DataCore.Utils
@using BlazorDeviceControl.Shared.Component
@using BlazorCore
@using static DataCore.ShareEnums
@inherits RazorDisposable

<ActionsReload Title=@LocalizationCore.Strings.SysInfo SetParameters=@SetParametersAsync Items=@Items />
    
<MudElement HtmlTag="h3" Class="ma-0">@LocalizationCore.Strings.Main.AppSettings</MudElement>
<MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
    <thead>
        <tr>
            <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.SettingName</th>
            <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.SettingValue</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@LocalizationCore.Strings.Main.VerApp</td>
            @if (string.IsNullOrEmpty(VerApp))
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td><MudElement Class="ma-0">@VerApp</MudElement></td>
            }
        </tr>
        <tr>
            <td>@LocalizationCore.Strings.Main.VerLibBlazorCore</td>
            @if (string.IsNullOrEmpty(VerLibDataCore))
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td><MudElement Class="ma-0">@VerLibBlazorCore</MudElement></td>
            }
        </tr>
        <tr>
            <td>@LocalizationCore.Strings.Main.VerLibDataCore</td>
            @if (string.IsNullOrEmpty(VerLibDataCore))
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td><MudElement Class="ma-0">@VerLibDataCore</MudElement></td>
            }
        </tr>
        <tr>
            <td>@LocalizationCore.Strings.Main.HostName</td>
            @if (string.IsNullOrEmpty(Environment.MachineName))
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td><MudElement Class="ma-0">@Environment.MachineName</MudElement></td>
            }
        </tr>
        <tr>
            <td>@LocalizationCore.Strings.SqlServer</td>
            @if (string.IsNullOrEmpty(AppSettings.DataAccess.JsonSettings.Server))
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td><MudElement Class="ma-0">@AppSettings.DataAccess.JsonSettings.Server</MudElement></td>
            }
        </tr>
        <tr>
            <td>@LocalizationCore.Strings.SqlDb</td>
            @if (string.IsNullOrEmpty(AppSettings.DataAccess.JsonSettings.Db))
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td><MudElement Class="ma-0">@AppSettings.DataAccess.JsonSettings.Db</MudElement></td>
            }
        </tr>
        <tr>
            @if (AppSettings.DataAccess.JsonSettings.Trusted)
            {
                <td>@LocalizationCore.Strings.WindowsUser</td>
            }
            else
            {
                <td>@LocalizationCore.Strings.SqlUser</td>
            }
            @if (string.IsNullOrEmpty(AppSettings.DataAccess.JsonSettings.Username))
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td><MudElement Class="ma-0">@AppSettings.DataAccess.JsonSettings.Username</MudElement></td>
            }
        </tr>
        <tr>
            <td>@LocalizationCore.Strings.SqlDbCurSize</td>
            @if (DbCurSize == 0)
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td><MudElement Class="ma-0">@DbCurSizeAsString</MudElement></td>
            }
        </tr>
        <tr>
            <td>@LocalizationCore.Strings.SqlDbFillSize</td>
            @if (DbFillSize == 0)
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td>
                    <RadzenProgressBar 
                        Style="margin-top: 4px; margin-left: 0%; width: 90%; height: 22px; "
                        Value=@DbFillSize ShowValue="true" 
                    />
                </td>
            }
        </tr>
        <tr>
            <td>@LocalizationCore.Strings.Memory</td>
            @if (AppSettings.Memory == null)
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td><MudElement Class="ma-0">@AppSettings.MemoryInfoShort</MudElement></td>
            }
        </tr>
        <tr>
            <td>@LocalizationCore.Strings.MemoryFillSize</td>
            @if (AppSettings.Memory == null)
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td>
                    <RadzenProgressBar 
                        Style="margin-top: 4px; margin-left: 0%; width: 90%; height: 22px; "
                        Value=@AppSettings.MemoryFillSize ShowValue="true" 
                    />
                </td>
            }
        </tr>
    </tbody>
</MudSimpleTable>
<br />

<MudElement HtmlTag="h3" Class="ma-0">@LocalizationCore.Strings.Main.UserSettings</MudElement>
<MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
    <thead>
        <tr>
            <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.SettingName</th>
            <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.SettingValue</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@LocalizationCore.Strings.Main.AuthorizingUserName</td>
            @if (string.IsNullOrEmpty(UserSettings.Identity.Name))
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td><MudElement Class="ma-0">@UserSettings.Identity.Name</MudElement></td>
            }
        </tr>
        <tr>
            <td>@LocalizationCore.Strings.Main.AccessRights</td>
            <td><MudElement Class="ma-0">@IdentityEntity.GetDescriptionAccessRights(UserSettings.Identity.AccessRights)</MudElement></td>
        </tr>
        <tr>
            <td>@LocalizationCore.Strings.Main.Language</td>
            @if (TemplateLanguages == null)
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td>
                    <RadzenDropDown Style="width: 20%;" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                        Disabled=false TValue=@ShareEnums.Lang
                        AllowFiltering=false AllowClear=false AllowFilteringByAllStringColumns=false
                        Data=@TemplateLanguages PageSize="5" TextProperty="Name" ValueProperty="Value"
                        Value=@LocalizationCore.Lang Change=@(args => OnChange(args, nameof(TemplateLanguages))) 
                    />
                </td>
            }
        </tr>
        <tr>
            <td>@LocalizationCore.Strings.Main.DebugMode</td>
            @if (TemplateIsDebug == null)
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td>
                    <RadzenDropDown Style="width: 20%;" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                        Disabled=true TValue="bool" 
                        AllowFiltering=false AllowClear=false AllowFilteringByAllStringColumns=false
                        Data=@TemplateIsDebug PageSize="5" TextProperty="Name" ValueProperty="Value"
                        Value=@AppSettings.DataAccess.JsonSettings.IsDebug 
                        Change=@(args => OnChange(args, nameof(TemplateIsDebug)))
                    />
                </td>
            }
        </tr>
@*            
        <tr>
            <td>@LocalizationCore.Share.SectionRowCount</td>
            @if (AppSettings.DataAccess.JsonSettings == null)
            {
                <td><ActionsLoad DataLoadItem=BlazorCore.ShareEnums.ActionsLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td>
                    <RadzenNumeric Style="width: 20%;" TValue="int" @bind-value=@AppSettings.DataAccess.JsonSettings.SectionRowCount 
                        Change=@(args => OnChange(args, nameof(AppSettings.DataAccess.JsonSettings.SectionRowCount)))
                    />
                </td>
            }
        </tr>
        <tr>
            <td>@LocalizationCore.Share.ItemRowCount</td>
            @if (AppSettings.DataAccess.JsonSettings == null)
            {
                <td><ActionsLoad DataLoadItem=BlazorCore.ShareEnums.ActionsLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td>
                    <RadzenNumeric Style="width: 20%;" TValue="int" @bind-value=@AppSettings.DataAccess.JsonSettings.ItemRowCount 
                        Change=@(args => OnChange(args, nameof(AppSettings.DataAccess.JsonSettings.ItemRowCount)))
                    />
                </td>
            }
        </tr>
        <tr>
            <td>@LocalizationCore.Share.ButtonWidth</td>
            @if (AppSettings.DataAccess.JsonSettings == null)
            {
                <td><ActionsLoad DataLoadItem=BlazorCore.ShareEnums.ActionsLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td>
                    <RadzenTextBox Style="width: 20%;" TValue="string" @bind-value=@AppSettings.DataAccess.JsonSettings.ButtonWidth 
                        Change=@(args => OnChange(args, nameof(AppSettings.DataAccess.JsonSettings.ButtonWidth)))
                    />
                </td>
            }
        </tr>
        <tr>
            <td>@LocalizationCore.Share.ButtonHeight</td>
            @if (AppSettings.DataAccess.JsonSettings == null)
            {
                <td><ActionsLoad DataLoadItem=BlazorCore.ShareEnums.ActionsLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td>
                    <RadzenTextBox Style="width: 20%;" TValue="string" @bind-value=@AppSettings.DataAccess.JsonSettings.ButtonHeight 
                        Change=@(args => OnChange(args, nameof(AppSettings.DataAccess.JsonSettings.ButtonHeight)))
                    />
                </td>
            }
        </tr>
*@
    </tbody>
</MudSimpleTable>
