@page "/section/productseries"

@*
<RadzenCard Style="margin-bottom: 0; font-size: 13px; ">
    <div class="row" style="margin-top: 0; margin-left: 0; margin-right: 0; ">
    @var productSeries = (ProductSeriesEntity)Item;
    <span Style="align-self: start; width: 15%; height: 25px; ">@LocalizationStrings.DeviceControl.TableFieldId</span>
    <RadzenNumeric Style="align-self: end; width: 85%; height: 25px; " TValue="int" Disabled=true @bind-value=@productSeries.Id />
    <div class="col-md-6" Style="margin-top: 0; margin-left: 0; margin-right: 0;">
        <br Style="margin-top: 0; margin-left: 0; margin-right: 0;" />
        <span Style="align-self: start; width: 25%; height: 25px;">@LocalizationStrings.DeviceControl.TableFieldScaleId</span>
        <RadzenTextBox TValue="string" Style="align-self: end; width: 60%; height: 25px;"
                        @bind-value=@productSeries.Scale.Id />
        <br Style="margin-top: 5px; margin-left: 0; margin-right: 0;" />
        <span Style="align-self: start; width: 38%; height: 25px;">@LocalizationStrings.DeviceControl.TableFieldCreateDt</span>
        
        <br Style="margin-top: 5px; margin-left: 0; margin-right: 0;" />
        <span Style="align-self: start; width: 38%; height: 25px;">@LocalizationStrings.DeviceControl.TableFieldUid</span>-->
        <RadzenTextBox Mask="********-****-****-****-************" Placeholder="00000000-0000-0000-0000-000000000000"
                        Disabled=false @bind-Value=@productSeries.UidGui Style="width: 70%" />
        <br Style="margin-top: 5px; margin-left: 0; margin-right: 0; " />
        <span Style="align-self: start; width: 38%; height: 25px; ">@LocalizationStrings.DeviceControl.TableFieldIsClose</span>
        <RadzenCheckBox Disabled=false @bind-Value=@productSeries.IsCloseGui TValue="bool" />
        <br Style="margin-top: 5px; margin-left: 0; margin-right: 0; " />
        <span Style="align-self: start; width: 38%; height: 25px; ">@LocalizationStrings.DeviceControl.TableFieldSscc</span>
        <RadzenTextBox Disabled=false @bind-Value=@productSeries.Sscc />
    </div>
    </div>
</RadzenCard>
*@
