@using Blazor.Heroicons.Outline
@using Ws.Domain.Models.Entities.Ref
@using Ws.Domain.Models.Entities.Ref1c
@inherits SectionDataGridBase<Ws.Domain.Models.Entities.Ref.PluLineEntity>


<SectionDataGridWrapper
  TItem="PluLineEntity"
  @ref="DataGridWrapperRef"
  Title="@Localizer["SectionLinePLU"]"
  GridData="SectionItems"
  GetGridData="GetSectionData"
  OpenInTabAction="OpenItemInNewTab"
  DeleteAction="DeleteSqlItem"
  ItemsPerPage="5"
  IsBorderless
>
  <DataGridButtons>
    <div class="w-64 h-8">
      <SelectMultiple
        TItem="PluEntity"
        Items="SelectPluEntities"
        @bind-SelectedItems="SelectedPluEntities"
        ItemDisplayName="item => item.DisplayName"
      />
    </div>
    <button
      type="button"
      @onclick="SaveSelectedPluEntities"
      class="w-16 h-8 flex items-center justify-center rounded-md bg-green-300 border border-black/[.1] transition-colors overflow-hidden hover:bg-green-400"
    >
      <PlusIcon class="h-5 w-5 text-white" />
    </button>
    <button
      type="button"
      @onclick="ResetSelectedPluEntities"
      class="w-16 h-8 flex items-center justify-center rounded-md bg-red-300 border border-black/[.1] transition-colors overflow-hidden hover:bg-red-400"
    >
      <ArrowUturnLeftIcon class="h-5 w-5 text-white" />
    </button>
  </DataGridButtons>
  <ChildContent>
    <DataGridColumn
      Caption="@Localizer["DataGridColumnNumber"]"
      Field="Plu.Number"
      Width="10%"
    />
    <DataGridColumn
      Caption="@Localizer["DataGridColumnType"]"
      Field="Plu.IsCheckWeight"
      Width="20%"
    >
      <DisplayTemplate>
        <p>
          @(context.Plu.IsCheckWeight ?
            Localizer["DataGridColumnIsWeight"] : Localizer["DataGridColumnIsPiece"])
        </p>
      </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn
      Caption="@Localizer["DataGridColumnName"]"
      Field="Plu.Name"
      Width="70%"
    />
  </ChildContent>
</SectionDataGridWrapper>