@using Ws.StorageCore.Entities.SchemaRef.PlusLines
@inherits SectionDataGridBase<Ws.StorageCore.Entities.SchemaRef.PlusLines.SqlPluLineEntity>


<SectionDataGridWrapper
  TItem="SqlPluLineEntity"
  @ref="DataGridWrapperRef"
  GridData="SectionItems"
  IsLoading="IsLoading"
  GetGridData="GetSectionData"
  Title="@Localizer["SectionLinePLU"]"
  ItemsPerPage="5"
  IsBorderless
>
  <SectionDataGridColumn
    Caption="@Localizer["DataGridColumnNumber"]"
    Field="Plu.Number"
    Width="10%"
  />
  <SectionDataGridColumn
    Caption="@Localizer["DataGridColumnType"]"
    Field="Plu.IsCheckWeight"
    Width="20%"
  >
    <DisplayTemplate>
      <p>
        @(context.Plu.IsCheckWeight ?
          Localizer["DataGridColumnIsWeight"] : Localizer["DataGridColumnIsPiece"])
      </p>
    </DisplayTemplate>
  </SectionDataGridColumn>
  <SectionDataGridColumn
    Caption="@Localizer["DataGridColumnName"]"
    Field="Plu.Name"
    Width="70%"
  />
</SectionDataGridWrapper>