@using Blazor.Heroicons.Solid
@using DeviceControl.Source.Widgets.Section
@using DeviceControl.Source.Widgets.Section.DataGridActions
@using Ws.Domain.Models.Entities.Devices.Arms
@using Ws.Domain.Models.Entities.Ref1c.Plu
@inherits DeviceControl.Source.Widgets.Section.SectionDataGridPageBase<Ws.Domain.Models.Entities.Devices.Arms.ArmLine>
@rendermode InteractiveServer

<PageHeader>
  <span>@Localizer["SectionLinePLU"]</span>
  <DataGridItemsCounter ItemsCount="@SectionItems.Count()" IsLoading="IsLoading"/>
  <DataGridActionReload OnClick="@UpdateData" IsLoading="IsLoading" />
  @if (IsAllowToEdit)
  {
    <div class="w-96">
      <SelectMultiple
        TItem="Plu"
        Items="@SelectPluEntities"
        SelectedItems="@SelectedPluEntities"
        ItemDisplayName="item => item.DisplayName"
        IsFilterable
      />
    </div>
    <Button
      Size="ButtonSize.Icon"
      OnClick="@SaveSelectedPluEntities"
    >
      <CheckIcon class="size-5" />
    </Button>
    <Button
      Size="ButtonSize.Icon"
      Variant="ButtonVariant.Destructive"
      OnClick="@ResetSelectedPluEntities"
    >
      <ArrowUturnLeftIcon class="size-5" />
    </Button>
  }
</PageHeader>

<DataGridWrapper Class="bg-secondary/[.3] dark:bg-inherit">
  <DataGridContainer
    TItem="ArmLine"
    Items="SectionItems"
    ItemsPerPage="6"
    IsForcePagination
  >
    <ColumnsContent>
      <DataGridColumn
        Caption="@WsDataLocalizer["ColNumber"]"
        Field="Plu.Number"
        Width="10%"
      />
      <DataGridColumn
        Caption="@WsDataLocalizer["ColType"]"
        Field="Plu.IsCheckWeight"
        Width="20%"
      >
        <DisplayTemplate>
          <span>
            @(context.Plu.IsCheckWeight ?
              WsDataLocalizer["ColPluWeight"] : WsDataLocalizer["ColPluPiece"])
          </span>
        </DisplayTemplate>
      </DataGridColumn>
      <DataGridColumn
        Caption="@WsDataLocalizer["ColName"]"
        Field="Plu.Name"
        Width="70%"
      />
    </ColumnsContent>
    <ContextMenuContent>
      <DataGridActionOpenInNewTab OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, item => OpenItemInNewTab(item)))" />
      <DataGridActionDeleteItem OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, item => DeleteItem(item)))" />
    </ContextMenuContent>
  </DataGridContainer>
</DataGridWrapper>
