@page "/section/logs/{IdentityUidStr}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@inherits RazorComponentItemBase<WsStorageCore.TableDiagModels.Logs.LogModel>
@using BlazorDeviceControl.Pages.ItemComponents
@using WsStorageCore.TableDiagModels.Logs
@using WsStorageCore.TableDiagModels.Logs

<RazorItemReload TItem="LogModel" Title="@LocaleCore.DeviceControl.ItemLog"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 15, 35, 15, 35 })"/>
  <tbody>
  <RazorItemTableBody SqlItem="@SqlItemCast"/>
  @if (SqlItemCast.Device is not null)
  { 
    <tr>
      <td>@LocaleCore.Table.Line</td>
      <td>@DataAccess.GetItemScaleNotNullable(SqlItemCast.Device).Description</td>
      <td>@LocaleCore.Table.Host</td>
      <td>@SqlItemCast.Device.Name</td>
    </tr>
  }
  @if (SqlItemCast.App is not null)
  {
      <tr>
        <td>@LocaleCore.Table.App</td>
        <td>@SqlItemCast.App.Name</td>
        <td>@LocaleCore.Table.Version</td>
        <td>@SqlItemCast.Version</td>
      </tr>
  }
  <tr>
    <td>@LocaleCore.Table.File</td>
    <td>@SqlItemCast.File</td>
    <td>@LocaleCore.Table.Row</td>
    <td>@SqlItemCast.Line</td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.Member</td>
    <td>@SqlItemCast.Member</td>
    @if (SqlItemCast.LogType is not null)
    { 
      <td>@LocaleCore.Table.LogType</td>
      <td>@SqlItemCast.LogType.Icon</td>
    }
    else
    {
      <td />
      <td />
    }
  </tr>
  <tr>
    <td>@LocaleCore.Table.Message</td>
    <td colspan="3">
      <RadzenTextArea
        Style="width: 100%; text-align: left; font-size: 12px; line-height: 18px; background-color: lightgray; "
        Rows="12" ReadOnly="true"
        @bind-Value="@SqlItemCast.Message"/>
    </td>
  </tr>
  <RazorItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<RazorItemActions
  TItem="@LogModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"
  />

