@inherits ComponentBase

<tr>
  <td><b>@IdentityName</b></td>
  <td>@IdentityNameId</td>
  <td>@WsLocaleCore.Table.IsMarked</td>
  <td><RadzenSwitch @bind-Value="@SqlItem.IsMarked" Disabled="IsSqlItem1C"/></td>
</tr>

@if (IsSqlItem1C)
{
  <tr>
    <td><b>@WsLocaleCore.Table.Uid1c</b></td>
    <td>@Guid1C</td>
    <td/>
    <td/>
  </tr>
}
