@using DeviceControl.Components.Rz
@inherits ComponentBase

<MudPaper Outlined="true" Class="mb-2">
  <MudToolBar Dense="true">
    <RadzenLabel Style="font-size: 15px;" Text="@Title"/>
    @if (SectionCount != 0)
    {
      <RzDropDown Style="margin-left: 20px; width: 15%; display: inline-block;"
                  @bind-Value="@SqlCrudConfigSection.SelectTopRowsCount"
                  Change="@OnItemsCountSelectUpdate"
                  Data="@_rowCountList">
        <Template>
          <span>Первые: <b>@(context == 0 ? "Все" : context.ToString())</b> </span>
        </Template>
      </RzDropDown>
    }
    <AuthorizeView Roles="@UserAccessStr.Write">
      @if (IsGuiShowFilterMarked)
      {
        <RzDropDown Style="margin-left: 20px; width: 10%; display: inline-block;"
                    @bind-Value="@SqlCrudConfigSection.IsMarked"
                    Data="@MarkedDict"
                    ValueProperty="Value"
                    TextProperty="Key" Change="@OnReload">
        </RzDropDown>
      }
    </AuthorizeView>
    <RadzenButton
      Icon="refresh"
      ButtonStyle="@ButtonStyle.Secondary"
      Shade="Shade.Dark"
      Style="margin-left: 20px; width: 60px;"
      Size="@ButtonSize.Small"
      Click="@OnReload"/>
    @if (ButtonSettings.IsShowNew)
    {
      <AuthorizeView Roles="@UserAccessStr.Write">
        <RadzenButton
          Icon="add"
          ButtonStyle="@ButtonStyle.Secondary"
          Shade="Shade.Dark"
          Style="margin-left: 15px; width: 60px;"
          Size=@ButtonSize.Small
          Click="@OnSectionAdd"/>
      </AuthorizeView>
    }
    <RadzenLabel Style="margin-left: 20px; font-size: 13px;" Text="@SqlListCountResult"/>
  </MudToolBar>
</MudPaper>