@page "/section/printers_resources/new"
@page "/section/printers_resources/{IdentityId:long}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using WsStorageCore.TableScaleFkModels.PrintersResourcesFks
@using BlazorDeviceControl.Pages.ItemComponents
@using BlazorDeviceControl.Pages.CustomComponents
@inherits RazorComponentItemBase<WsStorageCore.TableScaleFkModels.PrintersResourcesFks.WsSqlPrinterResourceFkModel>

<RazorItemReload TItem="@WsSqlPrinterResourceFkModel" Title="@LocaleCore.Print.Resource"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 15, 35, 15, 35 })"/>
  <tbody>
  <RazorItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@LocaleCore.Print.Name</td>
    <td>
      <RzDropDownLocal @bind-Value="@SqlItemCast.Printer" Data="@PrinterModels" TextProperty="Name"/>
    </td>
    <td>@LocaleCore.Table.Resource</td>
    <td>
      <RzDropDownLocal @bind-Value="@SqlItemCast.TemplateResource" Data="@TemplateResourceModels" TextProperty="Name"/>
    </td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.Description</td>
    <td colspan="3">
      <RadzenTextBox Style="width: 100%; " @bind-Value="@SqlItemCast.Description"/>
    </td>
  </tr>
  <RazorItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<RazorItemActions
  TItem="@WsSqlPrinterResourceFkModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"/>