@page "/section/printers_resources/new"
@page "/section/printers_resources/{IdentityId:long}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@inherits RazorComponentItemBase<WsStorageCore.TableScaleFkModels.PrintersResourcesFks.PrinterResourceFkModel>
@using BlazorDeviceControl.Pages.ItemComponents
@using BlazorDeviceControl.Pages.CustomComponents
@using WsStorageCore.TableScaleFkModels.PrintersResourcesFks
@using WsStorageCore.TableScaleModels.Printers
@using WsStorageCore.TableScaleModels.TemplatesResources
@using WsStorageCore.TableScaleFkModels.PrintersResourcesFks
@using WsStorageCore.TableScaleModels.Printers
@using WsStorageCore.TableScaleModels.TemplatesResources

<RazorItemReload TItem="@PrinterResourceFkModel" Title="@LocaleCore.Print.Resource"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 15, 35, 15, 35 })"/>
  <tbody>
  <RazorItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@LocaleCore.Print.Name</td>
    <td>
      <MudSelectLocal @bind-Value="@SqlItemCast.Printer">
        @foreach (PrinterModel item in DataContext.Printers)
        {
          <MudSelectItem Value=@item>@item.Name</MudSelectItem>
        }
      </MudSelectLocal>
    </td>
    <td>@LocaleCore.Table.Resource</td>
    <td>
      <MudSelectLocal @bind-Value="@SqlItemCast.TemplateResource">
        @foreach (TemplateResourceModel item in DataContext.TemplateResources)
        {
          <MudSelectItem Value=@item>@item.Name</MudSelectItem>
        }
      </MudSelectLocal>
    </td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.Description</td>
    <td colspan="3">
      <RadzenTextBox Style="width: 100%; " @bind-Value="@SqlItemCast.Description"/>
    </td>
  </tr>
  <RazorItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<RazorItemActions
  TItem="@PrinterResourceFkModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"
  />
