@attribute [Authorize(Roles = UserAccessStr.Read)]
@using WsStorageCore.TableScaleFkModels.PrintersResourcesFks
@using DeviceControl.Pages.SectionComponents
@using DeviceControl.Pages.CustomComponents
@inherits RazorComponentSectionBase<WsStorageCore.TableScaleFkModels.PrintersResourcesFks.WsSqlPrinterResourceFkModel>

@if (SqlSectionCast.Count > 0)
{
  <SectionReload
    TItem="@WsSqlPrinterResourceFkModel"
    Title="@LocaleCore.Print.Resources"
    OnSectionUpdate="@GetSectionData"
    SectionCount="@SqlSectionCast.Count"
    SqlCrudConfigSection="@SqlCrudConfigSection"
    ButtonSettings="@ButtonSettings"/>

  <RzDataGridLocal
    @bind-Value="@SelectedRow"
    TItem="@WsSqlPrinterResourceFkModel"
    Data="@SqlSectionCast"
    CellContextMenu="@OnCellContextMenu"
    RowSelect="@SqlItemSet"
    RowDoubleClick="@SqlItemEditAsync">
    <Columns>
      <TItemContent TItem="@WsSqlPrinterResourceFkModel">
        <SectionFieldIsMarked SqlCrudConfigSection="@SqlCrudConfigSection"/>
        <RadzenDataGridColumn Title="@LocaleCore.Table.Name" Property="Printer.Name" Width="32%"/>
        <RadzenDataGridColumn Title="@LocaleCore.Print.TemplateResource" Property="TemplateResource.Name" Width="32%"/>
      </TItemContent>
    </Columns>
  </RzDataGridLocal>
}
else
{
  <h3>У принтера не загружены ресурсы</h3>
}