<Router AppAssembly="typeof(Program).Assembly">
  <Found Context="routeData">
    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
      <NotAuthorized>
        <div class="size-full flex flex-col grow items-center justify-center">
          @if (context.User.Identity?.IsAuthenticated != true)
          {
          <h3 class="text-lg">You are not authorized</h3>
          <form method="get" action="@($"{RouteUtils.Authorization}/login")">
            <Button class="w-64 mt-4" Type="@ButtonType.Submit">
              Log in
            </Button>
            <AntiforgeryToken />
          </form>
          }
          else
          {
          <h3 class="text-lg">You don't have enough right</h3>
          <a href="@RouteUtils.Home">
            <Button class="w-64 mt-4">
              Go home
            </Button>
          </a>
          }
        </div>
      </NotAuthorized>
    </AuthorizeRouteView>
    <FocusOnNavigate RouteData="routeData" Selector="h1" />
  </Found>
  <NotFound>
    <LayoutView Layout="@typeof(MainLayout)">
      <div class="flex size-full items-center justify-center">
        <div class="text-center font-light text-lg">
          <h2>Страница не найдена</h2>
        </div>
      </div>
    </LayoutView>
  </NotFound>
</Router>