@using DeviceControl.Source.Widgets.Section
@using DeviceControl.Source.Widgets.Section.DataGridActions
@using Ws.Domain.Models.Entities.Diag
@inherits DeviceControl.Source.Widgets.Section.SectionDataGridPageBase<Ws.Domain.Models.Entities.Diag.TableSizeEntity>
@rendermode InteractiveServer

<PageHeader>
  <span>@DbFile.FileName</span>
  <DataGridItemsCounter ItemsCount="@SectionItems.Count()" IsLoading="IsLoading"/>
  <DataGridFileSize CurrentSize="@DbFile.SizeMb" MaxSize="@DbFile.MaxSizeMb" />
</PageHeader>

<DataGridWrapper Class="bg-secondary/[.3] dark:bg-inherit">
  <DataGridContainer
    TItem="TableSizeEntity"
    Items="SectionItems"
    ItemsPerPage="6"
    IsForcePagination
  >
    <ColumnsContent>
      <DataGridColumn
        Caption="@WsDataLocalizer["ColScheme"]"
        Field="@nameof(TableSizeEntity.Schema)"
        Width="25%"
      />
      <DataGridColumn
        Caption="@WsDataLocalizer["ColTable"]"
        Field="@nameof(TableSizeEntity.Table)"
        Width="25%"
      />
      <DataGridColumn
        Caption="@WsDataLocalizer["ColCount"]"
        Field="@nameof(TableSizeEntity.RowsCount)"
        Width="25%"
      />
      <DataGridColumn
        Caption="@($"{WsDataLocalizer["ColSize"]} ({WsDataLocalizer["MeasureMb"]})")"
        Field="@nameof(TableSizeEntity.UsedSpaceMb)"
        Width="25%"
      />
    </ColumnsContent>
  </DataGridContainer>
</DataGridWrapper>