@page "/section/boxes/new"
@page "/section/boxes/{Uid:guid}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using WsStorageCore.TableScaleModels.Boxes
@using DeviceControl.Components.Item
@inherits ItemBase<WsStorageCore.TableScaleModels.Boxes.WsSqlBoxModel>

<ItemTopBar TItem="WsSqlBoxModel" Title="@WsLocaleCore.DeviceControl.ItemBox" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@WsLocaleCore.Table.Name</td>
    <td>@SqlItemCast.Name</td>
    <td>@WsLocaleCore.Table.Weight</td>
    <td>@SqlItemCast.Weight</td>
  </tr>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>