@using Blazor.Heroicons.Outline
@typeparam TItem


<div @ref="DropdownWrapper" class="h-full w-full overflow-hidden">
  <Dropdown @ref="Dropdown" Class="h-full w-full" PositionStrategy="DropdownPositionStrategy.Fixed">
    <DropdownToggle aria-disabled="@(IsDisabled.ToString().ToLower())" Disabled="IsDisabled" Class="select-button w-full border bg-white !rounded-md overflow-hidden h-full gap-1 !px-2 border-black/[.1] aria-disabled:opacity-50 dark:bg-black dark:border-neutral-800">
      @GetToggleText()
    </DropdownToggle>
    <DropdownMenu Class="select-dropdown overflow-hidden max-h-60 border border-black/[.1] shadow-none !max-w-[inherit] dark:!bg-black dark:border-neutral-800">
      @if (IsFilterable)
      {
        <div class="h-8 w-full flex items-center border-b border-black/[.1] gap-3 px-3 dark:border-b-neutral-800">
          <input
            type="text"
            @bind="SearchString"
            @oninput="HandleSearchingChange"
            class="border-none text-sm bg-transparent h-full w-full px-0 focus:border-none focus:ring-0 placeholder:font-light placeholder:text-neutral-400"
            placeholder="@SearchPlaceholder"
          />
          <MagnifyingGlassIcon class="h-5 w-5 text-neutral-400"/>
        </div>
      }
      <div class="w-full h-full overflow-x-hidden overflow-y-auto">
        <ul class="flex flex-col w-full divide-y dark:divide-neutral-800">
          @if (!GetFilteredList().Any())
          {
            <div class="h-10 w-full flex items-center justify-center text-sm">
              <span>@EmptyPlaceholder</span>
            </div>
          }
          @foreach (TItem item in GetFilteredList())
          {
            <li>
              <button
                type="button"
                @onclick="() => SetSelectedItem(item)"
                class="w-full h-8 px-3 flex items-center transition-colors
                        @(IsSelectedItem(item) ? "bg-gray-200 hover:bg-gray-300 dark:bg-neutral-900 dark:hover:bg-neutral-800" :
                          "hover:bg-gray-100 dark:hover:bg-neutral-950")">
                <span class="truncate font-light text-sm">
                  @ItemDisplayName(item)
                </span>
              </button>
            </li>
          }
        </ul>
      </div>
    </DropdownMenu>
  </Dropdown>
</div>