@if (string.IsNullOrEmpty(Href))
{
  <label @attributes="Attributes" class="@LabelClass">@ChildContent</label>
}
else
{
  <a href="@Href">
    <label @attributes="Attributes" class="@LabelClass">@ChildContent</label>
  </a>
}