@page "/section/production_facilities/new"
@page "/section/production_facilities/{Id:long}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using WsStorageCore.TableScaleModels.ProductionFacilities
@using DeviceControl.Components.Item
@using DeviceControl.Components.Rz
@inherits ItemBase<WsStorageCore.TableScaleModels.ProductionFacilities.WsSqlProductionFacilityModel>

<ItemTopBar TItem="@WsSqlProductionFacilityModel" Title="@WsLocaleCore.DeviceControl.ItemProductionFacility" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@WsLocaleCore.Table.Name</td>
    <td>
      <RzTextBox @bind-Value="@SqlItemCast.Name"/>
    </td>
    <td/>
    <td/>
  </tr>
  <tr>
    <td>@WsLocaleCore.Table.Address</td>
    <td colspan="3">
      <RadzenTextArea Style="width: 100%;" Rows="2" @bind-Value="@SqlItemCast.Address"/>
    </td>
  </tr>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>


<ItemActions
  TItem="@WsSqlProductionFacilityModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"/>