@using DeviceControl.Source.Shared.Api.Web.Endpoints
@using DeviceControl.Source.Shared.Constants
@using Ws.DeviceControl.Models
@using Ws.DeviceControl.Models.Features.References.ProductionSites.Queries

@inherits SectionDataGridBase<ProductionSiteDto>
@attribute [Route(Urls.ProductionSites)]
@attribute [Authorize(Policy = PolicyEnum.SeniorSupport)]
@rendermode InteractiveServer

<PageTitle>DeviceControl - @Localizer["SectionProductionSites"]</PageTitle>

<UseParameterlessEndpoint Endpoint="@ReferencesEndpoints.ProductionSitesEndpoint" Options="@(DefaultEndpointOptions)" Context="sitesQuery">
  <PageHeader>
    <span>@Localizer["SectionProductionSites"]</span>
    <DataGridItemsCounter ItemsCount="@(sitesQuery.Data?.Length ?? 0)" IsLoading="sitesQuery.IsLoading"/>
    <DataGridActionReload OnClick="@sitesQuery.RefetchAsync" IsLoading="sitesQuery.IsFetching" />
    <AuthorizeView Policy="@PolicyEnum.Admin">
      <DataGridActionCreate OnClick="@OpenCreateFormModal" />
    </AuthorizeView>
  </PageHeader>
  <DataGridWrapper>
    <DataGridContainer
      TItem="ProductionSiteDto"
      Items="@(sitesQuery.HasData ? sitesQuery.Data : [])"
      OnItemSelect="@(item => OpenUpdateFormModal(item))"
    >
      <ColumnsContent>
        <DataGridColumn
          Caption="@WsDataLocalizer["ColName"]"
          Field="@nameof(ProductionSiteDto.Name)"
          Width="20%"
        />
        <DataGridColumn
          Caption="@WsDataLocalizer["ColAddress"]"
          Field="@nameof(ProductionSiteDto.Address)"
          Width="80%"
        />
      </ColumnsContent>
      <ContextMenuContent>
        <DataGridActionViewItem OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, item => OpenUpdateFormModal(item)))" />
        <DataGridActionOpenInNewTab OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, item => OpenItemInNewTab(item)))" />
        <AuthorizeView Policy="@PolicyEnum.Admin" Context="authContext">
          <DataGridActionDeleteItem OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, item => DeleteItem(item)))" />
        </AuthorizeView>
      </ContextMenuContent>
    </DataGridContainer>
  </DataGridWrapper>
</UseParameterlessEndpoint>

@code {
  # region Inject

  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
  [Inject] private IStringLocalizer<WsDataResources> WsDataLocalizer { get; set; } = default!;
  [Inject] private ReferencesEndpoints ReferencesEndpoints { get; set; } = default!;
  [Inject] private IWebApi WebApi { get; set; } = default!;

  # endregion

  protected override async Task OpenCreateFormModal() =>
    await OpenModal<ProductionSitesCreateDialog>();

  protected override async Task OpenUpdateFormModal(ProductionSiteDto item) =>
    await OpenModalWithItem<ProductionSitesUpdateDialog>(item);

  protected override async Task OpenItemInNewTab(ProductionSiteDto item) =>
    await OpenLinkInNewTab($"{Urls.ProductionSites}?id={item.Id}");

  protected override Task<ProductionSiteDto> SearchByUidAction(Guid uid) =>
    WebApi.GetProductionSiteByUid(uid);

  protected override async Task DeleteItemAction(ProductionSiteDto item)
  {
    await WebApi.DeleteProductionSite(item.Id);
    ReferencesEndpoints.DeleteProductionSite(item.Id);
  }
}
