@page "/section/logs_chart_reports"
@attribute [Authorize(Roles = WsUserAccessStr.Read)]
@inherits SectionBase<WsSqlViewLogDeviceAggrModel>

<RadzenCard class="w-100 mb-4" Style="display: flex; align-items: center; gap: 0.5rem">
    @* Приложение *@
    <RadzenLabel Text="@WsLocaleCore.DeviceControl.ItemApp" Style="margin-left: 0rem;" />
    <RadzenDropDown AllowClear="false" @bind-Value="@App" Data="@Apps"
                    TValue="WsSqlAppModel" TextProperty="DisplayName" />
    @* Устройство *@
    <RadzenLabel Text="@WsLocaleCore.DeviceControl.ItemDevice" Style="margin-left: 1rem;" />
    <RadzenDropDown AllowClear="false" @bind-Value="@Device" Data="@Devices"
                    TValue="WsSqlDeviceModel" TextProperty="DisplayName" />
    @* Интервал *@
    <RadzenLabel Text="@WsLocaleCore.DeviceControl.ChartTimeInterval" Style="margin-left: 1rem;" />
    <RadzenDropDown AllowClear="false" @bind-Value="@TimeInterval" Data="@TimeIntervals" />
</RadzenCard>

@* График со столбиками *@
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-6 offset-lg-3 my-5">
            <RadzenChart Style="margin-left: 0.5rem;" ColorScheme="@ColorScheme.Pastel">
                <RadzenColumnOptions Radius="5" />
                @foreach (WsSqlViewLogDeviceAggrModel serie in SqlSectionCast)
                {
                    <RadzenColumnSeries Data="@(new List<WsSqlViewLogDeviceAggrModel>{ serie })"
                                        CategoryProperty="LogType" ValueProperty="Count" Title="@serie.LogType" >
                        <RadzenSeriesDataLabels Visible="true" />
                    </RadzenColumnSeries>
                }
            </RadzenChart>
        </div>
    </div>
</div>

@* Круговая диаграмма *@
@* <div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-6 offset-lg-3 my-5">
            <RadzenChart Style="margin-left: 0.5rem;" ColorScheme="@ColorScheme.Pastel">
              <RadzenDonutSeries Data="@SqlSectionCast"
                                 CategoryProperty="LogType" ValueProperty="Count" >
              <RadzenSeriesDataLabels Visible="true" />
                  <TitleTemplate>
                    <div class="rz-donut-content">
                      <div>@App.Name</div>
                      <div>@Device.Name</div>
                      <div>@TimeInterval</div>
                    </div>
                  </TitleTemplate>
                </RadzenDonutSeries>
            </RadzenChart>
        </div>
    </div>
</div> *@