<li>
  <ProductDisplayItem Label="@Localizer["ProductDisplayNetWeightLabel"]">
    <div class="text-[2rem] flex items-end mx-auto px-4 border border-black/[.1] bg-gray-50 text-center
                   rounded-md overflow-hidden xl:text-[2.5rem] @(!IsStable || GetNetWeight <= 0 ? "text-red-400" : "text-green-400")"
    >
      <span class="w-5 flex justify-center xl:w-6">@Sign</span>
      @foreach (char intChar in IntegerPart)
      {
        <span class="w-5 flex justify-center xl:w-6">@intChar</span>
      }
      <span>,</span>
      @foreach (char decChar in DecimalPart)
      {
        <span class="w-5 flex justify-center xl:w-6">@decChar</span>
      }
      <span>@Localizer["WeightMeasureKilogram"]</span>
    </div>
  </ProductDisplayItem>
</li>
<li>
  <ProductDisplayItem Label="@Localizer["ProductDisplayTareWeightLabel"]">
    <p class="text-xl font-medium truncate xl:text-3xl">
      @GetTareWeight @Localizer["WeightMeasureKilogram"]
    </p>
  </ProductDisplayItem>
</li>