@using DeviceControl.Source.Features
@using TscZebra.Plugin.Abstractions.Enums
@using Ws.Domain.Models.Entities.Devices

@inherits SectionDataGridPageBase<Ws.Domain.Models.Entities.Devices.Printer>
@attribute [Route($"{RouteUtils.SectionPrinters}{RouteUtils.SectionQrlQuery}")]
@attribute [Authorize(Policy = PolicyEnum.Support)]
@rendermode InteractiveServer

<PageTitle>DeviceControl - @Localizer["SectionPrinters"]</PageTitle>

<UserProductionSiteErrorSuspense>
  <PageHeader>
    <span>@Localizer["SectionPrinters"]</span>
    <DataGridItemsCounter ItemsCount="@SectionItems.Count()" IsLoading="IsLoading"/>
    <DataGridActionReload OnClick="@UpdateData" IsLoading="IsLoading" />
    <DataGridActionCreate OnClick="@OpenSectionCreateForm" />
  </PageHeader>
  <DataGridWrapper>
    <DataGridContainer
      TItem="Printer"
      Items="SectionItems"
      OnItemSelect="@(item => OpenDataGridEntityModal(item))"
      IsFilterable
    >
      <ColumnsContent>
        <DataGridColumn
          Caption="@WsDataLocalizer["ColType"]"
          Field="@nameof(Printer.Type)"
          Width="10%"
          FilterCellClass="!font-normal"
        >
          <FilterTemplate>
            @{ context.SearchValue = Type; }
            <SelectSingle
              TItem="PrinterTypes?"
              Items="@(Enum.GetValues(typeof(PrinterTypes)).Cast<PrinterTypes?>().Union([null]))"
              @bind-SelectedItem="@Type"
              @bind-SelectedItem:after="@(() => context.TriggerFilterChange(Type))"
              Placeholder="@Localizer["SelectItemNotSelected"]"
              ItemDisplayName="@(item => item == null ? Localizer["SelectItemNotSelected"] : item.Value.ToString())"
            />
          </FilterTemplate>
        </DataGridColumn>
        <DataGridColumn
          Caption="@WsDataLocalizer["ColName"]"
          Field="@nameof(Printer.Name)"
          Width="25%"
        />
        <DataGridColumn
          Caption="@WsDataLocalizer["ColProductionSite"]"
          Field="ProductionSite.Name"
          Width="35%"
          FilterCellClass="!font-normal"
        >
          <FilterTemplate>
            <ProductionSiteSelect
              @bind-Value="ProductionSite"
              @bind-Value:after="UpdateData"
            />
          </FilterTemplate>
        </DataGridColumn>
        <DataGridColumn
          Caption="IP"
          Field="@nameof(Printer.Ip)"
          Width="20%"
          Sortable="false"
        />
      </ColumnsContent>
      <ContextMenuContent>
        <DataGridActionViewItem OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, async item => await OpenDataGridEntityModal(item)))" />
        <DataGridActionOpenInNewTab OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, async item => await OpenItemInNewTab(item)))" />
        <DataGridActionDeleteItem OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, item => DeleteItem(item)))" />
      </ContextMenuContent>
    </DataGridContainer>
  </DataGridWrapper>
</UserProductionSiteErrorSuspense>
