@using DeviceControl.Source.Shared.Auth.Policies
@using DeviceControl.Source.Widgets.Section
@using DeviceControl.Source.Widgets.Section.DataGridActions
@using Ws.Domain.Models.Entities.Devices
@using Ws.Domain.Models.Entities.Ref
@inherits DeviceControl.Source.Widgets.Section.SectionDataGridPageBase<Ws.Domain.Models.Entities.Devices.Printer>
@attribute [Route($"{RouteUtils.SectionPrinters}{RouteUtils.SectionQrlQuery}")]
@attribute [Authorize(Policy = PolicyEnum.Support)]
@rendermode InteractiveServer

<PageTitle>DeviceControl - @Localizer["SectionPrinters"]</PageTitle>

<PageHeader>
  <span>@Localizer["SectionPrinters"]</span>
  <DataGridItemsCounter ItemsCount="@SectionItems.Count()" IsLoading="IsLoading"/>
  <DataGridActionReload OnClick="@UpdateData" IsLoading="IsLoading" />
  <DataGridActionCreate OnClick="@OpenSectionCreateForm" />
  <div class="w-64">
    <SelectSingle
      TItem="ProductionSite"
      Items="ProductionSiteEntities"
      @bind-SelectedItem="ProductionSite"
      @bind-SelectedItem:after="@UpdateData"
      ItemDisplayName="item => item.Name"
      IsDisabled="@(!IsSeniorSupport)"
      IsFilterable
    />
  </div>
</PageHeader>

<DataGridWrapper>
  <DataGridContainer
    TItem="Printer"
    Items="SectionItems"
    OnItemSelect="@(item => OpenDataGridEntityModal(item))"
  >
    <ColumnsContent>
      <DataGridColumn
        Caption="@WsDataLocalizer["ColType"]"
        Field="@nameof(Printer.Type)"
        Width="4rem"
        Sortable
      />
      <DataGridColumn
        Caption="@WsDataLocalizer["ColName"]"
        Field="@nameof(Printer.Name)"
        Width="40%"/>
      <DataGridColumn
        Caption="IP"
        Field="@nameof(Printer.Ip)"
        Width="25%"
        Sortable="false"/>
    </ColumnsContent>
    <ContextMenuContent>
      <DataGridActionViewItem OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, async item => await OpenDataGridEntityModal(item)))" />
      <DataGridActionOpenInNewTab OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, async item => await OpenItemInNewTab(item)))" />
      <DataGridActionDeleteItem OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, item => DeleteItem(item)))" />
    </ContextMenuContent>
  </DataGridContainer>
</DataGridWrapper>