@page "/section/hosts"
@using DeviceControl.Components.Section
@using DeviceControl.Components.Rz
@using Ws.StorageCore.Entities.SchemaRef.Hosts
@using Ws.Shared.TypeUtils
@inherits SectionBase<Ws.StorageCore.Entities.SchemaRef.Hosts.SqlHostEntity>
@attribute [Authorize(Roles = UserAccessStr.Read)]


<div class="section-container">
  <SectionTopBar
    Title="@Locale.SectionHosts"
    OnSectionUpdate="@GetSectionData"
    OnSectionAdd="@SqlItemNewAsync"
    SectionCount="@SqlSectionCast.Count"
    SqlCrudConfigSection="@SqlCrudConfigSection"
    IsGuiShowFilterMarked="@IsGuiShowFilterMarked"
    ButtonSettings="@ButtonSettings"
  />

  <RzDataGrid
    TItem="@SqlHostEntity"
    @ref="@DataGrid"
    @bind-Value="@SelectedRow"
    Data="@SqlSectionCast"
    CellContextMenu="@OnCellContextMenu"
    RowSelect="@SqlItemSet"
    RowDoubleClick="@SqlItemOpenAsync"
  >
    <Columns>
      <TItemContent TItem="@SqlHostEntity">

        <RadzenDataGridColumn
          Title="@Locale.LoginDt"
          Property="LoginDt"
          Width="10%"
          FormatString="@StrUtils.FormatDtDefault"
        />
        <RadzenDataGridColumn
          Title="@Locale.Name"
          Property="Name"
          Width="30%"
        />
        <RadzenDataGridColumn
          Title="@Locale.DeviceIp"
          Property="Ip"
          Width="30%"
        />
      </TItemContent>
    </Columns>
  </RzDataGrid>
</div>

