@page "/section/hosts/new"
@page "/section/hosts/{Uid:guid}"
@attribute [Authorize(Roles = WsUserAccessStr.Read)]
@using WsStorageCore.Entities.SchemaRef.Hosts
@using DeviceControl.Components.Item
@using DeviceControl.Components.Rz
@inherits ItemBase<WsStorageCore.Entities.SchemaRef.Hosts.WsSqlHostEntity>

<ItemTopBar TItem="@WsSqlHostEntity" Title="@WsLocaleCore.DeviceControl.ItemHost" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead HeadWidth="@(new List<int> { 15, 35, 15, 35 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
    <tr>
      <td>@WsLocaleCore.Table.Name</td>
      <td>
        <RzTextBox @bind-Value="@SqlItemCast.Name"/>
      </td>
      <td>@WsLocaleCore.Table.DeviceIp</td>
      <td>
        <RzTextBox @bind-Value="@SqlItemCast.Ip"/>
      </td>
    </tr>
  <tr>
    <td>@WsLocaleCore.Table.LoginDt</td>
    <td>@string.Format(WsStrUtils.FormatDtLong, SqlItemCast.LoginDt)</td>
    <td></td>
    <td></td>
  </tr>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>
