@page "/section/hosts/new"
@page "/section/hosts/{Uid:guid}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using DeviceControl.Components.Item
@using DeviceControl.Components.Rz
@using Ws.StorageCore.Entities.SchemaRef.Hosts
@using Ws.Shared.TypeUtils
@inherits ItemBase<Ws.StorageCore.Entities.SchemaRef.Hosts.SqlHostEntity>

<ItemTopBar TItem="@SqlHostEntity" Title="@Locale.ItemHost" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead HeadWidth="@(new List<int> { 15, 35, 15, 35 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
    <tr>
      <td>@Locale.Name</td>
      <td>
        <RzTextBox @bind-Value="@SqlItemCast.Name"/>
      </td>
      <td>@Locale.DeviceIp</td>
      <td>
        <RzTextBox @bind-Value="@SqlItemCast.Ip"/>
      </td>
    </tr>
  <tr>
    <td>@Locale.LoginDt</td>
    <td>@string.Format(StrUtils.FormatDtLong, SqlItemCast.LoginDt)</td>
    <td></td>
    <td></td>
  </tr>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>
