@using DeviceControl.Source.Widgets.Section
@using DeviceControl.Source.Widgets.Section.DataGridActions
@using Ws.Domain.Models.Entities.Ref
@using DeviceControl.Source.Shared.Auth.Policies
@inherits DeviceControl.Source.Widgets.Section.SectionDataGridPageBase<Ws.Domain.Models.Entities.Ref.LineEntity>
@attribute [Route($"{RouteUtils.SectionLines}{RouteUtils.SectionQrlQuery}")]
@attribute [Authorize(Policy = PolicyEnum.Support)]
@rendermode InteractiveServer


<PageHeader>
  <span>@Localizer["SectionLines"]</span>
  <DataGridItemsCounter ItemsCount="@SectionItems.Count()" IsLoading="IsLoading"/>
  <DataGridActionReload OnClick="@UpdateData" IsLoading="IsLoading" />
  <DataGridActionCreate OnClick="@OpenSectionCreateForm" />
</PageHeader>

<DataGridWrapper>
  <DataGridContainer
    TItem="LineEntity"
    Items="SectionItems"
    OnItemSelect="@(item => OpenDataGridEntityModal(item))"
  >
    <ColumnsContent>
      <DataGridColumn
        Caption="@WsDataLocalizer["ColVersion"]"
        Field="@nameof(LineEntity.Version)"
        Width="10%"
      />
      <DataGridColumn
        Caption="@WsDataLocalizer["ColLine"]"
        Field="@nameof(LineEntity.Name)"
        Width="15%"
      />
      <DataGridColumn
        Caption="@WsDataLocalizer["ColNumber"]"
        Field="@nameof(LineEntity.Number)"
        Width="10%"
      />
      <DataGridColumn
        Caption="@WsDataLocalizer["ColPcName"]"
        Field="PcName"
        Width="15%"
      />
      <DataGridColumn
        Caption="@WsDataLocalizer["ColPrinter"]"
        Field="Printer.Name"
        Width="20%"
      />
      <DataGridColumn
        Caption="@WsDataLocalizer["ColProductionSite"]"
        Field="Warehouse.ProductionSite.Name"
        Width="20%"
      />
      <DataGridColumn
        Caption="@WsDataLocalizer["ColCounter"]"
        Field="@nameof(LineEntity.Counter)"
        Width="10%"
      />
    </ColumnsContent>
    <ContextMenuContent>
      <DataGridActionViewItem OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, item => OpenDataGridEntityModal(item)))" />
      <DataGridActionOpenInNewTab OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, item => OpenItemInNewTab(item)))" />
      <DataGridActionDeleteItem OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, item => DeleteItem(item)))" />
    </ContextMenuContent>
  </DataGridContainer>
</DataGridWrapper>
