@page "/section/printers/new"
@page "/section/printers/{IdentityId:long}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using WsStorageCore.TableScaleModels.Printers
@using DeviceControl.Pages.ItemComponents
@using DeviceControl.Pages.CustomComponents
@inherits RazorComponentItemBase<WsStorageCore.TableScaleModels.Printers.WsSqlPrinterModel>

<RazorItemReload TItem="@WsSqlPrinterModel" Title="@LocaleCore.Print.Name" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 25, 25, 25, 25 })"/>
  <tbody>
  <RazorItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@LocaleCore.Table.Name</td>
    <td>
      <RzTextBoxLocal @bind-Value="@SqlItemCast.Name"/>
    </td>
    <td>@LocaleCore.Print.Mac</td>
    <td>
      <RzTextBoxLocal @bind-Value="@SqlItemCast.MacAddress.Value"/>
    </td>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@GetRouteItemPath(SqlItemCast.PrinterType)" Text="@LocaleCore.Print.Type"/>
    </td>
    <td>
      <RzDropDownLocal @bind-Value="@SqlItemCast.PrinterType" Data="@PrinterTypeModels" TextProperty="Name"/>
    </td>
    <td>@LocaleCore.Print.Port</td>
    <td>
      <RzNumericLocal Min="0" Max="32767" @bind-Value="@SqlItemCast.Port"/>
    </td>
  </tr>
  <tr>
    <td>
      <RadzenLink Target="_blank" Path="@SqlItemCast.Link" Text="@LocaleCore.Print.ControlPanel"/>
    </td>
    <td>
      <RzTextBoxLocal @bind-Value="@SqlItemCast.Ip"/>
    </td>
    <td>@LocaleCore.Print.Password</td>
    <td>
      <RzTextBoxLocal @bind-Value="@SqlItemCast.Password"/>
    </td>
  </tr>
  @* <tr> *@
  @*   <td>@LocaleCore.DeviceControl.Actions</td> *@
  @*   <td> *@
  @*     <RadzenButton Click="@(_ => SqlItemPrinterResourcesClear(SqlItemCast))" *@
  @*                   class="RadzenButtonFullWidth" ButtonStyle="@ButtonStyle.Primary" Size="@ButtonSize.Small" *@
  @*                   Text="@LocaleCore.Print.ResourcesClear" Disabled="@(!ContextManager.AccessManager.IsConnected())"/> *@
  @*   </td> *@
  @*   <td> *@
  @*     <RadzenButton Click=@(_ => SqlItemPrinterResourcesLoad(SqlItemCast, "TTF")) *@
  @*                   class="RadzenButtonFullWidth" ButtonStyle="@ButtonStyle.Primary" Size="@ButtonSize.Small" *@
  @*                   Text="@LocaleCore.Print.ResourcesLoadTtf" Disabled="@(!ContextManager.AccessManager.IsConnected())"/> *@
  @*   </td> *@
  @*   <td> *@
  @*     <RadzenButton Click=@(_ => SqlItemPrinterResourcesLoad(SqlItemCast, "GRF")) *@
  @*                   class="RadzenButtonFullWidth" ButtonStyle="@ButtonStyle.Primary" Size="@ButtonSize.Small" *@
  @*                   Text="@LocaleCore.Print.ResourcesLoadGrf" Disabled="@(!ContextManager.AccessManager.IsConnected())"/> *@
  @*   </td> *@
  @* </tr> *@
  <RazorItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<RazorItemActions
  TItem="@WsSqlPrinterModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"/>

@*@if (SqlItem != null)
{
  <PrintersResources SqlItem="@SqlItem"/>
}*@