@page "/profile"
@using DeviceControl.Pages.ItemComponents
@using DeviceControl.Pages.CustomComponents
@inherits RazorComponentBase

<MudElement HtmlTag="h3" Class="ma-0">@LocaleCore.System.UserInfo</MudElement>
<MudSimpleTable Style="overflow-x: auto; " Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new List<int> { 25, 25 })"/>
  <tbody>
  <tr>
    <td>@LocaleCore.Strings.AuthorizingUserName</td>
    <td>@User?.Identity?.Name</td>
  </tr>
  <tr>
    <td>@LocaleCore.Strings.AuthorizingApAddress</td>
    <td>@IpAddress</td>
  </tr>
  <tr>
    <td>@LocaleCore.Strings.AccessRights</td>
    <td>@ContextManager.ContextItem.GetAccessRightsDescription(User)</td>
  </tr>
  <tr>
    <td>@LocaleCore.Strings.Language</td>
    <td>
      <RzDropDownLocal @bind-Value="@LocaleCore.Lang" Data="@Langs"/>
    </td>
  </tr>
  <tr>
    <td>@LocaleCore.Strings.DefaultRowCount</td>
    <td>
      <RadzenNumeric Style="width: 100%" TValue="int" Min="0" Max="1000" @bind-Value="@DefaultRowCount" Change="@OnDefaultRowCountChanged"/>
    </td>
  </tr>
  </tbody>
</MudSimpleTable>