@using DeviceControl.Components.Rz
@inherits ComponentBase

<div class="section-top-bar__wrapper">
  <div class="section-top-bar__container">
    <p class="section-top-bar__label">
      @Title
    </p>
    @* @if (SectionCount != 0) *@
    @* { *@
    @*   <RzDropDown *@
    @*     Style="margin-left: 20px; width: 15%; display: inline-block;" *@
    @*     @bind-Value="@SqlCrudConfigSection.SelectTopRowsCount" *@
    @*     Change="@OnItemsCountSelectUpdate" *@
    @*     Data="@_rowCountList"> *@
    @*     <Template> *@
    @*       <span>Первые: <b>@(context == 0 ? "Все" : context.ToString())</b> </span> *@
    @*     </Template> *@
    @*   </RzDropDown> *@
    @* } *@
    <button
      type="button"
      @onclick="OnReload"
      class="section-top-bar__btn"
    >
      <RadzenIcon Icon="refresh" class="section-top-bar__btn-icon" />
    </button>
    @if (ButtonSettings.IsShowNew)
    {
      <AuthorizeView Roles="@UserAccessStr.Write">
        <button
          type="button"
          @onclick="OnSectionAdd"
          class="section-top-bar__btn"
        >
          <RadzenIcon Icon="add" class="section-top-bar__btn-icon" />
        </button>
      </AuthorizeView>
    }
    <p class="section-top-bar__records-count">
      @SqlListCountResult
    </p>
  </div>
</div>
