@page "/section/bundles/new"
@page "/section/bundles/{Uid:guid}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using WsStorageCore.TableScaleModels.Bundles
@using DeviceControl.Components.Item
@inherits ItemBase<WsStorageCore.TableScaleModels.Bundles.WsSqlBundleModel>

<ItemTopBar TItem="WsSqlBundleModel" Title="@WsLocaleCore.DeviceControl.ItemBundle" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@WsLocaleCore.Table.Name</td>
    <td>@SqlItemCast.Name</td>
    <td>@WsLocaleCore.Table.Weight</td>
    <td>@SqlItemCast.Weight</td>
  </tr>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  TItem="@WsSqlBundleModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"/>