@inherits BlazorCore.Models.RazorPageItemBase<PrinterResourceModel>
@page "/item/printerresource"
@page "/item/printerresource/{IdentityId:long}"
@page "/item/printerresource/{IdentityId:long}/{TableAction}"
@using static BlazorCore.Utils.BlazorCoreUtuls
@using BlazorDeviceControl.Razors.Components
@using ActionsReloadItem = BlazorDeviceControl.Razors.Components.ActionsReloadItem
@using ActionsSave = BlazorDeviceControl.Razors.Components.ActionsSave
@using ItemDates = BlazorDeviceControl.Razors.Components.ItemDates
@using BlazorCore.Razors

@if (!IsActionsParametersSetFinished)
{
    <ActionsLoad ParentRazor=@(this) DataLoadItem=ActionLoadEnum.Loading IsShowProgress=true />
}
else
{
    <ActionsReloadItem ParentRazor=@(this) Title=@LocaleCore.Print.Resource />

	<MudSimpleTable Style="overflow-x: auto;" Dense=true Bordered=true FixedHeader=false>
		<ItemTableHead ParentRazor=@(this) TableStyle=@ComponentsUtils.GetTableHeadStyle(new() { 15, 35, 15, 35 }) />
		<tbody>
			<ItemTableBody ParentRazor=@(this) TableStyle=@ComponentsUtils.GetTableBodyStyle(SqlFieldIdentityEnum.Id, true) />
			<tr>
				<td>@LocaleCore.Print.Name</td>
				<td>
					<MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                        @bind-Value=@ItemCast.Printer>
						@foreach (PrinterModel item in Printers)
						{
							<MudSelectItem T=@PrinterModel Value=@item>@item.Name</MudSelectItem>
						}
					</MudSelect>
				</td>
			</tr>
			<tr>
				<td>@LocaleCore.Table.Description</td>
				<td>
					<RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false
					               TValue="string" @bind-Value=@ItemCast.Description/>
				</td>
				<td>@LocaleCore.Table.Resource</td>
				<td>
					<MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                        @bind-Value=@ItemCast.Resource>
						@foreach (TemplateResourceModel item in Resources)
						{
							<MudSelectItem T=@TemplateResourceModel Value=@item>@item.Name</MudSelectItem>
						}
					</MudSelect>
				</td>
			</tr>
		</tbody>
	</MudSimpleTable>
    
    <ActionsSave ParentRazor=@(this) ButtonSettings=@ButtonSettings />
    <ItemDates ParentRazor=@(this) />
}
