@inherits BlazorCore.Models.RazorBase
@page "/item/printer"
@page "/item/printer/{IdentityId:long}"
@page "/item/printer/{IdentityId:long}/{TableAction}"
@using static DataCore.Localizations.LocaleData.DeviceControl
@using static BlazorCore.Utils.BlazorCoreUtuls
@using BlazorDeviceControl.Razors.Components
@using BlazorDeviceControl.Razors.Sections
@using ActionsReloadItem = BlazorDeviceControl.Razors.Components.ActionsReloadItem
@using ActionsSave = BlazorDeviceControl.Razors.Components.ActionsSave
@using ItemDates = BlazorDeviceControl.Razors.Components.ItemDates
@using BlazorCore.Razors
@using DataCore.Sql.Tables

@if (!IsLoaded)
{
    <ActionsLoad ParentRazor=@(this) DataLoadItem=ActionLoad.Loading IsShowProgress=true />
}
else
{
    <ActionsReloadItem ParentRazor=@(this) Title=@LocaleCore.Print.Name />

    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
	    <ItemTableHead ParentRazor=@(this) TableStyle=@ComponentsUtils.GetTableHeadStyle(new() { 25, 25, 25, 25 }) />
        <tbody>
			<ItemTableBody ParentRazor=@(this) TableStyle=@ComponentsUtils.GetTableBodyStyle(ColumnName.Id, true) />
            <tr>
                <td>@LocaleCore.Table.Name</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; " Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.Name />
                </td>
                <td>@LocaleCore.Print.Mac</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.MacAddress.Value />
                </td>
            </tr>
            <tr>
                <td>
                    <RadzenLink Style="width: 100%; margin-left: 0; " Target="_blank"
                        Path=@ItemCast.Link 
                        Text=@LocaleCore.Print.ControlPanel />
                </td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.Ip />
                </td>
                <td>
                    <RadzenLink Style="width: 100%; margin-left: 0; "
                        Path=@GetPath(UriRouteItem.PrinterType, ItemCast.PrinterType, ItemCast.PrinterType.IdentityId)
                        Text=@LocaleCore.Print.Type />
                </td>
                <td>
                    <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                        @bind-Value=@ItemCast.PrinterType>
                        @foreach (PrinterTypeEntity item in PrinterTypes)
                        {
                            <MudSelectItem T=@PrinterTypeEntity Value =@item>@item.Name</MudSelectItem>
                        }
                    </MudSelect>
                </td>
            </tr>
            <tr>
                <td>@LocaleCore.Print.Port</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="short" @bind-Value=@ItemCast.Port />
                </td>
                <td>@LocaleCore.Print.Password</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.Password />
                </td>
            </tr>
            <tr>
                <td>@LocaleCore.Print.StatusCode</td>
                <td>
                    <RadzenIcon Style="width: 16%; align-content: center; "
                        Icon=@(ItemCast.HttpStatusCode == System.Net.HttpStatusCode.OK ? "network_wifi_3_bar" : "signal_wifi_statusbar_null")/>
                    <RadzenLabel Disabled=false ReadOnly=true Style="width: 80%; text-align: left; " 
                        Text=@ItemCast.HttpStatusCode.ToString() />
                </td>
                @if (ItemCast.HttpStatusException != null)
                {
                    <td>@LocaleCore.Table.HttpStatusException</td>
                    <td>
                        <RadzenLabel Style="width: 100%; " 
                            Text=@(ItemCast.HttpStatusException != null ? ItemCast.HttpStatusException.Message : "") />
                    </td>
                }
                else
                {
                    <td colspan=2>@LocaleCore.Table.HttpStatusNoException</td>
                }
            </tr>
            <tr>
                <td>@Actions</td>
                <td>
                    <RadzenButton Click=@(args => PrinterResourcesClear(UserSettings, ItemCast))
                        class="RadzenButtonFullWidth" ButtonStyle=@ButtonStyle.Primary
                        Text=@LocaleCore.Print.ResourcesClear Disabled=@(!AppSettings.DataAccess.IsConnected) />
				</td>
                <td>
                    <RadzenButton Click=@(args => PrinterResourcesLoad(UserSettings, ItemCast, "TTF"))
                        class="RadzenButtonFullWidth" ButtonStyle=@ButtonStyle.Primary
                        Text=@LocaleCore.Print.ResourcesLoadTtf Disabled=@(!AppSettings.DataAccess.IsConnected) />
				</td>
                <td>
                    <RadzenButton Click=@(args => PrinterResourcesLoad(UserSettings, ItemCast, "GRF"))
                        class="RadzenButtonFullWidth" ButtonStyle=@ButtonStyle.Primary
                        Text=@LocaleCore.Print.ResourcesLoadGrf Disabled=@(!AppSettings.DataAccess.IsConnected) />
				</td>
            </tr>
        </tbody>
    </MudSimpleTable>
    
    <SectionPrinterResources Table=@Table ItemFilter=@ItemCast IsShowMarkedFilter=true />
    
    <ActionsSave ParentRazor=@(this) ButtonSettings=@ButtonSettings />
    <ItemDates ParentRazor=@(this) />
}
