@inherits BlazorCore.Models.RazorPageItemBase<LogModel>
@page "/item/log"
@page "/item/log/{IdentityUidStr}"
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.Components
@using BlazorDeviceControl.Razors.Items.Components

@if (!IsActionsParametersSetFinished)
{
    <ActionsLoad ParentRazor=@(this) DataLoadItem=ActionLoadEnum.Loading IsShowProgress=true />
}
else
{
    <ItemReload T=LogModel ParentRazor=@(this) PageTitle=@LocaleCore.DeviceControl.ItemLog />

    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
        <ItemTableHead T=LogModel ParentRazor=@(this) CssTableStyleHead=@ComponentsUtils.GetTableHeadStyle(new() { 15, 35, 15, 35 } ) />
        <tbody>
			<ItemTableBody T=LogModel ParentRazor=@(this) CssTableStyleBody=@ComponentsUtils.GetTableBodyStyle(SqlFieldIdentityEnum.Uid, true) />
            <tr>
                <td>@LocaleCore.Table.Host</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true 
                        TValue="string" @bind-Value=@ItemCast.Host.HostName />
				</td>
                <td>@LocaleCore.Table.NamePretty</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true 
                        TValue="string" @bind-Value=@ItemCast.Host.Name />
				</td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.App</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true 
                        TValue="string" @bind-Value=@ItemCast.App.Name />
				</td>
                <td>@LocaleCore.Table.Version</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true 
                        TValue="string" @bind-Value=@ItemCast.Version />
				</td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.File</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true 
                        TValue="string" @bind-Value=@ItemCast.File />
				</td>
                <td>@LocaleCore.Table.Row</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true
                        TValue="int" @bind-Value=@ItemCast.Line />
				</td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.Member</td>
                <td >
                    <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true 
                        TValue="string" @bind-Value=@ItemCast.Member />
				</td>
                <td>@LocaleCore.Table.LogType</td>
                <td >
                    <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true 
                        TValue="string" @bind-Value=@ItemCast.LogType.Icon />
				</td>
            </tr>
            <tr >
                <td>@LocaleCore.Table.Message</td>
                <td colspan=3 >
                    <RadzenTextArea Style="width: 100%; text-align: left; font-size: 11px; line-height: 20px; background-color: lightgray; " 
                        Disabled=false ReadOnly=true 
                        TValue="string" @bind-Value=@ItemCast.Message Rows=15 />
				</td>
            </tr>
        </tbody>
    </MudSimpleTable>
    
    <ItemSave T=LogModel ParentRazor=@(this) />
    <ItemDates T=LogModel ParentRazor=@(this) />
}
