@page "/section/logs"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using WsStorageCore.ViewScaleModels
@using WsDataCore.Utils
@using DeviceControl.Components.Section
@using DeviceControl.Components.Rz
@inherits SectionBase<WsStorageCore.ViewScaleModels.LogView>

<SectionTopBar
  Title="@LocaleCore.System.SystemLogs"
  ButtonSettings="@ButtonSettings"
  OnSectionUpdate="@GetSectionData"
  OnSectionAdd="@SqlItemNewAsync"
  SectionCount="@SqlSectionCast.Count"
  SqlCrudConfigSection="@SqlCrudConfigSection"/>

<div Style="display: flex; margin-bottom: 2px">
  <RzDropDown Style="width: 50%; display: inline-block;"
              @bind-Value="@CurrentLogType"
              Data="@LogTypes"
              ValueProperty="Icon"
              TextProperty="Icon" Change="OnSelectTypeChanged"
              AllowClear="true" Placeholder="LogTypes: All"/>
  <RzDropDown Style="width: 50%; display: inline-block;"
              @bind-Value="@CurrentLine"
              Data="@Lines"
              FilterOperator="StringFilterOperator.Contains"
              AllowFiltering="true"
              ValueProperty="Description"
              TextProperty="Description" Change="OnSelectTypeChanged"
              AllowClear="true"
              Placeholder="Lines: All"/>
</div>

<RzDataGrid
  TItem="@LogView"
  @ref="@DataGrid"
  @bind-Value="@SelectedRow"
  Data="@SqlSectionCast"
  CellContextMenu="@OnCellContextMenu"
  RowSelect="@SqlItemSet"
  RowDoubleClick="@SqlItemOpenAsync">
  <Columns>
    <TItemContent TItem="@LogView">
      <SectionIsMarked SqlCrudConfigSection="@SqlCrudConfigSection"/>
      <RadzenDataGridColumn Title="@LocaleCore.Table.CreateDt" Property="CreateDt" Width="14%" FormatString="@StrUtils.FormatDtLong"/>
      <RadzenDataGridColumn Title="@LocaleCore.Table.Line" Property="Line" Width="14%"/>
      <RadzenDataGridColumn Title="@LocaleCore.Table.Device" Property="Host" Width="10%"/>
      <RadzenDataGridColumn Title="@LocaleCore.Table.App" Property="App" Width="13%"/>
      <RadzenDataGridColumn Title="@LocaleCore.Table.Version" Property="Version" Width="6%"/>
      <RadzenDataGridColumn Title="@LocaleCore.Table.LogType" Property="LogType" Width="10%"/>
      <RadzenDataGridColumn Title="@LocaleCore.Table.Message" Property="Message" Width="30%"/>
    </TItemContent>
  </Columns>
</RzDataGrid>