@inherits RazorComponentItemBase<HostModel>
@page "/item/host"
@page "/item/host/new"
@page "/item/host/{IdentityId:long}"
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.SystemComponents

<SystemIdentity ParentRazor=@(this) />

<RazorItemReload TItem=@HostModel ParentRazor=@(this) Title=@LocaleCore.DeviceControl.ItemHost />

<MudSimpleTable Style="overflow-x: auto;" Dense=true Bordered=true FixedHeader=false>
	<RazorItemTableHead TItem=@HostModel ParentRazor=@(this) CssTableStyleHead=@RazorComponentUtils.GetTableHeadStyle(new() { 15, 35, 15, 35 }) />
	<tbody>
		<RazorItemTableBody TItem=@HostModel ParentRazor=@(this) />
		<tr>
			<td>@LocaleCore.Table.LoginDt</td>
			<td>
				<RadzenTextBox 
					Style="width: 100%; text-align: center; background-color: lightgray; "
					ReadOnly=true Value=@(StringUtils.FormatDtRus(SqlItemCast.LoginDt, true)) />
			</td>
		</tr>
		<tr>
			<td>@LocaleCore.Table.PrettyName</td>
			<td>
				<RadzenTextBox Style="width: 100%; " @bind-Value=@SqlItemCast.Name/>
			</td>
			<td>@LocaleCore.Table.Host</td>
			<td>
				<RadzenTextBox Style="width: 100%; " @bind-Value=@SqlItemCast.HostName/>
			</td>
		</tr>
		<tr>
			<td>@LocaleCore.Table.DeviceIp</td>
			<td>
				<RadzenTextBox Style="width: 100%; " @bind-Value=@SqlItemCast.Ip/>
			</td>
			<td>@LocaleCore.Table.DeviceMac</td>
			<td>
				<RadzenTextBox Style="width: 100%; " @bind-Value=@SqlItemCast.MacAddress.Value/>
			</td>
		</tr>
	</tbody>
</MudSimpleTable>

<RazorItemActions TItem=@HostModel ParentRazor=@(this) />
<RazorItemDates TItem=@HostModel ParentRazor=@(this) />
