@using DataCore.Sql.TableScaleModels.ProductionFacilities
@inherits RazorComponentItemBase<DataCore.Sql.TableScaleModels.ProductionFacilities.ProductionFacilityModel>
@page "/item/production_facility"
@page "/item/production_facility/new"
@page "/item/production_facility/{IdentityId:long}"

<RazorItemReload TItem="@ProductionFacilityModel" ParentRazor="@(this)" Title="@LocaleCore.DeviceControl.ItemProductionFacility"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RazorComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 })"/>
  <tbody>
  <RazorItemTableBody TItem="@ProductionFacilityModel" ParentRazor="@(this)"/>
  <tr>
    <td>@LocaleCore.Table.Name</td>
    <td colspan="3">
      <RadzenTextBox Style="width: 100%; " @bind-Value="@SqlItemCast.Name"/>
    </td>
  </tr>
  <tr>
    <td >@LocaleCore.Table.Address</td>
    <td colspan="3">
      <RadzenTextArea
        Style="width: 100%; text-align: left; font-size: 12px; line-height: 18px;"
        Rows="3"
        @bind-Value="@SqlItemCast.Address"/>
    </td>
  </tr>
  </tbody>
</MudSimpleTable>

<RazorItemActions TItem="@ProductionFacilityModel" ButtonSettings="@ButtonSettings" ParentRazor="@(this)"/>
<RazorItemDates SqlItem="@SqlItem"/>
