@using ButtonType = ScalesDesktop.Source.Shared.UI.ButtonType
@using ScalesDesktop.Source.Shared.UI
@using ScalesDesktop.Source.Shared.Utils
@using Ws.Domain.Models.Entities.Ref1c
@using Ws.Domain.Models.Entities.Scale

<EditForm
  Model="FormModel"
  OnValidSubmit="OnSubmit"
  OnInvalidSubmit="HandleInvalidForm"
  class="max-w-md mx-auto w-full flex flex-col space-y-4"
>
  <DataAnnotationsValidator />
  <InputLabelWrapper Label="@WsDataLocalizer["ColWarehouse"]" HtmlFor="warehouse">
    <VsInputText
      id="warehouse"
      Value="@LineContext.Line.Warehouse.Name"
      disabled
    />
  </InputLabelWrapper>
  <InputLabelWrapper Label="@WsDataLocalizer["ColPlu"]" HtmlFor="plu">
    <SelectSingle
      TItem="PluEntity"
      Placeholder="@PalletLocalizer["PluSelectPlaceholder"]"
      ItemDisplayName="entity => entity.DisplayName"
      @bind-SelectedItem="@FormModel.Plu"
      @bind-SelectedItem:after="SetPluNestings"
      Items="GetAllPlus()"
      IsFilterable
    />
  </InputLabelWrapper>
  <InputLabelWrapper Label="@WsDataLocalizer["ColNesting"]" HtmlFor="nesting">
    <SelectSingle
      TItem="PluNestingEntity"
      Placeholder="@PalletLocalizer["NestingSelectPlaceholder"]"
      @bind-SelectedItem="FormModel.Nesting"
      @bind-Items="PluNestings"
      ItemDisplayName="@(item => NameFormatting.GetPluNestingFormattedName(item))"
      IsDisabled="@(FormModel.Plu == null || !PluNestings.Any() )"
    />
  </InputLabelWrapper>
  <InputLabelWrapper Label="@WsDataLocalizer["ColPalletWeight"]" HtmlFor="pallet-weight">
    <VsInputNumber
      TValue="decimal"
      id="pallet-weight"
      step="0.001"
      Min="@decimal.Zero"
      placeholder="@PalletLocalizer["PalletWeightInputPlaceholder"]"
      @bind-Value="FormModel.PalletWeight"
    />
    </InputLabelWrapper>
  <InputLabelWrapper Label="@WsDataLocalizer["ColCreateDt"]" HtmlFor="create-dt">
    <VsInputDate
      id="create-dt"
      TValue="DateTime"
      Type="InputDateType.DateTimeLocal"
      @bind-Value="FormModel.CreateDt"
    />
  </InputLabelWrapper>
  <InputLabelWrapper Label="@WsDataLocalizer["ColCount"]" HtmlFor="count">
    <VsInputNumber
      TValue="int"
      id="count"
      step="1"
      Min="1"
      placeholder="@PalletLocalizer["LabelCountInputPlaceholder"]"
      @bind-Value="FormModel.Count"
    />
  </InputLabelWrapper>
  <InputLabelWrapper Label="@WsDataLocalizer["ColKneading"]" HtmlFor="kneading">
    <VsInputNumber
      TValue="short"
      id="kneading"
      step="1"
      Min="0"
      placeholder="@PalletLocalizer["KneadingInputPlaceholder"]"
      @bind-Value="FormModel.Kneading"
    />
  </InputLabelWrapper>
  <Button Type="ButtonType.Submit" Class="!mt-8 !mb-2" >
    @PalletLocalizer["BtnCreate"]
  </Button>
</EditForm>