@* @page "/section/brands/new" *@
@* @page "/section/brands/{Uid:guid}" *@
@* @attribute [Authorize(Roles = UserAccessStr.Read)] *@
@* @using DeviceControl.Components.Item *@
@* @inherits ItemBase<SqlBrandEntity> *@
@* *@
@* <ItemTopBar TItem="@SqlBrandEntity" Title="@LocaleCore.DeviceControl.ItemBarCodeType" OnItemUpdate="@GetItemData"/> *@
@* *@
@* <MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false"> *@
@*   <ItemTableHead HeadWidth="@(new List<int> { 20, 30, 20, 30 })"/> *@
@*   <tbody> *@
@*   <ItemTableBody SqlItem="@SqlItemCast"/> *@
@*   <tr> *@
@*     <td>@LocaleCore.Table.Name</td> *@
@*     <td>@SqlItemCast.Name</td> *@
@*     <td>@LocaleCore.Table.Code</td> *@
@*     <td>@SqlItemCast.Code</td> *@
@*   </tr> *@
@*   <ItemDates SqlItem="@SqlItemCast"/> *@
@*   </tbody> *@
@* </MudSimpleTable> *@
@* *@
@* <ItemActions *@
@*   ButtonSettings="@ButtonSettings" *@
@*   OnItemSave="@SqlItemSaveAsync" *@
@*   OnItemCancel="@RedirectBackAsync"/> *@
