@inherits RazorComponentItemBase<BundleFkModel>
@page "/item/bundle_fk"
@page "/item/bundle_fk/new"
@page "/item/bundle_fk/{IdentityUidStr}"
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.SystemComponents
@using DataCore.Sql.TableScaleFkModels.BundlesFks
@using DataCore.Sql.TableScaleModels.Boxes
@using DataCore.Sql.TableScaleModels.Bundles

<SystemIdentity ParentRazor=@(this) />

<RazorItemReload TItem=@BundleFkModel ParentRazor=@(this) Title=@LocaleCore.DeviceControl.ItemBundleFk />

<MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
    <RazorItemTableHead TItem=@BundleFkModel ParentRazor=@(this) CssTableStyleHead=@RazorComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 }) />
    <tbody>
    <RazorItemTableBody TItem=@BundleFkModel ParentRazor=@(this) />
    <tr>
        <td>@LocaleCore.Table.Name</td>
        <td colspan=3>
            <RadzenTextBox Style="width: 100%; " @bind-Value=@SqlItemCast.Name />
        </td>
    </tr>
    <tr>
        <td>
            <RadzenLink 
                Style="width: 100%; margin-left: 0;"
                Path=@GetRouteItemPath(LocaleCore.DeviceControl.RouteItemBundle, SqlItemCast.Bundle, SqlItemCast.Bundle.IdentityValueUid)
                Text=@LocaleCore.Table.Bundle />
        </td>
        <td>
            <MudSelect 
                Class=@BlazorCoreUtuls.GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
				@bind-Value=@SqlItemCast.Bundle>
                @foreach (BundleModel item in DataContext.Bundles)
                {
                    <MudSelectItem Value=@item>@item.Name</MudSelectItem>
                }
            </MudSelect>
        </td>
        <td>@LocaleCore.Table.BundleCount</td>
        <td>
            <RadzenTemplateForm TItem=@BundleFkModel Data=@SqlItemCast>
                <RadzenNumeric 
                    Style="width: 100%; text-align: center; display: block;" Disabled=false
                    Name="fieldBundleCount"
                    TValue="short" @bind-Value=@SqlItemCast.BundleCount />
                <RadzenNumericRangeValidator 
                    Component="fieldBundleCount"
                    Text=@LocaleCore.Strings.InputControlCheck(1, 100) Popup=true Style="position: absolute;" />
            </RadzenTemplateForm>
        </td>
    </tr>
    <tr>
        <td>
            <RadzenLink 
                Style="width: 100%; margin-left: 0;"
                Path=@GetRouteItemPath(LocaleCore.DeviceControl.RouteItemBox, SqlItemCast.Box, SqlItemCast.Box.IdentityValueUid)
                Text=@LocaleCore.Table.Box />
        </td>
        <td colspan=3>
            <MudSelect 
                Class=@BlazorCoreUtuls.GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                @bind-Value=@SqlItemCast.Box>
                @foreach (BoxModel item in DataContext.Boxes)
                {
                    <MudSelectItem Value=@item>@item.Name</MudSelectItem>
                }
            </MudSelect>
        </td>
    </tr>
    <tr>
        <td >@LocaleCore.Table.BundleFkWeightTareKg</td>
        <td colspan=2>@LocaleCore.Table.BundleFkWeightTareDescription</td>
        <td>
            <RadzenNumeric 
                Style="width: 100%; text-align: center; background-color: lightgray;"
                ReadOnly=true
                TValue="decimal" @bind-Value=@SqlItemCast.WeightTare />
        </td>
    </tr>
    </tbody>
</MudSimpleTable>

<RazorItemActions TItem=@BundleFkModel ParentRazor=@(this) />
<RazorItemDates TItem=@BundleFkModel ParentRazor=@(this) />