@inherits RazorComponentItemBase<PluLabelModel>
@page "/item/plu_label"
@page "/item/plu_label/new"
@page "/item/plu_label/{IdentityUidStr}"
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.SystemComponents

<SystemIdentity ParentRazor=@(this) />

<RazorItemReload TItem=@PluLabelModel ParentRazor=@(this) Title=@LocaleCore.DeviceControl.ItemLabel />

<MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
    <RazorItemTableHead TItem=@PluLabelModel ParentRazor=@(this) CssTableStyleHead=@RazorComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 }) />
    <tbody>
        <RazorItemTableBody TItem=@PluLabelModel ParentRazor=@(this) />
	    <tr>
			<td>@LocaleCore.Table.ProductDt</td>
		    <td>
			    <RadzenText
				    TextStyle=@TextStyle.Body2 TextAlign=@TextAlign.Center
				    Text=@(StringUtils.FormatDtRus(SqlItemCast.ProductDt, false, false)) />
		    </td>
			<td>@LocaleCore.Table.ExpirationDt</td>
		    <td>
			    <RadzenText
				    TextStyle=@TextStyle.Body2 TextAlign=@TextAlign.Center
				    Text=@(StringUtils.FormatDtRus(SqlItemCast.ExpirationDt, false, false)) />
		    </td>
	    </tr>
        <tr>
            <td>@LocaleCore.Table.Scale</td>
            <td>
                @if (SqlItemCast.PluWeighing is not null)
                {
	                <RadzenLink 
		                Path=@($"{LocaleCore.DeviceControl.RouteItemScale}/{SqlItemCast.PluWeighing.PluScale.Scale.Identity.Id}")
                        Text=@(SqlItemCast.PluWeighing.PluScale.Scale.Description) />
                }
            </td>
	        <td>@LocaleCore.Table.PluNumber</td>
	        <td>
		        @if (SqlItemCast.PluWeighing is not null)
		        {
			        <RadzenLink 
				        Path=@($"{LocaleCore.DeviceControl.RouteItemPlu}/{SqlItemCast.PluWeighing.PluScale.Plu.Identity.Uid}")
				        Text=@(SqlItemCast.PluWeighing.PluScale.Plu.Number.ToString()) />
		        }
	        </td>
        </tr>
        <tr>
	        <td>@LocaleCore.Table.Plu</td>
	        <td>
		        @if (SqlItemCast.PluWeighing is not null)
		        {
			        <RadzenLink 
				        Path=@($"{LocaleCore.DeviceControl.RouteItemPlu}/{SqlItemCast.PluWeighing.PluScale.Plu.Identity.Uid}")
				        Text=@(SqlItemCast.PluWeighing.PluScale.Plu.Name) />
		        }
	        </td>
            <td>@LocaleCore.Table.Template</td>
            <td>
	            @if (SqlItemCast.PluWeighing is not null)
                {
	                <RadzenLink 
		                Path=@($"{LocaleCore.DeviceControl.RouteItemTemplate}/{SqlItemCast.PluWeighing.PluScale.Plu.Template.Identity.Id}")
		                Text=@(SqlItemCast.PluWeighing.PluScale.Plu.Template.Title) />
                }
            </td>
        </tr>
        <tr >
            <td>
	            <RadzenLink 
		            Path=@(LocaleCore.DeviceControl.LinkLabelary)
		            Text=@(LocaleCore.Table.TemplateLabelary) />
	        </td>
            <td colspan=3>
	            <RadzenTextArea 
		            Style="width: 100%; text-align: left; font-size: 10px; line-height: 16px; background-color: lightgray; " 
		            Disabled=false ReadOnly=true 
		            Value=@SqlItemCast.Zpl Rows=20 />
			</td>
        </tr>
        <tr >
            <td>@LocaleCore.Table.Xml</td>
	        <td colspan=3>
				@if (SqlItemCast.Xml is not null)
				{
			        <RadzenTextArea
				        Style="width: 100%; text-align: left; font-size: 10px; line-height: 16px; background-color: lightgray;"
				        Disabled=false ReadOnly=true
				        Value=@(XmlUtils.GetXmlpretty(SqlItemCast.Xml.OuterXml)) Rows=20/>
				}
	        </td>
        </tr>
    </tbody>
</MudSimpleTable>

<RazorItemActions TItem=@PluLabelModel ParentRazor=@(this) />
<RazorItemDates TItem=@PluLabelModel ParentRazor=@(this) />
