@using Blazor.Heroicons.Outline

<div class="w-full py-4 max-w-sm mx-auto">
  <div class="grid w-full grid-cols-[auto_1fr] mx-auto gap-y-2 gap-x-6 py-2">
    <ResultBlockItem>
      <TitleContext>
        <DocumentIcon class="size-4 mr-1 pb-px"/>
        <h3>Документ</h3>
      </TitleContext>
      <ValueContext>
        @Model.DocumentNumber
      </ValueContext>
    </ResultBlockItem>
    <ResultBlockItem>
      <TitleContext>
        <ArrowsPointingOutIcon class="size-4 mr-1 pb-px"/>
        <h3>Тип</h3>
      </TitleContext>
      <ValueContext>
        @(Model.Mono ? "Монопаллета" : "Многопаллета")
      </ValueContext>
    </ResultBlockItem>
    <ResultBlockItem>
      <TitleContext>
        <ArchiveBoxIcon class="size-4 mr-1 pb-px"/>
        <h3>Кол-во</h3>
      </TitleContext>
      <ValueContext>
        @Model.Batches.Count шт
      </ValueContext>
    </ResultBlockItem>
    <ResultBlockItem>
      <TitleContext>
        <BookmarkIcon class="size-4 mr-1 pb-px"/>
        <h3>ПЛУ</h3>
      </TitleContext>
      <ValueContext>
        <div class="w-full flex gap-2 items-center overflow-hidden">
          @foreach (string plu in Model.Batches.Select(batch => batch.Plu).Distinct().ToList())
          {
            <Badge>@plu</Badge>
          }
        </div>
      </ValueContext>
    </ResultBlockItem>
  </div>
  <div class="flex justify-end gap-2 mt-8">
    <Button Variant="ButtonVariantType.Outline" OnClick="@OnCancelAction">
      Назад
    </Button>
    <Button OnClick="@OnSubmitAction">
      Подтвердить
    </Button>
  </div>
</div>

@code {
  [EditorRequired, Parameter] public Pallet Model { get; set; } = default!;
  [Parameter] public EventCallback OnSubmitAction { get; set; }
  [Parameter] public EventCallback OnCancelAction { get; set; }
}