@using Blazor.Heroicons.Outline
@using Microsoft.AspNetCore.Components.Web.HtmlRendering
@using Refit
@using ScalesTablet.Source.Shared
@using ScalesTablet.Source.Shared.Stores
@using Ws.Shared.Extensions
@using Ws.Tablet.Models
@using Ws.Tablet.Models.Features.Pallets.Input
@using Ws.Tablet.Models.Features.Pallets.Output
@using Button = Ws.Components.Source.UI.Button

<div class="w-full py-4 max-w-sm mx-auto">
  <div class="grid w-full grid-cols-[auto_1fr] mx-auto gap-y-2 gap-x-6 py-2">
    <ResultBlockItem>
      <TitleContext>
        <DocumentIcon class="size-4 mr-1 pb-px"/>
        <h3>Документ</h3>
      </TitleContext>
      <ValueContext>
        @Model.DocumentNumber
      </ValueContext>
    </ResultBlockItem>
    <ResultBlockItem>
      <TitleContext>
        <ArrowsPointingOutIcon class="size-4 mr-1 pb-px"/>
        <h3>Тип</h3>
      </TitleContext>
      <ValueContext>
        @(Model.Mono ? "Монопаллета" : "Многопаллета")
      </ValueContext>
    </ResultBlockItem>
    <ResultBlockItem>
      <TitleContext>
        <ArchiveBoxIcon class="size-4 mr-1 pb-px"/>
        <h3>Кол-во</h3>
      </TitleContext>
      <ValueContext>
        @Model.Batches.Count шт
      </ValueContext>
    </ResultBlockItem>
    <ResultBlockItem>
      <TitleContext>
        <BookmarkIcon class="size-4 mr-1 pb-px"/>
        <h3>ПЛУ</h3>
      </TitleContext>
      <ValueContext>
        <div class="w-full flex gap-2 items-center overflow-hidden">
          @foreach (PluModel plu in Model.Batches.Select(batch => batch.Plu).Distinct().ToList())
          {
            <Badge>@plu.Number</Badge>
          }
        </div>
      </ValueContext>
    </ResultBlockItem>
  </div>
  @if (FinalDto != null)
  {
    <div class="max-w-xs flex flex-col gap-2 mx-auto my-4">
      <Button OnClick="@(() => PrintPalletCard(FinalDto))">
        Печать документа
      </Button>
      <Button Disabled>
        Печать этикеток
      </Button>
    </div>
  }
  <div class="flex justify-end gap-2 mt-8">
    @if (FinalDto == null)
    {
      <Button Variant="ButtonVariantType.Outline" Disabled="@IsLoading" OnClick="@OnCancelAction">
        Назад
      </Button>
      <Button OnClick="@OnSubmit" Disabled="@IsLoading">
        Подтвердить
      </Button>
    }
    else
    {
      <Button OnClick="@(() => OnSubmitAction.InvokeAsync(FinalDto))">
        Выход
      </Button>
    }
  </div>
</div>

@code {
  [Inject] private IToastService ToastService { get; set; } = default!;
  [Inject] private ITabletApi TabletApi { get; set; } = default!;
  [Inject] private IState<UserState> UserState { get; set; } = default!;
  [Inject] private IPrintService PrintService { get; set; } = default!;
  [Inject] private HtmlRenderer HtmlRenderer { get; set; } = default!;

  [EditorRequired, Parameter] public PalletCreateModel Model { get; set; } = default!;
  [Parameter] public EventCallback<PalletDto> OnSubmitAction { get; set; }
  [Parameter] public EventCallback OnCancelAction { get; set; }
  [Parameter] public string DocumentNumber { get; set; } = string.Empty;

  private PalletDto? FinalDto { get; set; }
  private bool IsLoading { get; set; }

  private async Task OnSubmit()
  {
    PalletCreateDto createDto = new()
    {
      UserId = UserState.Value.User?.Id ?? Guid.Empty,
      DocumentBarcode = DocumentNumber,
      Batches = Model.Batches.ConvertAll(BatchMapper.ModelToCreateDto)
    };
    string toastId = Guid.NewGuid().ToString();
    ToastService.ClearAll();
    IsLoading = true;
    StateHasChanged();

    try
    {
      ToastService.ShowProgressToast(new()
      {
        Id = toastId,
        Intent = ToastIntent.Progress,
        Title = "Создание паллеты",
        Timeout = null,
        Content = new() { Details = "Идет процесс создания паллеты" }
      });

      FinalDto = await TabletApi.CreatePallet(createDto);
      ToastService.ShowSuccess("Паллета успешно создана");
    }
    catch (ApiException ex)
    {
      ToastService.ShowError(ex.GetMessage("Неизвестная ошибка"));
    }
    catch
    {
      ToastService.ShowError("Неизвестная ошибка");
    }

    ToastService.CloseToast(toastId);
    IsLoading = false;
    StateHasChanged();
  }

  private Task PrintPalletCard(PalletDto dto)
  {
    return HtmlRenderer.Dispatcher.InvokeAsync(async () =>
    {
      Dictionary<string, object?> parameters = new()
      {
        { nameof(PalletDocument.Pallet), dto }
      };

      HtmlRootComponent output = await HtmlRenderer.RenderComponentAsync<PalletDocument>(ParameterView.FromDictionary(parameters));
      PrintService.Print(output.ToHtmlString());
    });
  }
}
