@using Blazor.Heroicons.Outline
@using ScalesDesktop.Source.Shared.Services
@using Ws.Desktop.Models.Features.Pallets.Output
@implements IDisposable

<button
  type="button"
  disabled="@(PalletContext.Pallet != null && PalletContext.Pallet.Equals(Pallet))"
  @onclick="@(() => PalletContext.ChangePallet(Pallet))"
  class="w-full h-18 pb-2.5 pt-2 gap-2 px-4 items-center flex shadow-sm transition-colors rounded-md border hover:bg-neutral-100
                      @(PalletContext.Pallet != null && PalletContext.Pallet.Equals(Pallet) ? "bg-neutral-100 invert" : string.Empty)"
>
  <div class="w-full h-full overflow-hidden grow flex flex-col">
    <div class="flex w-full items-center gap-2 justify-between">
      <span class="truncate font-medium">
        @WsDataLocalizer["ColPallet"] №@Pallet.Number
      </span>
      <span class="text-sm text-neutral-700 shrink-0">
        @Pallet.CreateDt.ToString("dd.MM.yyyy HH:mm:ss")
      </span>
    </div>
    <div class="flex w-full items-center justify-between gap-2 overflow-hidden">
      <Badge>
        @Pallet.PluNumber
      </Badge>
      <Badge Variant="BadgeVariant.Secondary">
        <CalculatorIcon class="h-3 w-3 mr-1"/>
        <span class="text-xs pt-px">@Pallet.LabelCount</span>
      </Badge>
    </div>
  </div>
</button>

@code {

  # region Injects

  [Inject] private IStringLocalizer<WsDataResources> WsDataLocalizer { get; set; } = default!;
  [Inject] private PalletContext PalletContext { get; set; } = default!;

  # endregion

  [Parameter, EditorRequired] public PalletInfo Pallet { get; set; } = default!;

  protected override void OnInitialized() => PalletContext.StateChanged += StateHasChanged;

  public void Dispose() => PalletContext.StateChanged -= StateHasChanged;
}