@page "/entitypage"
@using BlazorCore
@using BlazorCore.DAL.TableModels
@using BlazorCore.Utils
@inherits BlazorCore.Models.BaseRazorEntity

@if (AppSettings.IdentityItem.AccessLevel is true or false)
{
    @* RadzenCard *@
    <RadzenCard Style="margin-bottom: 0; font-size: 13px; ">
        <div class="row" style="margin-top: 0; margin-left: 0; margin-right: 0; ">
            @switch (Table)
            {
                case EnumTable.BarCodeTypes:
                    break;
                case EnumTable.Contragents:
                    break;
                case EnumTable.Hosts:
                    HostsEntity host = (HostsEntity)Item;
                    <BlazorDeviceControl.Shared.Record.Host Item=@host />
                    break;
                case EnumTable.Nomenclature:
                    break;
                case EnumTable.Orders:
                    break;
                case EnumTable.OrderStatus:
                    break;
                case EnumTable.OrderTypes:
                    break;
                case EnumTable.Plu:
                    PluEntity plu = (PluEntity)Item;
                    <BlazorDeviceControl.Shared.Record.Plu Item=@plu />
                    break;
                case EnumTable.ProductionFacility:
                    ProductionFacilityEntity productionFacility = (ProductionFacilityEntity)Item;
                    <BlazorDeviceControl.Shared.Record.ProductionFacility Item=@productionFacility />
                    break;
                case EnumTable.ProductSeries:
                    @*
                        var productSeries = (ProductSeriesEntity)Item;
                        <span Style="align-self: start; width: 15%; height: 25px; ">@LocalizationStrings.DeviceControl.TableFieldId</span>
                        <RadzenNumeric Style="align-self: end; width: 85%; height: 25px; " TValue="int" Disabled=true @bind-value=@productSeries.Id />
                        <div class="col-md-6" Style="margin-top: 0; margin-left: 0; margin-right: 0;">
                            <br Style="margin-top: 0; margin-left: 0; margin-right: 0;" />
                            <span Style="align-self: start; width: 25%; height: 25px;">@LocalizationStrings.DeviceControl.TableFieldScaleId</span>
                            <RadzenTextBox TValue="string" Style="align-self: end; width: 60%; height: 25px;"
                                           @bind-value=@productSeries.Scale.Id />
                            <br Style="margin-top: 5px; margin-left: 0; margin-right: 0;" />
                            <span Style="align-self: start; width: 38%; height: 25px;">@LocalizationStrings.DeviceControl.TableFieldCreateDt</span>
                            <RadzenDatePicker Disabled="true" @bind-Value=@productSeries.CreateDate />
                            <br Style="margin-top: 5px; margin-left: 0; margin-right: 0;" />
                            <span Style="align-self: start; width: 38%; height: 25px;">@LocalizationStrings.DeviceControl.TableFieldUid</span>-->
                            <RadzenTextBox Mask="********-****-****-****-************" Placeholder="00000000-0000-0000-0000-000000000000"
                                           Disabled="false" @bind-Value=@productSeries.UidGui Style="width: 70%" />
                            <br Style="margin-top: 5px; margin-left: 0; margin-right: 0; " />
                            <span Style="align-self: start; width: 38%; height: 25px; ">@LocalizationStrings.DeviceControl.TableFieldIsClose</span>
                            <RadzenCheckBox Disabled="false" @bind-Value=@productSeries.IsCloseGui TValue="bool" />
                            <br Style="margin-top: 5px; margin-left: 0; margin-right: 0; " />
                            <span Style="align-self: start; width: 38%; height: 25px; ">@LocalizationStrings.DeviceControl.TableFieldSscc</span>
                            <RadzenTextBox Disabled="false" @bind-Value=@productSeries.Sscc />
                        </div>*@
                    break;
                case EnumTable.Scales:
                    ScalesEntity scales = (ScalesEntity)Item;
                    <BlazorDeviceControl.Shared.Record.Scale Item=@scales />
                    break;
                case EnumTable.SsccStorage:
                    break;
                case EnumTable.TemplateResources:
                    TemplateResourcesEntity templateResources = (TemplateResourcesEntity)Item;
                    <BlazorDeviceControl.Shared.Record.TemplateResource Item=@templateResources />
                    break;
                case EnumTable.Templates:
                    TemplatesEntity templates = (TemplatesEntity)Item;
                    <BlazorDeviceControl.Shared.Record.Template Item=@templates />
                    break;
                case EnumTable.WeithingFact:
                    break;
                case EnumTable.WorkShop:
                    WorkshopEntity workshop = (WorkshopEntity)Item;
                    <BlazorDeviceControl.Shared.Record.Workshop Item=@workshop />
                    break;
                case EnumTable.Printer:
                    ZebraPrinterEntity printer = (ZebraPrinterEntity)Item;
                    <BlazorDeviceControl.Shared.Record.Printer Item=@printer />
                    break;
                case EnumTable.PrinterResourceRef:
                    ZebraPrinterResourceRefEntity printerResourceRef = (ZebraPrinterResourceRefEntity)Item;
                    <BlazorDeviceControl.Shared.Record.PrinterResourceRef Item=@printerResourceRef />
                    break;
                case EnumTable.PrinterType:
                    ZebraPrinterTypeEntity printerType = (ZebraPrinterTypeEntity)Item;
                    <BlazorDeviceControl.Shared.Record.PrinterType Item=@printerType />
                    break;
                case EnumTable.Default:
                    break;
                case EnumTable.Labels:
                    break;
                case EnumTable.Logs:
                    break;
                default:
                    throw new ArgumentOutOfRangeException();
            }
        </div>
    </RadzenCard>

    @* Actions *@
    <div class="row col-sm-12 col-md-12 col-lg-12" style="margin-top: 5px; height: 20px;">
        <RadzenButton Click=@(args => SaveAsync(args))
                      Text=@LocalizationStrings.DeviceControl.TableActionSave
                      Style="margin-left: 30px; width: 250px; height: 30px; font-size: 12px;" />
        <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                      Click=@(args => CancelAsync(args))
                      Text=@LocalizationStrings.DeviceControl.TableActionCancel
                      Style="margin-left: 30px; width: 250px; height: 30px; font-size: 12px;" />
    </div>
}
else
{
    <RadzenLabel Text=@LocalizationStrings.Share.MenuAccessDeny></RadzenLabel>
}
