@page "/entitypage"
@    using BlazorProjectsCore
@    using DataProjectsCore.DAL.TableModels
@inherits             BaseRazorEntity

@*
if (AppSettings.IdentityItem.AccessLevel is true or false)
{
    <RadzenCard Style="margin-bottom: 0; font-size: 13px; ">
        <div class="row" style="margin-top: 0; margin-left: 0; margin-right: 0; ">
            @switch (Table)
            {
                case ProjectsEnums.TableScale.BarcodeTypes:
                    break;
                case ProjectsEnums.TableScale.Contragents:
                    break;
                case ProjectsEnums.TableScale.Hosts:
                    HostEntity host = (HostEntity)Item;
                    <BlazorDeviceControl.Shared.Item.Host Item=@host />
                    break;
                case ProjectsEnums.TableScale.Nomenclatures:
                    break;
                case ProjectsEnums.TableScale.Orders:
                    break;
                case ProjectsEnums.TableScale.OrderStatuses:
                    break;
                case ProjectsEnums.TableScale.OrderTypes:
                    break;
                case ProjectsEnums.TableScale.Plus:
                    PluEntity plu = (PluEntity)Item;
                    <BlazorDeviceControl.Shared.Item.Plu Item=@plu />
                    break;
                case ProjectsEnums.TableScale.ProductionFacilities:
                    ProductionFacilityEntity productionFacility = (ProductionFacilityEntity)Item;
                    <BlazorDeviceControl.Shared.Item.ProductionFacility Item=@productionFacility />
                    break;
                case ProjectsEnums.TableScale.ProductSeries:
                    @*
                        var productSeries = (ProductSeriesEntity)Item;
                        <span Style="align-self: start; width: 15%; height: 25px; ">@LocalizationStrings.DeviceControl.TableFieldId</span>
                        <RadzenNumeric Style="align-self: end; width: 85%; height: 25px; " TValue="int" Disabled=true @bind-value=@productSeries.Id />
                        <div class="col-md-6" Style="margin-top: 0; margin-left: 0; margin-right: 0;">
                            <br Style="margin-top: 0; margin-left: 0; margin-right: 0;" />
                            <span Style="align-self: start; width: 25%; height: 25px;">@LocalizationStrings.DeviceControl.TableFieldScaleId</span>
                            <RadzenTextBox TValue="string" Style="align-self: end; width: 60%; height: 25px;"
                                           @bind-value=@productSeries.Scale.Id />
                            <br Style="margin-top: 5px; margin-left: 0; margin-right: 0;" />
                            <span Style="align-self: start; width: 38%; height: 25px;">@LocalizationStrings.DeviceControl.TableFieldCreateDt</span>
                            <RadzenDatePicker Disabled="true" @bind-Value=@productSeries.CreateDate />
                            <br Style="margin-top: 5px; margin-left: 0; margin-right: 0;" />
                            <span Style="align-self: start; width: 38%; height: 25px;">@LocalizationStrings.DeviceControl.TableFieldUid</span>-->
                            <RadzenTextBox Mask="********-****-****-****-************" Placeholder="00000000-0000-0000-0000-000000000000"
                                           Disabled="false" @bind-Value=@productSeries.UidGui Style="width: 70%" />
                            <br Style="margin-top: 5px; margin-left: 0; margin-right: 0; " />
                            <span Style="align-self: start; width: 38%; height: 25px; ">@LocalizationStrings.DeviceControl.TableFieldIsClose</span>
                            <RadzenCheckBox Disabled="false" @bind-Value=@productSeries.IsCloseGui TValue="bool" />
                            <br Style="margin-top: 5px; margin-left: 0; margin-right: 0; " />
                            <span Style="align-self: start; width: 38%; height: 25px; ">@LocalizationStrings.DeviceControl.TableFieldSscc</span>
                            <RadzenTextBox Disabled="false" @bind-Value=@productSeries.Sscc />
                        </div>
                    break;
                case ProjectsEnums.TableScale.Scales:
                    ScaleEntity scales = (ScaleEntity)Item;
                    <BlazorDeviceControl.Shared.Item.Scale Item=@scales />
                    break;
                case ProjectsEnums.TableScale.TemplateResources:
                    TemplateResourceEntity templateResources = (TemplateResourceEntity)Item;
                    <BlazorDeviceControl.Shared.Item.TemplateResource Item=@templateResources />
                    break;
                case ProjectsEnums.TableScale.Templates:
                    TemplateEntity templates = (TemplateEntity)Item;
                    <BlazorDeviceControl.Shared.Item.Template Item=@templates />
                    break;
                case ProjectsEnums.TableScale.WeithingFacts:
                    break;
                case ProjectsEnums.TableScale.Workshops:
                    WorkshopEntity workshop = (WorkshopEntity)Item;
                    <BlazorDeviceControl.Shared.Item.Workshop Item=@workshop />
                    break;
                case ProjectsEnums.TableScale.Printers:
                    ZebraPrinterEntity printer = (ZebraPrinterEntity)Item;
                    <BlazorDeviceControl.Shared.Item.Printer Item=@printer />
                    break;
                case ProjectsEnums.TableScale.PrinterResources:
                    ZebraPrinterResourceEntity printerResourceRef = (ZebraPrinterResourceEntity)Item;
                    <BlazorDeviceControl.Shared.Item.PrinterResourceRef Item=@printerResourceRef />
                    break;
                case ProjectsEnums.TableScale.PrinterTypes:
                    ZebraPrinterTypeEntity printerType = (ZebraPrinterTypeEntity)Item;
                    <BlazorDeviceControl.Shared.Item.PrinterType Item=@printerType />
                    break;
                case ProjectsEnums.TableScale.Default:
                    break;
                case ProjectsEnums.TableScale.Labels:
                    break;
                case ProjectsEnums.TableScale.Logs:
                    break;
                default:
                    throw new ArgumentOutOfRangeException();
            }
        </div>
    </RadzenCard>
}
else
{
    <RadzenLabel Text=@LocalizationStrings.Share.MenuAccessDeny></RadzenLabel>
}
*@
