@using BlazorCore
@using DataShareCore
@using Microsoft.VisualBasic.CompilerServices

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">DeviceControl</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationCore.Strings.UriRouteSystemInfo>
                <span class="oi oi-menu" aria-hidden="true"></span> @LocalizationCore.Strings.MenuInfo
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationCore.Strings.UriRouteSystemAccess>
                <span class="oi oi-menu" aria-hidden="true"></span> @LocalizationCore.Strings.SysAccess
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationCore.Strings.UriRouteSystemLogs>
                <span class="oi oi-menu" aria-hidden="true"></span> @LocalizationCore.Strings.SysLogs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationCore.Strings.UriRouteSystemErrors>
                <span class="oi oi-menu" aria-hidden="true"></span> @LocalizationCore.Strings.SysErrors
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.Hosts>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.DeviceControl.SectionHosts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.Scales>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.DeviceControl.SectionScales
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.Printers>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.DeviceControl.SectionPrinters
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.PrinterTypes>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.DeviceControl.SectionPrinterTypes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.Templates>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.DeviceControl.SectionTemplates
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.TemplateResources>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.DeviceControl.SectionTemplateResources
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.ProductionFacilities>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.DeviceControl.SectionProductionFacilities
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.Workshops>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.DeviceControl.SectionWorkshops
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.WeithingFacts>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.DeviceControl.SectionWeithingFacts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.BarCodeTypes>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.DeviceControl.SectionBarCodeTypesShort
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.Nomenclatures>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.DeviceControl.SectionNomenclatures
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.TaskModules>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.DeviceControl.SectionTaskModules
            </NavLink>
        </li>
    </ul>
</div>
