@using BlazorCore.Utils
@using Microsoft.VisualBasic.CompilerServices

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">DeviceControl</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationStrings.DeviceControl.UriRouteInfo>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationStrings.Share.MenuInfo
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationStrings.DeviceControl.UriRouteTableScales>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationStrings.DeviceControl.TableTitleScalesShort
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationStrings.DeviceControl.UriRouteTablePrinters>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationStrings.DeviceControl.TableTitlePrinters
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationStrings.DeviceControl.UriRouteTablePrinterTypes>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationStrings.DeviceControl.TableTitlePrinterTypes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationStrings.DeviceControl.UriRouteTableHosts>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationStrings.DeviceControl.TableTitleHostsShort
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationStrings.DeviceControl.UriRouteTableTemplates>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationStrings.DeviceControl.TableTitleTemplatesShort
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationStrings.DeviceControl.UriRouteTableTemplateResources>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationStrings.DeviceControl.TableTitleTemplateResourcesShort
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationStrings.DeviceControl.UriRouteTableProductionFacilities>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationStrings.DeviceControl.TableTitleProductionFacilityShort
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationStrings.DeviceControl.UriRouteTableWorkshops>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationStrings.DeviceControl.TableTitleWorkShopShort
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationStrings.DeviceControl.UriRouteTableWeithingFacts>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationStrings.DeviceControl.TableTitleWeithingFactShort
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationStrings.DeviceControl.UriRouteTableLogs>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationStrings.DeviceControl.TableTitleLogs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationStrings.DeviceControl.UriRouteAccess>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationStrings.Share.MenuAccess
            </NavLink>
        </li>
    </ul>
</div>
