@using BlazorShareCore
@using DataCore
@using Microsoft.VisualBasic.CompilerServices

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">DeviceControl</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationCore.Strings.UriRouteSystemInfo>
                <span class="oi oi-menu" aria-hidden="true"></span> @LocalizationCore.Strings.MenuInfo
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationCore.Strings.UriRouteSystemLogs>
                <span class="oi oi-menu" aria-hidden="true"></span> @LocalizationCore.Strings.SysLogs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationCore.Strings.UriRouteSystemAccess>
                <span class="oi oi-menu" aria-hidden="true"></span> @LocalizationCore.Strings.SysAccess
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSectionScales>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.DeviceControl.SectionScales
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSectionPrinters>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.DeviceControl.SectionPrinters
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSectionPrinterTypes>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.DeviceControl.SectionPrinterTypes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSectionHosts>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.DeviceControl.SectionHosts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSectionTemplates>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.DeviceControl.SectionTemplates
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSectionTemplateResources>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.DeviceControl.SectionTemplateResources
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSectionProductionFacilities>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.DeviceControl.SectionProductionFacilities
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSectionWorkshops>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.DeviceControl.SectionWorkshops
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSectionWeithingFacts>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.DeviceControl.SectionWeithingFacts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSectionBarCodeTypes>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.DeviceControl.SectionBarCodeTypes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSectionNomenclatures>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.DeviceControl.SectionNomenclatures
            </NavLink>
        </li>
    </ul>
</div>
