@using BlazorCore.Utils
@using Microsoft.VisualBasic.CompilerServices

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">DeviceControl</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationStrings.Share.UriRouteSystemInfo>
                <span class="oi oi-menu" aria-hidden="true"></span> @LocalizationStrings.Share.MenuInfo
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationStrings.Share.UriRouteSystemLogs>
                <span class="oi oi-menu" aria-hidden="true"></span> @LocalizationStrings.Share.SysLogs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationStrings.Share.UriRouteSystemAccess>
                <span class="oi oi-menu" aria-hidden="true"></span> @LocalizationStrings.Share.SysAccess
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationStrings.DeviceControl.UriRouteSectionScales>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationStrings.DeviceControl.SectionScales
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationStrings.DeviceControl.UriRouteSectionPrinters>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationStrings.DeviceControl.SectionPrinters
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationStrings.DeviceControl.UriRouteSectionPrinterTypes>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationStrings.DeviceControl.SectionPrinterTypes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationStrings.DeviceControl.UriRouteSectionHosts>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationStrings.DeviceControl.SectionHosts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationStrings.DeviceControl.UriRouteSectionTemplates>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationStrings.DeviceControl.SectionTemplates
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationStrings.DeviceControl.UriRouteSectionTemplateResources>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationStrings.DeviceControl.SectionTemplateResources
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationStrings.DeviceControl.UriRouteSectionProductionFacilities>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationStrings.DeviceControl.SectionProductionFacilities
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationStrings.DeviceControl.UriRouteSectionWorkshops>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationStrings.DeviceControl.SectionWorkshops
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationStrings.DeviceControl.UriRouteSectionWeithingFacts>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationStrings.DeviceControl.SectionWeithingFacts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationStrings.DeviceControl.UriRouteSectionBarCodeTypes>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationStrings.DeviceControl.SectionBarCodeTypes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationStrings.DeviceControl.UriRouteSectionNomenclatures>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationStrings.DeviceControl.SectionNomenclatures
            </NavLink>
        </li>
    </ul>
</div>
