@if (!string.IsNullOrWhiteSpace(Url))
{
  <label
    @attributes="AdditionalAttributes"
    for="@HtmlFor"
    class="@Css.Class("text-sm text-blue-400 font-medium leading-none hover:cursor-pointer", Class)"
  >
    <a href="@Url" target="_blank">
      @ChildContent
    </a>
  </label>
}
else
{
  <label
    @attributes="AdditionalAttributes"
    for="@HtmlFor"
    class="@Css.Class("text-sm font-medium leading-none", Class)"
  >
    @ChildContent
  </label>
}

@code {
  [Parameter] public RenderFragment? ChildContent { get; set; }
  [Parameter] public string Url { get; set; } = string.Empty;
  [Parameter] public string Class { get; set; } = string.Empty;
  [Parameter] public string HtmlFor { get; set; } = string.Empty;
  [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; } = new();
}