@page "/section/logs_web_service/{Uid:guid}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using DeviceControl.Components.Item
@using Ws.Shared.Utils
@inherits ItemBase<SqlLogWebEntity>

<ItemTopBar TItem="SqlLogWebEntity" Title="@Locale.ItemLog" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead HeadWidth="@(new List<int> { 10, 35, 15, 35 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@Locale.Version</td>
    <td>@SqlItemCast.Version</td>
  </tr>
  <tr>
    <td>@Locale.RequestUrl</td>
    <td>@SqlItemCast.Url</td>
    <td>@Locale.Request</td>
    <td>@SqlItemCast.ToString()</td>
  </tr>
  <tr>
    <td>@Locale.Request</td>
    <td colspan="3">
      <RadzenTextArea
        Style="width: 100%; text-align: left; font-size: 11px; line-height: 18px; background-color: lightgray; "
        Rows="12" ReadOnly="true"
        Value="@XmlUtils.GetPrettyXml(SqlItemCast.DataRequest)"/>

      <RadzenButton Click="@(_ => JsService.CopyTextToClipboard(SqlItemCast.DataRequest))"
                    class="RadzenButtonFullWidth" ButtonStyle="@ButtonStyle.Primary" Size="@ButtonSize.Small"
                    Text="@Locale.TableActionCopy"/>
    </td>
  </tr>
  <tr>
    <td>@Locale.Response</td>
    <td colspan="3">
      <RadzenTextArea
        Style="width: 100%; text-align: left; font-size: 11px; line-height: 18px; background-color: lightgray; "
        Rows="12" ReadOnly="true"
        Value="@XmlUtils.GetPrettyXml(SqlItemCast.DataResponse)"/>

      <RadzenButton Click="@(_ => JsService.CopyTextToClipboard(SqlItemCast.DataResponse))"
                    class="RadzenButtonFullWidth" ButtonStyle="@ButtonStyle.Primary" Size="@ButtonSize.Small"
                    Text="@Locale.TableActionCopy"/>
    </td>
  </tr>
  @* <ItemDates SqlItem="@SqlItemCast.LogWebRequest"/> *@
  </tbody>
</MudSimpleTable>

<ItemActions
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>
