@page "/creatio"
@using BlazorCore.Utils
@using BlazorResourcesVs.Data
@inject NavigationManager NavigationManager

<h2>
    <RadzenLabel Text="@LocalizationStrings.Resources.CreatioTitle" />
</h2>

<body>
    <RadzenLabel Text="@LocalizationStrings.Resources.CreatioOfficialTitle" />
    <br />
    <RadzenLink Path="@LocalizationStrings.Resources.CreatioAcademyPath" Text="@LocalizationStrings.Resources.CreatioAcademyText" />
    <RadzenLink Path="@LocalizationStrings.Resources.CreatioMarketplacePath" Text="@LocalizationStrings.Resources.CreatioMarketplaceText"
                Style="margin-left: 20px" />
    <RadzenLink Path="@LocalizationStrings.Resources.CreatioCommunityPath" Text="@LocalizationStrings.Resources.CreatioCommunityText"
                Style="margin-left: 20px" />
    <br />
    <br />
    <RadzenLink Path="@LocalizationStrings.Resources.CreatioWebinarsPath" Text="@LocalizationStrings.Resources.CreatioWebinarsText" />
    <RadzenTextBox bind-Value="@LocalizationStrings.Resources.CreatioWebinarsPath" ReadOnly="true" />
    <br />
    <br />
    <RadzenLabel Text="@LocalizationStrings.Resources.CreatioTableTitle" Style="align-self: center" />
    @if (LocalSites == null)
    {
        <p><em>@LocalizationStrings.Share.DataLoading</em></p>
    }
    else
    {
        <RadzenGrid Data=@LocalSites TItem="WebSiteEntity" Value=@WebSite
                    RowSelect=@(args => RowSelectAsync(args)) RowDoubleClick=@(args => RowDoubleClickAsync(args))
                    AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced"
                    AllowPaging="true" PageSize="20" AllowSorting="true" ColumnWidth="200px">
            <Columns>
                <RadzenGridColumn TItem="WebSiteEntity" Property="Name" Title="@LocalizationStrings.Resources.CreatioTableFieldName" Type="string" />
                <RadzenGridColumn TItem="WebSiteEntity" Property="Link" Title="@LocalizationStrings.Resources.CreatioTableFieldLink" Type="string" />
                <RadzenGridColumn TItem="WebSiteEntity" Property="Dev" Title="@LocalizationStrings.Resources.CreatioTableFieldDev" Type="string" />
            </Columns>
        </RadzenGrid>
    }
    <br />
    <RadzenLink Path="@LocalizationStrings.Resources.CreatioCreStudyPath" Text="@LocalizationStrings.Resources.CreatioCreStudyText" />
    <RadzenLink Path="@LocalizationStrings.Resources.CreatioCreStudyDevPath" Text="@LocalizationStrings.Resources.CreatioCreStudyDevText"
                Style="margin-left: 20px" />
    <br />
    <RadzenLink Path="@LocalizationStrings.Resources.CreatioCreUpgradePath" Text="@LocalizationStrings.Resources.CreatioCreUpgradeText" />
    <RadzenLink Path="@LocalizationStrings.Resources.CreatioCreUpgradeDevPath" Text="@LocalizationStrings.Resources.CreatioCreUpgradeDevText"
                Style="margin-left: 0" />
    <br />
    <br />
    <RadzenLabel Text="@LocalizationStrings.Resources.CreatioRemoteTitle" />
    <br />
    <RadzenLink Path="@LocalizationStrings.Resources.CreatioTerrasoftPrePath" Text="@LocalizationStrings.Resources.CreatioTerrasoftPreText" />
    <RadzenLink Path="@LocalizationStrings.Resources.CreatioTerrasoftPreDevPath" Text="@LocalizationStrings.Resources.CreatioTerrasoftPreDevText"
                Style="margin-left: 9px" />
    <br />
    <RadzenLink Path="@LocalizationStrings.Resources.CreatioTerrasoftPre2Path" Text="@LocalizationStrings.Resources.CreatioTerrasoftPre2Text" />
    <RadzenLink Path="@LocalizationStrings.Resources.CreatioTerrasoftPre2DevPath" Text="@LocalizationStrings.Resources.CreatioTerrasoftPre2DevText"
                Style="margin-left: 0" />
    <br />
    <RadzenLink Path="@LocalizationStrings.Resources.CreatioTerrasoftPath" Text="@LocalizationStrings.Resources.CreatioTerrasoftText" />
    <RadzenLink Path="@LocalizationStrings.Resources.CreatioTerrasoftDevPath" Text="@LocalizationStrings.Resources.CreatioTerrasoftDevText"
                Style="margin-left: 40px" />
</body>
