@page "/iis"
@using BlazorCore.Utils

<h2>
    <RadzenLabel Text="@LocalizationStrings.Resources.IisServerTitle" />
</h2>

<body>
    <RadzenLink Path="@LocalizationStrings.Resources.IisServerBlazorDevicePath" Text="@LocalizationStrings.Resources.IisServerBlazorDeviceText" />
    <br />
    <RadzenLink Path="@LocalizationStrings.Resources.IisServerBlazorBackupPath" Text="@LocalizationStrings.Resources.IisServerBlazorBackupText" />
    <br />
    <RadzenLink Path="@LocalizationStrings.Resources.IisServerBlazorExamplePath" Text="@LocalizationStrings.Resources.IisServerBlazorExampleText" />
    <br />
    <RadzenLink Path="@LocalizationStrings.Resources.IisServerBlazorDao1Path" Text="@LocalizationStrings.Resources.IisServerBlazorDao1Text" />
    <br />
    <RadzenLink Path="@LocalizationStrings.Resources.IisServerBlazorDao2Path" Text="@LocalizationStrings.Resources.IisServerBlazorDao2Text" />
    <br />
    <RadzenLink Path="@LocalizationStrings.Resources.IisServerBlazorDbDocPath" Text="@LocalizationStrings.Resources.IisServerBlazorDbDocText" />
    <br />
    <RadzenLink Path="@LocalizationStrings.Resources.IisServerBlazorResourcesVsPath" Text="@LocalizationStrings.Resources.IisServerBlazorResourcesVsText" />
    <br />
    <RadzenLink Path="@LocalizationStrings.Resources.IisServerBlazorSmart1Path" Text="@LocalizationStrings.Resources.IisServerBlazorSmart1Text" />
    <br />
    <RadzenLink Path="@LocalizationStrings.Resources.IisServerBlazorSmart2Path" Text="@LocalizationStrings.Resources.IisServerBlazorSmart2Text" />
    <br />
</body>
