@page "/iis"
@using DataProjectsCore

<h2>
    <RadzenLabel Text="@LocalizationData.Resources.IisServerTitle" />
</h2>

<body>
    <RadzenLink Path="@LocalizationData.Resources.IisServerBlazorDevicePath" Text="@LocalizationData.Resources.IisServerBlazorDeviceText" />
    <br />
    <RadzenLink Path="@LocalizationData.Resources.IisServerBlazorBackupPath" Text="@LocalizationData.Resources.IisServerBlazorBackupText" />
    <br />
    <RadzenLink Path="@LocalizationData.Resources.IisServerBlazorExamplePath" Text="@LocalizationData.Resources.IisServerBlazorExampleText" />
    <br />
    <RadzenLink Path="@LocalizationData.Resources.IisServerBlazorDao1Path" Text="@LocalizationData.Resources.IisServerBlazorDao1Text" />
    <br />
    <RadzenLink Path="@LocalizationData.Resources.IisServerBlazorDao2Path" Text="@LocalizationData.Resources.IisServerBlazorDao2Text" />
    <br />
    <RadzenLink Path="@LocalizationData.Resources.IisServerBlazorDbDocPath" Text="@LocalizationData.Resources.IisServerBlazorDbDocText" />
    <br />
    <RadzenLink Path="@LocalizationData.Resources.IisServerBlazorResourcesVsPath" Text="@LocalizationData.Resources.IisServerBlazorResourcesVsText" />
    <br />
    <RadzenLink Path="@LocalizationData.Resources.IisServerBlazorSmart1Path" Text="@LocalizationData.Resources.IisServerBlazorSmart1Text" />
    <br />
    <RadzenLink Path="@LocalizationData.Resources.IisServerBlazorSmart2Path" Text="@LocalizationData.Resources.IisServerBlazorSmart2Text" />
    <br />
</body>
