@using DataCore.Localization
@using DataCore;
@using LocalizationCore = DataCore.Localization.Core

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">@LocalizationCore.Strings.Main.Company</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="contacts">
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.Resources.ContactsTitle
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sysadmin">
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.Resources.SysAdmin
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="redmine">
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.Resources.RedmineTitle
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="zabbix">
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.Resources.ZabbixTitle
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="creatio">
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.Resources.CreatioTitle
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="versioncontrol">
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.Resources.VersionControlTitle
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="iis">
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.Resources.IisServerTitle
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="support">
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationData.Resources.SupportTitle
            </NavLink>
        </li>
    </ul>
</div>
