<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">@LocaleCore.Strings.Company</a>
    <button class="navbar-toggle" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="contacts">
                <span class="oi oi-list" aria-hidden="true"></span> @LocaleData.Resources.ContactsTitle
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sysadmin">
                <span class="oi oi-list" aria-hidden="true"></span> @LocaleData.Resources.SysAdmin
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="redmine">
                <span class="oi oi-list" aria-hidden="true"></span> @LocaleData.Resources.RedmineTitle
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="zabbix">
                <span class="oi oi-list" aria-hidden="true"></span> @LocaleData.Resources.ZabbixTitle
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="creatio">
                <span class="oi oi-list" aria-hidden="true"></span> @LocaleData.Resources.CreatioTitle
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="versioncontrol">
                <span class="oi oi-list" aria-hidden="true"></span> @LocaleData.Resources.VersionControlTitle
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="iis">
                <span class="oi oi-list" aria-hidden="true"></span> @LocaleData.Resources.IisServerTitle
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="support">
                <span class="oi oi-list" aria-hidden="true"></span> @LocaleData.Resources.SupportTitle
            </NavLink>
        </li>
    </ul>
</div>
