@page "/support"
@using DataProjectsCore

<h2>
    <RadzenLabel Text="@LocalizationData.Resources.SupportTitle" />
</h2>

<body>
    <RadzenLink Path="@LocalizationData.Resources.SupportCreatio" Text="@LocalizationData.Resources.SupportLinkCreatioText" />
    <br />
    <RadzenLink Path="@LocalizationData.Resources.SupportLinkHelpPath" Text="@LocalizationData.Resources.SupportLinkHelpText" Icon="email" />
</body>
