@page "/support"

<h2>
    <RadzenLabel Text="@LocalizationStrings.Resources.SupportTitle" />
</h2>

<body>
    <RadzenLink Path="@LocalizationStrings.Resources.SupportCreatio" Text="@LocalizationStrings.Resources.SupportLinkCreatioText" />
    <br />
    <RadzenLink Path="@LocalizationStrings.Resources.SupportLinkHelpPath" Text="@LocalizationStrings.Resources.SupportLinkHelpText" Icon="email" />
</body>
