@page "/sysadmin"
@using BlazorCore.Utils

<h2>
    <RadzenLabel Text="@LocalizationStrings.Resources.SysAdmin" />
</h2>

<body>
<RadzenLink Icon="account_box" Path="@LocalizationStrings.Resources.ContactsPhoneText" Text="@LocalizationStrings.Resources.ContactsPhoneText" />
<br />
<RadzenLink Icon="account_box" Path="@LocalizationStrings.Resources.ContactsCreatioText" Text="@LocalizationStrings.Resources.ContactsCreatioText" />
</body>
