@page "/sysadmin"
@using DataCore

<h2>
    <RadzenLabel Text="@LocalizationData.Resources.SysAdmin" />
</h2>

<body>
<RadzenLink Icon="account_box" Path="@LocalizationData.Resources.ContactsPhoneText" Text="@LocalizationData.Resources.ContactsPhoneText" />
<br />
<RadzenLink Icon="account_box" Path="@LocalizationData.Resources.ContactsCreatioText" Text="@LocalizationData.Resources.ContactsCreatioText" />
</body>
