@page "/section/devices/new"
@page "/section/devices/{IdentityUidStr}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using WsStorageCore.TableScaleModels.Devices
@using WsDataCore.Utils
@using BlazorDeviceControl.Pages.ItemComponents
@using BlazorDeviceControl.Pages.CustomComponents
@inherits RazorComponentItemBase<WsStorageCore.TableScaleModels.Devices.DeviceModel>

<RazorItemReload TItem="@DeviceModel" Title="@LocaleCore.DeviceControl.ItemHost" />

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new List<int> { 15, 35, 15, 35 })"/>
  <tbody>
  <RazorItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@LocaleCore.Table.LoginDt</td>
    <td>@string.Format(StrUtils.FormatDtLong, SqlItemCast.LoginDt)</td>

    <td>@LocaleCore.Table.LogoutDt</td>
    <td>@string.Format(StrUtils.FormatDtLong, SqlItemCast.LogoutDt)</td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.Name</td>
    <td>
      <RzTextBoxLocal @bind-Value="@SqlItemCast.Name"/>
    </td>

    <td>@LocaleCore.Table.PrettyName</td>
    <td>
      <RzTextBoxLocal @bind-Value="@SqlItemCast.PrettyName"/>
    </td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.DeviceType</td>
    <td>
      <RzDropDownLocal @bind-Value="@DeviceType" Data="@ContextManager.ContextList.DeviceTypes" TextProperty="Name"/>
    </td>
    <td/>
    <td/>
  </tr>
  <RazorItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<RazorItemActions
  TItem="@DeviceModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"/>