@using DeviceControl.Source.Widgets.Section.DataGridActions
@using DeviceControl.Source.Widgets.Section
@using Blazor.Heroicons.Outline

@inherits SectionDataGridPageBase<UserWithProductionSite>
@attribute [Route($"{RouteUtils.SectionUsers}")]
@attribute [Authorize(Policy = PolicyEnum.SupportSenior)]
@rendermode InteractiveServer

<PageTitle>DeviceControl - @Localizer["SectionUsers"]</PageTitle>

<UseParameterlessEndpoint Endpoint="@UserApi.UsersEndpoint" Context="usersQuery">
  <PageHeader>
    <span>@Localizer["SectionUsers"]</span>
    <DataGridItemsCounter ItemsCount="@SectionItems.Count()" IsLoading="IsLoading"/>
    <DataGridActionReload OnClick="@UpdateData" IsLoading="IsLoading" />
    <DataGridActionCreate OnClick="@OpenSectionCreateForm" />
  </PageHeader>

  <DataGridWrapper>
    <DataGridContainer
      TItem="UserWithProductionSite"
      Items="@(usersQuery.HasData ? GetAllUsers(usersQuery.Data) : [])"
      OnItemSelect="@(item => OpenDataGridEntityModal(item))"
      IsFilterable
    >
      <ColumnsContent>
        <DataGridColumn
          Caption="@WsDataLocalizer["ColUser"]"
          Field="KeycloakUser.Username"
          Width="20%"
        />
        <DataGridColumn
          Caption="@WsDataLocalizer["ColFullName"]"
          Field="KeycloakUser.FirstName"
          Width="20%"
        />
        <DataGridColumn
          Caption="@WsDataLocalizer["ColSurname"]"
          Field="KeycloakUser.LastName"
          Width="20%"
        />
        <DataGridColumn
          Caption="@WsDataLocalizer["ColProductionSite"]"
          Field="ProductionSite.Name"
          Width="40%"
        />
      </ColumnsContent>
      <ContextMenuContent>
        <DataGridActionViewItem OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, item => OpenDataGridEntityModal(item)))" />
      </ContextMenuContent>
    </DataGridContainer>
  </DataGridWrapper>
</UseParameterlessEndpoint>

