@using Blazor.Heroicons.Outline
@using Ws.Domain.Models.Entities.Ref1c.Plu

@if (Plu.IsNew)
{
  <div class="size-full flex items-center border justify-center bg-secondary/[.6] rounded-md overflow-hidden p-4">
    <div class="flex flex-col text-center">
      <h3 class="font-medium xl:text-lg">Нет данных</h3>
      <h4 class="text-muted-foreground text-sm xl:text-base">
        Выберите ПЛУ, чтобы просмотреть информацию
      </h4>
    </div>
  </div>
}
else
{
  <div class="grid w-full overflow-hidden border rounded-md bg-secondary/[.6] px-4 py-4 grid-cols-[auto_1fr] gap-y-2 gap-x-4 xl:text-xl">
    <div class="flex items-center text-muted-foreground">
      <MagnifyingGlassIcon class="size-4 mr-1" />
      <h3>@WsDataLocalizer["ColNumber"]</h3>
    </div>
    <span class="line-clamp-2">@Plu.Number</span>

    <div class="flex text-muted-foreground">
      <DocumentTextIcon class="size-4 mr-1 mt-1.5" />
      <h3>@WsDataLocalizer["ColName"]</h3>
    </div>
    <span class="line-clamp-2 xl:line-clamp-3">@Plu.FullName.Replace("|", "")</span>

    <div class="flex text-muted-foreground">
      <ArchiveBoxIcon class="size-4 mr-1 mt-1.5" />
      <h3>@WsDataLocalizer["ColBox"]</h3>
    </div>
    <span class="line-clamp-2">@Plu.PluNesting.Box.Name</span>

    <div class="flex items-center text-muted-foreground">
      <ShoppingBagIcon class="size-4 mr-1" />
      <h3>@WsDataLocalizer["ColBundle"]</h3>
    </div>
    <span class="line-clamp-2">@Plu.Bundle.Name</span>

    <div class="flex items-center text-muted-foreground">
      <InboxStackIcon class="size-4 mr-1" />
      <h3>@WsDataLocalizer["ColCount"]</h3>
    </div>
    <span class="line-clamp-2">@Plu.PluNesting.BundleCount шт</span>
  </div>
}


@code {
  [Inject] private IStringLocalizer<WsDataResources> WsDataLocalizer { get; set; } = default!;

  [Parameter] public Plu Plu { get; set; } = default!;
}