@page "/section/plus_storage/new"
@page "/section/plus_storage/{IdentityUid:guid}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using WsStorageCore.TableScaleModels.Organizations
@using DeviceControl.Components.Item
@using DeviceControl.Components.Rz
@inherits ItemBase<WsStorageCore.TableScaleModels.PlusStorageMethods.WsSqlPluStorageMethodModel>


<ItemTopBar TItem="WsSqlOrganizationModel" Title="@LocaleCore.DeviceControl.ItemPlusStorage" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@LocaleCore.Table.Name</td>
    <td colspan="3">
      <RadzenTextBox Style="width: 100%; " @bind-Value="@SqlItemCast.Name"/>
    </td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.TempMinimal</td>
    <td>
      <RzNumeric Min="-100" @bind-Value="@SqlItemCast.MinTemp"/>
    </td>
    <td>@LocaleCore.Table.TempMaximal</td>
    <td>
      <RzNumeric Min="-100" @bind-Value="@SqlItemCast.MaxTemp"/>
    </td>
  </tr>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  TItem="@WsSqlOrganizationModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"/>