@page "/section/plus_storage/new"
@page "/section/plus_storage/{Uid:guid}"
@attribute [Authorize(Roles = WsUserAccessStr.Read)]
@using DeviceControl.Components.Item
@using DeviceControl.Components.Rz
@using DeviceControl.Utils
@using WsStorageCore.Tables.TableScaleModels.Organizations
@inherits ItemBase<WsStorageCore.Tables.TableScaleModels.PlusStorageMethods.WsSqlPluStorageMethodModel>


<ItemTopBar TItem="WsSqlOrganizationModel" Title="@WsLocaleCore.DeviceControl.ItemPlusStorage" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead HeadWidth="@(new List<int> { 20, 30, 20, 30 })" />
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@WsLocaleCore.Table.Name</td>
    <td colspan="3">
      <RadzenTextBox Style="width: 100%; " @bind-Value="@SqlItemCast.Name"/>
    </td>
  </tr>
  <tr>
    <td>@WsLocaleCore.Table.TempMinimal</td>
    <td>
      <RzNumeric Min="-100" @bind-Value="@SqlItemCast.MinTemp"/>
    </td>
    <td>@WsLocaleCore.Table.TempMaximal</td>
    <td>
      <RzNumeric Min="-100" @bind-Value="@SqlItemCast.MaxTemp"/>
    </td>
  </tr>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>