@page "/system/appinfo"
@attribute [Authorize(Roles = UserAccessStr.Admin)]
@using DeviceControl.Pages.ItemComponents
@inherits RazorComponentBase

<MudElement HtmlTag="h3" Class="ma-0">@LocaleCore.System.SystemInfo</MudElement>
<MudSimpleTable Style="overflow-x: auto; " Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyleInfo()"/>
  <tbody>
  <tr>
    <td>DeviceControl / WsBlazorCore/ WsStorageCore</td>
    <td colspan="2">@($"v{VerApp} / v{VerLibBlazorCore} / v{VerLibDataCore}")</td>
  </tr>
  <tr>
    <td>@LocaleCore.Strings.HostName</td>
    <td colspan="2">@Environment.MachineName</td>
  </tr>
  <tr>
    <td>@LocaleCore.Sql.SqlServer</td>
    <td colspan="2">@ContextManager.JsonSettings.Local.Sql.DataSource</td>
  </tr>
  <tr>
    <td>@LocaleCore.Sql.SqlDb</td>
    <td colspan="2">@ContextManager.JsonSettings.Local.Sql.InitialCatalog</td>
  </tr>
  <tr>
    <td>
      @if (ContextManager.JsonSettings.Local.Sql.PersistSecurityInfo)
      {
        @LocaleCore.System.SystemWindowsUser
      }
      else
      {
        @LocaleCore.Sql.SqlUser
      }
    </td>
    <td colspan="2">@ContextManager.JsonSettings.Local.Sql.UserId</td>
  </tr>
  <tr style="height: 200px; ">
    <td>@LocaleCore.Strings.DbAndMemoryGauge</td>
    <td>
      <div align="center">
        <h4>Windows</h4>
      </div>
      <div align="center">
        <RadzenRadialGauge>
          <RadzenRadialGaugeScale StartAngle="-150" EndAngle="150" Step="1000" Min="0" Max="@TotalRamSize"
                                  TickPosition="@GaugeTickPosition.Inside">
            <RadzenRadialGaugeScalePointer Value="@CurrentRamSize" Length="0.6" ShowValue="true">
              <Template Context="pointer">
                <h4>
                  @pointer.Value <sup>MB</sup>
                </h4>
              </Template>
            </RadzenRadialGaugeScalePointer>
            <RadzenRadialGaugeScaleRange From="0" To="@(TotalRamSize * 0.75)" Fill="green"/>
            <RadzenRadialGaugeScaleRange From="@(TotalRamSize * 0.75)" To="@(TotalRamSize * 0.9)" Fill="orange"/>
            <RadzenRadialGaugeScaleRange From="@(TotalRamSize * 0.9)" To="@TotalRamSize" Fill="red"/>
          </RadzenRadialGaugeScale>
        </RadzenRadialGauge>
      </div>
    </td>
    <td>
      <div align="center">
        <h4>Sql</h4>
      </div>
    </td>
  </tr>
  @foreach (WsSqlDbFileSizeInfoModel size in ContextManager.GetDbFileSizeInfos())
  {
    <tr>
      <td>@size.FileName</td>
      <td>@size.DisplayName</td>
      <td>
        <RadzenProgressBar Style="color: black; font-weight: bold" Value="@size.DbFillSize" ShowValue="true"/>
      </td>
    </tr>
  }
  @* <tr> *@
  @*   <td>@LocaleCore.Strings.DbAndMemory</td> *@
  @*   <td>@DbCurSizeAsString</td> *@
  @*   <td>@BlazorAppSettings.MemoryInfo</td> *@
  @* </tr> *@
  @* <tr> *@
  @*   <td>@LocaleCore.Settings.SectionAndItemRowsCount</td> *@
  @*   <td>@DataAccess.JsonSettings.Local.SectionRowsCount</td> *@
  @*   <td>@DataAccess.JsonSettings.Local.ItemRowsCount</td> *@
  @* </tr> *@
  @* <tr> *@
  @*   <td>@LocaleCore.Settings.SelectTopRowsCount</td> *@
  @*   <td colspan="2">@DataAccess.JsonSettings.Local.SelectTopRowsCount</td> *@
  @* </tr> *@
  @* <tr> *@
  @*   <td>@LocaleCore.Settings.Version</td> *@
  @*   <td colspan="2">@DataAccess.JsonSettings.Local.Version</td> *@
  @* </tr> *@
  @* <tr> *@
  @*   <td>@LocaleCore.Settings.AllowedHosts</td> *@
  @*   <td colspan="2">@DataAccess.JsonSettings.Local.AllowedHosts</td> *@
  @* </tr> *@
  </tbody>
</MudSimpleTable>