@page "/section/lines/new"
@page "/section/lines/{Id:long}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using DeviceControl.Components.Item
@using DeviceControl.Components.Nested.PlusLines
@using DeviceControl.Components.Rz
@inherits ItemBase<SqlScaleEntity>

<ItemTopBar TItem="@SqlScaleEntity" Title="@LocaleCore.DeviceControl.ItemScale" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead HeadWidth="@(new List<int> { 20, 30, 20, 30 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@LocaleCore.Table.Name</td>
    <td>
      <RzTextBox @bind-Value="@SqlItemCast.Description"/>
    </td>
    <td>@LocaleCore.Table.DeviceComPort</td>
    <td>
      <RzDropDown @bind-Value="@SqlItemCast.DeviceComPort" Data="@ComPorts"/>
    </td>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@Services.RouteService.GetItemRoute(SqlItemCast.Host)" Text="@LocaleCore.Table.Host"/>
    </td>
    <td>
      <RzDropDown @bind-Value="@SqlItemCast.Host" Data="@HostModels" TextProperty="DisplayName"/>
    </td>
    <td>
      <RadzenLink Path="@Services.RouteService.GetItemRoute(SqlItemCast.Printer)" Text="@LocaleCore.Print.NameMain"/>
    </td>
    <td>
      <RzDropDownNullable @bind-Value="@SqlItemCast.Printer" Data="@PrinterModels" TextProperty="DisplayName" />
    </td>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@Services.RouteService.GetItemRoute(SqlItemCast.WorkShop)" Text="@LocaleCore.Table.WorkShopName"/>
    </td>
    <td>
      <RzDropDownNullable @bind-Value="@SqlItemCast.WorkShop" Data="@WorkShopModels" TextProperty="DisplayName" />
    </td>
    <td>@LocaleCore.Table.Counter</td>
    <td>
      <RzNumeric Min="0" Max="999999" @bind-Value="@SqlItemCast.LabelCounter"/>
    </td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.DeviceNumber</td>
    <td>
      <RzNumeric Min="1" Max="99999" @bind-Value="@SqlItemCast.Number"/>
    </td>
    <td>@LocaleCore.Table.DownloadUrl</td>
    <td>@SqlItemCast.ClickOnce</td>
  </tr>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>

@if (SqlItemCast.IsExists)
{
  <PlusLines Scale="@SqlItemCast"/>
}

