@using DataCore.Sql.TableScaleModels.Contragents
@inherits RazorComponentItemBase<DataCore.Sql.TableScaleModels.Contragents.ContragentModel>
@page "/item/contragent"
@page "/item/contragent/new"
@page "/item/contragent/{IdentityUidStr}"

<RazorItemReload TItem="@ContragentModel" ParentRazor="@(this)" Title="@LocaleCore.DeviceControl.ItemContragent"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead ParentRazor="@(this)" CssTableStyleHead="@RazorComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 })"/>
  <tbody>
  <RazorItemTableBody TItem="@ContragentModel" ParentRazor="@(this)"/>
  <tr>
    <td>@LocaleCore.Table.Name</td>
    <td colspan="3">
      <RadzenTextBox Style="width: 100%; " @bind-Value="@SqlItemCast.Name"/>
    </td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.FullName</td>
    <td colspan="3">
      <RadzenTextBox Style="width: 100%; " @bind-Value="@SqlItemCast.FullName"/>
    </td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.IdRRef</td>
    <td>
      <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray; "
                     ReadOnly="true" @bind-Value="@SqlItemCast.IdRRefAsString"/>
    </td>
    <td>@LocaleCore.Table.IdDwh</td>
    <td>
      <RadzenNumeric Style="width: 100%; text-align: center; background-color: lightgray; "
                     ReadOnly="true" TValue="int" @bind-Value="@SqlItemCast.DwhId"/>
    </td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.Xml</td>
    <td colspan="3">
      <RadzenTextArea
        Style="width: 100%; text-align: left; font-size: 12px; line-height: 18px; background-color: lightgray; "
        Rows="6" ReadOnly="true"
        @bind-Value="@(SqlItemCast.Xml)"/>
    </td>
  </tr>
  </tbody>
</MudSimpleTable>

<RazorItemDates SqlItem="@SqlItem"/>
<RazorItemActions TItem="@ContragentModel" ButtonSettings="@ButtonSettings" ParentRazor="@(this)"/>

