@inherits ComponentBase

<div class="kneading-display">
  <div class="kneading-display__label">@Localizer["KneadingDisplayWeightLabel"]</div>
  <div class="kneading-display__value">100 kg</div>
  <div class="kneading-display__label">@Localizer["KneadingDisplayDateLabel"]</div>
  <div class="kneading-display__value">@Kneading.ProductDate</div>
  <div class="kneading-display__label">@Localizer["KneadingDisplayKneadingLabel"]</div>
  <div class="kneading-display__value">@Kneading.Kneading</div>
</div>
