<div class="flex items-center w-full h-full overflow-hidden px-3 py-4">
  <div class="flex flex-col overflow-hidden w-full h-[30rem] border border-black/[.1] rounded-xl bg-white shadow-lg">
    <div class="flex overflow-hidden shrink-0 w-full justify-center h-20 flex-col px-6 border-b border-b-black/[.1]">
      <p class="text-2xl truncate">
        @LineContext.Line.WorkShop.Name
      </p>
      <p class="truncate font-light">
        @LineContext.Host.DisplayName | @LineContext.Line.Printer.DisplayName
      </p>
    </div>
    <ul class="flex flex-col w-full h-full pt-1 pb-4 px-5 overflow-hidden justify-around">
      <li>
        <PluConfigDisplayItem
          Label="Линия"
          OnClickAction="ShowLineSelectDialog"
          Value="@(LineContext.Line.IsNew ? "Линия не выбрана" : LineContext.Line.DisplayName)"
        />
      </li>
      <li>
        <PluConfigDisplayItem
          Label="ПЛУ"
          IsDisabled="@LineContext.Line.IsNew"
          OnClickAction="ShowPluSelectDialog"
          Value="@(LineContext.Plu.IsNew ? "ПЛУ не выбрана" : LineContext.Plu.DisplayName)"
        />
      </li>
      <li>
        <PluConfigDisplayItem
          Label="Вложенность"
          IsDisabled="@(LineContext.Plu.IsNew || LineContext.Plu.IsCheckWeight)"
          OnClickAction="ShowPluNestingSelectDialog"
          Value="@(LineContext.PluNesting.IsNew ? "Вложенность не выбрана" : LineContext.PluNesting.DisplayName)"
        />
      </li>
    </ul>
  </div>
</div>
