<div class="plu-config__wrapper">
  <div class="plu-config__container">
    <div class="plu-config__header">
      <p class="plu-config__header-title">
        @LineContext.Line.WorkShop.Name
      </p>
      <p class="plu-config__header-subtitle">
        @LineContext.Host.DisplayName
      </p>
    </div>
    <ul class="plu-config__list">
      <li class="plu-config__item">
        <label class="plu-config__item-label">
          Линия
        </label>
        <button
          type="button"
          class="plu-config__item-button"
          @onclick="ShowLineSelectDialog"
        >
          @(LineContext.Line.IsNew ? "Линия не выбрана" : LineContext.Line.DisplayName )
        </button>
      </li>
      <li class="plu-config__item">
        <label class="plu-config__item-label">
          ПЛУ
        </label>
        <button
          type="button"
          class="plu-config__item-button"
          @onclick="ShowPluSelectDialog">
          @(LineContext.Plu.IsNew ? "ПЛУ не выбрана" : LineContext.Plu.DisplayName)
        </button>
      </li>
      <li class="plu-config__item">
        <label class="plu-config__item-label">
          Вложеность
        </label>
        <button
          type="button"
          class="plu-config__item-button"
          disabled="@(LineContext.Plu.IsNew || LineContext.Plu.IsCheckWeight)"
          @onclick="ShowPluNestingSelectDialog"
        >
          @(LineContext.PluNesting.IsNew ? "Вложенность не выбрана" : LineContext.PluNesting.DisplayName)
        </button>
      </li>
    </ul>
  </div>
</div>
