@page "/section/scales_screenshots/new"
@page "/section/scales_screenshots/{IdentityUidStr}"
@attribute [Authorize(Roles = UserAccessStr.Admin)]
@using BlazorDeviceControl.Pages.ItemComponents
@inherits RazorComponentItemBase<ScaleScreenShotModel>

<RazorItemReload TItem="@ScaleScreenShotModel" Title="@LocaleCore.DeviceControl.ItemScreenShot"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 15, 35, 15, 35 })"/>
  <tbody>
  <RazorItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td><RadzenLink Path="@GetRouteItemPath(SqlItemCast.Scale)" Text="@LocaleCore.Table.Line"/></td>
    <td>@SqlItemCast.Scale.Description</td>
    <td>@LocaleCore.Table.ScreenShot</td>
    <td>@(DataUtils.GetBytesLength(SqlItemCast.ScreenShot, false))</td>
  </tr>
    @if (!string.IsNullOrEmpty(ImagePath))
    {
      <tr>
        <td colspan="4">
          <RadzenImage
            Style="width: 100%; height: 100%;"
            Path=@ImagePath />
        </td>
      </tr>
    }
  <RazorItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<RazorItemActions
  TItem="@ScaleScreenShotModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"
  />
