@using Ws.Components.Source.UI.Select
@using Blazor.Heroicons.Outline

<div
  id="@Parent.HtmlId"
  class="@Css.Class("flex w-full rounded-md h-10 border bg-background disabled:cursor-not-allowed disabled:opacity-50", Class)"
  role="combobox"
  aria-haspopup="listbox"
  aria-expanded="@Parent.IsDropdownOpened.ToString()"
>
  <input disabled="@Disabled" @bind-value="Parent.Value" class="bg-inherit focus:outline-none pl-3 w-full text-sm" />
  <button type="button" disabled="@Disabled" @onclick="@Parent.ToggleDropdown" class="pr-3 pl-2">
    <ChevronDownIcon class="@Css.Class("transition-transform text-muted-foreground size-4", Parent.IsDropdownOpened ? "rotate-180" : "rotate-0")"/>
  </button>
</div>

@code {
  [CascadingParameter] public SelectBase<string, string> Parent { get; set; } = default!;

  [Parameter] public string Class { get; set; } = string.Empty;
  [Parameter] public bool Disabled { get; set; }
}
