@inherits RazorComponentBase

<div class="@SidebarCss">
  <div class="top-row pl-4 navbar">
    <a class="navbar-brand" href="">
      <RadzenLabel Style="margin-top: -7px; text-align: center; font-size: 14px; color: white"
                   Text="@WsLocaleCore.Strings.AppDevicesControlName"/>
    </a>
  </div>

  <RadzenPanelMenu class="@ItemMenuCss">
    <AuthorizeView Roles="@UserAccessStr.Read">
      @* Devices *@
      <RadzenPanelMenuItem Text="@LocaleBlazor.SectionDevices">
        <RadzenPanelMenuItem Text="@LocaleBlazor.SectionScales" Path="@LocaleBlazor.RouteSectionScales"/>
        <RadzenPanelMenuItem Text="@LocaleBlazor.SectionHosts" Path="@LocaleBlazor.RouteSectionDevices"/>
        <RadzenPanelMenuItem Text="@WsLocaleCore.Print.Names" Path="@LocaleBlazor.RouteSectionPrinters"/>
      </RadzenPanelMenuItem>
      @* Operations *@
      <RadzenPanelMenuItem Text="@LocaleBlazor.SectionOperations">
        <RadzenPanelMenuItem Text="@LocaleBlazor.SectionLabels" Path="@LocaleBlazor.RouteSectionPlusLabels"/>
        <RadzenPanelMenuItem Text="@LocaleBlazor.SectionBarCodes" Path="@LocaleBlazor.RouteSectionBarCodes"/>
        <RadzenPanelMenuItem Text="@LocaleBlazor.SectionWeighings" Path="@LocaleBlazor.RouteSectionPlusWeighings"/>
        <RadzenPanelMenuItem Text="@LocaleBlazor.SectionWeithingFactsAggregationShort"
                             Path="@LocaleBlazor.RouteSectionPlusWeighingsAggregation"/>
      </RadzenPanelMenuItem>
      @* References *@
      <RadzenPanelMenuItem Text="@LocaleBlazor.SectionReferences">
        <RadzenPanelMenuItem Text="@LocaleBlazor.SectionOrganizations" Path="@LocaleBlazor.RouteSectionOrganizations"/>
        <RadzenPanelMenuItem Text="@LocaleBlazor.SectionWorkShops" Path="@LocaleBlazor.RouteSectionWorkShops"/>
        <RadzenPanelMenuItem Text="@LocaleBlazor.SectionProductionFacilitiesShort" Path="@LocaleBlazor.RouteSectionProductionFacilities"/>
        <RadzenPanelMenuItem Text="@WsLocaleCore.Print.Types" Path="@LocaleBlazor.RouteSectionPrinterTypes"/>
        <RadzenPanelMenuItem Text="@LocaleBlazor.SectionTemplates" Path="@LocaleBlazor.RouteSectionTemplates"/>
        <RadzenPanelMenuItem Text="@LocaleBlazor.SectionTemplateResources" Path="@LocaleBlazor.RouteSectionTemplateResources"/>
        <RadzenPanelMenuItem Text="@LocaleBlazor.SectionPlusStorage" Path="@LocaleBlazor.RouteSectionPlusStorage"/>
      </RadzenPanelMenuItem>
      @* References 1C *@
      <RadzenPanelMenuItem Text="@LocaleBlazor.SectionReferences1C">
        <RadzenPanelMenuItem Text="@LocaleBlazor.SectionNomenclatures" Path="@LocaleBlazor.RouteSectionPlus"/>
        <RadzenPanelMenuItem Text="@LocaleBlazor.SectionNomenclaturesGroups" Path="@LocaleBlazor.RouteSectionNomenclaturesGroups"/>
        <RadzenPanelMenuItem Text="@LocaleBlazor.SectionBoxes" Path="@LocaleBlazor.RouteSectionBoxes"/>
        <RadzenPanelMenuItem Text="@LocaleBlazor.SectionBundles" Path="@LocaleBlazor.RouteSectionBundles"/>
        <RadzenPanelMenuItem Text="@LocaleBlazor.SectionPlusBundlesFk" Path="@LocaleBlazor.RouteSectionPlusBundlesFks"/>
        <RadzenPanelMenuItem Text="@LocaleBlazor.SectionBrands" Path="@LocaleBlazor.RouteSectionBrands"/>
        <RadzenPanelMenuItem Text="@LocaleBlazor.SectionContragents" Path="@LocaleBlazor.RouteSectionContragents"/>
      </RadzenPanelMenuItem>
      @* Reports *@
      <RadzenPanelMenuItem Text="@WsLocaleCore.Menu.MenuReports">
        <RadzenPanelMenuItem Icon="article" Text="@WsLocaleCore.System.SystemLogsAll" Path="@LocaleBlazor.RouteSectionLogs"/>
        <RadzenPanelMenuItem Icon="article" Text="@WsLocaleCore.WebService.Name" Path="@LocaleBlazor.RouteSectionLogsWebService"/>
        <RadzenPanelMenuItem Text="@LocaleBlazor.SectionScreenShots" Path="@LocaleBlazor.RouteSectionScalesScreenShots"/>
      </RadzenPanelMenuItem>
    </AuthorizeView>
    <AuthorizeView Roles="@UserAccessStr.Admin">
      <RadzenPanelMenuItem Text="@LocaleBlazor.SectionAdministering">
        <RadzenPanelMenuItem Icon="people" Text="@WsLocaleCore.System.Users" Path="@LocaleBlazor.RouteSectionAccess"/>
        <RadzenPanelMenuItem Icon="info" Text="@WsLocaleCore.Menu.MenuDbVersionHistory" Path="@LocaleBlazor.RouteSectionVersions"/>
        <RadzenPanelMenuItem Icon="info" Text="@WsLocaleCore.System.SystemInfo" Path="@LocaleBlazor.RouteSystemAppInfo"/>
      </RadzenPanelMenuItem>
    </AuthorizeView>
  </RadzenPanelMenu>
</div>