@inherits LayoutComponentBase

<tr>
  <td>
    <b>@IdentityName</b>
  </td>
  <td>@IdentityNameId</td>
  <td>@LocaleCore.Table.IsMarked</td>
  <td>
    <RadzenCheckBox TValue="bool" @bind-Value="@SqlItem.IsMarked"/>
  </td>
</tr>

@if (IsSqlItem1C)
{
  <tr>
    <td>
      <b>@LocaleCore.Table.Uid1c</b>
    </td>
    <td>@Guid1C</td>
    <td/>
    <td/>
  </tr>
}