@page "/section/access/new"
@page "/section/access/{Uid:guid}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using DeviceControl.Components.Item
@using DeviceControl.Components.Rz
@using Ws.Shared.TypeUtils
@inherits ItemBase<SqlAccessEntity>

<ItemTopBar TItem="@SqlAccessEntity" Title="@Locale.AccessRights" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead HeadWidth="@(new List<int> { 20, 30, 20, 30 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@Locale.User</td>
    <td><RzTextBox @bind-Value="@SqlItemCast.Name"/></td>
    <td>@Locale.AccessRights</td>
    <td>
      <RzDropDown @bind-Value="@Rights" Data="@TemplateAccessRights"/>
    </td>
  </tr>
  <tr>
    <td>@Locale.LoginDt</td>
    <td>@string.Format(StrUtils.FormatDtLong, SqlItemCast.LoginDt)</td>
    <td/>
    <td/>
  </tr>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>
