@using Blazor.Heroicons
@using Blazor.Heroicons.Outline
@using Microsoft.Extensions.Localization
@using ScalesDesktop.Source.Shared.Localization

<div class="rounded-md max-w-2xl max-h-full overflow-y-auto border shadow-sm bg-white p-6 w-full">
  <div class="flex flex-col space-y-1.5">
    <h3 class="font-semibold leading-none tracking-tight">
      @Localizer["FuncCardHeader"]
    </h3>
    <p class="text-sm text-neutral-500">
      @Localizer["FuncCardDescription"]
    </p>
  </div>
  <div class="grid">
    <FunctionalityDescriptionItem IconName="@HeroiconName.Plus">
      <CardTitle>
        @Localizer["FuncCardCreationTitle"]
      </CardTitle>
      <CardDescription>
        @Localizer["FuncCardCreationDescription"]
        <span class="p-1 rounded-md bg-neutral-900 inline-flex border text-white">
          <PlusIcon class="size-3"/>
        </span>
      </CardDescription>
    </FunctionalityDescriptionItem>
    <FunctionalityDescriptionItem IconName="@HeroiconName.Eye">
      <CardTitle>
        @Localizer["FuncCardViewingTitle"]
      </CardTitle>
      <CardDescription>
        @Localizer["FuncCardViewingDescription"]
      </CardDescription>
    </FunctionalityDescriptionItem>
    <FunctionalityDescriptionItem IconName="@HeroiconName.Printer">
      <CardTitle>
        @Localizer["FuncCardPCPrintingTitle"]
      </CardTitle>
      <CardDescription>
        @Localizer["FuncCardPCPrintingDescription"]
        <span class="p-1 rounded-md bg-neutral-900 border inline-flex text-xs text-neutral-200">
          @Localizer["BtnPrintPC"]
        </span>
      </CardDescription>
    </FunctionalityDescriptionItem>
    <FunctionalityDescriptionItem IconName="@HeroiconName.Tag">
      <CardTitle>
        @Localizer["FuncCardLabelPrintingTitle"]
      </CardTitle>
      <CardDescription>
        @Localizer["FuncCardLabelPrintingDescription"]
        <span class="p-1 rounded-md bg-neutral-900 border inline-flex text-xs text-neutral-200">
          @Localizer["BtnSelectedLabelsPrinting"]
        </span>
      </CardDescription>
    </FunctionalityDescriptionItem>
  </div>
</div>

@code {

  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;

}