@using Blazor.Heroicons.Outline
<div class="h-full w-full overflow-hidden flex flex-col">
  <div class="h-12 border-b border-b-black/[.1] flex items-center px-8 shrink-0">
    <span class="text-lg">Выбор паллеты</span>
  </div>
  <div class="h-full w-full grow flex flex-col overflow-hidden">
    @if (!PalletContext.PalletEntities.Any())
    {
      <div class="h-full w-full flex items-center justify-center">
        <p>Информация о паллетах отсутствует</p>
      </div>
    }
    else
    {
      <div class="h-10 w-full px-7 flex gap-1.5 items-center shrink-0 border-b">
        <MagnifyingGlassIcon class="h-5 w-5 pb-[2px] text-gray-500" />
        <input
          type="text"
          class="h-full w-full border-none focus:outline-none focus:ring-0"
          placeholder="Поиск по номеру..."
        />
      </div>
      <ul class="w-full grow divide-y overflow-x-hidden overflow-y-auto">
        @{
          int index = 0;
          @foreach (PalletModel item in PalletContext.PalletEntities.Take(100))
          {
            index += 1;
            <li>
              <button
                type="button"
                disabled="@PalletContext.Pallet.Equals(item)"
                @onclick="@(() => PalletContext.ChangePallet(item))"
                class="w-full h-18 py-2 gap-2 px-4 items-center flex transition-colors
                        @(PalletContext.Pallet.Equals(item) ? "bg-neutral-200 hover:bg-neutral-300" : "hover:bg-neutral-100")"
              >
                <div class="h-full shrink-0 w-10 items-center justify-center">
                  <span class="text-lg">@index</span>
                </div>
                <div class="w-full h-full overflow-hidden grow flex flex-col">
                  <span class="truncate text-lg text-left">Паллета №@item.Number</span>
                  <div class="flex w-full overflow-hidden">
                    <span class="w-1/2 truncate text-sm text-left">Кол-во: @item.Labels.Count()</span>
                    <span class="w-1/2 truncate text-sm text-right">Дата: @item.CreateDt.ToString("dd-MM-yyyy")</span>
                  </div>
                </div>
              </button>
            </li>
          }
        }
      </ul>
    }
  </div>
</div>