@using Blazor.Heroicons.Outline


<div class="w-full h-full overflow-hidden">
  @if (PalletContext.Pallet.Uid == Guid.Empty)
  {
    <div class="flex w-full h-full items-center justify-center">
      <p class="text-xl">Выберите паллету</p>
    </div>
  }
  else
  {
    <div class="w-full h-full overflow-hidden flex flex-col">
      <div class="w-full px-4 shrink-0 border-b items-center flex justify-between h-14">
        <div class="w-48 overflow-hidden">
          <button
            type="button"
            @onclick="CloseCurrentPallet"
            class="px-5 py-2 flex gap-2 items-center transition-colors justify-center border border-black/[.1] rounded-md
                      overflow-hidden hover:bg-gray-100"
          >
            <ArrowLeftIcon class="h-4 w-4"/>
            <p class="text-lg pt-[2px] text-black font-medium">
              @Localizer["ButtonBack"]
            </p>
          </button>
        </div>
        <div class="h-full w-full flex items-center justify-center grow overflow-hidden">
          <div class="px-5 py-2 rounded-md overflow-hidden bg-gray-100 hover:bg-gray-200">
            <p class="text-xl pt-[1px] truncate">Палета №@PalletContext.Pallet.Number</p>
          </div>
        </div>
        <div class="w-48"></div>
      </div>
      <div class="w-full grow shrink-0">
        <LabelsDataGrid
          @bind-SelectedItems="@SelectedLabels"
          @bind-SelectedItems:after="StateHasChanged"
        />
      </div>
      <div class="h-20 w- border-t shrink-0 flex items-center justify-center px-8">
        <button
          type="button"
          disabled="@(SelectedLabels.Count < 1)"
          class="h-16 px-8 rounded-xl transition-colors flex flex-col items-center justify-center border
                   border-black/[.1] bg-gray-100 hover:bg-blue-100 disabled:bg-gray-200"
        >
          <p class="text-xl">Печать этикеток</p>
          <p>Выбрано @SelectedLabels.Count из @PalletContext.PalletEntities.Count()</p>
        </button>
      </div>
    </div>
  }
</div>