@using Blazor.Heroicons.Outline


<div class="h-full w-full overflow-hidden flex flex-col">
  <div class="h-full w-full grow flex flex-col overflow-hidden">
    @if (!PalletContext.PalletEntities.Any())
    {
      <div class="h-full w-full flex items-center justify-center">
        <p>Информация о паллетах отсутствует</p>
      </div>
    }
    else
    {
      <div class="py-3 flex gap-2 w-full px-4 flex items-center shrink-0">
        <div class="border px-2 gap-1 flex shadow-sm items-center rounded-md overflow-hidden w-full h-9">
          <MagnifyingGlassIcon class="h-5 w-5 pb-[2px] text-gray-500"/>
          <input
            type="text"
            class="h-full w-full border-none text-sm pl-1 focus:outline-none focus:ring-0"
            placeholder="Поиск по номеру..."
          />
        </div>
        <SharedButton Variant="ButtonVariant.Outline" Size="ButtonSize.Icon">
          <FunnelIcon class="h-5 w-5 mx-2" />
        </SharedButton>
      </div>
      <ul class="w-full space-y-2 grow p-4 pr-0.5 pt-0 overflow-y-auto">
        @foreach (PalletModel item in PalletContext.PalletEntities.Take(100))
        {
          <li>
            <button
              type="button"
              disabled="@PalletContext.Pallet.Equals(item)"
              @onclick="@(() => PalletContext.ChangePallet(item))"
              class="w-full h-18 pb-2.5 pt-2 gap-2 px-4 items-center flex shadow-sm transition-colors rounded-md border hover:bg-neutral-100
                      @(PalletContext.Pallet.Equals(item) ? "bg-neutral-100" : "")"
            >
              <div class="w-full h-full overflow-hidden grow flex flex-col">
                <div class="flex w-full items-center gap-2 justify-between">
                  <span class="truncate font-medium">
                    Паллета №@item.Number
                  </span>
                  <span class="text-sm text-neutral-700">
                    @item.CreateDt.ToString("dd-MM-yyyy")
                  </span>
                </div>
                <div class="flex w-full items-center justify-between gap-2 overflow-hidden">
                  <span class="truncate text-sm text-neutral-700">
                    ПЛУ: 102 | Азу из говядины
                  </span>
                  <div class="flex bg-neutral-200 px-2 py-0.5 rounded-xl items-center">
                    <CalculatorIcon class="h-3 w-3 mr-1"/>
                    <span class="text-xs pt-[1px]">@item.Labels.Count()</span>
                  </div>
                </div>
              </div>
            </button>
          </li>
        }
      </ul>
    }
  </div>
</div>