@using DeviceControl.Source.Shared.Services
@using Ws.DeviceControl.Models
@using Ws.DeviceControl.Models.Dto.Shared
@using Blazor.Heroicons.Outline

@inherits SectionPageBase<PackageDto>
@attribute [Route(RouteUtils.SectionBoxes)]
@rendermode InteractiveServer

<PageTitle>DeviceControl - @Localizer["SectionBoxes"]</PageTitle>

<UseParameterlessEndpoint Endpoint="@References1CEndpoints.BoxesEndpoint" Options="@(DefaultEndpointOptions)" Context="boxesQuery">
  <PageHeader>
    <span>@Localizer["SectionBoxes"]</span>
    <DataGridItemsCounter ItemsCount="@(boxesQuery.Data?.Length ?? 0)" IsLoading="boxesQuery.IsLoading"/>
    <DataGridActionReload OnClick="@boxesQuery.RefetchAsync" IsLoading="boxesQuery.IsFetching" />
  </PageHeader>
  <DataGridWrapper>
    <DataGridContainer
      TItem="PackageDto"
      Items="@(boxesQuery.HasData ? boxesQuery.Data : [])"
      OnItemSelect="@(item => OpenUpdateFormModal(item))"
    >
      <ColumnsContent>
        <DataGridColumn
          Caption="@WsDataLocalizer["ColStatus"]"
          Width="5%"
          Filterable="false"
        >
          <DisplayTemplate>
            @if (context.Name.StartsWith('я'))
            {
              <div class="w-full flex items-center justify-center">
                <TrashIcon class="text-red-600 size-5"/>
              </div>
            }
          </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn
          Caption="@WsDataLocalizer["ColChangeDt"]"
          Field="@nameof(PackageDto.ChangeDt)"
          Width="20%"
        />
        <DataGridColumn
          Caption="@WsDataLocalizer["ColName"]"
          Field="@nameof(PackageDto.Name)"
          Width="55%"
        />
        <DataGridColumn
          Caption="@WsDataLocalizer["ColWeight"]"
          Field="@nameof(PackageDto.Weight)"
          Width="20%"
        />
      </ColumnsContent>
      <ContextMenuContent>
        <DataGridActionViewItem OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, async item => await OpenUpdateFormModal(item)))" />
        <DataGridActionOpenInNewTab OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, async item => await OpenItemInNewTab(item)))" />
      </ContextMenuContent>
    </DataGridContainer>
  </DataGridWrapper>
</UseParameterlessEndpoint>

@code {
  # region Injects

  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
  [Inject] private IStringLocalizer<WsDataResources> WsDataLocalizer { get; set; } = default!;
  [Inject] private References1CEndpoints References1CEndpoints { get; set; } = default!;
  [Inject] private IWebApi WebApi { get; set; } = default!;

  # endregion

  protected override async Task OpenUpdateFormModal(PackageDto item) =>
    throw new NotImplementedException();

  protected override async Task OpenItemInNewTab(PackageDto item)
    => await OpenLinkInNewTab($"{RouteUtils.SectionBoxes}?id={item.Id}");

  protected override Task<PackageDto> SearchByUidAction(Guid uid) =>
    WebApi.GetBoxByUid(uid);
}
