@using Blazor.Heroicons.Outline
@typeparam TItem


<div @ref="DropdownWrapper" class="h-full w-full overflow-hidden">
  <Dropdown @ref="Dropdown" Class="h-full w-full" PositionStrategy="DropdownPositionStrategy.Fixed">
    <DropdownToggle Class="select-button w-full border bg-white !rounded-md overflow-hidden h-full gap-1 !px-2 border-black/[.1] dark:bg-black dark:border-neutral-800">
        <span class="text-sm font-light">Выбрано @SelectedItems.Count() объектов</span>
    </DropdownToggle>
    <DropdownMenu Class="select-dropdown overflow-hidden max-h-60 !bg-white border border-black/[.1] shadow-none !max-w-[inherit] dark:!bg-black dark:border-neutral-800">
      <div class="h-8 w-full bg-white shrink-0 flex items-center border-b border-b-black/[.1] gap-3 px-3 dark:bg-black dark:border-b-neutral-800">
        <input
          type="text"
          @bind="SearchString"
          @oninput="HandleSearchingChange"
          class="border-none text-sm bg-transparent h-full w-full px-0 focus:border-none focus:ring-0 placeholder:font-light placeholder:text-neutral-400"
          placeholder="@Localizer["SectionFormSearch"]"
        />
        <MagnifyingGlassIcon class="h-5 w-5 text-neutral-400" />
      </div>
      <div class="h-8 w-full shrink-0 bg-white flex items-center border-b border-b-black/[.1] px-3 dark:bg-black dark:border-b-neutral-800">
        <button
          type="button"
          @onclick="ToggleSelectedItems"
          class="rounded overflow-hidden h-4 w-4 ml-1 mr-3 border border-black/[.3] dark:border-neutral-800 @(GetIsAllSelectedInFilteredList() ? "bg-sky-300": "")"
        />
        <button
          type="button"
          disabled="@IsButtonSwitcherDisabled()"
          @onclick="SwitchSelectVisibility"
          class="text-sky-600 disabled:text-gray-400">
          <p class="truncate text-sm text-inherit">
            @(SelectVisibility == SelectVisibility.Selected ? "Показать все" : "Показать выбранные")
          </p>
        </button>
      </div>
      <div class="w-full h-full overflow-x-hidden overflow-y-auto">
        <ul class="flex flex-col w-full divide-y divide-y-black/[.1] dark:divide-neutral-800">
          @if (!GetFilteredList().Any())
          {
            <div class="h-10 w-full flex items-center justify-center text-sm">
              <p>@Localizer["SectionFormSelectEmpty"]</p>
            </div>
          }
          @foreach (TItem item in GetFilteredList())
          {
            <li>
              <button
                type="button"
                @onclick="() => SwitchSelectedItem(item)"
                class="w-full h-8 px-3 flex items-center transition-colors
                        @(IsSelectedItem(item) ? "bg-gray-200 hover:bg-gray-300 dark:bg-neutral-900 dark:hover:bg-neutral-800" :
                          "hover:bg-gray-100 dark:hover:bg-neutral-950")"
              >
                <div class="ml-1 mr-3 h-4 w-4 shrink-0 border rounded border-black/[.3] overflow-hidden @(IsSelectedItem(item) ? "bg-sky-300" : "")" ></div>
                <p class="truncate text-sm">
                  @ItemDisplayName(item)
                </p>
              </button>
            </li>
          }
        </ul>
      </div>
    </DropdownMenu>
  </Dropdown>
</div>