@using Ws.Domain.Models.Entities.Devices.Arms
@using DeviceControl.Source.Features

@inherits SectionDataGridPageBase<Ws.Domain.Models.Entities.Devices.Arms.Arm>
@attribute [Route($"{RouteUtils.SectionLines}{RouteUtils.SectionQrlQuery}")]
@attribute [Authorize(Policy = PolicyEnum.Support)]
@rendermode InteractiveServer

<PageTitle>DeviceControl - @Localizer["SectionLines"]</PageTitle>

<UserProductionSiteErrorSuspense>
  <PageHeader>
    <span>@Localizer["SectionLines"]</span>
    <DataGridItemsCounter ItemsCount="@SectionItems.Count()" IsLoading="IsLoading"/>
    <DataGridActionReload OnClick="@UpdateData" IsLoading="IsLoading" />
    <DataGridActionCreate OnClick="@OpenSectionCreateForm" />
    <ProductionSiteSelect @bind-Value="ProductionSite" @bind-Value:after="UpdateData" />
  </PageHeader>

  <DataGridWrapper>
    <DataGridContainer
      TItem="Arm"
      Items="SectionItems"
      OnItemSelect="@(item => OpenDataGridEntityModal(item))"
    >
      <ColumnsContent>
        <DataGridColumn
          Field="@(nameof(Arm.Type))"
          Caption="@WsDataLocalizer["ColType"]"
          Width="1rem"
        >
          <DisplayTemplate>
            <div class="size-full flex items-center justify-center">
              @switch (context.Type)
              {
                case ArmType.Pc:
                  <ComputerDesktopIcon class="size-5"/>
                  break;
                case ArmType.Tablet:
                  <DeviceTabletIcon class="size-5"/>
                  break;
                case ArmType.Universal:
                  <ServerIcon class="size-5"/>
                  break;
                default:
                  <ExclamationTriangleIcon class="size-5 text-destructive"/>
                  break;
              }
            </div>
          </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn
          Caption="@WsDataLocalizer["ColVersion"]"
          Field="@nameof(Arm.Version)"
          Width="4rem"
        />
        <DataGridColumn
          Caption="@WsDataLocalizer["ColLine"]"
          Field="@nameof(Arm.Name)"
          Width="20%"
        />
        <DataGridColumn
          Caption="@WsDataLocalizer["ColNumber"]"
          Field="@nameof(Arm.Number)"
          Width="10%"
        />
        <DataGridColumn
          Caption="@WsDataLocalizer["ColPcName"]"
          Field="PcName"
          Width="15%"
        />
        <DataGridColumn
          Caption="@WsDataLocalizer["ColPrinter"]"
          Field="Printer.Name"
          Width="20%"
        />
        <DataGridColumn
          Caption="@WsDataLocalizer["ColCounter"]"
          Field="@nameof(Arm.Counter)"
          Width="20%"
        />
      </ColumnsContent>
      <ContextMenuContent>
        <DataGridActionViewItem OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, item => OpenDataGridEntityModal(item)))" />
        <DataGridActionOpenInNewTab OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, item => OpenItemInNewTab(item)))" />
        <DataGridActionDeleteItem OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, item => DeleteItem(item)))" />
      </ContextMenuContent>
    </DataGridContainer>
  </DataGridWrapper>
</UserProductionSiteErrorSuspense>
