@using Ws.Domain.Models.Entities.Diag
<SectionDataGridWrapper
  TItem="TableSizeEntity"
  GridData="DbFileData.Tables"
  Title="@DbFileData.FileName"
  ItemsPerPage="5"
  IsBorderless
>
  <DataGridButtons>
    <div class="px-2 items-center py-1 truncate text-sm font-light shrink-0 border border flex gap-2 rounded-md overflow-hidden dark:border-neutral-800">
      <span>
        @DbFileData.SizeMb / @DbFileData.MaxSizeMb
      </span>
      <span>
        @Localizer["UtilsSizeMb"]
      </span>
    </div>
  </DataGridButtons>
  <ChildContent>
    <DataGridColumn
      Caption="@Localizer["DataGridColumnScheme"]"
      Field="@nameof(TableSizeEntity.Schema)"
      Width="25%"
    />
    <DataGridColumn
      Caption="@Localizer["DataGridColumnTable"]"
      Field="@nameof(TableSizeEntity.Table)"
      Width="25%"
    />
    <DataGridColumn
      Caption="@Localizer["DataGridColumnRowsCount"]"
      Field="@nameof(TableSizeEntity.RowsCount)"
      Width="25%"
    />
    <DataGridColumn
      Caption="@($"{Localizer["DataGridColumnSize"]} ({Localizer["UtilsSizeMb"]})")"
      Field="@nameof(TableSizeEntity.UsedSpaceMb)"
      Width="25%"
    />
  </ChildContent>
</SectionDataGridWrapper>
