@using DeviceControl2.Source.Shared.Utils
@typeparam TGridItem


<div class="max-w-screen-2xl mx-auto border rounded-md overflow-hidden shadow-sm bg-background mb-4">
  <FluentDataGrid
    TGridItem="TGridItem"
    Items="@Items"
    Pagination="@Pagination"
    GridTemplateColumns="1fr 1fr 4fr"
    OnRowFocus="@(obj => HandleOnRowFocus(obj))"
    RowClass="@(_ => "hover:bg-secondary/[.5] py-3 border-b")"
    Class="@Css.Class("[&>.header]:border-b [&_fluent-data-grid-cell]:!text-primary [&_.col-sort-button]:!text-primary",
             "[&_.col-options-button]:pl-1 [&_.col-sort-button]:pl-1 [&_.col-options]:!bg-background [&_.col-options]:!shadow-sm [&_.col-options]:!border-border")"
  >
    @ChildContent
  </FluentDataGrid>
  <DataGridPagination Pagination="Pagination" />
</div>
