@using Blazor.Heroicons.Outline

<button
  @onclick="@(() => IsOpened = !IsOpened)"
  class="@Css.Class("w-full flex items-center justify-between py-4 font-medium  hover:underline", IsOpened ? string.Empty : "border-b")"
>
  <span>@Title</span>
  <ChevronDownIcon class="@Css.Class("size-5 transition-transform", IsOpened ? "rotate-180" : "rotate-0")" />
</button>
<div class="@Css.Class("w-full", IsOpened ? "block" : "hidden")">
  @ChildContent
</div>

@code {
  [Parameter] public RenderFragment? ChildContent { get; set; }
  [Parameter] public string Title { get; set; } = string.Empty;
  private bool IsOpened { get; set; }
}