<FluentPopover
  Id="@Id"
  AnchorId="@Anchor"
  @bind-Open="IsOpen"
  @bind-Open:after="OnIsOpenChanged"
  VerticalThreshold="@VerticalThreshold"
  Class="@Css.Class("!bg-background rounded-md border !shadow-md", Class)"
  Style="@Style"
>
  <Header></Header>
  <Body>@ChildContent</Body>
  <Footer></Footer>
</FluentPopover>

@code {
  [Parameter] public RenderFragment? ChildContent { get; set; }
  [Parameter] public string Class { get; set; } = string.Empty;
  [Parameter] public bool IsOpen { get; set; }
  [Parameter] public EventCallback<bool> IsOpenChanged { get; set; }
  [Parameter] public string Anchor { get; set; } = string.Empty;
  [Parameter] public int VerticalThreshold { get; set; }
  [Parameter] public string? Id { get; set; }
  [Parameter] public string? Style { get; set; }

  private async Task OnIsOpenChanged() => await IsOpenChanged.InvokeAsync(IsOpen);
}