@using MassaK.Plugin.Abstractions.Enums
@using Ws.Shared.Extensions

<LabelDisplayItem Label="@WsDataLocalizer["ColNetWeight"]">
  @if (ScalesService.Status == MassaKStatus.Initializing)
  {
    <Spinner Class="size-8 inline text-gray-200 animate-spin fill-primary" />
  }
  else
  {
    <div class="text-[2rem] flex items-end mx-auto px-4 text-center rounded-lg overflow-hidden xl:text-[2.5rem]
             @(!ScalesService.IsStable || GetNetWeight <= 0 ? "text-destructive" : "text-green-400")">
      <span class="w-5 flex justify-center xl:w-6">@Sign</span>
      @foreach (char i in NetWeightAbsStr)
      {
        <span class="@(i.ToString().IsDigitsOnly() ? "w-5 flex justify-center xl:w-6" : string.Empty)">@i</span>
      }
      <span>@WsDataLocalizer["MeasureKg"]</span>
    </div>
  }
</LabelDisplayItem>
