@using Ws.Domain.Models.Entities.Ref
@inherits SectionDataGridBase<Ws.Domain.Models.Entities.Ref.UserEntity>


<SectionDataGridWrapper
  TItem="UserEntity"
  @ref="DataGridWrapperRef"
  Title="@Localizer["SectionUsers"]"
  GridData="SectionItems"
  GetGridData="GetSectionData"
  ReadAction="OpenDataGridEntityModal"
  AddAction="OpenSectionCreateForm"
  DeleteAction="DeleteUserWithRelogin"
  OpenInTabAction="OpenItemInNewTab"
>
  <DataGridColumn
    Caption="@Localizer["DataGridColumnActive"]"
    Field="@nameof(UserEntity.LoginDt)"
    Width="4%"
  >
    <DisplayTemplate>
      <div class="flex items-center justify-center w-full h-full">
        <div class="h-3 w-3 rounded-full overflow-hidden @((DateTime.Now - context.LoginDt).TotalMinutes <= 5 ? "bg-green-400" : "bg-gray-600")"/>
      </div>
    </DisplayTemplate>
  </DataGridColumn>
  <DataGridColumn
    Caption="@Localizer["DataGridColumnLoginDt"]"
    Field="@nameof(UserEntity.LoginDt)"
    Width="20%"
  />
  <DataGridColumn
    Caption="@Localizer["DataGridColumnName"]"
    Field="@nameof(UserEntity.Name)"
    Width="40%"
  />
  <DataGridColumn
    Caption="@Localizer["DataGridColumnProductionSite"]"
    Field="ProductionSite.Name"
    Width="40%"
  />
</SectionDataGridWrapper>