@inherits BlazorCore.Models.RazorPageItemBase<PluObsoleteModel>
@page "/item/plu_obsolete"
@page "/item/plu_obsolete/{IdentityId:long}"
@page "/item/plu_obsolete/{IdentityId:long}/{TableAction}"
@using static BlazorCore.Utils.BlazorCoreUtuls
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.Components
@using BlazorDeviceControl.Razors.Items.Components

@if (!IsActionsParametersSetFinished)
{
    <ActionsLoad ParentRazor=@(this) DataLoadItem=ActionLoadEnum.Loading IsShowProgress=true />
}
else
{
    <ItemReload T=PluObsoleteModel ParentRazor=@(this) Title=@LocaleCore.DeviceControl.ItemPlu />

    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
		<ItemTableHead T=PluObsoleteModel ParentRazor=@(this) CssTableStyleHead=@ComponentsUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 }) />
        <tbody>
			<ItemTableBody T=PluObsoleteModel ParentRazor=@(this) CssTableStyleBody=@ComponentsUtils.GetTableBodyStyle(SqlFieldIdentityEnum.Id, true) />
            <tr>
                <td>@LocaleCore.Table.PluNumber</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true Value=@ItemCast.PluNumber.ToString() />
				</td>
                <td>
                    <RadzenLink Style="width: 100%; margin-left: 0; " 
                        Path=@GetRouteItemPath(LocaleCore.DeviceControl.RouteItemTemplate, ItemCast.Template, ItemCast.Template.Identity.Id)
                        Text=@LocaleCore.Table.Template />
                </td>
                <td>
                    <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                        @bind-Value=@ItemCast.Template>
                        @foreach (TemplateModel item in Templates)
                        {
                            <MudSelectItem T=@TemplateModel Value=@item>@item.Title</MudSelectItem>
                        }
                    </MudSelect>
                </td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.Active</td>
                <td>
                    <RadzenCheckBox Disabled=false TValue="bool" @bind-Value=@ItemCast.Active />
                </td>
                <td>@LocaleCore.Table.CheckWeight</td>
                <td>
                    <RadzenCheckBox Disabled=false TValue="bool" @bind-Value=@ItemCast.IsCheckWeight />
                </td>
            </tr>
            <tr>
                <td>
                    <RadzenLink Style="width: 100%; margin-left: 0; " 
                        Path=@GetRouteItemPath(LocaleCore.DeviceControl.RouteItemNomenclature, ItemCast.Nomenclature, ItemCast.Nomenclature.Identity.Id)
                        Text=@LocaleCore.Table.Nomenclature />
                </td>
                <td>
                    <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                        @bind-Value=@ItemCast.Nomenclature>
                        @foreach (NomenclatureModel item in Nomenclatures)
                        {
                            <MudSelectItem T=@NomenclatureModel Value=@item>@item.Name</MudSelectItem>
                        }
                    </MudSelect>
				</td>
                <td>
                    <RadzenLink Style="width: 100%; margin-left: 0; " 
                        Path=@GetRouteItemPath(LocaleCore.DeviceControl.RouteItemScale, ItemCast.Scale, ItemCast.Scale.Identity.Id)
                        Text=@LocaleCore.Table.Scale />
                </td>
                <td>
                    <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                        @bind-Value=@ItemCast.Scale>
                        @foreach (ScaleModel item in Scales)
                        {
	                        <MudSelectItem T=@ScaleModel Value=@item>@item.Description</MudSelectItem>
                        }
                    </MudSelect>
                </td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.UpperWeightThreshold</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center; " Disabled=false 
                        TValue="decimal" @bind-Value=@ItemCast.UpperWeightThreshold />
				</td>
                <td>@LocaleCore.Table.NominalWeight</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center; " Disabled=false 
                        TValue="decimal" @bind-Value=@ItemCast.NominalWeight />
				</td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.LowerWeightThreshold</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center; " Disabled=false 
                        TValue="decimal" @bind-Value=@ItemCast.LowerWeightThreshold />
				</td>
                <td>@LocaleCore.Table.ShelfLifeDays</td>
                <td>
                    <RadzenButton Style="width: 10%; " Disabled=false Icon="autorenew"
                        Click=@(_ => OnClickFieldsFill(nameof(ProductHelper.GetXmlShelfLifeDays))) />
                    <RadzenNumeric Style="width: 88%; text-align: center; " Disabled=false 
                        TValue="short" @bind-Value=@ItemCast.GoodsShelfLifeDays />
				</td>
            </tr>
            <tr>
                <td colspan=2>
                    <RadzenLabel Style="width: 100%; text-align: center; font-size: 11px; " 
                        Text=@LocaleCore.Table.GoodsTareWeightDescription />
                </td>
                <td colspan=2>
                    <RadzenLabel Style="width: 100%; text-align: center; font-size: 11px; " 
                        Text=@GetWeightFormula() />
                </td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.GoodsTareWeight</td>
                <td>
                    <RadzenNumeric Style="width: 88%; text-align: center; " Disabled=false 
                        TValue="decimal" @bind-Value=@ItemCast.GoodsTareWeight />
                    <RadzenButton Style="width: 10%; " Disabled=false 
                        Icon="aspect_ratio" ButtonStyle=@ButtonStyle.Secondary 
                        Click=@(_ => OnClickFieldsFill(nameof(ProductHelper.CalcGoodsTareWeight))) />
                </td>
                <td>@LocaleCore.Table.GoodsBoxQuantly</td>
                <td>
                    <RadzenButton Style="width: 10%; " Disabled=false Icon="autorenew"
                        Click=@(_ => OnClickFieldsFill(nameof(ProductHelper.GetXmlBoxQuantly))) />
                    <RadzenNumeric Style="width: 88%; text-align: center; " Disabled=false 
                        TValue="int" @bind-Value=@ItemCast.GoodsBoxQuantly />
                </td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.Ean13</td>
                <td >
                    <RadzenButton Style="width: 10%; " Disabled=false Icon="autorenew"
                        Click=@(_ => OnClickFieldsFill(nameof(ProductHelper.GetXmlEan13))) />
                    <RadzenTextBox Style="width: 80%; text-align: center; " Disabled=false 
                        @bind-Value=@ItemCast.Ean13 />
                    <RadzenLabel Style="width: 6%; text-align: center; " 
                        Text=@ItemCast.Ean13.Length.ToString() />
                </td>
                <td>@LocaleCore.Table.Gtin</td>
                <td >
                    <RadzenButton Style="width: 10%; " Disabled=false Icon="autorenew"
                        Click=@(_ => OnClickFieldsFill(nameof(ProductHelper.GetXmlGtin))) />
                    <RadzenTextBox Style="width: 70%; text-align: center; " Disabled=false 
                        @bind-Value=@ItemCast.Gtin />
                    <RadzenLabel Style="width: 5%; text-align: center; " 
                        Text=@ItemCast.Gtin.Length.ToString() />
                    <RadzenButton Style="width: 10%; " Disabled=false 
                        Icon="aspect_ratio" ButtonStyle=@ButtonStyle.Secondary 
                        Click=@(_ => OnClickFieldsFill(nameof(Barcode.GetGtinWithCheckDigit))) />
                </td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.Itf14</td>
                <td >
                    <RadzenButton Style="width: 10%; " Disabled=false Icon="autorenew"
                        Click=@(_ => OnClickFieldsFill(nameof(ProductHelper.GetXmlItf14))) />
                    <RadzenTextBox Style="width: 76%; text-align: center; " Disabled=false 
                        @bind-Value=@ItemCast.Itf14 />
                    <RadzenLabel Style="width: 10%; text-align: center; " Text=@ItemCast.Itf14.Length.ToString() />
                </td>
                <td >
                    <RadzenButton Style="width: 100%; " Disabled=false Icon="autorenew"
                        Text=@LocaleCore.DeviceControl.TableActionFill
                        Click=@(_ => OnClickFieldsFill(nameof(LocaleCore.DeviceControl.TableActionFill))) />
				</td>
                <td >
                    <RadzenButton Style="width: 100%; " Disabled=false Icon="clear"
                              Text=@LocaleCore.DeviceControl.TableActionClear
                        Click=@(_ => OnClickFieldsFill(nameof(LocaleCore.DeviceControl.TableActionClear))) />
				</td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.Name
                    <RadzenButton Style="align-self: end; " Disabled=false Icon="autorenew"
                              Click=@(_ => OnClickFieldsFill(nameof(ProductHelper.GetXmlName))) />
                    </td>
                <td colspan="3">
                    <RadzenTextBox Style="width: 100%; " Disabled=false @bind-Value=@ItemCast.GoodsName />
				</td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.GoodsFullName
                    <RadzenButton Style="align-content: end; " Disabled=false Icon="autorenew"
                        Click=@(_ => OnClickFieldsFill(nameof(ProductHelper.GetXmlFullName))) />
                    </td>
                <td colspan="3">
                    <RadzenTextBox Style="width: 100%; " Disabled=false @bind-Value=@ItemCast.GoodsFullName />
				</td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.GoodsDescription
                    <RadzenButton Style="align-content: flex-end; " Disabled=false Icon="autorenew"
                        Click=@(_ => OnClickFieldsFill(nameof(ProductHelper.GetXmlDescription))) />
                </td>
                <td colspan=3>
                    <RadzenTextArea 
                        Style="width: 100%; text-align: left; font-size: 11px; line-height: 16px; " 
                        Disabled=false @bind-Value=@ItemCast.GoodsDescription Rows=3 />
				</td>
            </tr>
            <tr >
                <td>
                    @LocaleCore.Table.XmlPretty
                    <RadzenButton Style="align-content: flex-end; " Disabled=false Icon="autorenew"
                              Click=@(_ => OnClickFieldsFill(nameof(ProductHelper.GetXmlDescription))) />
                </td>
                <td colspan=3>
                    <RadzenTextArea 
                        Style="width: 100%; text-align: left; font-size: 10px; line-height: 16px; background-color: lightgray; " 
                        Disabled=false ReadOnly=true Rows=30 
                        Value=@(XmlUtils.GetXmlpretty(ItemCast.Nomenclature.Xml)) />
                </td>
            </tr>
        </tbody>
    </MudSimpleTable>
    
    <ItemSave T=PluObsoleteModel ParentRazor=@(this) />
    <ItemDates T=PluObsoleteModel ParentRazor=@(this) />
}
