@using Blazor.Heroicons.Outline


<div class="flex items-center w-full h-full overflow-hidden px-3 py-4">
  <div class="flex flex-col overflow-hidden w-full max-h-full h-[30rem] border border-black/[.1] rounded-xl bg-white shadow-lg">
    <div class="flex overflow-hidden shrink-0 w-full justify-center py-2 flex-col px-6 border-b border-b-black/[.1]">
      <p class="text-xl truncate xl:text-2xl">
        @LineContext.Line.Warehouse.Name
      </p>
      <p class="text-sm truncate xl:text-base">
        @LineContext.Line.PcName | @LineContext.PrinterEntity.Name
      </p>
    </div>
    <ul class="flex flex-col w-full h-full pt-1 pb-4 px-5 overflow-hidden justify-around">
      <li>
        <LabelConfigItem
          Label="Линия"
          OnClickAction="ShowLineSelectDialog"
          Value=@(LineContext.Line.IsNew ? "Линия не выбрана" : LineContext.Line.DisplayName)
        >
          <button
            type="button"
            @onclick="LineContext.ResetLine"
            class="flex px-8 justify-center items-center overflow-hidden rounded-md border border-black/[.1] bg-gray-100
                    h-full group transition-colors hover:bg-sky-200"
          >
            <ArrowPathIcon class="h-8 w-8 group-hover:animate-spin"/>
          </button>
        </LabelConfigItem>
      </li>
      <li>
        <LabelConfigItem
          Label="ПЛУ"
          IsDisabled="LineContext.Line.IsNew"
          OnClickAction="ShowPluSelectDialog"
          Value=@(LineContext.Plu.IsNew ? "ПЛУ не выбрана" : LineContext.Plu.DisplayName)
        />
      </li>
      <li>
        <LabelConfigItem
          Label="Вложенность"
          IsDisabled="@(LineContext.Plu.IsNew || LineContext.Plu.IsCheckWeight)"
          OnClickAction="ShowPluNestingSelectDialog"
          Value="@(LineContext.PluNesting.IsNew ? "Вложенность не выбрана" : LineContext.PluNesting.DisplayName)"
        />
      </li>
    </ul>
  </div>
</div>
