@using Blazor.Heroicons
@using Blazor.Heroicons.Outline

<div class="rounded-md max-w-2xl max-h-full overflow-y-auto border shadow-sm bg-background p-6 w-full">
  <div class="flex flex-col space-y-1.5">
    <h3 class="font-semibold leading-none tracking-tight">
      @Localizer["FuncCardHeader"]
    </h3>
    <p class="text-sm text-neutral-500">
      @Localizer["FuncCardDescription"]
    </p>
  </div>
  <div class="grid">
    <FunctionalityDescriptionItem IconName="@HeroiconName.Plus">
      <CardTitle>
        @Localizer["FuncCardCreationTitle"]
      </CardTitle>
      <CardDescription>
        @Localizer["FuncCardCreationDescription"]
        <span class="size-5 items-center justify-center rounded-md bg-primary inline-flex border text-primary-foreground">
          +
        </span>
      </CardDescription>
    </FunctionalityDescriptionItem>
    <FunctionalityDescriptionItem IconName="@HeroiconName.Eye">
      <CardTitle>
        @Localizer["FuncCardViewingTitle"]
      </CardTitle>
      <CardDescription>
        @Localizer["FuncCardViewingDescription"]
      </CardDescription>
    </FunctionalityDescriptionItem>
    <FunctionalityDescriptionItem IconName="@HeroiconName.Printer">
      <CardTitle>
        @Localizer["FuncCardPCPrintingTitle"]
      </CardTitle>
      <CardDescription>
        @Localizer["FuncCardPCPrintingDescription"]
        <span class="p-1 rounded-md bg-primary border inline-flex text-xs  text-primary-foreground">
          @Localizer["BtnPrintPC"]
        </span>
      </CardDescription>
    </FunctionalityDescriptionItem>
    <FunctionalityDescriptionItem IconName="@HeroiconName.Tag">
      <CardTitle>
        @Localizer["FuncCardLabelPrintingTitle"]
      </CardTitle>
      <CardDescription>
        @Localizer["FuncCardLabelPrintingDescription"]
        <span class="p-1 rounded-md bg-primary border inline-flex text-xs text-primary-foreground">
          @Localizer["BtnSelectedLabelsPrinting"]
        </span>
      </CardDescription>
    </FunctionalityDescriptionItem>
  </div>
</div>

@code {
  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
}