<div class="flex sticky top-0 flex-col w-full grow h-screen overflow-x-hidden overflow-y-auto border-r border-r-black/[.1] @(!IsProduction ? "invert bg-slate-200" : "" )">
  <div class="flex flex-col items-center shrink-0 justify-center h-20">
    <a href="@RouteUtils.Home">
      <p class="text-xl font-medium text-center">
        @Localizer["ApplicationName"]
      </p>
    </a>
  </div>
  <ul class="flex select-none w-full gap-1 mt-4 flex-col">
    @foreach (MenuSection menu in MenuSections)
    {
      <li>
        <AuthorizeView Roles="@menu.RequiredRole">
          <NavMenuItem
            Icon="@menu.Icon"
            Label="@menu.Label"
            Items="@menu.SubItems"
          />
        </AuthorizeView>
      </li>
    }
  </ul>
</div>
