@inherits RazorComponentItemBase<PrinterModel>
@page "/item/printer"
@page "/item/printer/{IdentityId:long}"
@page "/item/printer/{IdentityId:long}/{TableAction}"
@using static BlazorCore.Utils.BlazorCoreUtuls
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.SectionComponents.Printers
@using DataCore.Sql.Core

@if (!IsActionsParametersSetFinished)
{
    <RazorActionLoad ParentRazor=@(this) ActionLoad=ActionLoadEnum.Loading IsShowProgress=true />
}
else
{
    <RazorItemReload TItem=PrinterModel ParentRazor=@(this) Title=@LocaleCore.Print.Name />

    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
	    <RazorItemTableHead TItem=PrinterModel ParentRazor=@(this) CssTableStyleHead=@RazorComponentUtils.GetTableHeadStyle(new() { 25, 25, 25, 25 }) />
        <tbody>
			<RazorItemTableBody TItem=PrinterModel ParentRazor=@(this) CssTableStyleBody=@RazorComponentUtils.GetTableBodyStyle(SqlFieldIdentityEnum.Id, true) />
            <tr>
                <td>@LocaleCore.Table.Name</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: left; " @bind-Value=@SqlItemCast.Name />
                </td>
                <td>@LocaleCore.Print.Mac</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: left;" @bind-Value=@SqlItemCast.MacAddress.Value />
                </td>
            </tr>
            <tr>
                <td>
                    <RadzenLink Style="width: 100%; margin-left: 0; " Target="_blank"
                        Path=@SqlItemCast.Link 
                        Text=@LocaleCore.Print.ControlPanel />
                </td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@SqlItemCast.Ip />
                </td>
                <td>
                    <RadzenLink Style="width: 100%; margin-left: 0; "
                        Path=@GetRouteItemPath(SqlItemCast.PrinterType)
                        Text=@LocaleCore.Print.Type />
                </td>
                <td>
                    <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                        @bind-Value=@SqlItemCast.PrinterType>
                        @foreach (PrinterTypeModel item in PrinterTypes)
                        {
                            <MudSelectItem T=@PrinterTypeModel Value=@item>@item.Name</MudSelectItem>
                        }
                    </MudSelect>
                </td>
            </tr>
            <tr>
                <td>@LocaleCore.Print.Port</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center;" TValue="short" @bind-Value=@SqlItemCast.Port />
                </td>
                <td>@LocaleCore.Print.Password</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" @bind-Value=@SqlItemCast.Password />
                </td>
            </tr>
            <tr>
                <td>@LocaleCore.Print.StatusCode</td>
                <td>
                    <RadzenIcon Style="width: 16%; align-content: center; "
                        Icon=@(SqlItemCast.HttpStatusCode == System.Net.HttpStatusCode.OK ? "network_wifi_3_bar" : "signal_wifi_statusbar_null")/>
                    <RadzenLabel Disabled=false ReadOnly=true Style="width: 80%; text-align: left; " 
                        Text=@SqlItemCast.HttpStatusCode.ToString() />
                </td>
                @if (SqlItemCast.HttpStatusException != null)
                {
                    <td>@LocaleCore.Table.HttpStatusException</td>
                    <td>
                        <RadzenLabel Style="width: 100%; " 
                            Text=@(SqlItemCast.HttpStatusException != null ? SqlItemCast.HttpStatusException.Message : "") />
                    </td>
                }
                else
                {
                    <td colspan=2>@LocaleCore.Table.HttpStatusNoException</td>
                }
            </tr>
            <tr>
                <td>@LocaleCore.DeviceControl.Actions</td>
                <td>
                    <RadzenButton Click=@(args => SqlItemPrinterResourcesClear(SqlItemCast))
                        class="RadzenButtonFullWidth" ButtonStyle=@ButtonStyle.Primary
                        Text=@LocaleCore.Print.ResourcesClear Disabled=@(!AppSettings.DataAccess.IsConnected()) />
				</td>
                <td>
                    <RadzenButton Click=@(args => SqlItemPrinterResourcesLoad(SqlItemCast, "TTF"))
                        class="RadzenButtonFullWidth" ButtonStyle=@ButtonStyle.Primary
                        Text=@LocaleCore.Print.ResourcesLoadTtf Disabled=@(!AppSettings.DataAccess.IsConnected()) />
				</td>
                <td>
                    <RadzenButton Click=@(args => SqlItemPrinterResourcesLoad(SqlItemCast, "GRF"))
                        class="RadzenButtonFullWidth" ButtonStyle=@ButtonStyle.Primary
                              Text=@LocaleCore.Print.ResourcesLoadGrf Disabled=@(!AppSettings.DataAccess.IsConnected()) />
				</td>
            </tr>
        </tbody>
    </MudSimpleTable>
    
    <br style="margin-top: 10px; "/>
    <SectionPrintersResources ParentRazor=@(this) />
    
    <RazorItemActions TItem=PrinterModel ParentRazor=@(this) />
    <RazorItemDates TItem=PrinterModel ParentRazor=@(this) />
}
