@page "/section/nomenclatures_groups/new"
@page "/section/nomenclatures_groups/{IdentityUidStr}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using WsStorageCore.TableScaleModels.PlusGroups
@using DeviceControl.Pages.ItemComponents
@inherits RazorComponentItemBase<WsStorageCore.TableScaleModels.PlusGroups.WsSqlPluGroupModel>

<RazorItemReload TItem="@WsSqlPluGroupModel" Title="@LocaleCore.DeviceControl.ItemNomenclatureGroup" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 })"/>
  <tbody>
  <RazorItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@LocaleCore.Table.Name</td>
    <td>@SqlItemCast.Name</td>
    <td>@LocaleCore.Table.Code</td>
    <td>@SqlItemCast.Code</td>
  </tr>
  @if (ParentGroup is {IsNotNew: true })
  {
    <tr>
      <td>
        <RadzenLink Path="@GetRouteItemPath(ParentGroup)" Text="@LocaleCore.Table.Parent"/>
      </td>
      <td>@ParentGroup.Name</td>
      <td/>
      <td/>
    </tr>
  }
  <RazorItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<RazorItemActions
  TItem="@WsSqlPluGroupModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"/>