@page "/section/plus_labels/new"
@page "/section/plus_labels/{Uid:guid}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using WsStorageCore.TableScaleFkModels.PlusLabels
@using DeviceControl.Services
@using WsDataCore.Utils
@using DeviceControl.Components.Item
@inherits ItemBase<WsStorageCore.TableScaleFkModels.PlusLabels.WsSqlPluLabelModel>

<ItemTopBar TItem="@WsSqlPluLabelModel" Title="@WsLocaleCore.DeviceControl.ItemLabel" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>
      <RadzenLink Path="@RouteService.GetItemRoute(SqlItemCast.PluScale.Line)" Text="@WsLocaleCore.Table.Line" />
    </td>
    <td>@SqlItemCast.PluScale.Line.DisplayName</td>
    <td>@WsLocaleCore.Table.CheckWeight</td>
    <td>
      <RadzenCheckBox TValue="bool" ReadOnly="true" Value="@IsWeighted"/>
    </td>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@RouteService.GetItemRoute(SqlItemCast.PluScale.Plu)" Text="@WsLocaleCore.Table.Plu"/>
    </td>
    <td>@SqlItemCast.PluScale.Plu.DisplayName</td>
    <td>
      <RadzenLink Path="@RouteService.GetItemRoute(ContextManager.ContextItem.GetItemTemplateNotNullable(SqlItemCast.PluScale))"
                  Text="@WsLocaleCore.Table.Template"/>
    </td>
    <td>@ContextManager.ContextItem.GetItemTemplateNotNullable(SqlItemCast.PluScale).Title</td>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@RouteService.GetItemRoute(SqlItemCast.PluScale.Line.PrinterMain)" Text="@WsLocaleCore.Table.Printer"/>
    </td>
    <td>@SqlItemCast.PluScale.Line.PrinterMain?.DisplayName</td>
    <td>
      <RadzenLink Path="@RouteService.GetItemRoute(SqlItemCast.PluWeighing)" Text="@WsLocaleCore.Table.Weighing"/>
    </td>
    <td>@SqlItemCast.PluWeighing?.IdentityValueUid</td>
  </tr>
  <tr>
    <td>@WsLocaleCore.Table.ProductDt</td>
    <td>@string.Format(WsStrUtils.FormatDtShort, SqlItemCast.ProductDt)</td>
    <td>@WsLocaleCore.Table.ExpirationDt</td>
    <td>@string.Format(WsStrUtils.FormatDtShort, SqlItemCast.ExpirationDt)</td>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@(WsLocaleCore.DeviceControl.LinkLabelary)" Text="@(WsLocaleCore.Table.TemplateLabelary)"/>
    </td>
    <td colspan="3">
      <RadzenTextArea
        Style="width: 100%; text-align: left; font-size: 10px; line-height: 16px; background-color: lightgray; "
        Disabled="false" ReadOnly="true"
        Value="@SqlItemCast.Zpl" Rows="20"/>
      <RadzenButton Click="@(_ => CopyToClipboard(SqlItemCast.Zpl))"
                    class="RadzenButtonFullWidth" ButtonStyle="@ButtonStyle.Primary" Size="@ButtonSize.Small"
                    Text="@WsLocaleCore.DeviceControl.TableActionCopy"/>
    </td>
  </tr>
  <AuthorizeView Roles="@UserAccessStr.Admin">
    <tr>
      <td>@WsLocaleCore.Table.Xml</td>
      <td colspan="3">
        @if (SqlItemCast.Xml is not null)
        {
          <RadzenTextArea
            Style="width: 100%; text-align: left; font-size: 10px; line-height: 16px; background-color: lightgray;"
            Disabled=false ReadOnly=true
            Value=@(WsDataFormatUtils.GetPrettyXmlOrJson(SqlItemCast.Xml.OuterXml)) Rows=20/>
        }
      </td>
    </tr>
  </AuthorizeView>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>