@page "/section/templates_resources/new"
@page "/section/templates_resources/{IdentityUidStr}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using WsStorageCore.TableScaleModels.TemplatesResources
@using BlazorDeviceControl.Pages.ItemComponents
@inherits RazorComponentItemBase<WsStorageCore.TableScaleModels.TemplatesResources.WsSqlTemplateResourceModel>

<RazorItemReload TItem="@WsSqlTemplateResourceModel" Title="@LocaleCore.DeviceControl.ItemTemplateResource" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 })"/>
  <tbody>
  <RazorItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@LocaleCore.Table.Name</td>
    <td>
      <RadzenTextBox Style="width: 100%; text-align: left;" @bind-Value="@SqlItemCast.Name"/>
    </td>
    <td>@LocaleCore.Table.Type</td>
    <td>
      <RadzenTextBox Style="width: 100%; text-align: left;" @bind-Value="@SqlItemCast.Type"/>
    </td>
  </tr>

  @if (IsNotBlackType(SqlItemCast.Type))
  {
    <tr>
      <td>@LocaleCore.Table.ImageData</td>
      <td colspan="3">
        <RadzenTextArea
          Style="width: 100%; text-align: left; font-size: 12px; line-height: 18px;"
          Rows="18"
          @bind-Value="@(SqlItemCast.Data.ValueUnicode)"/>
      </td>
    </tr>
  }
  <RazorItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<RazorItemActions
  TItem="@WsSqlTemplateResourceModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"/>