@page "/section/plus/new"
@page "/section/plus/{Uid:guid}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using DeviceControl.Components.Item
@using DeviceControl.Components.Nested.PlusNestingFks
@using DeviceControl.Components.Rz
@inherits ItemBase<SqlPluEntity>

<ItemTopBar TItem="@SqlPluEntity" Title="@LocaleCore.DeviceControl.ItemNomenclature" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead HeadWidth="@(new List<int> { 15, 35, 15, 35 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@LocaleCore.Table.PluNumber</td>
    <td>@SqlItemCast.Number</td>
    <td>@LocaleCore.Table.CheckWeight</td>
    <td>
      <RadzenCheckBox TValue="bool" ReadOnly="true" Value="@SqlItemCast.IsCheckWeight"/>
    </td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.Name</td>
    <td>@SqlItemCast.Name</td>
    <td>@LocaleCore.Table.NomenclatureCode</td>
    <td>@SqlItemCast.Code</td>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@Services.RouteService.GetItemRoute(SqlItemCast.Bundle)" Text="@LocaleCore.Table.Bundle"/>
    </td>
    <td>@SqlItemCast.Bundle.Name</td>
    <td>
      <RadzenLink Path="@Services.RouteService.GetItemRoute(SqlItemCast.Brand)" Text="@LocaleCore.Table.Brand"/>
    </td>
    <td>@SqlItemCast.Brand.Name</td>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@Services.RouteService.GetItemRoute(PluTemplateFk.Template)" Text="@LocaleCore.Table.Template"/>
    </td>
    <td>
      <RzDropDown @bind-Value="@PluTemplateFk.Template" Data="@Templates" TextProperty="Title" />
    </td>
    <td>
      <RadzenLink Path="@Services.RouteService.GetItemRoute(StorageMethod)" Text="@LocaleCore.Table.PluStorage"/>
    </td>
    <td>@StorageMethod?.Name</td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.Ean13</td>
    <td>@SqlItemCast.Ean13</td>
    <td>@LocaleCore.Table.Gtin</td>
    <td>@SqlItemCast.Gtin</td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.Itf14</td>
    <td>@SqlItemCast.Itf14</td>
    <td>@LocaleCore.Table.ShelfLifeDays</td>
    <td>@SqlItemCast.ShelfLifeDays</td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.FullName</td>
    <td>
      <RadzenTextArea Style="width: 100%; height: 100px;" Disabled="true" Value="@SqlItemCast.FullName"/>
    </td>
    <td>@LocaleCore.Table.Description</td>
    <td>
      <RadzenTextArea Style="width: 100%; height: 100px;" Disabled="true" Value="@SqlItemCast.Description" Rows="3"/>
    </td>
  </tr>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>

@if (SqlItem != null)
{
  <PlusNestingFks Plu="@SqlItemCast"/>
}
