@page "/section/scales/new"
@page "/section/scales/{IdentityId:long}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@inherits RazorComponentItemBase<WsStorageCore.TableScaleModels.Scales.ScaleModel>
@using BlazorDeviceControl.Pages.CustomComponents
@using BlazorDeviceControl.Pages.ItemComponents
@using BlazorDeviceControl.Pages.Menu.Devices.SectionPluScales
@using WsStorageCore.TableScaleModels.Scales
@using WsStorageCore.TableScaleModels.Scales

<RazorItemReload TItem="@ScaleModel" Title="@LocaleCore.DeviceControl.ItemScale"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 })"/>
  <tbody>
    <RazorItemTableBody SqlItem="@SqlItemCast"/>
    <tr>
      <td>@LocaleCore.Table.Name</td>
      <td><RzTextBoxLocal @bind-Value="@SqlItemCast.Description"/></td>

      <td>@LocaleCore.Table.IsKneading</td>
      <td><RadzenCheckBox Disabled="false" TValue="bool" @bind-Value="@SqlItemCast.IsKneading"/></td>
    </tr>
    <tr>
      <td>
        <RadzenLink Path="@GetRouteItemPath(Device)" Text="@LocaleCore.Table.Host"/>
      </td>
      <td>
                <RzDropDownLocal @bind-Value="@Device" Data="@ContextManager.ContextList.Devices" TextProperty="DisplayName" />
      </td>
      <td>@LocaleCore.Table.IsOrder</td>
      <td><RadzenCheckBox Disabled="false" @bind-Value="@SqlItemCast.IsOrder"/></td>
    </tr>
    <tr>
        <td>
          <RadzenLink Path="@GetRouteItemPath(SqlItemCast.PrinterMain)"
            Text="@LocaleCore.Print.NameMain"/>
        </td>
        <td>
                <RzDropDownLocal @bind-Value="@SqlItemCast.PrinterMain" Data="@ContextManager.ContextList.Printers" TextProperty="DisplayName" />
        </td>
        <td>@LocaleCore.Table.DeviceComPort</td>
        <td>
          <RzDropDownLocal @bind-Value="@SqlItemCast.DeviceComPort" Data="@ComPorts" TextProperty="Name" ValueProperty="Value"  />
        </td>
      </tr>
    <tr>
      <td>
        <RadzenLink Path="@GetRouteItemPath(SqlItemCast.PrinterShipping)"
                    Text="@LocaleCore.Print.NameShipping"/>
      </td>
      <td>
                <RzDropDownLocal @bind-Value="@SqlItemCast.PrinterShipping" Data="@ContextManager.ContextList.Printers" TextProperty="DisplayName" />
      </td>
      <td>@LocaleCore.Table.IsShipping</td>
      <td><RadzenCheckBox Disabled="false" TValue="bool" @bind-Value="@SqlItemCast.IsShipping"/></td>
    </tr>
    <tr>
      <td>
        <RadzenLink Path="@GetRouteItemPath(SqlItemCast.WorkShop)" Text="@LocaleCore.Table.WorkShopName"/>
      </td>
            <td><RzDropDownLocal @bind-Value="@SqlItemCast.WorkShop" Data="@ContextManager.ContextList.WorkShops" TextProperty="Name" /></td>
      <td>
        <RadzenLink Path="@GetRouteItemPath(SqlItemCast.WorkShop?.ProductionFacility)" Text="@LocaleCore.Table.ProductionFacility"/>
      </td>
      <td>@(SqlItemCast.WorkShop is not null ? SqlItemCast.WorkShop.ProductionFacility.Name : LocaleCore.Table.FieldEmpty)</td>
    </tr>
    <tr>
      <td>@LocaleCore.Table.DeviceReceiveTimeout</td>
      <td><RzNumericLocal Min="0" @bind-Value="@SqlItemCast.DeviceReceiveTimeout" /></td>

      <td>@LocaleCore.Table.DeviceSendTimeout</td>
      <td><RzNumericLocal Min="0" @bind-Value="@SqlItemCast.DeviceSendTimeout" /></td>
    </tr>
    <tr>
      <td>@LocaleCore.Table.DeviceNumber</td>
      <td><RzNumericLocal Min="1" Max="99999" @bind-Value="@SqlItemCast.Number" /></td>

      <td>@LocaleCore.Table.IsShippingLength</td>
      <td><RzNumericLocal Min="@byte.MinValue" Max="@byte.MaxValue" @bind-Value="@SqlItemCast.ShippingLength" /></td>
    </tr>
    <tr>
      <td>@LocaleCore.Table.ScaleFactor</td>
      <td><RzNumericLocal @bind-Value="@SqlItemCast.ScaleFactor" /></td>

      <td>@LocaleCore.Table.Counter</td>
      <td><RzNumericLocal Min="0" Max="99999" @bind-Value="@SqlItemCast.Counter" /></td>
    </tr>
    <RazorItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<RazorItemActions
  TItem="@ScaleModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"
  />

@if (SqlItem != null)
{
  <PlusScales Scale="@SqlItemCast" />
}
