@page "/section/plus_weightings/new"
@page "/section/plus_weightings/{Uid:guid}"
@attribute [Authorize(Roles = WsUserAccessStr.Read)]
@using DeviceControl.Components.Item
@inherits ItemBase<SqlPluWeighingEntity>

<ItemTopBar TItem="@SqlPluWeighingEntity" Title="@WsLocaleCore.DeviceControl.ItemPluWeighing" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead HeadWidth="@(new List<int> { 20, 30, 20, 30 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>
      <RadzenLink Path="@WsRouteService.GetItemRoute(SqlItemCast.PluScale.Line)" Text="@WsLocaleCore.Table.Line"/>
    </td>
    <td>@SqlItemCast.PluScale.Line.Description</td>

    <td>@WsLocaleCore.Table.WeightNetto</td>
    <td>@SqlItemCast.NettoWeight.ToString(CultureInfo.InvariantCulture)</td>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@WsRouteService.GetItemRoute(SqlItemCast.PluScale.Plu)"
                  Text="@WsLocaleCore.Table.Plu"/>
    </td>
    <td>@SqlItemCast.PluScale.Plu.DisplayName</td>

    <td>@WsLocaleCore.Table.BundleFkWeightTare</td>
    <td>@SqlItemCast.WeightTare.ToString(CultureInfo.InvariantCulture)</td>
  </tr>
  <tr>
    <td>@WsLocaleCore.Table.IsKneading</td>
    <td>@SqlItemCast.Kneading</td>
    <td></td>
    <td></td>
  </tr>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>
