@page "/section/plus_weightings/new"
@page "/section/plus_weightings/{Uid:guid}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using DeviceControl.Components.Item
@inherits ItemBase<SqlPluWeighingEntity>

<ItemTopBar TItem="@SqlPluWeighingEntity" Title="@Locale.ItemPluWeighing" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead HeadWidth="@(new List<int> { 20, 30, 20, 30 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>
      <RadzenLink Path="@RouteService.GetItemRoute(SqlItemCast.PluScale.Line)" Text="@Locale.Line"/>
    </td>
    <td>@SqlItemCast.PluScale.Line.Description</td>

    <td>@Locale.WeightNetto</td>
    <td>@SqlItemCast.NettoWeight.ToString(CultureInfo.InvariantCulture)</td>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@RouteService.GetItemRoute(SqlItemCast.PluScale.Plu)"
                  Text="@Locale.Plu"/>
    </td>
    <td>@SqlItemCast.PluScale.Plu.DisplayName</td>

    <td>@Locale.BundleFkWeightTare</td>
    <td>@SqlItemCast.WeightTare.ToString(CultureInfo.InvariantCulture)</td>
  </tr>
  <tr>
    <td>@Locale.IsKneading</td>
    <td>@SqlItemCast.Kneading</td>
    <td></td>
    <td></td>
  </tr>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>
