@typeparam TSelectItem
@using Blazor.Heroicons.Outline
@typeparam TSelectType

<button
  id="@Parent.HtmlId"
  @onclick="@Parent.ToggleDropdown"
  class="@Css.Class("flex text-left h-10 w-full transition-colors items-center justify-between rounded-md border border-input bg-background px-3 py-2 hover:bg-accent hover:text-accent-foreground text-sm disabled:cursor-not-allowed disabled:opacity-50", Class)"
  disabled="@Disabled"
  type="button"
  role="combobox"
  aria-haspopup="listbox"
  aria-expanded="@Parent.IsDropdownOpened.ToString()"
  aria-disabled="@Disabled.ToString()"
>
  @ChildContent
  <ChevronDownIcon class="@Css.Class("transition-transform text-muted-foreground size-4", Parent.IsDropdownOpened ? "rotate-180" : "rotate-0")"/>
</button>

@code {
  [CascadingParameter] public SelectBase<TSelectItem, TSelectType> Parent { get; set; } = default!;

  [Parameter] public RenderFragment? ChildContent { get; set; }
  [Parameter] public string Class { get; set; } = string.Empty;
  [Parameter] public bool Disabled { get; set; }
}
