@page "/section/plu_weighings/new"
@page "/section/plu_weighings/{Uid:guid}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using WsStorageCore.TableScaleFkModels.PlusWeighingsFks
@using DeviceControl.Components.Item
@using DeviceControl.Services
@inherits ItemBase<WsStorageCore.TableScaleFkModels.PlusWeighingsFks.WsSqlPluWeighingModel>

<ItemTopBar TItem="@WsSqlPluWeighingModel" Title="@WsLocaleCore.DeviceControl.ItemPluWeighing" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>
      <RadzenLink Path="@RouteService.GetItemRoute(SqlItemCast.PluScale.Line)"
                  Text="@WsLocaleCore.Table.Line"/>
    </td>
    <td>@SqlItemCast.PluScale.Line.Description</td>

    <td>@WsLocaleCore.Table.WeightNetto</td>
    <td>@SqlItemCast.NettoWeight.ToString(CultureInfo.InvariantCulture)</td>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@RouteService.GetItemRoute(SqlItemCast.PluScale.Plu)"
                  Text="@WsLocaleCore.Table.Plu"/>
    </td>
    <td>@($"{SqlItemCast.PluScale.Plu.Number} | {SqlItemCast.PluScale.Plu.Name}")</td>

    <td>@WsLocaleCore.Table.BundleFkWeightTare</td>
    <td>@SqlItemCast.WeightTare.ToString(CultureInfo.InvariantCulture)</td>
  </tr>
  <tr>
    <td>@WsLocaleCore.Table.Sscc</td>
    <td>@SqlItemCast.Series?.Sscc</td>
    <td>@WsLocaleCore.Table.IsKneading</td>
    <td>@SqlItemCast.Kneading</td>
  </tr>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  TItem="@WsSqlPluWeighingModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>