@page "/item/barcodetype"
@page "/item/barcodetype/{Id:int}"
@page "/item/barcodetype/{TableActionString}"
@using BlazorCore.Models
@using DataProjectsCore
@using DataProjectsCore.DAL.TableModels
@using DataProjectsCore.Utils
@using BlazorDeviceControl.Shared.Component
@using BlazorDeviceControl.Shared.Section
@using DataShareCore
@inherits RazorDisposable

<DataReload Title=@LocalizationData.DeviceControl.ItemPrinterType SetParameters=@SetParametersAsync />

@if (Item == null)
{
    <DataLoad DataLoadItem=ShareEnums.DataLoad.Loading IsShowProgress=true />
}
else
{
    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
        <thead>
            <tr>
                <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordValue</th>
                <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordValue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldId</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center" Disabled="true" 
                        TValue="int" @bind-Value=@BarcodeTypeItem.Id />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldName</td>
                <td>
                    <RadzenTextBox Style="width: 63%; text-align: center;" Disabled="false" 
                        TValue="string" @bind-Value=@BarcodeTypeItem.Name />
				</td>
            </tr>
        </tbody>
    </MudSimpleTable>
    
    <ItemSave ParentRazor=@this />
    <ItemDates ParentRazor=@this />
}
