@page "/item/error"
@page "/item/error/{Id:int}"
@using BlazorCore.Models
@using DataCore
@using DataCore.Utils
@using BlazorDeviceControl.Shared.Component
@using BlazorDeviceControl.Shared.Section
@using BlazorCore
@inherits RazorDisposable

<ActionsReload Title=@LocalizationData.DeviceControl.ItemError SetParameters=@SetParametersAsync />

@if (Item == null)
{
    <ActionsLoad DataLoadItem=ShareEnums.ActionsLoad.Loading IsShowProgress=true />
}
else
{
    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
        <thead>
            <tr>
                <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordValue</th>
                <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordValue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldId</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center" Disabled=false ReadOnly=true
                        TValue="int" @bind-Value=@ErrorItem.Id />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldCreateDt</td>
                <td>
                    <RadzenDatePicker 
                        TValue="string" Value=@ErrorItem.CreatedDate Disabled=false ReadOnly=true DateFormat="yyyy-MM-dd HH:mm:ss" />
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldFilePath</td>
                <td colspan=3>
                    <RadzenTextBox Style="width: 100%; text-align: left;" Disabled=false ReadOnly=true
                        TValue="string" @bind-Value=@ErrorItem.FilePath />
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldRow</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center" Disabled=false ReadOnly=true
                        TValue="int" @bind-Value=@ErrorItem.LineNumber />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldMember</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false ReadOnly=true
                        TValue="string" @bind-Value=@ErrorItem.MemberName />
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldException</td>
                <td colspan=3 >
                    <RadzenTextArea Style="width: 100%; text-align: left" Disabled=false ReadOnly=true
                        TValue="string" @bind-Value=@ErrorItem.Exception Rows="3" />
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldInnerException</td>
                <td colspan=3 rowspan=3>
                    <RadzenTextArea Style="width: 100%; text-align: left" Disabled=false ReadOnly=true
                        TValue="string" @bind-Value=@ErrorItem.InnerException Rows="3" />
				</td>
            </tr>
        </tbody>
    </MudSimpleTable>
    
    <ActionsSave ParentRazor=@this ButtonSettings=@ButtonSettings />
    <ItemDates ParentRazor=@this />
}
