@page "/item/host"
@page "/item/host/{Id:long}"
@page "/item/host/{Id:long}/{TableActionString}"
@using BlazorDeviceControl.Shared.Component
@using DataCore
@using DataCore.Utils
@using BlazorCore
@using Microsoft.VisualBasic.CompilerServices
@inherits RazorDisposable

@if (Item == null)
{
    <ActionsLoad DataLoadItem=ShareEnums.ActionsLoad.Loading IsShowProgress=true />
}
else
{
    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
        <thead>
            <tr>
                <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordValue</th>
                <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordValue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldId</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true
                        TValue="long" @bind-Value=@HostItem.Id />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldMarked</td>
                <td>
                    <RadzenCheckBox Disabled=false TValue="bool" @bind-Value=@HostItem.Marked />
                </td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldName</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@HostItem.Name />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldDeviceIp</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@HostItem.Ip />
                </td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldIdRRef</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@HostItem.IdRRefAsString />
                </td>
                <td>@LocalizationData.DeviceControl.TableFieldDeviceMac</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@HostItem.MacAddress.Value />
                </td>
            </tr>
            <tr >
                <td>
                    <RadzenLabel Style="width: 100%;" Text=@LocalizationData.DeviceControl.TableFieldSettingsFile />
                </td>
                <td colspan=3 >
                    <RadzenTextArea Style="width: 100%; height: 50%; font-size: 14px; line-height: 20px;"
                        Disabled=false TValue="string" @bind-Value=@HostItem.SettingsFile Rows="5" />
                </td>
            </tr>
        </tbody>
    </MudSimpleTable>
    
    <ActionsSave ParentRazor=@this ButtonSettings=@ButtonSettings />
    <ItemDates ParentRazor=@this />
}
