@inherits BlazorCore.Models.RazorBase
@page "/item/printer"
@page "/item/printer/{IdentityId:long}"
@page "/item/printer/{IdentityId:long}/{TableAction}"
@using BlazorCore
@using BlazorDeviceControl.Shared.Component
@using BlazorDeviceControl.Shared.Section
@using DataCore
@using DataCore.Sql.TableScaleModels
@using DataCore.Localizations
@using DataCore.Utils
@using static DataCore.Localizations.LocaleData.DeviceControl
@using static DataCore.Utils.BlazorCoreUtuls

@if (!IsLoaded)
{
    <ActionsLoad ParentRazor=@this DataLoadItem=ShareEnums.ActionLoad.Loading IsShowProgress=true />
}
else
{
    <ActionsReloadItem ParentRazor=@this 
        Title=@LocaleCore.Print.Name SetParameters=@SetParametersAsync />

    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
        <thead>
            <tr>
                <th Style="color:blue; font-weight:bold; width: 25%; ">@LocaleCore.Strings.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 25%; ">@LocaleCore.Strings.RecordValue</th>
                <th Style="color:blue; font-weight:bold; width: 25%; ">@LocaleCore.Strings.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 25%; ">@LocaleCore.Strings.RecordValue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@LocaleCore.Table.Id</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true
                        TValue="long" @bind-Value=@ItemCast.IdentityId />
				</td>
                <td>@LocaleCore.Table.Marked</td>
                <td>
                    <RadzenCheckBox Disabled=false TValue="bool" @bind-Value=@ItemCast.IsMarked />
                </td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.Name</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; " Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.Name />
                </td>
                <td>@LocaleCore.Print.Mac</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.MacAddress.Value />
                </td>
            </tr>
            <tr>
                <td>
                    <RadzenLink Style="width: 100%; margin-left: 0px; " Target="_blank"
                        Path=@ItemCast.Link 
                        Text=@LocaleCore.Print.ControlPanel />
                </td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.Ip />
                </td>
                <td>
                    <RadzenLink Style="width: 100%; margin-left: 0px; "
                        Path=@GetPath(UriRouteItem.PrinterType, ItemCast.PrinterType, ItemCast.PrinterType.IdentityId)
                        Text=@LocaleCore.Print.Type />
                </td>
                <td>
                    @if (PrinterTypes == null)
                    {
                        <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                    }
                    else
                    {
                        <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                            @bind-Value=@ItemCast.PrinterType.IdentityId >
                            @foreach (PrinterTypeEntity item in PrinterTypes)
                            {
                                <MudSelectItem Value=@item.IdentityId >@item.Name</MudSelectItem>
                            }
                        </MudSelect>
                    }
                </td>
            </tr>
            <tr>
                <td>@LocaleCore.Print.Port</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="short" @bind-Value=@ItemCast.Port />
                </td>
                <td>@LocaleCore.Print.Password</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.Password />
                </td>
            </tr>
            <tr>
                <td>@LocaleCore.Print.StatusCode</td>
                <td>
                    <RadzenIcon Style="width: 16%; align-content: center; "
                        Icon=@(ItemCast.HttpStatusCode == System.Net.HttpStatusCode.OK ? "network_wifi_3_bar" : "signal_wifi_statusbar_null")/>
                    <RadzenLabel Disabled=false ReadOnly=true Style="width: 80%; text-align: left; " 
                        Text=@ItemCast.HttpStatusCode.ToString() />
                </td>
                @if (ItemCast.HttpStatusException != null)
                {
                    <td>@LocaleCore.Table.HttpStatusException</td>
                    <td>
                        <RadzenLabel Style="width: 100%; " 
                            Text=@(ItemCast.HttpStatusException != null ? ItemCast.HttpStatusException.Message : "") />
                    </td>
                }
                else
                {
                    <td colspan=2>@LocaleCore.Table.HttpStatusNoException</td>
                }
            </tr>
            <tr>
                <td>@LocaleData.DeviceControl.Actions</td>
                <td>
                    <RadzenButton Click=@(args => PrinterResourcesClear(UserSettings, ItemCast))
                        class="radzenButtonFullWidth" ButtonStyle=@ButtonStyle.Primary
                        Text=@LocaleCore.Print.ResourcesClear Disabled=@(!AppSettings.DataAccess.IsConnected) />
				</td>
                <td>
                    <RadzenButton Click=@(args => PrinterResourcesLoad(UserSettings, ItemCast, "TTF"))
                        class="radzenButtonFullWidth" ButtonStyle=@ButtonStyle.Primary
                        Text=@LocaleCore.Print.ResourcesLoadTtf Disabled=@(!AppSettings.DataAccess.IsConnected) />
				</td>
                <td>
                    <RadzenButton Click=@(args => PrinterResourcesLoad(UserSettings, ItemCast, "GRF"))
                        class="radzenButtonFullWidth" ButtonStyle=@ButtonStyle.Primary
                        Text=@LocaleCore.Print.ResourcesLoadGrf Disabled=@(!AppSettings.DataAccess.IsConnected) />
				</td>
            </tr>
        </tbody>
    </MudSimpleTable>
    
    <SectionPrinterResources Table=@Table ItemFilter=@ItemCast IsShowMarkedFilter=true />
    
    <ActionsSave ParentRazor=@this ButtonSettings=@ButtonSettings />
    <ItemDates ParentRazor=@this />
}
