@inherits BlazorCore.Models.RazorBase
@page "/item/templateresource"
@page "/item/templateresource/{IdentityId:long}"
@page "/item/templateresource/{IdentityId:long}/{TableAction}"
@using BlazorCore
@using BlazorDeviceControl.Shared.Component
@using DataCore
@using DataCore.Localizations
@using DataCore.Utils

@if (!IsLoaded)
{
    <ActionsLoad ParentRazor=@this DataLoadItem=ShareEnums.ActionLoad.Loading IsShowProgress=true />
}
else
{
    <ActionsReloadItem ParentRazor=@this 
        Title=@LocaleData.DeviceControl.Items.TemplateResource SetParameters=@SetParametersAsync />

    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
        <thead>
            <tr>
                <th Style="color:blue; font-weight:bold; width: 20%; ">@LocaleCore.Strings.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 30%; ">@LocaleCore.Strings.RecordValue</th>
                <th Style="color:blue; font-weight:bold; width: 20%; ">@LocaleCore.Strings.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 30%; ">@LocaleCore.Strings.RecordValue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@LocaleCore.Table.Id</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true
                        TValue="long" @bind-Value=@ItemCast.IdentityId />
				</td>
                <td>@LocaleCore.Table.Marked</td>
                <td>
                    <RadzenCheckBox Disabled=false TValue="bool" @bind-Value=@ItemCast.IsMarked />
                </td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.Name</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; " Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.Name />
				</td>
                <td>@LocaleCore.Table.Description</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; " Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.Description />
				</td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.Type</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; " Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.Type />
				</td>
                <td>@LocaleCore.Table.IdRRef</td>
                <td >
                    <RadzenTextBox Style="width: 100%; text-align: center; " Disabled=false ReadOnly=true
                        TValue="string" @Value=@ItemCast.IdRRef />
				</td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.ImageData</td>
                <td >
                    <RadzenTextBox Style="width: 100%; text-align: center; " Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.ImageData.Info />
				</td>
            </tr>
        </tbody>
    </MudSimpleTable>
    
    <ActionsSave ParentRazor=@this ButtonSettings=@ButtonSettings />
    <ItemDates ParentRazor=@this />
}
@*
<RadzenLabel Style="width: 97%;" Text=@FileInfo />
<RadzenLabel Style="width: 97%;" Text=@FileComplete />
<RadzenLabel Style="width: 27%; " Text=@LocaleCore.Strings.FileUpload />
<Microsoft.AspNetCore.Components.Forms.InputFile style="width: 50%; " OnChange=@OnFileUpload />
<RadzenLabel Style="width: 27%; " Text=@LocaleCore.Strings.FileDownload />
<RadzenButton Style="width: 50%; height: 30px; text-align: center; "
                Click=@OnFileDownload Text=@LocaleCore.Strings.FileDownload />
<RadzenLabel Style="width: 27%;" Text=@LocaleCore.TableField.Type />
@if (ResourceTypes == null)
{
    <RadzenTextBox Style="width: 70%;" Disabled=false ReadOnly=true TValue="string" Value="" />
    <RadzenProgressBar Value=@ProgressValue Unit=@FileInfo
                        ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="width: 77%; height: 15px" />
}
else
{
    <RadzenDropDown Style="width: 70%;" TValue="string" FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive
                    AllowFiltering=true AllowClear=true AllowFilteringByAllStringColumns=true
                    Data=@ResourceTypes PageSize=@AppSettings.DataAccess.JsonSettings.ItemRowsCount TextProperty="Name" 
                    ValueProperty="Value"
                    Value=@TemplateResourcesItem.Type Change=@(args => OnItemValueChange(args, "ResourceTypes")) />
}
 *@