@inherits BlazorCore.Models.RazorDisposable
@page "/item/templateresource"
@page "/item/templateresource/{Id:long}"
@page "/item/templateresource/{Id:long}/{TableActionString}"
@using BlazorCore
@using BlazorDeviceControl.Shared.Component
@using DataCore
@using DataCore.Utils

@if (ItemCast == null)
{
    <ActionsLoad ParentRazor=@this DataLoadItem=ShareEnums.ActionLoad.Loading IsShowProgress=true />
}
else
{
    <ActionsReload ParentRazor=@this Title=@LocalizationData.DeviceControl.ItemTemplateResource SetParameters=@SetParametersAsync 
        IsShowItemsCount=false IsShowMarkedFilter=false />

    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
        <thead>
            <tr>
                <th Style="color:blue; font-weight:bold; width: 20%; ">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 30%; ">@LocalizationCore.Strings.Main.RecordValue</th>
                <th Style="color:blue; font-weight:bold; width: 20%; ">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 30%; ">@LocalizationCore.Strings.Main.RecordValue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldId</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true
                        TValue="long" @bind-Value=@ItemCast.Id />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldMarked</td>
                <td>
                    <RadzenCheckBox Disabled=false TValue="bool" @bind-Value=@ItemCast.Marked />
                </td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldName</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; " Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.Name />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldDescription</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; " Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.Description />
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldType</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; " Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.Type />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldIdRRef</td>
                <td >
                    <RadzenTextBox Style="width: 100%; text-align: center; " Disabled=false ReadOnly=true
                        TValue="string" @Value=@ItemCast.IdRRef />
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldImageData</td>
                <td >
                    <RadzenTextBox Style="width: 100%; text-align: center; " Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.ImageDataInfo />
				</td>
            </tr>
        </tbody>
    </MudSimpleTable>
    
    <ActionsSave ParentRazor=@this ButtonSettings=@ButtonSettings />
    <ItemDates ParentRazor=@this />
}
@*
<RadzenLabel Style="width: 97%;" Text=@FileInfo />
<RadzenLabel Style="width: 97%;" Text=@FileComplete />
<RadzenLabel Style="width: 27%; " Text=@LocalizationCore.Strings.FileUpload />
<Microsoft.AspNetCore.Components.Forms.InputFile style="width: 50%; " OnChange=@OnFileUpload />
<RadzenLabel Style="width: 27%; " Text=@LocalizationCore.Strings.FileDownload />
<RadzenButton Style="width: 50%; height: 30px; text-align: center; "
                Click=@OnFileDownload Text=@LocalizationCore.Strings.FileDownload />
<RadzenLabel Style="width: 27%;" Text=@LocalizationData.DeviceControl.TableFieldType />
@if (ResourceTypes == null)
{
    <RadzenTextBox Style="width: 70%;" Disabled=false ReadOnly=true TValue="string" Value="" />
    <RadzenProgressBar Value=@ProgressValue Unit=@FileInfo
                        ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="width: 77%; height: 15px" />
}
else
{
    <RadzenDropDown Style="width: 70%;" TValue="string" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                    Data=@ResourceTypes PageSize="5" TextProperty="Name" ValueProperty="Value"
                    Value=@TemplateResourcesItem.Type Change=@(args => OnChange(args, "ResourceTypes")) />
}
 *@