@inherits BlazorCore.Models.RazorDisposable
@page "/item/scale"
@page "/item/scale/{Id:long}"
@page "/item/scale/{Id:long}/{TableActionString}"
@using BlazorCore
@using BlazorDeviceControl.Shared.Component
@using BlazorDeviceControl.Shared.Section
@using DataCore
@using DataCore.Utils
@using static DataCore.LocalizationData.DeviceControl

@if (ItemCast == null)
{
    <ActionsLoad ParentRazor=@this DataLoadItem=ShareEnums.ActionLoad.Loading IsShowProgress=true />
}
else
{
    <ActionsReload ParentRazor=@this Title=@LocalizationData.DeviceControl.ItemScale SetParameters=@SetParametersAsync 
        IsShowItemsCount=false IsShowMarkedFilter=false IsMarked=@ItemCast.IsMarked />

    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
        <thead>
            <tr>
                <th Style="color:blue; font-weight:bold; width: 20%; ">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 30%; ">@LocalizationCore.Strings.Main.RecordValue</th>
                <th Style="color:blue; font-weight:bold; width: 20%; ">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 30%; ">@LocalizationCore.Strings.Main.RecordValue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldId</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true
                        TValue="long" @bind-Value=@ItemCast.Id />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldMarked</td>
                <td>
                    <RadzenCheckBox Disabled=false TValue="bool" @bind-Value=@ItemCast.IsMarked />
                </td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldDescription</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; " Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.Description />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldDeviceSendTimeout</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center; " Disabled=false 
                        TValue="short?" @bind-Value=@ItemCast.DeviceSendTimeout />
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldDeviceComPort</td>
                <td>
                    @if (ComPorts == null)
                    {
                        <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                    }
                    else
                    {
                        <RadzenDropDownDataGrid Style="width: 100%;" FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive
                            AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                            Data=@ComPorts PageSize=10 TextProperty="Name" ValueProperty="Value"
                            TValue="string" @bind-Value=@ItemCast.DeviceComPort 
                            Change=@(args => OnItemValueChange(Item, nameof(ItemCast.DeviceComPort), args)) >
                            <Columns>
                                <RadzenDropDownDataGridColumn Property="Name" Title=@LocalizationData.DeviceControl.TableFieldName Width="100%" />
                            </Columns>
                        </RadzenDropDownDataGrid>
                    }
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldDeviceReceiveTimeout</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center;" 
                        Disabled=false TValue="short?" @bind-Value=@ItemCast.DeviceReceiveTimeout />
				</td>
            </tr>
            <tr>
                <td>
                    <RadzenLink Style="width: 100%; margin-left: 0px; " 
                        Path=@GetPath(UriRouteItem.Printer, ItemCast.Printer, ItemCast.Printer?.Id)
                        Text=@LocalizationData.DeviceControl.TableFieldPrinter />
                </td>
                <td>
                    @if (PrinterItems == null)
                    {
                        <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                    }
                    else
                    {
                        <RadzenDropDownDataGrid Style="width: 100%;" FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive
                            AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                            Data=@PrinterItems PageSize=10 TextProperty="Name" ValueProperty="Id"
                            TValue="long" Value=@ItemCast.Printer?.Id
                            Change=@(args => OnItemValueChange(Item, nameof(ItemCast.Printer), args)) >
                            <Columns>
                                <RadzenDropDownDataGridColumn Property="Name" Title=@LocalizationData.DeviceControl.TableFieldName Width="100%" />
                            </Columns>
                        </RadzenDropDownDataGrid>
                    }
				</td>
                <td>
                    <RadzenLink Style="width: 100%; margin-left: 0px; " 
                        Path=@GetPath(UriRouteItem.Host, ItemCast.Host, ItemCast.Host?.Id)
                        Text=@LocalizationData.DeviceControl.TableFieldHost />
                </td>
                <td>
                    @if (HostItems == null)
                    {
                        <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                    }
                    else
                    {
                        <RadzenDropDownDataGrid Style="width: 100%;" FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive
                            AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                            Data=@HostItems PageSize=10 TextProperty="Name" ValueProperty="Id"
                            TValue="long" Value=@ItemCast.Host?.Id
                            Change=@(args => OnItemValueChange(Item, nameof(ItemCast.Host), args)) >
                            <Columns>
                                <RadzenDropDownDataGridColumn Property="Id" TextAlign=TextAlign.Center Title=@LocalizationData.DeviceControl.TableFieldId Width="15%" />
                                <RadzenDropDownDataGridColumn Property="Name" Title=@LocalizationData.DeviceControl.TableFieldName Width="85%" />
                            </Columns>
                        </RadzenDropDownDataGrid>
                    }
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldDeviceNumber</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center;" Disabled=false 
                        Name="fieldDeviceNumber"
                        TValue="int?" @bind-Value=@ItemCast.DeviceNumber />
                    <RadzenNumericRangeValidator 
                        Component="fieldDeviceNumber" Min="0"
                        Text=@LocalizationCore.Strings.InputControlMuchZero Popup=true Style="position: absolute;" />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldUseOrder</td>
                <td>
                    <RadzenCheckBox Disabled=false 
                        TValue="bool?" @bind-Value=@ItemCast.UseOrder />
				</td>
            </tr>
            <tr>
                <td>
                    <RadzenLink Style="width: 100%; margin-left: 0px; " 
                        Path=@GetPath(UriRouteItem.Template, ItemCast.TemplateDefault, ItemCast.TemplateDefault?.Id)
                        Text=@LocalizationData.DeviceControl.TableFieldTemplateDefault />
                </td>
                <td>
                    @if (TemplatesDefaultItems == null)
                    {
                        <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                    }
                    else
                    {
                        <RadzenDropDownDataGrid Style="width: 100%;" FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive
                            AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                            Data=@TemplatesDefaultItems PageSize=10 TextProperty="Title" ValueProperty="Id"
                            TValue="long" Value=@ItemCast.TemplateDefault?.Id
                            Change=@(args => OnItemValueChange(Item, nameof(ItemCast.TemplateDefault), args)) >
                            <Columns>
                                <RadzenDropDownDataGridColumn Property="Title" Title=@LocalizationData.DeviceControl.TableFieldTitle Width="100%" />
                            </Columns>
                        </RadzenDropDownDataGrid>
                    }
				</td>
                <td>
                    <RadzenLink Style="width: 100%; margin-left: 0px; " 
                        Path=@GetPath(UriRouteItem.Template, ItemCast.TemplateSeries, ItemCast.TemplateSeries?.Id)
                        Text=@LocalizationData.DeviceControl.TableFieldTemplateSeries />
                </td>
                <td>
                    @if (TemplatesSeriesItems == null)
                    {
                        <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                    }
                    else
                    {
                        <RadzenDropDownDataGrid Style="width: 100%;" FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive
                            AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                            Data=@TemplatesSeriesItems PageSize=10 TextProperty="Title" ValueProperty="Id"
                            TValue="long" Value=@ItemCast.TemplateSeries?.Id
                            Change=@(args => OnItemValueChange(Item, nameof(ItemCast.TemplateSeries), args)) >
                            <Columns>
                                <RadzenDropDownDataGridColumn Property="Title" Title=@LocalizationData.DeviceControl.TableFieldTitle Width="100%" />
                            </Columns>
                        </RadzenDropDownDataGrid>
                    }
				</td>
            </tr>
            <tr>
                <td>
                    <RadzenLink Style="width: 100%; margin-left: 0px; " 
                        Path=@GetPath(UriRouteItem.WorkShop, ItemCast.WorkShop, ItemCast.WorkShop.Id)
                        Text=@LocalizationData.DeviceControl.TableFieldWorkShopName />
                </td>
                <td>
                    @if (WorkshopItems == null)
                    {
                        <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                    }
                    else
                    {
                        <RadzenDropDownDataGrid Style="width: 100%;" FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive
                            AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                            Data=@WorkshopItems PageSize=10 TextProperty="Name" ValueProperty="Id"
                            TValue="long" Value=@ItemCast.WorkShop?.Id
                            Change=@(args => OnItemValueChange(Item, nameof(ItemCast.WorkShop), args)) >
                            <Columns>
                                <RadzenDropDownDataGridColumn Property="Name" Title=@LocalizationData.DeviceControl.TableFieldName Width="100%" />
                            </Columns>
                        </RadzenDropDownDataGrid>
                    }
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldScaleFactor</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="int?" @bind-Value=@ItemCast.ScaleFactor />
				</td>
            </tr>
        </tbody>
    </MudSimpleTable>
    
    <SectionPlus Table=@Table ItemFilter=@ItemCast IsShowAdditionalFilter=false />
    
    <ActionsSave ParentRazor=@this ButtonSettings=@ButtonSettings />
    <ItemDates ParentRazor=@this />
}
