@inherits BlazorCore.Models.RazorBase
@page "/item/info"
@using BlazorDeviceControl.Shared.Component
@using DataCore.Localizations
@using static BlazorCore.Utils.BlazorCoreUtuls

<ActionsReloadItem ParentRazor=@this 
    Title=@LocaleCore.System.SystemInfo SetParameters=@SetParametersAsync />
    
<MudElement HtmlTag="h3" Class="ma-0">@LocaleCore.Strings.AppSettings</MudElement>
<MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
    <thead>
        <tr>
            <th Style="color:blue; font-weight:bold;">@LocaleCore.Strings.SettingName</th>
            <th Style="color:blue; font-weight:bold;">@LocaleCore.Strings.SettingValue</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@LocaleCore.Strings.VerApp</td>
            @if (string.IsNullOrEmpty(VerApp))
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td><MudElement Class="ma-0">@VerApp</MudElement></td>
            }
        </tr>
        <tr>
            <td>@LocaleCore.Strings.VerLibBlazorCore</td>
            @if (string.IsNullOrEmpty(VerLibDataCore))
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td><MudElement Class="ma-0">@VerLibBlazorCore</MudElement></td>
            }
        </tr>
        <tr>
            <td>@LocaleCore.Strings.VerLibDataCore</td>
            @if (string.IsNullOrEmpty(VerLibDataCore))
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td><MudElement Class="ma-0">@VerLibDataCore</MudElement></td>
            }
        </tr>
        <tr>
            <td>@LocaleCore.Strings.HostName</td>
            @if (string.IsNullOrEmpty(Environment.MachineName))
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td><MudElement Class="ma-0">@Environment.MachineName</MudElement></td>
            }
        </tr>
        <tr>
            <td>@LocaleCore.Sql.SqlServer</td>
            @if (string.IsNullOrEmpty(AppSettings.DataAccess.JsonSettingsLocal?.Sql.DataSource))
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td><MudElement Class="ma-0">@AppSettings.DataAccess.JsonSettingsLocal?.Sql.DataSource</MudElement></td>
            }
        </tr>
        <tr>
            <td>@LocaleCore.Sql.SqlDb</td>
            @if (string.IsNullOrEmpty(AppSettings.DataAccess.JsonSettingsLocal?.Sql.InitialCatalog))
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td><MudElement Class="ma-0">@AppSettings.DataAccess.JsonSettingsLocal.Sql.InitialCatalog</MudElement></td>
            }
        </tr>
        <tr>
            @if (AppSettings.DataAccess.JsonSettingsLocal?.Sql.PersistSecurityInfo == true)
            {
                <td>@LocaleCore.System.SystemWindowsUser</td>
            }
            else
            {
                <td>@LocaleCore.Sql.SqlUser</td>
            }
            @if (string.IsNullOrEmpty(AppSettings.DataAccess.JsonSettingsLocal?.Sql.UserId))
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td><MudElement Class="ma-0">@AppSettings.DataAccess.JsonSettingsLocal.Sql.UserId</MudElement></td>
            }
        </tr>
        <tr>
            <td>@LocaleCore.Sql.SqlDbCurSize</td>
            @if (DbCurSize == 0)
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td><MudElement Class="ma-0">@DbCurSizeAsString</MudElement></td>
            }
        </tr>
        <tr>
            <td>@LocaleCore.Sql.SqlDbFillSize</td>
            @if (DbFillSize == 0)
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td>
                    <RadzenProgressBar class=@GetCssName.RadzenProgressBar
                        Value=@DbFillSize ShowValue="true" 
                    />
                </td>
            }
        </tr>
        <tr>
            <td>@LocaleCore.Memory.Memory</td>
            @if (AppSettings.Memory == null)
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td><MudElement Class="ma-0">@AppSettings.MemoryInfoShort</MudElement></td>
            }
        </tr>
        <tr>
            <td>@LocaleCore.Memory.MemoryFillSize</td>
            @if (AppSettings.Memory == null)
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td>
                    <RadzenProgressBar class=@GetCssName.RadzenProgressBar
                        Value=@AppSettings.MemoryFillSize ShowValue="true" 
                    />
                </td>
            }
        </tr>
        <tr>
            <td>@LocaleCore.Settings.SectionRowsCount</td>
            <td><MudElement Class="ma-0">@AppSettings.DataAccess.JsonSettingsLocal.SectionRowsCount</MudElement></td>
        </tr>
        <tr>
            <td>@LocaleCore.Settings.ItemRowsCount</td>
            <td><MudElement Class="ma-0">@AppSettings.DataAccess.JsonSettingsLocal.ItemRowsCount</MudElement></td>
        </tr>
        <tr>
            <td>@LocaleCore.Settings.SelectTopRowsCount</td>
            <td><MudElement Class="ma-0">@AppSettings.DataAccess.JsonSettingsLocal.SelectTopRowsCount</MudElement></td>
        </tr>
        <tr>
            <td>@LocaleCore.Settings.Version</td>
            <td><MudElement Class="ma-0">@AppSettings.DataAccess.JsonSettingsLocal.Version</MudElement></td>
        </tr>
        <tr>
            <td>@LocaleCore.Settings.AllowedHosts</td>
            <td><MudElement Class="ma-0">@AppSettings.DataAccess.JsonSettingsLocal.AllowedHosts</MudElement></td>
        </tr>
    </tbody>
</MudSimpleTable>
<br />

<MudElement HtmlTag="h3" Class="ma-0">@LocaleCore.Strings.UserSettings</MudElement>
<MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
    <thead>
        <tr>
            <th Style="color:blue; font-weight:bold;">@LocaleCore.Strings.SettingName</th>
            <th Style="color:blue; font-weight:bold;">@LocaleCore.Strings.SettingValue</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@LocaleCore.Strings.AuthorizingUserName</td>
            @if (string.IsNullOrEmpty(UserSettings.Identity.UserName))
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td><MudElement Class="ma-0">@UserSettings.Identity.UserName</MudElement></td>
            }
        </tr>
        <tr>
            <td>@LocaleCore.Strings.AccessRights</td>
            <td><MudElement Class="ma-0">@UserSettings.Identity.GetDescriptionAccessRights(UserSettings.Identity.AccessRights)</MudElement></td>
        </tr>
        <tr>
            <td>@LocaleCore.Strings.Language</td>
            @if (TemplateLanguages == null)
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td>
                    <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                        @bind-Value=@LocaleCore.Lang >
                        @foreach (ShareEnums.Lang lang in Langs)
                        {
                            <MudSelectItem Value=@lang>@lang.ToString()</MudSelectItem>
                        }
                    </MudSelect>
                    @*<RadzenDropDown 
                        TValue=@ShareEnums.Lang
                        Data=@TemplateLanguages TextProperty="Name"
                        ValueProperty="Value" 
                        Change=@(args => OnLocalizationValueChange(TemplateLanguages, args))/>*@
                </td>
            }
        </tr>
    </tbody>
</MudSimpleTable>
