@inherits BlazorCore.Models.RazorBase
@page "/item/contragent"
@page "/item/contragent/{IdentityUidStr}"
@page "/item/contragent/{IdentityUidStr}/{TableAction}"
@using BlazorDeviceControl.Shared.Component
@using DataCore
@using DataCore.Utils

@if (ItemCast == null)
{
    <ActionsLoad ParentRazor=@this DataLoadItem=ShareEnums.ActionLoad.Loading IsShowProgress=true />
}
else
{
    <ActionsReload ParentRazor=@this Title=@LocalizationData.DeviceControl.Items.Contragent SetParameters=@SetParametersAsync 
        IsShowItemsCount=false IsShowMarkedFilter=false IsMarked=@ItemCast.IsMarked />

    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
        <thead>
            <tr>
                <th Style="color:blue; font-weight:bold; width: 30%; ">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 30%; ">@LocalizationCore.Strings.Main.RecordValue</th>
                <th Style="color:blue; font-weight:bold; width: 20%; ">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 20%; ">@LocalizationCore.Strings.Main.RecordValue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldUid</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true
                        @bind-Value=@ItemCast.IdentityUidStr />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldMarked</td>
                <td>
                    <RadzenCheckBox Disabled=false TValue="bool" @bind-Value=@ItemCast.IsMarked />
                </td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldName</td>
                <td colspan=3>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.Name />
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldFullName</td>
                <td colspan=3>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.FullName />
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldIdRRef</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray; "
                        Disabled=false ReadOnly=true
                        TValue="string" @bind-Value=@ItemCast.IdRRefAsString />
                </td>
                <td>@LocalizationData.DeviceControl.TableFieldIdDwh</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true
                        TValue="int" @bind-Value=@ItemCast.DwhId />
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldXml</td>
                <td colspan=3>
                    <RadzenTextArea Style="width: 100%; text-align: left; font-size: 12px; line-height: 20px; background-color: lightgray; " 
                        Disabled=false ReadOnly=true
                        TValue="string" @bind-Value=@ItemCast.Xml Rows=6 />
				</td>
            </tr>
        </tbody>
    </MudSimpleTable>
    
    <ActionsSave ParentRazor=@this ButtonSettings=@ButtonSettings />
    <ItemDates ParentRazor=@this />
}
