@inherits BlazorCore.Models.RazorBase
@page "/item/scale"
@page "/item/scale/{IdentityId:long}"
@page "/item/scale/{IdentityId:long}/{TableAction}"
@using BlazorCore
@using BlazorDeviceControl.Shared.Component
@using BlazorDeviceControl.Shared.Section
@using DataCore
@using DataCore.DAL.TableScaleModels
@using DataCore.Models
@using DataCore.Utils
@using static DataCore.Utils.BlazorCoreUtuls
@using static DataCore.LocalizationData.DeviceControl

@if (!IsLoaded)
{
    <ActionsLoad ParentRazor=@this DataLoadItem=ShareEnums.ActionLoad.Loading IsShowProgress=true />
}
else
{
    <ActionsReload ParentRazor=@this Title=@LocalizationData.DeviceControl.Items.Scale SetParameters=@SetParametersAsync 
        IsShowItemsCount=false IsShowMarkedFilter=false IsMarked=@ItemCast.IsMarked />

    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
        <thead>
            <tr>
                <th Style="color:blue; font-weight:bold; width: 20%; ">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 30%; ">@LocalizationCore.Strings.Main.RecordValue</th>
                <th Style="color:blue; font-weight:bold; width: 20%; ">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 30%; ">@LocalizationCore.Strings.Main.RecordValue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldId</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true
                        TValue="long" @bind-Value=@ItemCast.IdentityId />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldMarked</td>
                <td>
                    <RadzenCheckBox Disabled=false TValue="bool" @bind-Value=@ItemCast.IsMarked />
                </td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldDescription</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; " Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.Description />
				</td>
                <td>
                    <RadzenLink Style="width: 100%; margin-left: 0px; " 
                        Path=@GetPath(UriRouteItem.Host, ItemCast.Host, ItemCast.Host?.IdentityId)
                        Text=@LocalizationData.DeviceControl.TableFieldHost />
                </td>
                <td>
                    @if (HostItems == null || ItemCast.Host == null)
                    {
                        <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                    }
                    else
                    {
                        <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                            @bind-Value=@ItemCast.Host.IdentityId >
                            @foreach (HostEntity item in HostItems)
                            {
                                <MudSelectItem Value=@item.IdentityId >@item.Name</MudSelectItem>
                            }
                        </MudSelect>
                    }
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldDeviceComPort</td>
                <td>
                    @if (ComPorts == null)
                    {
                        <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                    }
                    else
                    {
                        <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                            @bind-Value=@ItemCast.DeviceComPort >
                            @foreach (TypeEntity<string> item in ComPorts)
                            {
                                <MudSelectItem Value=@item.Value >@item.Name</MudSelectItem>
                            }
                        </MudSelect>
                    }
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldDeviceReceiveTimeout</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center;" 
                        Disabled=false TValue="short?" @bind-Value=@ItemCast.DeviceReceiveTimeout />
				</td>
            </tr>
            <tr>
                <td>
                    <RadzenLink Style="width: 100%; margin-left: 0px; " 
                        Path=@GetPath(UriRouteItem.Printer, ItemCast.Printer, ItemCast.Printer?.IdentityId)
                        Text=@LocalizationData.DeviceControl.TableFieldPrinter />
                </td>
                <td>
                    @if (PrinterItems == null || ItemCast.Printer == null)
                    {
                        <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                    }
                    else
                    {
                        <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                            @bind-Value=@ItemCast.Printer.IdentityId >
                            @foreach (PrinterEntity item in PrinterItems)
                            {
                                <MudSelectItem Value=@item.IdentityId >@item.Name</MudSelectItem>
                            }
                        </MudSelect>
                    }
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldDeviceSendTimeout</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center; " Disabled=false 
                        TValue="short?" @bind-Value=@ItemCast.DeviceSendTimeout />
				</td>
            </tr>
            <tr>
                <td>
                    <RadzenLink Style="width: 100%; margin-left: 0px; " 
                        Path=@GetPath(UriRouteItem.Printer, ItemCast.ShippingPrinter, ItemCast.ShippingPrinter?.IdentityId)
                        Text=@LocalizationData.DeviceControl.TableFieldShippingPrinter />
                </td>
                <td>
                    @if (ShippingPrinterItems == null || ItemCast.ShippingPrinter == null)
                    {
                        <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                    }
                    else
                    {
                        <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                            @bind-Value=@ItemCast.ShippingPrinter.IdentityId >
                            @foreach (PrinterEntity item in ShippingPrinterItems)
                            {
                                <MudSelectItem Value=@item.IdentityId >@item.Name</MudSelectItem>
                            }
                        </MudSelect>
                    }
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldIsShipping</td>
                <td>
                    <RadzenCheckBox Disabled=false TValue="bool" @bind-Value=@ItemCast.IsShipping />
                </td>
            </tr>
            <tr>
                <td >@LocalizationData.DeviceControl.TableFieldIsShippingLength</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center;" Disabled=false 
                        Name="fieldDeviceNumber"
                        TValue="byte" @bind-Value=@ItemCast.ShippingLength />
                </td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldDeviceNumber</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center;" Disabled=false 
                        Name="fieldDeviceNumber"
                        TValue="int?" @bind-Value=@ItemCast.DeviceNumber />
                    <RadzenNumericRangeValidator 
                        Component="fieldDeviceNumber" Min="0"
                        Text=@LocalizationCore.Strings.InputControlMuchZero Popup=true Style="position: absolute;" />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldUseOrder</td>
                <td>
                    <RadzenCheckBox Disabled=false 
                        TValue="bool" @bind-Value=@ItemCast.UseOrder />
				</td>
            </tr>
            <tr>
                <td>
                    <RadzenLink Style="width: 100%; margin-left: 0px; " 
                        Path=@GetPath(UriRouteItem.Template, ItemCast.TemplateDefault, ItemCast.TemplateDefault?.IdentityId)
                        Text=@LocalizationData.DeviceControl.TableFieldTemplateDefault />
                </td>
                <td>
                    @if (TemplatesDefaultItems == null || ItemCast.TemplateDefault == null)
                    {
                        <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                    }
                    else
                    {
                        <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                            @bind-Value=@ItemCast.TemplateDefault.IdentityId >
                            @foreach (TemplateEntity item in TemplatesDefaultItems)
                            {
                                <MudSelectItem Value=@item.IdentityId >@item.Title</MudSelectItem>
                            }
                        </MudSelect>
                    }
				</td>
                <td>
                    <RadzenLink Style="width: 100%; margin-left: 0px; " 
                        Path=@GetPath(UriRouteItem.Template, ItemCast.TemplateSeries, ItemCast.TemplateSeries?.IdentityId)
                        Text=@LocalizationData.DeviceControl.TableFieldTemplateSeries />
                </td>
                <td>
                    @if (TemplatesSeriesItems == null || ItemCast.TemplateSeries == null)
                    {
                        <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                    }
                    else
                    {
                        <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                            @bind-Value=@ItemCast.TemplateSeries.IdentityId >
                            @foreach (TemplateEntity item in TemplatesSeriesItems)
                            {
                                <MudSelectItem Value=@item.IdentityId >@item.Title</MudSelectItem>
                            }
                        </MudSelect>
                    }
				</td>
            </tr>
            <tr>
                <td>
                    <RadzenLink Style="width: 100%; margin-left: 0px; " 
                        Path=@GetPath(UriRouteItem.WorkShop, ItemCast.WorkShop, ItemCast.WorkShop.IdentityId)
                        Text=@LocalizationData.DeviceControl.TableFieldWorkShopName />
                </td>
                <td>
                    @if (WorkShopItems == null || ItemCast.WorkShop == null)
                    {
                        <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                    }
                    else
                    {
                        <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                            @bind-Value=@ItemCast.WorkShop.IdentityId >
                            @foreach (WorkShopEntity item in WorkShopItems)
                            {
                                <MudSelectItem Value=@item.IdentityId >@item.Name</MudSelectItem>
                            }
                        </MudSelect>
                    }
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldScaleFactor</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="int?" @bind-Value=@ItemCast.ScaleFactor />
				</td>
            </tr>
        </tbody>
    </MudSimpleTable>
    
    <SectionPlus Table=@Table ItemFilter=@ItemCast IsShowAdditionalFilter=false />
    
    <ActionsSave ParentRazor=@this ButtonSettings=@ButtonSettings />
    <ItemDates ParentRazor=@this />
}
