@inherits BlazorCore.Models.RazorBase
@page "/item/plu"
@page "/item/plu/{IdentityId:long}"
@page "/item/plu/{IdentityId:long}/{TableAction}"
@using BlazorDeviceControl.Shared.Component
@using DataCore.Localizations
@using DataCore.Sql.TableScaleModels
@using DataCore.Utils
@using static DataCore.Utils.BlazorCoreUtuls
@using static DataCore.Localizations.LocaleData.DeviceControl

@if (!IsLoaded)
{
    <ActionsLoad ParentRazor=@(this) DataLoadItem=ShareEnums.ActionLoad.Loading IsShowProgress=true />
}
else
{
    <ActionsReloadItem ParentRazor=@(this) 
        Title=@LocaleData.DeviceControl.Items.Plu SetParameters=@SetParametersAsync />

    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
        <thead>
            <tr>
                <th Style="color:blue; font-weight:bold; width: 20%; ">@LocaleCore.Strings.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 30%; ">@LocaleCore.Strings.RecordValue</th>
                <th Style="color:blue; font-weight:bold; width: 20%; ">@LocaleCore.Strings.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 30%; ">@LocaleCore.Strings.RecordValue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@LocaleCore.Table.Id</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true Value=@ItemCast.IdentityId.ToString() />
				</td>
                <td>@LocaleCore.Table.Marked</td>
                <td>
                    <RadzenCheckBox Disabled=false TValue="bool" @bind-Value=@ItemCast.IsMarked />
                </td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.PluNumber</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true Value=@ItemCast.PluNumber.ToString() />
				</td>
                <td>
                    <RadzenLink Style="width: 100%; margin-left: 0px; " 
                        Path=@GetPath(UriRouteItem.Template, ItemCast.Template, ItemCast.Template.IdentityId)
                        Text=@LocaleCore.Table.Template />
                </td>
                <td>
                    <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                        @bind-Value=@ItemCast.Template.IdentityId >
                        @foreach (TemplateEntity item in Templates)
                        {
                            <MudSelectItem Value=@item.IdentityId >@item.Title</MudSelectItem>
                        }
                    </MudSelect>
                </td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.Active</td>
                <td>
                    <RadzenCheckBox Disabled=false TValue="bool" @bind-Value=@ItemCast.Active />
                </td>
                <td>@LocaleCore.Table.CheckWeight</td>
                <td>
                    <RadzenCheckBox Disabled=false TValue="bool" @bind-Value=@ItemCast.IsCheckWeight />
                </td>
            </tr>
            <tr>
                <td>
                    <RadzenLink Style="width: 100%; margin-left: 0px; " 
                        Path=@GetPath(UriRouteItem.Nomenclature, ItemCast.Nomenclature, ItemCast.Nomenclature.IdentityId)
                        Text=@LocaleCore.Table.NomenclatureName />
                </td>
                <td>
                    <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                        @bind-Value=@ItemCast.Nomenclature.IdentityId >
                        @foreach (NomenclatureEntity item in Nomenclatures)
                        {
                            <MudSelectItem Value=@item.IdentityId >@item.Name</MudSelectItem>
                        }
                    </MudSelect>
				</td>
                <td>
                    <RadzenLink Style="width: 100%; margin-left: 0px; " 
                        Path=@GetPath(UriRouteItem.Scale, ItemCast.Scale, ItemCast.Scale.IdentityId)
                        Text=@LocaleCore.Table.Scale />
                </td>
                <td>
                    <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                        @bind-Value=@ItemCast.Scale.IdentityId >
                        @foreach (ScaleEntity item in ScaleItems)
                        {
                            <MudSelectItem Value=@item.IdentityId >@item.Description</MudSelectItem>
                        }
                    </MudSelect>
                </td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.UpperWeightThreshold</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center; " Disabled=false 
                        TValue="decimal" @bind-Value=@ItemCast.UpperWeightThreshold />
				</td>
                <td>@LocaleCore.Table.NominalWeight</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center; " Disabled=false 
                        TValue="decimal" @bind-Value=@ItemCast.NominalWeight />
				</td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.LowerWeightThreshold</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center; " Disabled=false 
                        TValue="decimal" @bind-Value=@ItemCast.LowerWeightThreshold />
				</td>
                <td>@LocaleCore.Table.ShelfLifeDays</td>
                <td>
                    <RadzenButton Style="width: 10%; " Disabled=false Icon="autorenew"
                        Click=@(_ => OnClickFieldsFill(nameof(ItemCast.XmlGoodsShelfLifeDays))) />
                    <RadzenNumeric Style="width: 88%; text-align: center; " Disabled=false 
                        TValue="short" @bind-Value=@ItemCast.GoodsShelfLifeDays />
				</td>
            </tr>
            <tr>
                <td colspan=2>
                    <RadzenLabel Style="width: 100%; text-align: center; font-size: 12px; " 
                        Text=@LocaleCore.Table.GoodsTareWeightDescription />
                </td>
                <td colspan=2>
                    <RadzenLabel Style="width: 100%; text-align: center; font-size: 12px; " 
                        Text=@GetWeightFormula() />
                </td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.GoodsTareWeight</td>
                <td>
                    <RadzenNumeric Style="width: 88%; text-align: center; " Disabled=false 
                        TValue="decimal" @bind-Value=@ItemCast.GoodsTareWeight />
                    <RadzenButton Style="width: 10%; " Disabled=false 
                        Icon="aspect_ratio" ButtonStyle=@ButtonStyle.Secondary 
                        Click=@(_ => OnClickFieldsFill(nameof(ItemCast.CalcGoodsTareWeight))) />
                </td>
                <td>@LocaleCore.Table.GoodsBoxQuantly</td>
                <td>
                    <RadzenButton Style="width: 10%; " Disabled=false Icon="autorenew"
                        Click=@(_ => OnClickFieldsFill(nameof(ItemCast.XmlGoodsBoxQuantly))) />
                    <RadzenNumeric Style="width: 88%; text-align: center; " Disabled=false 
                        TValue="int" @bind-Value=@ItemCast.GoodsBoxQuantly />
                </td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.Ean13</td>
                <td >
                    <RadzenButton Style="width: 10%; " Disabled=false Icon="autorenew"
                        Click=@(_ => OnClickFieldsFill(nameof(ItemCast.XmlEan13))) />
                    <RadzenTextBox Style="width: 80%; text-align: center; " Disabled=false 
                        @bind-Value=@ItemCast.Ean13 />
                    <RadzenLabel Style="width: 6%; text-align: center; " 
                        Text=@ItemCast.Ean13.Length.ToString() />
                </td>
                <td>@LocaleCore.Table.Gtin</td>
                <td >
                    <RadzenButton Style="width: 10%; " Disabled=false Icon="autorenew"
                        Click=@(_ => OnClickFieldsFill(nameof(ItemCast.XmlGtin))) />
                    <RadzenTextBox Style="width: 70%; text-align: center; " Disabled=false 
                        @bind-Value=@ItemCast.Gtin />
                    <RadzenLabel Style="width: 5%; text-align: center; " 
                        Text=@ItemCast.Gtin.Length.ToString() />
                    <RadzenButton Style="width: 10%; " Disabled=false 
                        Icon="aspect_ratio" ButtonStyle=@ButtonStyle.Secondary 
                        Click=@(_ => OnClickFieldsFill(nameof(Barcode.GetGtinWithCheckDigit))) />
                </td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.Itf14</td>
                <td >
                    <RadzenButton Style="width: 10%; " Disabled=false Icon="autorenew"
                        Click=@(_ => OnClickFieldsFill(nameof(ItemCast.XmlItf14))) />
                    <RadzenTextBox Style="width: 76%; text-align: center; " Disabled=false 
                        @bind-Value=@ItemCast.Itf14 />
                    <RadzenLabel Style="width: 10%; text-align: center; " Text=@ItemCast.Itf14.Length.ToString() />
                </td>
                <td >
                    <RadzenButton Style="width: 100%; " Disabled=false Icon="autorenew"
                        Text=@TableActionFill
                        Click=@(_ => OnClickFieldsFill(nameof(TableActionFill))) />
				</td>
                <td >
                    <RadzenButton Style="width: 100%; " Disabled=false Icon="clear" 
                        Text=@TableActionClear
                        Click=@(_ => OnClickFieldsFill(nameof(TableActionClear))) />
				</td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.Name
                    <RadzenButton Style="align-self: end; " Disabled=false Icon="autorenew"
                        Click=@(_ => OnClickFieldsFill(nameof(ItemCast.XmlGoodsName))) />
                    </td>
                <td colspan="3">
                    <RadzenTextBox Style="width: 100%; " Disabled=false @bind-Value=@ItemCast.GoodsName />
				</td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.GoodsFullName
                    <RadzenButton Style="align-content: end; " Disabled=false Icon="autorenew"
                        Click=@(_ => OnClickFieldsFill(nameof(ItemCast.XmlGoodsFullName))) />
                    </td>
                <td colspan="3">
                    <RadzenTextBox Style="width: 100%; " Disabled=false @bind-Value=@ItemCast.GoodsFullName />
				</td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.GoodsDescription
                    <RadzenButton Style="align-content: flex-end; " Disabled=false Icon="autorenew"
                        Click=@(_ => OnClickFieldsFill(nameof(ItemCast.XmlGoodsDescription))) />
                    </td>
                <td colspan=3>
                    <RadzenTextArea Style="width: 100%; font-size: 12px; " Disabled=false @bind-Value=@ItemCast.GoodsDescription Rows=3 />
				</td>
            </tr>
            <tr >
                <td>@LocaleCore.Table.XmlPretty</td>
                <td colspan=3>
                    <RadzenButton Style="width: 10%; " Disabled=false Icon="autorenew"
                        Click=@(_ => OnClickFieldsFill(nameof(ItemCast.XmlGoodsDescription))) />
                    <RadzenTextArea Style="width: 88%; text-align: left; font-size: 10px; background-color: lightgray; " 
                        Disabled=false ReadOnly=true Rows=30 
                        Value=@(XmlUtils.GetXmlpretty(ItemCast.Nomenclature.SerializedRepresentationObject)) />
                </td>
            </tr>
        </tbody>
    </MudSimpleTable>
    
    <ActionsSave ParentRazor=@(this) ButtonSettings=@ButtonSettings />
    <ItemDates ParentRazor=@(this) />
}
