@inherits BlazorCore.Models.RazorBase
@page "/item/workshop"
@page "/item/workshop/{IdentityId:long}"
@page "/item/workshop/{IdentityId:long}/{TableAction}"
@using BlazorDeviceControl.Shared.Component
@using DataCore.Localizations
@using DataCore.Sql.TableScaleModels
@using Microsoft.AspNetCore.Components
@using static DataCore.Localizations.LocaleData.DeviceControl
@using static BlazorCore.Utils.BlazorCoreUtuls

@if (!IsLoaded)
{
    <ActionsLoad ParentRazor=@(this) DataLoadItem=ShareEnums.ActionLoad.Loading IsShowProgress=true />
}
else
{
    <ActionsReloadItem ParentRazor=@(this) 
        Title=@LocaleData.DeviceControl.Items.Workshop />

    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
        <thead>
            <tr>
                <th Style="color:blue; font-weight:bold; width: 25%; ">@LocaleCore.Strings.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 25%; ">@LocaleCore.Strings.RecordValue</th>
                <th Style="color:blue; font-weight:bold; width: 25%; ">@LocaleCore.Strings.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 25%; ">@LocaleCore.Strings.RecordValue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@LocaleCore.Table.Id</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true
                        TValue="long" @bind-Value=@ItemCast.IdentityId />
				</td>
                <td>@LocaleCore.Table.Marked</td>
                <td>
                    <RadzenCheckBox Disabled=false TValue="bool" @bind-Value=@ItemCast.IsMarked />
                </td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.Name</td>
                <td colspan=3>
                    <RadzenTextBox Style="width: 100%; text-align: left;" 
                        Disabled=false ReadOnly=false
                        TValue="string" @bind-Value=@ItemCast.Name />
				</td>
            </tr>
            <tr>
                <td>
                    <RadzenLink Style="width: 100%; margin-left: 0px; " 
                        Path=@GetPath(UriRouteItem.ProductionFacility, ItemCast.ProductionFacility, ItemCast.ProductionFacility.IdentityId)
                        Text=@LocaleCore.Table.ProductionFacilityName />
                </td>
                <td colspan=3>
                    <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                    @bind-Value=@ItemCast.ProductionFacility.IdentityId >
                        @foreach (ProductionFacilityEntity item in ProductionFacilities)
                        {
                            <MudSelectItem Value=@item.IdentityId >@item.Name</MudSelectItem>
                        }
                    </MudSelect>
                </td>
            </tr>
        </tbody>
    </MudSimpleTable>
    
    <ActionsSave ParentRazor=@(this) ButtonSettings=@ButtonSettings />
    <ItemDates ParentRazor=@(this) />
}
