@inherits BlazorCore.Models.RazorBase
@page "/item/contragent"
@page "/item/contragent/{IdentityUidStr}"
@page "/item/contragent/{IdentityUidStr}/{TableAction}"
@using BlazorDeviceControl.Shared.Component
@using DataCore.Localizations

@if (!IsLoaded)
{
    <ActionsLoad ParentRazor=@this DataLoadItem=ShareEnums.ActionLoad.Loading IsShowProgress=true />
}
else
{
    <ActionsReloadItem ParentRazor=@this 
        Title=@LocaleData.DeviceControl.Items.Contragent SetParameters=@SetParametersAsync />

    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
        <thead>
            <tr>
                <th Style="color:blue; font-weight:bold; width: 30%; ">@LocaleCore.Strings.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 30%; ">@LocaleCore.Strings.RecordValue</th>
                <th Style="color:blue; font-weight:bold; width: 20%; ">@LocaleCore.Strings.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 20%; ">@LocaleCore.Strings.RecordValue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@LocaleCore.Table.Uid</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true
                        @bind-Value=@ItemCast.IdentityUidStr />
				</td>
                <td>@LocaleCore.Table.Marked</td>
                <td>
                    <RadzenCheckBox Disabled=false TValue="bool" @bind-Value=@ItemCast.IsMarked />
                </td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.Name</td>
                <td colspan=3>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.Name />
				</td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.FullName</td>
                <td colspan=3>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.FullName />
				</td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.IdRRef</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray; "
                        Disabled=false ReadOnly=true
                        TValue="string" @bind-Value=@ItemCast.IdRRefAsString />
                </td>
                <td>@LocaleCore.Table.IdDwh</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true
                        TValue="int" @bind-Value=@ItemCast.DwhId />
				</td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.Xml</td>
                <td colspan=3>
                    <RadzenTextArea Style="width: 100%; text-align: left; font-size: 12px; line-height: 20px; background-color: lightgray; " 
                        Disabled=false ReadOnly=true
                        TValue="string" @bind-Value=@ItemCast.Xml Rows=6 />
				</td>
            </tr>
        </tbody>
    </MudSimpleTable>
    
    <ActionsSave ParentRazor=@this ButtonSettings=@ButtonSettings />
    <ItemDates ParentRazor=@this />
}
