@inherits BlazorCore.Models.RazorDisposable
@page "/item/printer"
@page "/item/printer/{Id:long}"
@page "/item/printer/{Id:long}/{TableActionString}"
@using BlazorCore
@using BlazorDeviceControl.Shared.Component
@using BlazorDeviceControl.Shared.Section
@using DataCore
@using DataCore.DAL.TableScaleModels
@using DataCore.Utils
@using static DataCore.LocalizationData.DeviceControl

@if (ItemCast == null)
{
    <ActionsLoad ParentRazor=@this DataLoadItem=ShareEnums.ActionLoad.Loading IsShowProgress=true />
}
else
{
    <ActionsReload ParentRazor=@this Title=@LocalizationData.DeviceControl.ItemPrinter SetParameters=@SetParametersAsync 
        IsShowItemsCount=false IsShowMarkedFilter=false />

    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
        <thead>
            <tr>
                <th Style="color:blue; font-weight:bold; width: 20%; ">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 30%; ">@LocalizationCore.Strings.Main.RecordValue</th>
                <th Style="color:blue; font-weight:bold; width: 20%; ">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 30%; ">@LocalizationCore.Strings.Main.RecordValue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldId</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true
                        TValue="long" @bind-Value=@ItemCast.Id />
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldName</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; " Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.Name />
                </td>
                <td>@LocalizationData.DeviceControl.TableFieldPrinterMac</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.MacAddress.Value />
                </td>
            </tr>
            <tr>
                <td>
                    <RadzenLink Style="width: 100%; margin-left: 0px; " Target="_blank"
                        Path=@ItemCast.Link 
                        Text=@LocalizationData.DeviceControl.TableFieldPrinterControlPanel />
                </td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.Ip />
                </td>
                <td>
                    <RadzenLink Style="width: 100%; margin-left: 0px; "
                        Path=@GetPath(UriRouteItem.PrinterType, ItemCast.PrinterType, ItemCast.PrinterType.Id)
                        Text=@LocalizationData.DeviceControl.TableFieldPrinterType />
                </td>
                <td>
                    @if (PrinterTypes == null)
                    {
                        <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                    }
                    else
                    {
                        <RadzenDropDownDataGrid 
                            Style="width: 100%;" TValue="int"
                            FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive
                            AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                            Data=@PrinterTypes PageSize=10 TextProperty="Name" ValueProperty="Id"
                            Value=@ItemCast.PrinterType.Id
                            Change=@(args => OnItemValueChange(ItemCast, nameof(ItemCast.PrinterType), args)) >
                            <Columns>
                                <RadzenDropDownDataGridColumn Property="Name" Title=@LocalizationData.DeviceControl.TableFieldName Width="100%" />
                            </Columns>
                        </RadzenDropDownDataGrid>
                    }
                </td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldPrinterPort</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="short" @bind-Value=@ItemCast.Port />
                </td>
                <td>@LocalizationData.DeviceControl.TableFieldPrinterPassword</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.Password />
                </td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldHttpStatusCode</td>
                <td>
                    <RadzenIcon Style="width: 16%; align-content: center; "
                        Icon=@(ItemCast.HttpStatusCode == System.Net.HttpStatusCode.OK ? "network_wifi_3_bar" : "signal_wifi_statusbar_null")/>
                    <RadzenLabel Disabled=false ReadOnly=true Style="width: 80%; text-align: left; " 
                        Text=@ItemCast.HttpStatusCode.ToString() />
                </td>
                @if (ItemCast.HttpStatusException != null)
                {
                    <td>@LocalizationData.DeviceControl.TableFieldHttpStatusException</td>
                    <td>
                        <RadzenLabel Style="width: 100%; " 
                            Text=@(ItemCast.HttpStatusException != null ? ItemCast.HttpStatusException.Message : "") />
                    </td>
                }
                else
                {
                    <td colspan=2>@LocalizationData.DeviceControl.TableFieldHttpStatusNoException</td>
                }
            </tr>
        </tbody>
    </MudSimpleTable>
    
    <PrinterResources Table=@Table PrinterId=@Id />
    
    <ActionsSave ParentRazor=@this ButtonSettings=@ButtonSettings />
    <ItemDates ParentRazor=@this />
}
