@inherits BlazorCore.Models.RazorBase
@page "/item/template"
@page "/item/template/{IdentityId:long}"
@page "/item/template/{IdentityId:long}/{TableAction}"
@using BlazorDeviceControl.Shared.Component
@using DataCore
@using DataCore.Utils
@using LocalizationCore = DataCore.Localization.Core

@if (!IsLoaded)
{
    <ActionsLoad ParentRazor=@this DataLoadItem=ShareEnums.ActionLoad.Loading IsShowProgress=true />
}
else
{
    <ActionsReloadItem ParentRazor=@this 
        Title=@LocalizationData.DeviceControl.Items.Template SetParameters=@SetParametersAsync />

    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
        <thead>
            <tr>
                <th Style="color:blue; font-weight:bold; width: 15%; ">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 35%; ">@LocalizationCore.Strings.Main.RecordValue</th>
                <th Style="color:blue; font-weight:bold; width: 15%; ">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 35%; ">@LocalizationCore.Strings.Main.RecordValue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldId</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true
                        TValue="long" @bind-Value=@ItemCast.IdentityId />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldMarked</td>
                <td>
                    <RadzenCheckBox Disabled=false TValue="bool" @bind-Value=@ItemCast.IsMarked />
                </td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldTitle</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; " Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.Title />
				</td>
                <td>
                    <RadzenLabel Style="width: 100%; text-align: center; " Text=@LocalizationData.DeviceControl.TableFieldCategoryName />
                </td>
                <td>
                    @if (TemplateCategories == null)
                    {
                        <RadzenTextBox Style="width: 100%; " Disabled=false ReadOnly=true TValue="string" Value="" />
                        <RadzenProgressBar Value=100 ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="width: 77%; height: 15px" />
                    }
                    else
                    {
                        <RadzenDropDown Style="width: 100%;" TValue="string" FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive
                            AllowFiltering=true AllowClear=true AllowFilteringByAllStringColumns=true
                            Data=@TemplateCategories PageSize=@AppSettings.DataAccess.JsonSettings.ItemRowCount TextProperty="Name" 
                            ValueProperty="Value" Value=@ItemCast.CategoryId 
                            Change=@(args => OnItemValueChange(ItemCast, nameof(ItemCast.CategoryId), args)) />
                    }
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldImageData</td>
                <td colspan=3 >
                    <RadzenTextArea Style="width: 100%; text-align: left; font-size: 12px; line-height: 20px; " Disabled=false ReadOnly=false
                        TValue="string" @bind-Value=@ItemCast.ImageData.ValueUnicode Rows=26 />
				</td>
            </tr>
        </tbody>
    </MudSimpleTable>
    
    <ActionsSave ParentRazor=@this ButtonSettings=@ButtonSettings />
    <ItemDates ParentRazor=@this />
}
