@inherits BlazorCore.Models.RazorBase
@page "/item/info"
@using BlazorDeviceControl.Shared.Component
@using DataCore.Localizations
@using static BlazorCore.Utils.BlazorCoreUtuls

<ActionsReloadItem ParentRazor=@(this)
                   Title=@LocaleCore.System.SystemInfo />

<MudElement HtmlTag="h3" Class="ma-0">@LocaleCore.Strings.AppSettings</MudElement>
<MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
    <thead>
        <tr>
            <th Style="color:blue; font-weight:bold; width: 40%; ">@LocaleCore.Strings.SettingName</th>
            <th Style="color:blue; font-weight:bold; width: 30%; ">@LocaleCore.Strings.SettingValue</th>
            <th Style="color:blue; font-weight:bold; width: 30%; "></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@LocaleCore.Strings.VerApp</td>
            <td colspan=2>
                @if (string.IsNullOrEmpty(VerApp))
                {
                    <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                }
                else
                {
                    <MudElement Class="ma-0">@VerApp</MudElement>
                }
            </td>
        </tr>
        <tr>
            <td>@LocaleCore.Strings.VerLibBlazorAndDataCore</td>
            <td>
                @if (string.IsNullOrEmpty(VerLibDataCore))
                {
                    <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                }
                else
                {
                    <MudElement Class="ma-0">@VerLibBlazorCore</MudElement>
                }
            </td>
            <td>
                @if (string.IsNullOrEmpty(VerLibDataCore))
                {
                    <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                }
                else
                {
                    <MudElement Class="ma-0">@VerLibDataCore</MudElement>
                }
            </td>
        </tr>
        <tr>
            <td>@LocaleCore.Strings.HostName</td>
            <td colspan=2>
                @if (string.IsNullOrEmpty(Environment.MachineName))
                {
                    <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                }
                else
                {
                    <MudElement Class="ma-0">@Environment.MachineName</MudElement>
                }
            </td>
        </tr>
        <tr>
            <td>@LocaleCore.Sql.SqlServer</td>
            <td colspan=2>
                @if (string.IsNullOrEmpty(AppSettings.DataAccess.JsonSettingsLocal.Sql.DataSource))
                {
                    <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                }
                else
                {
                    <MudElement Class="ma-0">@AppSettings.DataAccess.JsonSettingsLocal.Sql.DataSource</MudElement>
                }
            </td>
        </tr>
        <tr>
            <td>
                @LocaleCore.Sql.SqlDb
            </td>
            <td colspan=2>
                @if (string.IsNullOrEmpty(AppSettings.DataAccess.JsonSettingsLocal.Sql.InitialCatalog))
                {
                    <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                }
                else
                {
                    <MudElement Class="ma-0">@AppSettings.DataAccess.JsonSettingsLocal.Sql.InitialCatalog</MudElement>
                }
            </td>
        </tr>
        <tr>
            <td>
                @if (AppSettings.DataAccess.JsonSettingsLocal.Sql.PersistSecurityInfo == true)
                {
                    @LocaleCore.System.SystemWindowsUser
                }
                else
                {
                    @LocaleCore.Sql.SqlUser
                }
            </td>
            <td colspan=2>
                @if (string.IsNullOrEmpty(AppSettings.DataAccess.JsonSettingsLocal.Sql.UserId))
                {
                    <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                }
                else
                {
                    <MudElement Class="ma-0">@AppSettings.DataAccess.JsonSettingsLocal.Sql.UserId</MudElement>
                }
            </td>
        </tr>
        <tr>
            <td>@LocaleCore.Strings.DbAndMemory</td>
            <td >
                @if (DbCurSize == 0)
                {
                    <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                }
                else
                {
                    <MudElement Class="ma-0">@DbCurSizeAsString</MudElement>
                }
            </td>
            <td>
                @if (AppSettings.Memory == null)
                {
                    <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                }
                else
                {
                    <MudElement Class="ma-0">@AppSettings.MemoryInfoShort</MudElement>
                }
            </td>
        </tr>
        <tr>
            <td>@LocaleCore.Strings.DbAndMemoryProgressBar</td>
            <td>
                @if (DbCurSize == 0)
                {
                    <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                }
                else
                {
                    <RadzenProgressBar class=@GetCssName.RadzenProgressBar Value=@DbFillSize ShowValue="true" />
                }
            </td>
            <td>
                @if (AppSettings.Memory == null)
                {
                    <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                }
                else
                {
                    <RadzenProgressBar class=@GetCssName.RadzenProgressBar Value=@AppSettings.MemoryFillSize ShowValue="true" />   
                }
            </td>
        </tr>
        <tr style="height: 200px; ">
            <td>@LocaleCore.Strings.DbAndMemoryGauge</td>
            <td>
                @if (DbFillSize == 0)
                {
                    <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                }
                else
                {
                    <RadzenRadialGauge Style="width: 250px; height: 250px;">
                        <RadzenRadialGaugeScale StartAngle="-150" EndAngle="150" Step=1024 Min=0 Max=@DbMaxSize
                            TickPosition=@GaugeTickPosition.Inside>
                            <RadzenRadialGaugeScalePointer Length=0.7 ShowValue=true Value=@DbCurSize>
                                <Template Context="pointer">
                                    <h4>@pointer.Value<sup>MB</sup></h4>
                                </Template>
                            </RadzenRadialGaugeScalePointer>
                            <RadzenRadialGaugeScaleRange From="0" To="75" Fill="green"/>
                            <RadzenRadialGaugeScaleRange From="75" To="90" Fill="orange"/>
                            <RadzenRadialGaugeScaleRange From="90" To="100" Fill="red"/>
                        </RadzenRadialGaugeScale>
                    </RadzenRadialGauge>
                }
            </td>
            <td>
                @if (AppSettings.Memory == null || AppSettings.Memory.MemorySize == null ||
                AppSettings.Memory.MemorySize.PhysicalTotal == null || AppSettings.Memory.MemorySize.PhysicalCurrent == null)
                {
                    <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                }
                else
                {
                    <RadzenRadialGauge Style="width: 250px; height: 250px; ">
                        <RadzenRadialGaugeScale StartAngle="-150" EndAngle="150" Step=1024 Min=0
                            Max=@AppSettings.Memory.MemorySize.PhysicalTotal.MegaBytes
                            TickPosition=@GaugeTickPosition.Inside >
                            <RadzenRadialGaugeScalePointer Length=0.7 ShowValue=true
                                Value=@AppSettings.Memory.MemorySize.PhysicalCurrent.MegaBytes>
                                <Template Context="pointer">
                                    <h4>@pointer.Value<sup>MB</sup></h4>
                                </Template>
                            </RadzenRadialGaugeScalePointer>
                            <RadzenRadialGaugeScaleRange From="0" To="75" Fill="green" />
                            <RadzenRadialGaugeScaleRange From="75" To="90" Fill="orange" />
                            <RadzenRadialGaugeScaleRange From="90" To="100" Fill="red" />
                        </RadzenRadialGaugeScale>
                    </RadzenRadialGauge>
                }            </td>
        </tr>
        <tr>
            <td>@LocaleCore.Settings.SectionAndItemRowsCount</td>
            <td>
                <MudElement Class="ma-0">@AppSettings.DataAccess.JsonSettingsLocal.SectionRowsCount</MudElement>
            </td>
            <td>
                <MudElement Class="ma-0">@AppSettings.DataAccess.JsonSettingsLocal.ItemRowsCount</MudElement>
            </td>
        </tr>
        <tr>
            <td>@LocaleCore.Settings.SelectTopRowsCount</td>
            <td colspan=2>
                <MudElement Class="ma-0">@AppSettings.DataAccess.JsonSettingsLocal.SelectTopRowsCount</MudElement>
            </td>
        </tr>
        <tr>
            <td>@LocaleCore.Settings.Version</td>
            <td colspan=2>
                <MudElement Class="ma-0">@AppSettings.DataAccess.JsonSettingsLocal.Version</MudElement>
            </td>
        </tr>
        <tr>
            <td>@LocaleCore.Settings.AllowedHosts</td>
            <td colspan=2>
                <MudElement Class="ma-0">@AppSettings.DataAccess.JsonSettingsLocal.AllowedHosts</MudElement>
            </td>
        </tr>
    </tbody>
</MudSimpleTable>
<br />

<MudElement HtmlTag="h3" Class="ma-0">@LocaleCore.Strings.UserSettings</MudElement>
<MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
    <thead>
        <tr>
            <th Style="color:blue; font-weight:bold;">@LocaleCore.Strings.SettingName</th>
            <th Style="color:blue; font-weight:bold;">@LocaleCore.Strings.SettingValue</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@LocaleCore.Strings.AuthorizingUserName</td>
            @if (string.IsNullOrEmpty(UserSettings.Identity.UserName))
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td><MudElement Class="ma-0">@UserSettings.Identity.UserName</MudElement></td>
            }
        </tr>
        <tr>
            <td>@LocaleCore.Strings.AccessRights</td>
            <td><MudElement Class="ma-0">@UserSettings.Identity.GetDescriptionAccessRights(UserSettings.Identity.AccessRights)</MudElement></td>
        </tr>
        <tr>
            <td>@LocaleCore.Strings.Language</td>
            @if (TemplateLanguages == null)
            {
                <td><ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true /></td>
            }
            else
            {
                <td>
                    <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                           @bind-Value=@LocaleCore.Lang>
                        @foreach (ShareEnums.Lang lang in Langs)
                        {
                            <MudSelectItem Value=@lang>@lang.ToString()</MudSelectItem>
                        }
                    </MudSelect>
                    @*<RadzenDropDown
                TValue=@ShareEnums.Lang
                Data=@TemplateLanguages TextProperty="Name"
                ValueProperty="Value"
                Change=@(args => OnLocalizationValueChange(TemplateLanguages, args))/>*@
                </td>
            }
        </tr>
    </tbody>
</MudSimpleTable>
