@page "/item/log"
@page "/item/log/{UidStr}"
@using BlazorCore.Models
@using DataCore
@using DataCore.Utils
@using BlazorDeviceControl.Shared.Component
@using BlazorDeviceControl.Shared.Section
@using BlazorCore
@inherits RazorDisposable

<ActionsReload Title=@LocalizationData.DeviceControl.ItemLog SetParameters=@SetParametersAsync />

@if (Item == null)
{
    <ActionsLoad DataLoadItem=ShareEnums.ActionsLoad.Loading IsShowProgress=true />
}
else
{
    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
        <thead>
            <tr>
                <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordValue</th>
                <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordValue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldUid</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true 
                        TValue="string" @bind-Value=@UidStr />
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldHost</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false ReadOnly=true 
                        TValue="string" @bind-Value=@LogItem.Host.Name />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldApp</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false ReadOnly=true 
                        TValue="string" @bind-Value=@LogItem.App.Name />
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldVersion</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false ReadOnly=true 
                        TValue="string" @bind-Value=@LogItem.Version />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldFile</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false ReadOnly=true 
                        TValue="string" @bind-Value=@LogItem.File />
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldRow</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center" Disabled=false ReadOnly=true 
                        TValue="int" @bind-Value=@LogItem.Line />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldMember</td>
                <td >
                    <RadzenTextBox Style="width: 100%; text-align: center" Disabled=false ReadOnly=true 
                        TValue="string" @bind-Value=@LogItem.Member />
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldLogType</td>
                <td >
                    <RadzenTextBox Style="width: 100%; text-align: center" Disabled=false ReadOnly=true 
                        TValue="string" @bind-Value=@LogItem.LogType.Icon />
				</td>
            </tr>
            <tr >
                <td>@LocalizationData.DeviceControl.TableFieldMessage</td>
                <td colspan=3 rowspan=3>
                    <RadzenTextArea Style="width: 100%; text-align: left" Disabled=false ReadOnly=true 
                        TValue="string" @bind-Value=@LogItem.Message Rows=3 />
				</td>
            </tr>
        </tbody>
    </MudSimpleTable>
    
    <ActionsSave ParentRazor=@this ButtonSettings=@ButtonSettings />
    <ItemDates ParentRazor=@this />
}
