@page "/item/nomenclature"
@page "/item/nomenclature/{Id:long}"
@page "/item/nomenclature/{Id:long}/{TableActionString}"
@using BlazorDeviceControl.Shared.Component
@using DataCore
@using DataCore.Utils
@inherits RazorDisposable

@if (ItemCast == null)
{
    <ActionsLoad ParentRazor=@this DataLoadItem=ShareEnums.ActionLoad.Loading IsShowProgress=true />
}
else
{
    <ActionsReload ParentRazor=@this Title=@LocalizationData.DeviceControl.ItemNomenclature SetParameters=@SetParametersAsync 
        IsShowItemsCount=false IsShowMarkedFilter=false />

    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
        <thead>
            <tr>
                <th Style="color:blue; font-weight:bold; width: 20%; ">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 30%; ">@LocalizationCore.Strings.Main.RecordValue</th>
                <th Style="color:blue; font-weight:bold; width: 20%; ">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 30%; ">@LocalizationCore.Strings.Main.RecordValue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldId</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true 
                        TValue="long" @bind-Value=@ItemCast.Id />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldWeighted</td>
                <td>
                    <RadzenCheckBox Disabled=false TValue="bool" @bind-Value=@ItemCast.Weighted />
                </td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldName</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false ReadOnly=false 
                        TValue="string" @bind-Value=@ItemCast.Name />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldCode</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false ReadOnly=false 
                        TValue="string" @bind-Value=@ItemCast.Code />
				</td>
            </tr>
            <tr >
                <td>@LocalizationData.DeviceControl.TableFieldXml</td>
                <td colspan=3>
                    <RadzenTextArea Style="width: 100%; text-align: left; font-size: 12px; line-height: 20px; " Disabled=false ReadOnly=false 
                        TValue="string" @bind-Value=@ItemCast.SerializedRepresentationObject Rows=20 />
				</td>
            </tr>
        </tbody>
    </MudSimpleTable>
    
    <ActionsSave ParentRazor=@this ButtonSettings=@ButtonSettings />
    <ItemDates ParentRazor=@this />
}

@*
<RadzenLabel Style="width: 100%; text-align: center;" Text=@LocalizationData.DeviceControl.SectionNomenclatureUnits />
<br />
    @if (NomenclatureUnitsEntities == null)
    {
        <RadzenLabel Text=@LocalizationData.DeviceControl.DataLoading />
        <RadzenProgressBar Value=100 ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="width: 77%; height: 15px" />
    }
    else
    {
        <RadzenGrid Data=@NomenclatureUnitsEntities TItem="NomenclatureUnitsEntity"
                    RowSelect=@(args => RowSelectAsync(args)) RowDoubleClick=@(args => RowDoubleClickAsync(args))
                    AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced"
                    AllowPaging="true" PageSize="10" AllowSorting="true" ColumnWidth="200px">
            <Columns>
                <RadzenGridColumn TItem="NomenclatureUnitsEntity" Property="Id" Title=@LocalizationData.DeviceControl.TableFieldId
                                    Type="int" Width="10%" />
                <RadzenGridColumn TItem="NomenclatureUnitsEntity" Property="CreateDate" Title=@LocalizationData.DeviceControl.TableFieldCreateDt
                                    Type="DateTime" Width="10%" />
                <RadzenGridColumn TItem="NomenclatureUnitsEntity" Property="ModifiedDate" Title=@LocalizationData.DeviceControl.TableFieldModifiedDate
                                    Type="DateTime" Width="10%" />
                <RadzenGridColumn TItem="NomenclatureUnitsEntity" Property="Name" Title=@LocalizationData.DeviceControl.TableFieldName
                                    Type="string" Width="10%" />
                <RadzenGridColumn TItem="NomenclatureUnitsEntity" Property="NomenclatureId" Title=@LocalizationData.DeviceControl.TableFieldNomenclatureId
                                    Type="string" Width="10%" />
                <RadzenGridColumn TItem="NomenclatureUnitsEntity" Property="Marked" Title=@LocalizationData.DeviceControl.TableFieldMarked
                                    Type="bool" Width="10%" />
                <RadzenGridColumn TItem="NomenclatureUnitsEntity" Property="PackWeight" Title=@LocalizationData.DeviceControl.TableFieldPackWeight
                                    Type="decimal" Width="10%" />
                <RadzenGridColumn TItem="NomenclatureUnitsEntity" Property="PackQuantly" Title=@LocalizationData.DeviceControl.TableFieldPackQuantly
                                    Type="int" Width="10%" />
                <RadzenGridColumn TItem="NomenclatureUnitsEntity" Property="PackTypeId" Title=@LocalizationData.DeviceControl.TableFieldPackTypeId
                                    Type="int" Width="10%" />
            </Columns>
        </RadzenGrid>
    }

<RadzenLabel Style="width: 100%; text-align: center;" Text=@LocalizationData.DeviceControl.SectionBarcodes />
<br />
@if (BarCodesEntities == null)
    {
        <RadzenLabel Text=@LocalizationData.DeviceControl.DataLoading />
        <RadzenProgressBar Value=100 ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="width: 77%; height: 15px" />
    }
    else
    {
        <RadzenGrid id="RadzenGrid" Data=@BarCodesEntities TItem="BarCodesEntity"
                    RowSelect=@(args => RowSelectAsync(args)) RowDoubleClick=@(args => RowDoubleClickAsync(args))
                    AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced"
                    AllowPaging="true" PageSize="10" AllowSorting="true" ColumnWidth="200px">
            <Columns>
                <RadzenGridColumn TItem="BarCodesEntity" Property="Id" Title=@LocalizationData.DeviceControl.TableFieldId
                                    Type="int" Width="10%" />
                <RadzenGridColumn TItem="BarCodesEntity" Property="CreateDate" Title=@LocalizationData.DeviceControl.TableFieldCreateDt
                                    Type="DateTime" Width="10%" />
                <RadzenGridColumn TItem="BarCodesEntity" Property="ModifiedDate" Title=@LocalizationData.DeviceControl.TableFieldModifiedDate
                                    Type="DateTime" Width="10%" />
                <RadzenGridColumn TItem="BarCodesEntity" Property="BarCodeTypeId" Title=@LocalizationData.DeviceControl.TableFieldBarCodeTypeId
                                    Type="int" Width="10%" />
                <RadzenGridColumn TItem="BarCodesEntity" Property="NomenclatureId" Title=@LocalizationData.DeviceControl.TableFieldNomenclatureId
                                    Type="int" Width="10%" />
                <RadzenGridColumn TItem="BarCodesEntity" Property="NomenclatureUnitId" Title=@LocalizationData.DeviceControl.TableFieldNomenclatureUnitId
                                    Type="int" Width="10%" />
                <RadzenGridColumn TItem="BarCodesEntity" Property="ContragentId" Title=@LocalizationData.DeviceControl.TableFieldContragentId
                                    Type="int" Width="10%" />
                <RadzenGridColumn TItem="BarCodesEntity" Property="Value" Title=@LocalizationData.DeviceControl.TableFieldValue
                                    Type="string" Width="10%" />
            </Columns>
        </RadzenGrid>
    }
*@
