@page "/item/plu"
@page "/item/plu/{Id:long}"
@page "/item/plu/{Id:long}/{TableActionString}"
@using BlazorCore.Models
@using DataCore.DAL.TableDirectModels
@using DataCore.Utils
@using BlazorDeviceControl.Shared.Component
@using BlazorDeviceControl.Shared.Section
@using BlazorCore
@inherits RazorDisposable

@if (ItemCast == null)
{
    <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.Loading IsShowProgress=true />
}
else
{
    <ActionsReload Title=@LocalizationData.DeviceControl.ItemPlu SetParameters=@SetParametersAsync 
        IsShowItemsCount=false IsShowMarkedFilter=@IsShowMarkedFilter IsShowMarkedItems=@IsShowMarkedItems />

    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
        <thead>
            <tr>
                <th Style="color:blue; font-weight:bold; width: 30%; ">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 30%; ">@LocalizationCore.Strings.Main.RecordValue</th>
                <th Style="color:blue; font-weight:bold; width: 20%; ">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 20%; ">@LocalizationCore.Strings.Main.RecordValue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldScale</td>
                <td>
                    @if (ScaleItems == null)
                    {
                        <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                    }
                    else
                    {
                        <RadzenDropDownDataGrid 
                            Style="width: 100%; height: 35px;" TValue="int" 
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                            Data=@ScaleItems PageSize=10
                            TextProperty="Description" ValueProperty="Id"
                            Value=@ItemCast.Scale.Id Disabled=false ReadOnly=true
                            Change=@(args => OnChange(args, nameof(ScaleDirect))) />
                    }
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldTemplate</td>
                <td>
                    @if (TemplateItems == null)
                    {
                        <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                    }
                    else
                    {
                        <RadzenDropDownDataGrid 
                            Style="width: 100%; height: 35px;" TValue="int" 
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                            Data=@TemplateItems PageSize=10
                            TextProperty="Title" ValueProperty="Id"
                            Value=@ItemCast.Template.Id
                            Change=@(args => OnChange(args, nameof(TemplateDirect))) />
                    }
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldNomenclatureName</td>
                <td>
                    @if (NomenclatureItems == null)
                    {
                        <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
                    }
                    else
                    {
                        <RadzenDropDownDataGrid 
                            Style="width: 100%; height: 35px;" TValue="int" 
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                            Data=@NomenclatureItems PageSize=10
                            TextProperty="Name" ValueProperty="Id"
                            Value=@ItemCast.Nomenclature.Id
                            Change=@(args => OnChange(args, nameof(Nomenclature))) />
                    }
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldActive</td>
                <td>
                    <RadzenCheckBox Disabled=false TValue="bool" @bind-Value=@ItemCast.Active />
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldUpperWeightThreshold</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="decimal" @bind-Value=@ItemCast.UpperWeightThreshold />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldNominalWeight</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="decimal" @bind-Value=@ItemCast.NominalWeight />
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldLowerWeightThreshold</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="decimal" @bind-Value=@ItemCast.LowerWeightThreshold />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldCheckWeight</td>
                <td>
                    <RadzenCheckBox Disabled=false TValue="bool" @bind-Value=@ItemCast.CheckWeight />
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldPlu</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center;" Disabled=false TValue="int" @bind-Value=@ItemCast.Plu />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldShelfLifeDays</td>
                <td>
                    <RadzenButton Style="width: 15%; margin-right: 1%; " Disabled=false Icon="autorenew"
                        Click=@(args => OnClickFieldsFill("GoodsShelfLifeDays")) />
                    <RadzenNumeric Style="width: 80%; text-align: center;" Disabled=false 
                        TValue="short" @bind-Value=@ItemCast.GoodsShelfLifeDays />
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldGoodsTareWeight</td>
                <td>
                    <RadzenButton Style="width: 15%; margin-right: 1%; " Disabled=false Icon="autorenew"
                        Click=@(args => OnClickFieldsFill("GoodsTareWeight")) />
                    <RadzenNumeric Style="width: 80%; margin-right: 1%; text-align: center;" Disabled=false 
                        TValue="decimal" @bind-Value=@ItemCast.GoodsTareWeight />
                </td>
                <td>@LocalizationData.DeviceControl.TableFieldGoodsBoxQuantly</td>
                <td>
                    <RadzenButton Style="width: 15%; margin-right: 1%; " Disabled=false Icon="autorenew"
                        Click=@(args => OnClickFieldsFill("GoodsBoxQuantly")) />
                    <RadzenNumeric Style="width: 80%; margin-right: 1%; text-align: center;" Disabled=false 
                        TValue="int" @bind-Value=@ItemCast.GoodsBoxQuantly />
                </td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldEan13</td>
                <td colspan=3 >
                    <RadzenButton Style="width: 15%; margin-right: 1%; " Disabled=false Icon="autorenew"
                        Click=@(args => OnClickFieldsFill("EAN13")) />
                    <RadzenTextBox Style="width: 65%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.Ean13 />
                    <RadzenLabel Style="width: 8%; margin-right: 1%; text-align: center; " 
                        Text=@ItemCast.Ean13.Length.ToString() />
                </td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldGtin</td>
                <td colspan=3>
                    <RadzenButton Style="width: 15%; margin-right: 1%; " Disabled=false Icon="aspect_ratio"
                        ButtonStyle="ButtonStyle.Secondary" Click=@(args => OnClickFieldsFill("getgtin")) />
                    <RadzenButton Style="width: 15%; margin-right: 1%; " Disabled=false Icon="autorenew"
                        Click=@(args => OnClickFieldsFill("GTIN")) />
                    <RadzenTextBox Style="width: 50%; margin-right: 1%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.Gtin />
                    <RadzenLabel Style="width: 8%; margin-right: 1%; text-align: center; " 
                        Text=@ItemCast.Gtin.Length.ToString() />
                </td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldItf14</td>
                <td colspan=3>
                    <RadzenButton Style="width: 15%; margin-right: 1%; " Disabled=false Icon="autorenew"
                        Click=@(args => OnClickFieldsFill("ITF14")) />
                    <RadzenTextBox Style="width: 65%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.Itf14 />
                    <RadzenLabel Style="width: 8%; margin-right: 1%; text-align: center; " Text=@ItemCast.Itf14.Length.ToString() />
                </td>
            </tr>
            <tr>
                <td>
                    <RadzenButton Style="width: 15%; margin-right: 1%; " Disabled=false Icon="autorenew"
                        Text=@LocalizationData.DeviceControl.TableActionFill
                        Click=@(args => OnClickFieldsFill("Entity")) />
                    <RadzenButton Style="width: 50%; " Disabled=false Icon="clear" 
                        Text=@LocalizationData.DeviceControl.TableActionClear
                        Click=@(args => OnClickFieldsFill("Clear")) />
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldName</td>
                <td>
                    <RadzenButton Style="width: 15%; margin-right: 1%; " Disabled=false Icon="autorenew"
                        Click=@(args => OnClickFieldsFill("GoodsName")) />
                    <RadzenTextBox Style="width: 65%; margin-right: 1%; " Disabled=false 
                        TValue="string" @bind-value=@ItemCast.GoodsName />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldGoodsFullName</td>
                <td>
                    <RadzenButton Style="width: 15%; margin-right: 1%; " Disabled=false Icon="autorenew"
                        Click=@(args => OnClickFieldsFill("GoodsFullName")) />
                    <RadzenTextBox Style="width: 65%; margin-right: 1%; " Disabled=false 
                        TValue="string" @bind-value=@ItemCast.GoodsFullName />
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldGoodsDescription</td>
                <td>
                    <RadzenButton Style="width: 15%; margin-right: 1%; " Disabled=false Icon="autorenew"
                        Click=@(args => OnClickFieldsFill("GoodsDescription")) />
                    <RadzenTextArea Style="width: 65%; height: 60px;" Disabled=false 
                        TValue="string" @bind-value=@ItemCast.GoodsDescription />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldPluDescription</td>
                <td>
                    <RadzenTextBox Style="width: 65%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.XmlGoodsDescription />
				</td>
            </tr>
        </tbody>
    </MudSimpleTable>
    
    <ActionsSave ParentRazor=@this ButtonSettings=@ButtonSettings />
    <ItemDates ParentRazor=@this />
}
