@page "/item/plu"
@page "/item/plu/{Id:int}"
@using BlazorCore.Models
@using DataCore
@using DataProjectsCore
@using DataProjectsCore.DAL.TableModels
@using DataProjectsCore.Utils
@using BlazorDeviceControl.Shared.Component
@using BlazorDeviceControl.Shared.Section
@using DataShareCore
@inherits RazorDisposable
@inject IDialogService DialogService

@if (AppSettings.Identity.AccessLevel is true or false)
{
    <DataReload Title=@LocalizationData.DeviceControl.ItemPlu SetParameters=@SetParametersAsync />
    @if (Item == null)
    {
        <DataLoad DataLoadItem=ShareEnums.DataLoad.Loading IsShowProgress=true />
    }
    else
    {
        <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
            <thead>
                <tr>
                    <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordName</th>
                    <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordValue</th>
                    <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordName</th>
                    <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordValue</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@LocalizationData.DeviceControl.TableFieldLine</td>
                    <td>
                        @if (ScaleItems == null)
                        {
                            <DataLoad DataLoadItem=ShareEnums.DataLoad.None IsShowProgress=true />
                        }
                        else
                        {
                            <RadzenDropDownDataGrid 
                                Style="width: 100%; height: 35px;" TValue="int" 
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                                Data=@ScaleItems PageSize="5"
                                TextProperty="Description" ValueProperty="Id"
                                Value=@PluItem.Scale?.Id Disabled="true"
                                Change=@(args => OnChange(args, nameof(ScaleDirect))) />
                        }
				    </td>
                    <td>@LocalizationData.DeviceControl.TableFieldTemplate</td>
                    <td>
                        @if (TemplateItems == null)
                        {
                            <DataLoad DataLoadItem=ShareEnums.DataLoad.None IsShowProgress=true />
                        }
                        else
                        {
                            <RadzenDropDownDataGrid 
                                Style="width: 100%; height: 35px;" TValue="int" 
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                                Data=@TemplateItems PageSize="5"
                                TextProperty="Title" ValueProperty="Id"
                                Value=@PluItem.Templates?.Id
                                Change=@(args => OnChange(args, nameof(TemplateDirect))) />
                        }
				    </td>
                </tr>
                <tr>
                    <td>@LocalizationData.DeviceControl.TableFieldNomenclatureName</td>
                    <td>
                        @if (NomenclatureItems == null)
                        {
                            <DataLoad DataLoadItem=ShareEnums.DataLoad.None IsShowProgress=true />
                        }
                        else
                        {
                            <RadzenDropDownDataGrid 
                                Style="width: 100%; height: 35px;" TValue="int" 
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                                Data=@NomenclatureItems PageSize="5"
                                TextProperty="Name" ValueProperty="Id"
                                Value=@PluItem.Nomenclature?.Id
                                Change=@(args => OnChange(args, nameof(Nomenclature))) />
                        }
				    </td>
                    <td>@LocalizationData.DeviceControl.TableFieldActive</td>
                        <RadzenCheckBox Disabled="false" TValue="bool" @bind-Value=@PluItem.Active />
                    <td>
				    </td>
                </tr>
                <tr>
                    <td>@LocalizationData.DeviceControl.TableFieldUpperWeightThreshold</td>
                    <td>
                        <RadzenNumeric Style="width: 68%; text-align: center;" Disabled="false" 
                            TValue="decimal?" @bind-Value=@PluItem.UpperWeightThreshold />
				    </td>
                    <td>@LocalizationData.DeviceControl.TableFieldNominalWeight</td>
                    <td>
                        <RadzenNumeric Style="width: 68%; text-align: center;" Disabled="false" 
                            TValue="decimal?" @bind-Value=@PluItem.NominalWeight />
				    </td>
                </tr>
                <tr>
                    <td>@LocalizationData.DeviceControl.TableFieldLowerWeightThreshold</td>
                    <td>
                        <RadzenNumeric Style="width: 68%; text-align: center;" Disabled="false" 
                            TValue="decimal?" @bind-Value=@PluItem.LowerWeightThreshold />
				    </td>
                    <td>@LocalizationData.DeviceControl.TableFieldCheckWeight</td>
                    <td>
                        <RadzenCheckBox Disabled="false" TValue="bool?" @bind-Value=@PluItem.CheckWeight />
				    </td>
                </tr>
                <tr>
                    <td>@LocalizationData.DeviceControl.TableFieldPlu</td>
                    <td>
                        <RadzenNumeric Style="width: 63%; text-align: center;" Disabled="false" TValue="int" @bind-Value=@PluItem.Plu />
				    </td>
                    <td>@LocalizationData.DeviceControl.TableFieldShelfLifeDays</td>
                    <td>
                        <RadzenButton Style="width: 30%; margin-right: 1%;" Disabled="false" Icon="autorenew"
                            Click=@(args => OnClickFieldsFill("GoodsShelfLifeDays")) />
                        <RadzenNumeric Style="width: 70%; text-align: center;" Disabled="false" 
                            TValue="short" @bind-Value=@PluItem.GoodsShelfLifeDays />
				    </td>
                </tr>
                <tr>
                    <td>@LocalizationData.DeviceControl.TableFieldGoodsTareWeight</td>
                        <RadzenButton Style="width: 30%; margin-right: 1%;" Disabled="false" Icon="autorenew"
                            Click=@(args => OnClickFieldsFill("GoodsTareWeight")) />
                        <RadzenNumeric Style="width: 70%; text-align: center;" Disabled="false" 
                            TValue="decimal" @bind-Value=@PluItem.GoodsTareWeight />
                    <td>
				    </td>
                    <td>@LocalizationData.DeviceControl.TableFieldGoodsBoxQuantly</td>
                        <RadzenButton Style="width: 30%; margin-right: 1%;" Disabled="false" Icon="autorenew"
                            Click=@(args => OnClickFieldsFill("GoodsBoxQuantly")) />
                        <RadzenNumeric Style="width: 70%; text-align: center;" Disabled="false" 
                            TValue="int" @bind-Value=@PluItem.GoodsBoxQuantly />
                    <td>
				    </td>
                </tr>
                <tr>
                    <td>@LocalizationData.DeviceControl.TableFieldEan13</td>
                        <RadzenButton Style="width: 30%; margin-right: 1%;" Disabled="false" Icon="autorenew"
                            Click=@(args => OnClickFieldsFill("EAN13")) />
                        <RadzenTextBox Style="width: 60%; text-align: center;" Disabled="false" 
                            TValue="string" @bind-Value=@PluItem.Ean13 />
                        @if (PluItem?.Ean13 == null)
                        {
                            <RadzenLabel Style="width: 10%; text-align: center; " Text="0" />
                        }
                        else
                        {
                            <RadzenLabel Style="width: 10%; text-align: center; " Text=@PluItem.Ean13.Length.ToString() />
                        }
                    <td>
				    </td>
                    <td>@LocalizationData.DeviceControl.TableFieldGtin</td>
                        <RadzenButton Style="width: 15%; margin-right: 0.75%;" Disabled="false" Icon="aspect_ratio"
                            ButtonStyle="ButtonStyle.Secondary" Click=@(args => OnClickFieldsFill("getgtin")) />
                        <RadzenButton Style="width: 15%; margin-right: 0.75%;" Disabled="false" Icon="autorenew"
                            Click=@(args => OnClickFieldsFill("GTIN")) />
                        <RadzenTextBox Style="width: 60%; text-align: center;" Disabled="false" 
                            TValue="string" @bind-Value=@PluItem.Gtin />
                        @if (PluItem?.Gtin == null)
                        {
                            <RadzenLabel Style="width: 10%; text-align: center; " Text="0" />
                        }
                        else
                        {
                            <RadzenLabel Style="width: 10%; text-align: center; " Text=@PluItem.Gtin.Length.ToString() />
                        }
                    <td>
				    </td>
                </tr>
                <tr>
                    <td>@LocalizationData.DeviceControl.TableFieldItf14</td>
                        <RadzenButton Style="width: 30%; margin-right: 1%;" Disabled="false" Icon="autorenew"
                            Click=@(args => OnClickFieldsFill("ITF14")) />
                        <RadzenTextBox Style="width: 60%; text-align: center;" Disabled="false" 
                            TValue="string" @bind-Value=@PluItem.Itf14 />
                        @if (PluItem?.Itf14 == null)
                        {
                            <RadzenLabel Style="width: 10%; text-align: center; " Text="0" />
                        }
                        else
                        {
                            <RadzenLabel Style="width: 10%; text-align: center; " Text=@PluItem.Itf14.Length.ToString() />
                        }
                    <td>
				    </td>
                    <td></td>
                    <td>
                        <RadzenButton Style="width: 50%; " Disabled="false" Icon="autorenew" 
                            Text=@LocalizationData.DeviceControl.TableActionFill
                            Click=@(args => OnClickFieldsFill("Entity")) />
                        <RadzenButton Style="width: 50%; " Disabled="false" Icon="clear" 
                            Text=@LocalizationData.DeviceControl.TableActionClear
                            Click=@(args => OnClickFieldsFill("Clear")) />
				    </td>
                </tr>
                <tr>
                    <td>@LocalizationData.DeviceControl.TableFieldName</td>
                    <td>
                        <RadzenButton Style="width: 30%; margin-right: 0.5%;" Disabled="false" Icon="autorenew" 
                            Click=@(args => OnClickFieldsFill("GoodsName")) />
                        <RadzenTextArea Style="width: 70%; height: 30px;" Disabled="false" 
                            TValue="string" @bind-value=@PluItem.GoodsName />
				    </td>
                    <td>@LocalizationData.DeviceControl.TableFieldGoodsFullName</td>
                    <td>
                        <RadzenButton Style="width: 30%; margin-right: 0.5%;" Disabled="false" Icon="autorenew" 
                            Click=@(args => OnClickFieldsFill("GoodsFullName")) />
                        <RadzenTextArea Style="width: 70%; height: 60px;" Disabled="false" 
                            TValue="string" @bind-value=@PluItem.GoodsFullName />
				    </td>
                </tr>
                <tr>
                    <td>@LocalizationData.DeviceControl.TableFieldGoodsDescription</td>
                    <td>
                        <RadzenButton Style="width: 30%; margin-right: 0.5%;" Disabled="false" Icon="autorenew" 
                            Click=@(args => OnClickFieldsFill("GoodsDescription")) />
                        <RadzenTextArea Style="width: 70%; height: 60px;" Disabled="false" 
                            TValue="string" @bind-value=@PluItem.GoodsDescription />
				    </td>
                    <td>@LocalizationData.DeviceControl.TableFieldPluDescription</td>
                    <td>
                        <RadzenTextBox Style="width: 60%; text-align: center;" Disabled="false" 
                            TValue="string" @bind-Value=@PluItem.GoodsDescription />
				    </td>
                </tr>
            </tbody>
        </MudSimpleTable>
        <PrinterResources Table=@Table PrinterId=@Id />
        <ItemSave Table=@Table Id=@Id />
        <ItemDates Table=@Table Id=@Id />
    }
}
else
{
    <RadzenLabel Text=@LocalizationCore.Strings.SectionAccessDeny></RadzenLabel>
}
