@page "/item/printer"
@page "/item/printer/{Id:int}"
@page "/item/printer/{Id:int}/{TableActionString}"
@using BlazorCore.Models
@using DataCore
@using DataCore.DAL.TableScaleModels
@using DataCore.Utils
@using BlazorDeviceControl.Shared.Component
@using BlazorDeviceControl.Shared.Section
@using BlazorCore
@inherits RazorDisposable

<ActionsReload Title=@LocalizationData.DeviceControl.ItemPrinter SetParameters=@SetParametersAsync />

@if (Item == null)
{
    <ActionsLoad DataLoadItem=ShareEnums.ActionsLoad.Loading IsShowProgress=true />
}
else
{
    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
        <thead>
            <tr>
                <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordValue</th>
                <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordValue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldId</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center;" Disabled=false ReadOnly=true
                        TValue="int" @bind-Value=@PrinterItem.Id />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldName</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; " Disabled=false 
                        TValue="string" @bind-Value=@PrinterItem.Name />
                </td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldPrinterMac</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@PrinterItem.MacAddress.Value />
                </td>
                <td>@LocalizationData.DeviceControl.TableFieldPrinter</td>
                <td>
                    <RadzenLink Style="width: 100%; text-align: center; margin-left: 5px; " Disabled=false 
                        TValue="string" Target="_blank" Path=@PrinterItem.Link 
                        Text=@LocalizationData.DeviceControl.TableFieldPrinterControlPanel />
                </td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldPrinterPort</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="short" @bind-Value=@PrinterItem.Port />
                </td>
                <td>@LocalizationData.DeviceControl.TableFieldPrinterIp</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@PrinterItem.Ip />
                </td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldPrinterPassword</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@PrinterItem.Password />
                </td>
                <td>@LocalizationData.DeviceControl.TableFieldPrinterType</td>
                <td>
                    @if (PrinterTypeItems == null)
                    {
                        <ActionsLoad DataLoadItem=ShareEnums.ActionsLoad.None IsShowProgress=true />
                    }
                    else
                    {
                        <RadzenDropDownDataGrid 
                            Style="width: 100%;" TValue="int"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                            Data=@PrinterTypeItems PageSize="10"
                            TextProperty="Name" ValueProperty="Id"
                            Value=@PrinterItem.PrinterType.Id
                            Change=@(args => OnChange(args, Table, Item))
                        />
                    }
                </td>
            </tr>
        </tbody>
    </MudSimpleTable>
    
    <PrinterResources Table=@Table PrinterId=@Id />
    
    <ActionsSave ParentRazor=@this ButtonSettings=@ButtonSettings />
    <ItemDates ParentRazor=@this />
}
