@page "/item/scale"
@page "/item/scale/{Id:int}"
@using BlazorCore.Models
@using DataProjectsCore
@using DataProjectsCore.DAL.TableModels
@using DataProjectsCore.Utils
@using BlazorDeviceControl.Shared.Component
@using BlazorDeviceControl.Shared.Section
@using DataShareCore
@inherits RazorDisposable

<DataReload Title=@LocalizationData.DeviceControl.ItemScale SetParameters=@SetParametersAsync />

@if (Item == null)
{
    <DataLoad DataLoadItem=ShareEnums.DataLoad.Loading IsShowProgress=true />
}
else
{
    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
        <thead>
            <tr>
                <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordValue</th>
                <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordName</th>
                <th Style="color:blue; font-weight:bold;">@LocalizationCore.Strings.Main.RecordValue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldDescription</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; " Disabled="false" 
                        TValue="string" @bind-Value=@ScaleItem.Description />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldDeviceSendTimeout</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center; " Disabled="false" 
                        TValue="short?" @bind-Value=@ScaleItem.DeviceSendTimeout />
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldDeviceComPort</td>
                <td>
                    @if (ComPorts == null)
                    {
                        <DataLoad DataLoadItem=ShareEnums.DataLoad.None IsShowProgress=true />
                    }
                    else
                    {
                        <RadzenDropDown Style="width: 100%;" TValue="string" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                            Data=@ComPorts PageSize="5" TextProperty="Name" ValueProperty="Value"
                            Value=@ScaleItem.DeviceComPort Change=@(args => OnChange(args, "DeviceComPort")) />
                    }
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldDeviceReceiveTimeout</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center;" 
                        Disabled="false" TValue="short?" @bind-Value=@ScaleItem.DeviceReceiveTimeout />
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldPrinter</td>
                <td>
                    @if (PrinterItems == null)
                    {
                        <DataLoad DataLoadItem=ShareEnums.DataLoad.None IsShowProgress=true />
                    }
                    else
                    {
                        <RadzenDropDownDataGrid Style="width: 100%;" TValue="int" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                            Data=@PrinterItems PageSize="5"
                            TextProperty="Name" ValueProperty="Id"
                            Value=@ScaleItem.Printer?.Id
                            Change=@(args => OnChange(args, "Printers")) />
                    }
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldHost</td>
                <td>
                    @if (HostItems == null)
                    {
                        <DataLoad DataLoadItem=ShareEnums.DataLoad.None IsShowProgress=true />
                    }
                    else
                    {
                        <RadzenDropDownDataGrid Style="width: 100%;" TValue="int" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                            Data=@HostItems PageSize="5"
                            TextProperty="Name" ValueProperty="Id"
                            Value=@ScaleItem.Host?.Id
                            Change=@(args => OnChange(args, "Hosts"))>
                            <Columns>
                                <RadzenDropDownDataGridColumn Property="Name" Title=@LocalizationData.DeviceControl.TableFieldName Width="30%" />
                                <RadzenDropDownDataGridColumn Property="IdRRef" Title=@LocalizationData.DeviceControl.TableFieldIdRRef Width="70%" />
                            </Columns>
                        </RadzenDropDownDataGrid>
                    }
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldDeviceNumber</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center;" Disabled="false" 
                        TValue="int?" Name="fieldDeviceNumber" @bind-Value=@ScaleItem.DeviceNumber />
                    <RadzenNumericRangeValidator 
                        Component="fieldDeviceNumber" Min="0"
                        Text=@LocalizationCore.Strings.InputControlMuchZero Popup=true Style="position: absolute;" />
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldUseOrder</td>
                <td>
                    <RadzenCheckBox Disabled="false" TValue="bool?" @bind-Value=@ScaleItem.UseOrder />
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldTemplateDefault</td>
                <td>
                    @if (TemplatesDefaultItems == null)
                    {
                        <DataLoad DataLoadItem=ShareEnums.DataLoad.None IsShowProgress=true />
                    }
                    else
                    {
                        <RadzenDropDownDataGrid Style="width: 100%;" TValue="int" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                            Data=@TemplatesDefaultItems PageSize="5"
                            TextProperty="Title" ValueProperty="Id"
                            Value=@ScaleItem.TemplateDefault?.Id
                            Change=@(args => OnChange(args, "TemplatesDefault")) />
                    }
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldTemplateSeries</td>
                <td>
                    @if (TemplatesSeriesItems == null)
                    {
                        <DataLoad DataLoadItem=ShareEnums.DataLoad.None IsShowProgress=true />
                    }
                    else
                    {
                        <RadzenDropDownDataGrid Style="width: 200%;" TValue="int" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                            Data=@TemplatesSeriesItems PageSize="5"
                            TextProperty="Title" ValueProperty="Id"
                            Value=@ScaleItem.TemplateSeries?.Id
                            Change=@(args => OnChange(args, "TemplatesSeries")) />
                    }
				</td>
            </tr>
            <tr>
                <td>@LocalizationData.DeviceControl.TableFieldWorkShopName</td>
                <td>
                    @if (WorkshopItems == null)
                    {
                        <DataLoad DataLoadItem=ShareEnums.DataLoad.None IsShowProgress=true />
                    }
                    else
                    {
                        <RadzenDropDownDataGrid Style="width: 100%;" TValue="int" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                            Data=@WorkshopItems PageSize="5"
                            TextProperty="Name" ValueProperty="Id"
                            Value=@ScaleItem.WorkShop?.Id
                            Change=@(args => OnChange(args, "WorkShops")) />
                    }
				</td>
                <td>@LocalizationData.DeviceControl.TableFieldScaleFactor</td>
                <td>
                    <RadzenNumeric Style="width: 100%; text-align: center;" Disabled="false" 
                        TValue="int?" @bind-Value=@ScaleItem.ScaleFactor />
				</td>
            </tr>
        </tbody>
    </MudSimpleTable>
    <Plus Table=@Table ScaleId=@ScaleItem.Id />
    <ItemSave Table=@Table Id=@Id />
    <ItemDates Table=@Table Id=@Id />
}
