@using Blazor.Heroicons.Outline
@using Microsoft.FluentUI.AspNetCore.Components
@using ScalesDesktop.Source.Features
@using ScalesDesktop.Source.Shared.Services
@using Ws.Domain.Models.Enums
@using Ws.Shared.Enums

@implements IDisposable

<div class="w-full flex flex-col gap-6">
  <div class="flex flex-col space-y-1 text-center">
    <h2 class="text-2xl font-semibold">@Localizer["AppName"]</h2>
    <h3 class="text-sm text-muted-foreground">@Localizer["HomePageCardDescription"]</h3>
  </div>
  <ul class="flex flex-col gap-2">
    @if (LineContext.Line.Type is ArmType.Tablet or ArmType.Universal)
    {
    <li>
      <a href="@RouteUtils.Labels">
        <HomeMenuItem>
          <TagIcon class="size-5 mr-3"/>
          @WsDataLocalizer["ColLabel"]
        </HomeMenuItem>
      </a>
    </li>
    }
    @if (LineContext.Line.Type is ArmType.Pc or ArmType.Universal)
    {
    <li>
      <a href="@RouteUtils.Pallet">
        <HomeMenuItem>
          <ClipboardIcon class="size-5 mr-3"/>
          @WsDataLocalizer["ColPallet"]
        </HomeMenuItem>
      </a>
    </li>
    }
    <li>
      <HomeMenuItem OnClick="@ShowCloseAppDialog">
        <ArrowRightStartOnRectangleIcon class="size-5 mr-3"/>
        @Localizer["BtnExit"]
      </HomeMenuItem>
    </li>
  </ul>
</div>



@code {
  # region Injects

  [Inject] private LineContext LineContext { get; set; } = default!;
  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
  [Inject] private IStringLocalizer<WsDataResources> WsDataLocalizer { get; set; } = default!;
  [Inject] private IDialogService DialogService { get; set; } = default!;

  # endregion

  protected override void OnInitialized() => LineContext.LineChanged += StateHasChanged;

  private async Task ShowCloseAppDialog() => await DialogService.ShowDialogAsync<CloseAppDialog>(new());

  public void Dispose() => LineContext.LineChanged -= StateHasChanged;
}