@using Ws.Domain.Models.Entities.Ref1c
@inherits SectionDataGridBase<Ws.Domain.Models.Entities.Ref1c.PluEntity>


<SectionDataGridWrapper
  TItem="PluEntity"
  @ref="DataGridWrapperRef"
  Title="@Localizer["SectionPLU"]"
  GridData="SectionItems"
  GetGridData="SetSqlSectionCast"
  ReadAction="OpenDataGridEntityModal"
  OpenInTabAction="OpenItemInNewTab"
  IsLoading="IsLoading"
  IsFilterable
>
  <DataGridColumn
    Caption="@Localizer["DataGridColumnName"]"
    Field="@nameof(PluEntity.Name)"
    FilterMethod="DataGridColumnFilterMethod.Contains"
    Width="35%"
  />
  <DataGridColumn
    Caption="@Localizer["DataGridColumnNumber"]"
    Field="@nameof(PluEntity.Number)"
    FilterMethod="DataGridColumnFilterMethod.StartsWith"
    Width="20%"
  />
  <DataGridColumn
    Caption="@Localizer["DataGridColumnCode"]"
    Field="@nameof(PluEntity.Code)"
    FilterMethod="DataGridColumnFilterMethod.Contains"
    Width="20%"
  />
  <DataGridColumn
    Caption="@Localizer["DataGridColumnIsWeight"]"
    Field="@nameof(PluEntity.IsCheckWeight)"
    Filterable="false"
    Width="10%"
  >
    <DisplayTemplate>
      <p>
        @(context.IsCheckWeight ? Localizer["DataGridColumnIsWeight"] : Localizer["DataGridColumnIsPiece"])
      </p>
    </DisplayTemplate>
  </DataGridColumn>
  <DataGridColumn
    Caption="@Localizer["DataGridColumnChangeDt"]"
    Field="@nameof(PluEntity.ChangeDt)"
    Filterable="false"
    Width="15%"
  />
</SectionDataGridWrapper>
