@page "/section/printers/new"
@page "/section/printers/{Id:long}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using WsStorageCore.TableScaleModels.Printers
@using DeviceControl.Services
@using DeviceControl.Components.Item
@using DeviceControl.Components.Rz
@inherits ItemBase<WsStorageCore.TableScaleModels.Printers.WsSqlPrinterModel>

<ItemTopBar TItem="@WsSqlPrinterModel" Title="@WsLocaleCore.Print.Name" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 25, 25, 25, 25 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@WsLocaleCore.Table.Name</td>
    <td>
      <RzTextBox @bind-Value="@SqlItemCast.Name"/>
    </td>
    <td>@WsLocaleCore.Print.Mac</td>
    <td>
      <RzTextBox @bind-Value="@SqlItemCast.MacAddress.Value"/>
    </td>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@RouteService.GetItemRoute(SqlItemCast.PrinterType)" Text="@WsLocaleCore.Print.Type"/>
    </td>
    <td>
      <RzDropDown @bind-Value="@SqlItemCast.PrinterType" Data="@PrinterTypeModels" TextProperty="DisplayName"/>
    </td>
    <td>@WsLocaleCore.Print.Port</td>
    <td>
      <RzNumeric Min="0" Max="32767" @bind-Value="@SqlItemCast.Port"/>
    </td>
  </tr>
  <tr>
    <td>
      <RadzenLink Target="_blank" Path="@SqlItemCast.Link" Text="@WsLocaleCore.Print.ControlPanel"/>
    </td>
    <td>
      <RzTextBox @bind-Value="@SqlItemCast.Ip"/>
    </td>
    <td>@WsLocaleCore.Print.Password</td>
    <td>
      <RzTextBox @bind-Value="@SqlItemCast.Password"/>
    </td>
  </tr>
  @* <tr> *@
  @*   <td>@LocaleCore.DeviceControl.Actions</td> *@
  @*   <td> *@
  @*     <RadzenButton Click="@(_ => SqlItemPrinterResourcesClear(SqlItemCast))" *@
  @*                   class="RadzenButtonFullWidth" ButtonStyle="@ButtonStyle.Primary" Size="@ButtonSize.Small" *@
  @*                   Text="@LocaleCore.Print.ResourcesClear" Disabled="@(!ContextManager.SqlCore.IsConnected())"/> *@
  @*   </td> *@
  @*   <td> *@
  @*     <RadzenButton Click=@(_ => SqlItemPrinterResourcesLoad(SqlItemCast, "TTF")) *@
  @*                   class="RadzenButtonFullWidth" ButtonStyle="@ButtonStyle.Primary" Size="@ButtonSize.Small" *@
  @*                   Text="@LocaleCore.Print.ResourcesLoadTtf" Disabled="@(!ContextManager.SqlCore.IsConnected())"/> *@
  @*   </td> *@
  @*   <td> *@
  @*     <RadzenButton Click=@(_ => SqlItemPrinterResourcesLoad(SqlItemCast, "GRF")) *@
  @*                   class="RadzenButtonFullWidth" ButtonStyle="@ButtonStyle.Primary" Size="@ButtonSize.Small" *@
  @*                   Text="@LocaleCore.Print.ResourcesLoadGrf" Disabled="@(!ContextManager.SqlCore.IsConnected())"/> *@
  @*   </td> *@
  @* </tr> *@
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  TItem="@WsSqlPrinterModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>