@page "/section/printers/new"
@page "/section/printers/{Id:long}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using WsStorageCore.TableScaleModels.Printers
@using DeviceControl.Services
@using DeviceControl.Components.Item
@using DeviceControl.Components.Rz
@inherits ItemBase<WsStorageCore.TableScaleModels.Printers.WsSqlPrinterModel>

<ItemTopBar TItem="@WsSqlPrinterModel" Title="@WsLocaleCore.Print.Name" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead HeadWidth="@(new List<int> { 25, 25, 25, 25 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@WsLocaleCore.Table.Name</td>
    <td>
      <RzTextBox @bind-Value="@SqlItemCast.Name"/>
    </td>
    <td>@WsLocaleCore.Print.Mac</td>
    <td>
      <RzTextBox @bind-Value="@SqlItemCast.MacAddress.Value"/>
    </td>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@RouteService.GetItemRoute(SqlItemCast.PrinterType)" Text="@WsLocaleCore.Print.Type"/>
    </td>
    <td>
      <RzDropDown @bind-Value="@SqlItemCast.PrinterType" Data="@PrinterTypeModels" TextProperty="DisplayName"/>
    </td>
    <td>@WsLocaleCore.Print.Port</td>
    <td>
      <RzNumeric Min="0" Max="32767" @bind-Value="@SqlItemCast.Port"/>
    </td>
  </tr>
  <tr>
    <td>
      <RadzenLink Target="_blank" Path="@SqlItemCast.Link" Text="@WsLocaleCore.Print.ControlPanel"/>
    </td>
    <td>
      <RzTextBox Placeholder="Ip address" @bind-Value="@SqlItemCast.Ip"/>
    </td>
    <td>@WsLocaleCore.Print.Password</td>
    <td>
      <RzTextBox @bind-Value="@SqlItemCast.Password"/>
    </td>
  </tr>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>