@inherits ComponentBase

<div class="side-nav @SidebarThemeCss">
  <div class="side-nav__header">
    <a href="/">
      <p class="side-nav__header-title">
        @LocaleCore.Strings.AppDevicesControlName
      </p>
    </a>
  </div>

  <RadzenPanelMenu>
    @foreach (MenuSection menuSection in MenuSections)
    {
      <AuthorizeView Roles="@menuSection.RequiredRole">
        <RadzenPanelMenuItem Icon="@menuSection.Icon" Text="@menuSection.Text">
          @foreach (MenuItem subMenu in menuSection.SubItems)
          {
            <RadzenPanelMenuItem Text="@subMenu.Text" Path="@subMenu.Path" />
          }
        </RadzenPanelMenuItem>
      </AuthorizeView>
    }
  </RadzenPanelMenu>
</div>
