@inherits RazorPageBase
@page "/system/identity"
@page "/system/identity/{IsShowReloadStr}"
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.ItemComponents.Components
@using BlazorDeviceControl.Razors.ShareComponents

<AuthorizeView>
	<Authorizing>
		<RadzenLabel Style="margin-left: 0; margin-top: 2%; " Text=@(GetAuthorizingText()) Visible=@IsShowReload />
	</Authorizing>
	<Authorized>
		<RadzenLabel Style="margin-left: 0; margin-top: 2%; " Text=@(GetAuthorizedText(context.User.Identity?.Name)) Visible=@IsShowReload />
	</Authorized>
	<NotAuthorized>
		<RadzenLabel Style="margin-left: 0; margin-top: 2%; " Text=@(GetNotAuthorizedText()) Visible=@IsShowReload />
	</NotAuthorized>
</AuthorizeView>

@if (IsShowReload)
{
	<ItemReload TItem=SqlTableBase ParentRazor=@(this) Title=@LocaleCore.System.UserInfo />
	
	<div>
		<RadzenLabel Style="margin-left: 0; margin-top: 2%; "
			Text=@(UserSettings.UserDescription) />
		<br />
		<RadzenLabel Style="margin-left: 0; margin-top: 2%; " 
		    Text=@(UserSettings.IdDescription) />
		<br />
		<RadzenLabel Style="margin-left: 0; margin-top: 2%; "
			Text=@(UserSettings.IpAddressDescription) />
		<br />
	</div>

	<MudElement HtmlTag="h3" Class="ma-0">@LocaleCore.Strings.UserSettings</MudElement>
	<MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
		<ItemTableHead TItem=SqlTableBase ParentRazor=@(this) CssTableStyleHead=@ComponentsUtils.GetTableHeadStyle(new() { 25, 25 }) />
		<tbody>
		<tr>
			<td>@LocaleCore.Strings.AuthorizingUserName</td>
			@if (string.IsNullOrEmpty(UserSettings.UserName))
			{
				<td><ActionsLoad DataLoadItem=ActionLoadEnum.None IsShowProgress=true /></td>
			}
			else
			{
				<td><MudElement Class="ma-0">@UserSettings.UserName</MudElement></td>
			}
		</tr>
		<tr>
			<td>@LocaleCore.Strings.AccessRights</td>
			<td><MudElement Class="ma-0">@AppSettings.DataAccess.GetAccessRightsDescription(UserSettings.AccessRights)</MudElement></td>
		</tr>
		<tr>
			<td>@LocaleCore.Strings.Language</td>
			@if (TemplateLanguages is null)
			{
				<td><ActionsLoad DataLoadItem=ActionLoadEnum.None IsShowProgress=true /></td>
			}
			else
			{
				<td>
					<MudSelect Class=@BlazorCoreUtuls.GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
						@bind-Value=@LocaleCore.Lang>
						@foreach (LangEnum lang in Langs)
						{
							<MudSelectItem Value=@lang>@lang.ToString()</MudSelectItem>
						}
					</MudSelect>
				</td>
			}
		</tr>
		</tbody>
	</MudSimpleTable>
}
