@using BlazorDeviceControl.Razors.ItemComponents
@inherits RazorComponentBase
@page "/system/identity"

<div>
  <RadzenLabel Style="margin-left: 0; margin-top: 2%; "
               Text="@(UserSettings?.UserDescription)"/>
  <br/>
  <RadzenLabel Style="margin-left: 0; margin-top: 2%; "
               Text="@(HttpIdDescription)"/>
  <br/>
  <RadzenLabel Style="margin-left: 0; margin-top: 2%; "
               Text="@(IpAddressDescription)"/>
  <br/>
</div>

<MudElement HtmlTag="h3" Class="ma-0">@LocaleCore.Strings.UserSettings</MudElement>
<MudSimpleTable Style="overflow-x: auto; " Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RazorComponentUtils.GetTableHeadStyle(new() { 25, 25 })"/>
  <tbody>
  <tr>
    <td>@LocaleCore.Strings.AuthorizingUserName</td>
    @if (string.IsNullOrEmpty(UserSettings?.UserName))
    {
      <td>
        <RazorActionLoad ActionLoad=ActionLoadEnum.None IsShowProgress=true /></td>
    }
    else
    {
      <td>
        <MudElement Class="ma-0">@UserSettings?.UserName</MudElement>
      </td>
    }
  </tr>
  <tr>
    <td>@LocaleCore.Strings.AccessRights</td>
    <td>
      <MudElement Class="ma-0">@DataAccess.GetAccessRightsDescription(UserSettings?.AccessRights)</MudElement>
    </td>
  </tr>
  <tr>
    <td>@LocaleCore.Strings.Language</td>
    @if (TemplateLanguages is null)
    {
      <td><RazorActionLoad ActionLoad=ActionLoadEnum.None IsShowProgress=true /></td>
    }
    else
    {
      <td>
        <MudSelect Class="MudSelect" Variant=@Variant.Outlined Margin=@Margin.Dense
					@bind-Value=@LocaleCore.Lang>
          @foreach (Lang lang in Langs)
          {
            <MudSelectItem Value=@lang>@lang.ToString()</MudSelectItem>
          }
        </MudSelect>
      </td>
    }
  </tr>
  </tbody>
</MudSimpleTable>
