@using Blazor.Heroicons.Outline
@using Microsoft.FluentUI.AspNetCore.Components.Extensions

<div class="max-w-lg border bg-secondary/[.6] mt-6 mb-2 rounded-md p-4 mx-auto w-full grid grid-cols-[auto_1fr] gap-2">

  <div class="flex items-center text-muted-foreground">
    <FlagIcon class="size-4 mr-1"/>
    <h3>@WsDataLocalizer["ColKneading"]</h3>
  </div>
  <span class="line-clamp-2">@FormModel.Kneading</span>

  <div class="flex items-center text-muted-foreground">
    <CalendarDaysIcon class="size-4 mr-1" />
    <h3>@WsDataLocalizer["ColDate"]</h3>
  </div>
  <span class="line-clamp-2">@FormModel.CreateDt.ToDateOnly().ToString()</span>

  <div class="flex text-muted-foreground">
    <ClipboardIcon class="size-4 mr-1 mt-1"/>
    <h3>@WsDataLocalizer["ColPlu"]</h3>
  </div>
  <span class="line-clamp-2">@FormModel.Plu!.Number | @FormModel.Plu!.Name</span>

  <div class="flex items-center text-muted-foreground">
    <InboxStackIcon class="size-4 mr-1"/>
    <h3>@WsDataLocalizer["ColNesting"]</h3>
  </div>
  <span class="line-clamp-2">@FormModel.Nesting?.BundleCount @WsDataLocalizer["MeasurePc"]</span>

  <div class="flex items-center text-muted-foreground">
    <InboxStackIcon class="size-4 mr-1"/>
    <h3>@WsDataLocalizer["ColBoxCount"]</h3>
  </div>
  <span class="line-clamp-2">@FormModel.Count @WsDataLocalizer["MeasurePc"]</span>

  <div class="flex items-center text-muted-foreground">
    <ScaleIcon class="size-4 mr-1"/>
    <h3>@WsDataLocalizer["ColTrayWeight"]</h3>
  </div>
  <span class="line-clamp-2">@FormModel.PalletWeight.ToString("F3") @WsDataLocalizer["MeasureKg"]</span>

  <div class="flex items-center text-muted-foreground">
    <ArchiveBoxIcon class="size-4 mr-1"/>
    <h3>@WsDataLocalizer["ColBox"]</h3>
  </div>
  <span class="line-clamp-2">@FormModel.Nesting!.Box</span>

  <div class="flex items-center text-muted-foreground">
    <ShoppingBagIcon class="size-4 mr-1"/>
    <h3>@WsDataLocalizer["ColBundle"]</h3>
  </div>
  <span class="line-clamp-2">@FormModel.Plu!.Bundle</span>
</div>

<div class="w-full flex max-w-sm mx-auto justify-end gap-2 pb-2 pt-4">
  <Button
    OnClick="@OnCancelAction"
    Variant="ButtonVariantType.Outline"
    Disabled="@IsLoading"
  >
    @Localizer["BtnBack"]
  </Button>
  <Button OnClick="@(() => CreatePallet())" Disabled="@(IsLoading)">
    @Localizer["BtnCreate"]
  </Button>
</div>