@page "/section/plus/new"
@page "/section/plus/{IdentityUidStr}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@inherits RazorComponentItemBase<PluModel>
@using DataCore.Sql.TableScaleModels.Plus
@using BlazorDeviceControl.Pages.CustomComponents
@using BlazorDeviceControl.Pages.ItemComponents
@using BlazorDeviceControl.Pages.Menu.References1C.SectionPlusNestingFks

<RazorItemReload TItem="@PluModel" Title="@LocaleCore.DeviceControl.ItemNomenclature"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">

  <RazorItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 15, 35, 15, 35 })"/>
  <tbody>
    <RazorItemTableBody SqlItem="@SqlItemCast"/>
    <tr>
      <td>@LocaleCore.Table.PluNumber</td>
      <td>@SqlItemCast.Number</td>
      <td>@LocaleCore.Table.CheckWeight</td>
      <td><RadzenCheckBox TValue="bool" @bind-Value="@SqlItemCast.IsCheckWeight"/></td>
    </tr>
    <tr>
      <td>@LocaleCore.Table.Name</td>
      <td><RzTextBoxLocal @bind-Value="@SqlItemCast.Name"/></td>
      <td>
        <RadzenLink Path="@GetRouteItemPath(Template)" Text="@LocaleCore.Table.Template"/>
      </td>
      <td><RzDropDownLocal @bind-Value="@Template" Data="@DataContext.Templates" TextProperty="Title" /></td>
    </tr>
    <tr>
      <td>@LocaleCore.Table.FullName</td>
      <td><RadzenTextArea Style="width: 100%;" @bind-Value="@SqlItemCast.FullName"/></td>
      <td>@LocaleCore.Table.ShelfLifeDays</td>
      <td><RzNumericLocal @bind-Value="@SqlItemCast.ShelfLifeDays"/></td>
    </tr>
    <tr>
      <td>@LocaleCore.Table.NomenclatureCode</td>
      <td>@SqlItemCast.Code</td>
      <td>@LocaleCore.Table.Itf14</td>
      <td>@SqlItemCast.Itf14</td>
    </tr>
    <tr>
      <td>@LocaleCore.Table.Ean13</td>
      <td>@SqlItemCast.Ean13</td>
      <td>@LocaleCore.Table.Gtin</td>
      <td>@SqlItemCast.Gtin</td>
    </tr>
    <tr>
      <td>@LocaleCore.Table.Description</td>
      <td>
        <RadzenTextArea Style="width: 100%;" @bind-Value="@SqlItemCast.Description" Rows="3"/>
      </td>
      <td />
      <td />
    </tr>
    <RazorItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<RazorItemActions
  TItem="@PluModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"
/>

@if (SqlItem != null)
{
  <PlusNestingFks SqlItem="@SqlItem" />
}


