@using DeviceControl.Utils
@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<RadzenDialog />
<RadzenContextMenu />
<RadzenNotification />

<div class="main_block">
    <div style="@TmpStyle">
        <NavMenu />
    </div>
    <div style="flex-grow: 1;">
        <div>
            <RadzenMenu class="top_menu">
                <RadzenMenuItem Icon="people"
                                Text="@User?.Identity?.Name"
                                Path=@($"{WsRouteUtils.Profile}") />
                <AuthorizeView Roles="@WsUserAccessStr.Admin">
                    <RadzenMenuItem Text="@VerBlazor"
                                    Path=@($"{WsRouteUtils.SystemAppInfo}") />
                </AuthorizeView>
                @* Тема *@
                <RadzenDropDown class="rz-mx-0 rz-mx-lg-4" id="themes" style="width: 220px;" TValue="string"
                                TextProperty="Text" ValueProperty="Value" Data="@WsThemeService.FreeThemes"
                                Value="@ThemeService.CurrentTheme" Change="@ChangeTheme">
                    <ValueTemplate>
                        @context.Text Theme
                    </ValueTemplate>
                    <Template>
                      <RadzenStack Orientation="Radzen.Orientation.Horizontal" AlignItems="Radzen.AlignItems.Center"
                                   Gap="1rem">
                            <svg width="80" height="60" viewBox="0 0 80 60" fill="none" xmlns="http://www.w3.org/2000/svg" style="border-radius: 4px; oveflow: hidden; outline: var(--rz-input-border); min-width: 80px;">
                                <rect width="80" height="60" fill="@context.Base" />
                                <rect x="0" y="4" width="16" height="56" fill="@context.Sidebar" />
                                <rect x="24" y="17" width="48" height="32" rx="2" fill="@context.Content" />
                                <rect x="43" y="41" width="12" height="4" rx="1" fill="@context.Secondary" />
                                <rect x="28" y="21" width="16" height="2" rx="1" fill="@context.TitleText" />
                                <rect x="28" y="27" width="40" height="2" rx="1" fill="@context.ContentText" />
                                <rect x="28" y="31" width="40" height="2" rx="1" fill="@context.ContentText" />
                                <rect x="28" y="35" width="16" height="2" rx="1" fill="@context.ContentText" />
                                <rect x="28" y="41" width="12" height="4" rx="1" fill="@context.Primary" />
                                <rect width="80" height="6" fill="@context.Header" />
                            </svg>
                            @context.Text
                        </RadzenStack>
                    </Template>
                </RadzenDropDown>
            </RadzenMenu>
        </div>
        <div style="padding: 10px">
            @Body
        </div>
    </div>
</div>
