@page "/section/plus_nesting/new"
@page "/section/plus_nesting/{Uid:guid}"
@attribute [Authorize(Roles = WsUserAccessStr.Read)]
@using DeviceControl.Services
@using DeviceControl.Components.Item
@using DeviceControl.Utils
@using WsStorageCore.Tables.TableScaleFkModels.PlusNestingFks
@inherits ItemBase<WsStorageCore.Tables.TableScaleFkModels.PlusNestingFks.WsSqlPluNestingFkModel>

<ItemTopBar TItem="@WsSqlPluNestingFkModel" Title="@WsLocaleCore.DeviceControl.ItemPluNestingFk" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead HeadWidth="@(new List<int> { 20, 30, 20, 30 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@WsLocaleCore.Table.Name</td>
    <td>@SqlItemCast.Name</td>
    <td>@WsLocaleCore.Table.IsDefault</td>
    <td>
      <RadzenCheckBox TValue="bool" ReadOnly="true" @bind-Value="@SqlItemCast.IsDefault"/>
    </td>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@WsRouteService.GetItemRoute(SqlItemCast.PluBundle.Plu)" Text="@WsLocaleCore.Table.Plu"/>
    </td>
    <td>@SqlItemCast.PluBundle.Plu.DisplayName</td>
    <td>@WsLocaleCore.Table.NomenclatureCode</td>
    <td>@SqlItemCast.PluBundle.Plu.Code</td>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@WsRouteService.GetItemRoute(SqlItemCast.PluBundle)" Text="@WsLocaleCore.Table.PluBundleFk"/>
    </td>
    <td>@SqlItemCast.PluBundle.Bundle.Name</td>
    <td>@WsLocaleCore.Table.BundleWeight</td>
    <td>@SqlItemCast.PluBundle.Bundle.Weight</td>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@WsRouteService.GetItemRoute(SqlItemCast.Box)" Text="@WsLocaleCore.Table.Box"/>
    </td>
    <td>@SqlItemCast.Box.Name</td>
    <td>@WsLocaleCore.Table.BoxWeight</td>
    <td>@SqlItemCast.Box.Weight</td>
  </tr>
  <tr>
    <td>@WsLocaleCore.Table.NestingCount</td>
    <td>@SqlItemCast.BundleCount</td>
    <td>@WsLocaleCore.Table.WeightNominal</td>
    <td>@SqlItemCast.WeightNom</td>
  </tr>
  <tr>
    <td>@WsLocaleCore.Table.WeightMinimal</td>
    <td>@SqlItemCast.WeightMin</td>
    <td>@WsLocaleCore.Table.WeightMaximal</td>
    <td>@SqlItemCast.WeightMax</td>
  </tr>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>