@page "/section/devices/new"
@page "/section/devices/{Uid:guid}"
@attribute [Authorize(Roles = WsUserAccessStr.Read)]
@using WsDataCore.Utils
@using DeviceControl.Components.Item
@using DeviceControl.Components.Rz
@using DeviceControl.Utils
@using WsStorageCore.Tables.TableScaleModels.Devices
@inherits ItemBase<WsStorageCore.Tables.TableScaleModels.Devices.WsSqlDeviceModel>

<ItemTopBar TItem="@WsSqlDeviceModel" Title="@WsLocaleCore.DeviceControl.ItemHost" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead HeadWidth="@(new List<int> { 15, 35, 15, 35 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@WsLocaleCore.Table.LoginDt</td>
    <td>@string.Format(WsStrUtils.FormatDtLong, SqlItemCast.LoginDt)</td>

    <td>@WsLocaleCore.Table.LogoutDt</td>
    <td>@string.Format(WsStrUtils.FormatDtLong, SqlItemCast.LogoutDt)</td>
  </tr>
  <tr>
    <td>@WsLocaleCore.Table.Name</td>
    <td>
      <RzTextBox @bind-Value="@SqlItemCast.Name"/>
    </td>

    <td>@WsLocaleCore.Table.PrettyName</td>
    <td>
      <RzTextBox @bind-Value="@SqlItemCast.PrettyName"/>
    </td>
  </tr>
  <tr>
    <td>@WsLocaleCore.Table.DeviceType</td>
    <td>
      <RzDropDown @bind-Value="@DeviceType" Data="@DeviceTypes" TextProperty="DisplayName" />
    </td>
    <td/>
    <td/>
  </tr>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>