@page "/section/templates_resources/new"
@page "/section/templates_resources/{Uid:guid}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using DeviceControl.Components.Item
@using WsStorageCore.Tables.TableScaleModels.TemplatesResources
@inherits ItemBase<WsStorageCore.Tables.TableScaleModels.TemplatesResources.WsSqlTemplateResourceModel>

<ItemTopBar TItem="@WsSqlTemplateResourceModel" Title="@WsLocaleCore.DeviceControl.ItemTemplateResource" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead HeadWidth="@(new List<int> { 20, 30, 20, 30 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@WsLocaleCore.Table.Name</td>
    <td>
      <RadzenTextBox Style="width: 100%; text-align: left;" @bind-Value="@SqlItemCast.Name"/>
    </td>
    <td>@WsLocaleCore.Table.Type</td>
    <td>
      <RadzenTextBox Style="width: 100%; text-align: left;" @bind-Value="@SqlItemCast.Type"/>
    </td>
  </tr>

  @if (IsNotBlackType(SqlItemCast.Type))
  {
    <tr>
      <td>@WsLocaleCore.Table.ImageData</td>
      <td colspan="3">
        <RadzenTextArea
          Style="width: 100%; text-align: left; font-size: 12px; line-height: 18px;"
          Rows="18"
          @bind-Value="@(SqlItemCast.Data.ValueUnicode)"/>
      </td>
    </tr>
  }
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>