@inherits BlazorCore.Models.RazorBase
@page "/item/plu_label"
@page "/item/plu_label/{IdentityId:long}"
@page "/item/plu_label/{IdentityId:long}/{TableAction}"
@using BlazorDeviceControl.Razors.Components
@using ActionsReloadItem = BlazorDeviceControl.Razors.Components.ActionsReloadItem
@using ActionsSave = BlazorDeviceControl.Razors.Components.ActionsSave
@using ItemDates = BlazorDeviceControl.Razors.Components.ItemDates
@using BlazorCore.Razors
@using DataCore.Sql.Tables

@if (!IsLoaded)
{
    <ActionsLoad ParentRazor=@(this) DataLoadItem=ActionLoad.Loading IsShowProgress=true />
}
else
{
    <ActionsReloadItem ParentRazor=@(this) Title=@LocaleData.DeviceControl.Items.Label />

    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
        <ItemTableHead ParentRazor=@(this) TableStyle=@ComponentsUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 }) />
        <tbody>
			<ItemTableBody ParentRazor=@(this) TableStyle=@ComponentsUtils.GetTableBodyStyle(ColumnName.Id, true) />
            @*<tr>
                <td>@LocaleCore.Table.Scale</td>
	            <td>
                    @if (ItemCast.PluWeighing != null)
                    {
			            <RadzenLink Style="width: 100%; text-align: center;"
	                        Path=@GetPath(UriRouteItem.Scale, ItemCast.PluWeighing.PluScale.Scale, ItemCast.PluWeighing.PluScale.Scale.IdentityId)
	                        Text=@ItemCast.PluWeighing.PluScale.Scale.Description/>
                    }
	            </td>
                <td>@LocaleCore.Table.Plu</td>
	            <td>
		            @if (ItemCast.PluWeighing != null)
                    {
			            <RadzenLink Style="width: 100%; text-align: center;"
	                        Path=@GetPath(UriRouteItem.Plu, ItemCast.PluWeighing.PluScale.Plu, ItemCast.PluWeighing.PluScale.Plu.IdentityUid)
	                        Text=@ItemCast.PluWeighing.PluScale.Plu.Name/>
                    }
	            </td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.CreateDt</td>
	            <td>
		            <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray;"
                       Value=@ItemCast.CreateDt.ToString(CultureInfo.InvariantCulture)
                       Disabled=false ReadOnly=true DateFormat="yyyy-MM-dd HH:mm:ss"/>
	            </td>
                <td>@LocaleCore.Table.WeithingDate</td>
	            <td>
                    @if (ItemCast.PluWeighing != null)
                    {
			            <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray;"
                           Value=@ItemCast.PluWeighing.ProductDt.ToString(CultureInfo.InvariantCulture)
                           Disabled=false ReadOnly=true DateFormat="yyyy-MM-dd HH:mm:ss"/>
                    }
	            </td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.NetWeight</td>
	            <td>
                    @if (ItemCast.PluWeighing != null)
                    {
			            <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray;"
			                           Disabled=false ReadOnly=true Value=@ItemCast.PluWeighing.NettoWeight.ToString(CultureInfo.InvariantCulture)/>
                    }
	            </td>
                <td>@LocaleCore.Table.TareWeight</td>
                <td>
	                @if (ItemCast.PluWeighing != null)
	                {
	                    <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray; " 
	                        Disabled=false ReadOnly=true Value=@ItemCast.PluWeighing.TareWeight.ToString(CultureInfo.InvariantCulture) />
	                }
				</td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.RegNum</td>
	            <td>
		            @if (ItemCast.PluWeighing != null)
		            {
			            <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray;"
			                           Disabled=false ReadOnly=true Value=@ItemCast.PluWeighing.RegNum.ToString()/>
		            }
	            </td>
                <td>@LocaleCore.Table.IsKneading</td>
	            <td>
		            @if (ItemCast.PluWeighing != null)
		            {
			            <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray;"
			                           Disabled=false ReadOnly=true Value=@ItemCast.PluWeighing.Kneading.ToString()/>
		            }
	            </td>
            </tr>
            <tr >
                <td>@LocaleCore.Table.Template</td>
	            <td>
		            @if (ItemCast.PluWeighing != null)
		            {
			            <RadzenLink Style="width: 100%; text-align: center;"
			                        Path=@GetPath(UriRouteItem.Template, ItemCast.PluWeighing.PluScale.Plu.Template, ItemCast.PluWeighing.PluScale.Plu.Template.IdentityUid)
			                        Text=@ItemCast.PluWeighing.PluScale.Plu.Template.Title/>
		            }
	            </td>
                <td>@LocaleCore.Table.Link</td>
                <td>
                    <RadzenLink Style="width: 100%; text-align: center; " 
                        Path=@LinkLabelary
                        Text=@LocaleCore.Table.TemplateLabelary />
                </td>
            </tr>
            <tr >
                <td>@LocaleCore.Table.Zpl</td>
                <td colspan=3>
                    <RadzenTextArea Style="width: 100%; text-align: left; font-size: 10px; line-height: 16px; background-color: lightgray; " 
                        Disabled=false ReadOnly=true @bind-Value=@ItemCast.Zpl Rows=22 />
				</td>
            </tr>*@
        </tbody>
    </MudSimpleTable>
    
    <ActionsSave ParentRazor=@(this) ButtonSettings=@ButtonSettings />
    <ItemDates ParentRazor=@(this) />
}
