@using DataCore.Sql.TableScaleModels.TemplatesResources
@inherits RazorComponentItemBase<TemplateResourceModel>
@page "/item/template_resource"
@page "/item/template_resource/new"
@page "/item/template_resource/{IdentityUidStr}"
@attribute [Authorize(Roles = UserAccessStr.Read)]

<RazorItemReload TItem="@TemplateResourceModel" Title="@LocaleCore.DeviceControl.ItemTemplateResource"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RazorComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 })"/>
  <tbody>
  <RazorItemTableBody TItem="@TemplateResourceModel" SqlItem="@SqlItem"/>
  <tr>
    <td>@LocaleCore.Table.Name</td>
    <td>
      <RadzenTextBox Style="width: 100%; text-align: left;" @bind-Value="@SqlItemCast.Name"/>
    </td>
    <td>@LocaleCore.Table.Type</td>
    <td>
      <RadzenTextBox Style="width: 100%; text-align: left;" @bind-Value="@SqlItemCast.Type"/>
    </td>
  </tr>

  @if (IsNotBlackType(SqlItemCast.Type))
  {
    <tr>
      <td>@LocaleCore.Table.ImageData</td>
      <td colspan="3">
        <RadzenTextArea
          Style="width: 100%; text-align: left; font-size: 12px; line-height: 18px;"
          Rows="18"
          @bind-Value="@(SqlItemCast.Data.ValueUnicode)"/>
      </td>
    </tr>
  }
  </tbody>
</MudSimpleTable>

<RazorItemDates SqlItem="@SqlItem"/>

<RazorItemActions
  TItem="@TemplateResourceModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"
  />


