@using Blazor.Heroicons.Outline

<UseParameterlessEndpoint Endpoint="@ArmEndpoints.ArmEndpoint" Options="@(new(){ OnFailure = OnFailure })" Context="query">
  @if (query is { HasData: false, IsLoading: false })
  {
    <div class="size-full flex items-center justify-center">
      <div class="flex max-w-sm flex-col items-center space-y-5">
        <ExclamationTriangleIcon class="size-24 text-destructive" />
        <div class="flex flex-col text-center gap-2">
          <h2 class="text-xl font-semibold">@Localizer["LineIsNewWarningTitle"]</h2>
          <p class="text-sm">
            @Localizer["LineIsNewWarningDescription"]
          </p>
        </div>
        <div class="w-full max-w-xs mx-auto flex flex-col space-y-2">
          <Button OnClick="@query.Refetch" Class="!w-full">
            <ArrowPathIcon class="size-4 mr-2" />
            @Localizer["BtnUpdate"]
          </Button>
          <Button OnClick="ShowCloseAppDialog" Variant="ButtonVariantType.Destructive" Class="!w-full">
            <ArrowRightStartOnRectangleIcon class="size-4 mr-2" />
            @Localizer["BtnExit"]
          </Button>
        </div>
      </div>
    </div>
  }
  else
  {
    @ChildContent
  }
</UseParameterlessEndpoint>


@code {
  # region Injects

  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
  [Inject] private ArmEndpoints ArmEndpoints { get; set; } = default!;
  [Inject] private IDialogService DialogService { get; set; } = default!;

  # endregion

  [Parameter] public RenderFragment? ChildContent { get; set; }

  void OnFailure(QueryFailureEventArgs<Unit> obj)
  {
    // pass
  }

  private async Task ShowCloseAppDialog() => await DialogService.ShowDialogAsync<CloseAppDialog>(new());
}