@page "/section/workshops/new"
@page "/section/workshops/{IdentityId:long}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using WsStorageCore.TableScaleModels.WorkShops
@using DeviceControl.Components.Item
@using DeviceControl.Components.Rz
@inherits RazorComponentItemBase<WsStorageCore.TableScaleModels.WorkShops.WsSqlWorkShopModel>

<ItemTopBar TItem="@WsSqlWorkShopModel" Title="@LocaleCore.DeviceControl.ItemWorkshop" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 25, 25, 25, 25 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@LocaleCore.Table.Name</td>
    <td>
      <RzTextBox @bind-Value="@SqlItemCast.Name"/>
    </td>
    <td/>
    <td/>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@GetRouteItemPath(SqlItemCast.ProductionFacility)" Text="@LocaleCore.Table.ProductionFacility"/>
    </td>
    <td>
      <RzDropDown @bind-Value="@SqlItemCast.ProductionFacility" Data="@ProductionFacilityModels" TextProperty="Name"/>
    </td>
    <td/>
    <td/>
  </tr>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  TItem="@WsSqlWorkShopModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"/>