@page "/section/workshops/new"
@page "/section/workshops/{Id:long}"
@attribute [Authorize(Roles = WsUserAccessStr.Read)]
@using DeviceControl.Services
@using DeviceControl.Components.Item
@using DeviceControl.Components.Rz
@using DeviceControl.Utils
@using WsStorageCore.Tables.TableScaleModels.WorkShops
@inherits ItemBase<WsStorageCore.Tables.TableScaleModels.WorkShops.WsSqlWorkShopModel>

<ItemTopBar TItem="@WsSqlWorkShopModel" Title="@WsLocaleCore.DeviceControl.ItemWorkshop" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead HeadWidth="@(new List<int> { 25, 25, 25, 25 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@WsLocaleCore.Table.Name</td>
    <td>
      <RzTextBox @bind-Value="@SqlItemCast.Name"/>
    </td>
    <td/>
    <td/>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@WsRouteService.GetItemRoute(SqlItemCast.ProductionFacility)" Text="@WsLocaleCore.Table.ProductionFacility"/>
    </td>
    <td>
      <RzDropDown @bind-Value="@SqlItemCast.ProductionFacility" Data="@ProductionFacilityModels" TextProperty="DisplayName"/>
    </td>
    <td/>
    <td/>
  </tr>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>