@page "/section/plus_bundles_fks/new"
@page "/section/plus_bundles_fks/{IdentityUidStr}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using WsStorageCore.TableScaleFkModels.PlusBundlesFks
@using BlazorDeviceControl.Pages.ItemComponents
@inherits RazorComponentItemBase<WsStorageCore.TableScaleFkModels.PlusBundlesFks.PluBundleFkModel>

<RazorItemReload TItem="@PluBundleFkModel" Title="@LocaleCore.DeviceControl.ItemPluBundleFk"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new List<int> { 20, 30, 20, 30 })"/>
  <tbody>
  <RazorItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>
      <RadzenLink Path="@GetRouteItemPath(@SqlItemCast.Plu)" Text="@LocaleCore.Table.Plu"/>
    </td>
    <td>@SqlItemCast.Plu.DisplayName</td>
    <td>@LocaleCore.Table.NomenclatureCode</td>
    <td>@SqlItemCast.Plu.Code</td>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@GetRouteItemPath(SqlItemCast.Bundle)" Text="@LocaleCore.Table.Bundle"/>
    </td>
    <td>@SqlItemCast.Bundle.Name</td>
    <td>@LocaleCore.Table.BundleWeight</td>
    <td>@SqlItemCast.Bundle.Weight</td>
  </tr>
  <RazorItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<RazorItemActions
  TItem="@PluBundleFkModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"/>