@* @page "/section/workshops/new" *@
@* @page "/section/workshops/{Uid:guid}" *@
@* @attribute [Authorize(Roles = UserAccessStr.Read)] *@
@* @using DeviceControl.Components.Item *@
@* @using DeviceControl.Components.Rz *@
@* @inherits ItemBase<SqlWorkShopEntity> *@
@* *@
@* <ItemTopBar TItem="@SqlWorkShopEntity" Title="@LocaleCore.DeviceControl.ItemWorkshop" OnItemUpdate="@GetItemData"/> *@
@* *@
@* <MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false"> *@
@*   <ItemTableHead HeadWidth="@(new List<int> { 25, 25, 25, 25 })"/> *@
@*   <tbody> *@
@*   <ItemTableBody SqlItem="@SqlItemCast"/> *@
@*   <tr> *@
@*     <td>@LocaleCore.Table.Name</td> *@
@*     <td> *@
@*       <RzTextBox @bind-Value="@SqlItemCast.Name"/> *@
@*     </td> *@
@*     <td/> *@
@*     <td/> *@
@*   </tr> *@
@*   <tr> *@
@*     <td> *@
@*       <RadzenLink Path="@RouteService.GetItemRoute(SqlItemCast.ProductionSite)" Text="@LocaleCore.Table.ProductionFacility"/> *@
@*     </td> *@
@*     <td> *@
@*       <RzDropDown @bind-Value="@SqlItemCast.ProductionSite" Data="@ProductionSiteModels" TextProperty="DisplayName"/> *@
@*     </td> *@
@*     <td/> *@
@*     <td/> *@
@*   </tr> *@
@*   <ItemDates SqlItem="@SqlItemCast"/> *@
@*   </tbody> *@
@* </MudSimpleTable> *@
@* *@
@* <ItemActions *@
@*   ButtonSettings="@ButtonSettings" *@
@*   OnItemSave="@SqlItemSaveAsync" *@
@*   OnItemCancel="@RedirectBackAsync"/> *@
