@using DeviceControl.Source.Widgets.Section
@using DeviceControl.Source.Widgets.Section.DataGridActions
@using Ws.Domain.Models.Entities.Print
@using Ws.Domain.Models.Entities.Ref
@using Ws.Domain.Models.Entities.Ref1c
@inherits DeviceControl.Source.Widgets.Section.SectionDataGridPageBase<Ws.Domain.Models.Entities.Print.LabelEntity>
@attribute [Route($"{RouteUtils.SectionLabels}{RouteUtils.SectionQrlQuery}")]
@rendermode InteractiveServer


<PageHeader>
  <span>@Localizer["SectionLabels"]</span>
  <DataGridItemsCounter ItemsCount="@SectionItems.Count()" IsLoading="IsLoading"/>
  <DataGridActionReload OnClick="@UpdateData" IsLoading="IsLoading" />
</PageHeader>

<DataGridWrapper>
  <DataGridContainer
    TItem="LabelEntity"
    Items="SectionItems"
    OnItemSelect="@(item => OpenDataGridEntityModal(item))"
    IsFilterable
  >
    <ColumnsContent>
      <DataGridColumn
        Caption="@WsDataLocalizer["ColCreateDt"]"
        Field="@nameof(LabelEntity.CreateDt)"
        Filterable="false"
        Width="10%"
      />
      <DataGridColumn
        Caption="@WsDataLocalizer["ColProductDt"]"
        Field="@nameof(LabelEntity.ProductDt)"
        Filterable="false"
        Width="10%"
      />

      <DataGridColumn
        Caption="@WsDataLocalizer["ColPluNumber"]"
        Field="@($"{nameof(LabelEntity.Plu)}.{nameof(PluEntity.Number)}")"
        Width="5%"
      />

      <DataGridColumn
        Caption="@WsDataLocalizer["ColBarcodeTop"]"
        Field="@nameof(LabelEntity.BarcodeTop)"
        Width="20%"
      />

      <DataGridColumn
        Caption="@WsDataLocalizer["ColLine"]"
        Field="@($"{nameof(LabelEntity.Line)}.{nameof(LineEntity.Name)}")"
        Width="20%"
      />
      <DataGridColumn
        Caption="@WsDataLocalizer["ColWarehouse"]"
        Field="@($"{nameof(LabelEntity.Line)}.{nameof(LineEntity.Warehouse)}.{nameof(WarehouseEntity.Name)}")"
        Width="20%"
      />

      <DataGridColumn
        Caption="@WsDataLocalizer["ColType"]"
        Field="@($"{nameof(LabelEntity.Plu)}.{nameof(PluEntity.IsCheckWeight)}")"
        Filterable="false"
        Width="10%"
      >
        <DisplayTemplate>
          @if (context.Plu != null)
          {
            <p>
              @(context.Plu.IsCheckWeight ?
                WsDataLocalizer["ColPluWeight"] : WsDataLocalizer["ColPluPiece"])
            </p>
          }
        </DisplayTemplate>
      </DataGridColumn>
    </ColumnsContent>
    <ContextMenuContent>
      <DataGridActionViewItem OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, async item => await OpenDataGridEntityModal(item)))" />
      <DataGridActionOpenInNewTab OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, async item => await OpenItemInNewTab(item)))" />
    </ContextMenuContent>
  </DataGridContainer>
</DataGridWrapper>
