@using DeviceControl.Source.Widgets.Section
@using DeviceControl.Source.Widgets.Section.DataGridActions
@using Ws.Domain.Models.Entities.Print
@inherits DeviceControl.Source.Widgets.Section.SectionDataGridPageBase<Ws.Domain.Models.Entities.Print.ViewLabel>
@attribute [Route($"{RouteUtils.SectionLabels}{RouteUtils.SectionQrlQuery}")]
@rendermode InteractiveServer


<PageHeader>
  <span>@Localizer["SectionLabels"]</span>
  <DataGridItemsCounter ItemsCount="@SectionItems.Count()" IsLoading="IsLoading"/>
  <DataGridActionReload OnClick="@UpdateData" IsLoading="IsLoading" />
</PageHeader>

<DataGridWrapper>
  <DataGridContainer
    TItem="ViewLabel"
    Items="SectionItems"
    OnItemSelect="@(item => OpenDataGridEntityModal(item))"
    IsFilterable
  >
    <ColumnsContent>
      <DataGridColumn
        Caption="@WsDataLocalizer["ColCreateDt"]"
        Field="@nameof(ViewLabel.CreateDt)"
        Filterable="false"
        Width="10%"
      />
      <DataGridColumn
        Caption="@WsDataLocalizer["ColProductDt"]"
        Field="@nameof(ViewLabel.ProductDate)"
        Filterable="false"
        Width="10%"
      />
      <DataGridColumn
        Caption="@WsDataLocalizer["ColLine"]"
        Field="@nameof(ViewLabel.LineName)"
        Width="20%"
      />
      <DataGridColumn
        Caption="@WsDataLocalizer["ColWarehouse"]"
        Field="@nameof(ViewLabel.Warehouse)"
        Width="20%"
      />
      <DataGridColumn
        Caption="@WsDataLocalizer["ColPluNumber"]"
        Field="@nameof(ViewLabel.PluNumber)"
        Width="10%"
      />
      <DataGridColumn
        Caption="@WsDataLocalizer["ColPluName"]"
        Field="@nameof(ViewLabel.PluName)"
        Width="20%"
      />
      <DataGridColumn
        Caption="@WsDataLocalizer["ColType"]"
        Field="@nameof(ViewLabel.IsCheckWeight)"
        Filterable="false"
        Width="10%"
      >
        <DisplayTemplate>
          <p>
            @(context.IsCheckWeight ?
              WsDataLocalizer["ColPluWeight"] : WsDataLocalizer["ColPluPiece"])
          </p>
        </DisplayTemplate>
      </DataGridColumn>
    </ColumnsContent>
    <ContextMenuContent>
      <DataGridActionViewItem OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, async item => await OpenDataGridEntityModal(item)))" />
      <DataGridActionOpenInNewTab OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, async item => await OpenItemInNewTab(item)))" />
    </ContextMenuContent>
  </DataGridContainer>
</DataGridWrapper>
