@typeparam TItem
@using Blazor.Heroicons.Outline

<DataGrid
  TItem="TItem"
  @ref="DataGrid"
  SelectedRowChanged="OnItemSelect"
  @bind-SelectedRows="@SelectedItems"
  @bind-SelectedRows:after="OnSelectedItemsChanged"
  Data="@GridData"
  PagerPosition="DataGridPagerPosition.Bottom"
  PagerOptions="@(new() { PaginationPosition = PagerElementPosition.Center })"
  PageSize="ItemsPerPage"
  RowStyling="CustomRowStyling"
  CellStyling="CustomCellStyling"
  HeaderRowStyling="@CustomHeaderRowStyling()"
  SelectedCellStyling="CustomCellStyling"
  SelectionMode="@(IsMultiSelect ? DataGridSelectionMode.Multiple : DataGridSelectionMode.Single)"
  Class="table-fixed"
  ShowPager
>
  <DataGridColumns>
    @if (IsMultiSelect)
    {
      <DataGridMultiSelectColumn Width="2rem" />
    }
    @ChildContent
  </DataGridColumns>
  <PageButtonTemplate>
    <button type="button" class="@CustomPaginationPageStyle()">
      @context.PageNumber
    </button>
  </PageButtonTemplate>
  <NextPageButtonTemplate>
    <ChevronRightIcon class="@CustomPaginationButtonStyle()" />
  </NextPageButtonTemplate>
  <PreviousPageButtonTemplate>
    <ChevronLeftIcon class="@CustomPaginationButtonStyle()" />
  </PreviousPageButtonTemplate>
  <LastPageButtonTemplate>
    <ChevronDoubleRightIcon class="@CustomPaginationButtonStyle()" />
  </LastPageButtonTemplate>
  <FirstPageButtonTemplate>
    <ChevronDoubleLeftIcon class="@CustomPaginationButtonStyle()" />
  </FirstPageButtonTemplate>
  <TotalItemsTemplate>
    <span class="hidden"></span>
  </TotalItemsTemplate>
  <TotalItemsShortTemplate>
    <span class="hidden"></span>
  </TotalItemsShortTemplate>
</DataGrid>
