<CascadingAuthenticationState>
  <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
      <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
        <NotAuthorized>
          <div class="flex w-full h-full items-center justify-center">
            <div class="text-center font-light text-lg">
              <span>Недостаточно уровня прав для данной операции.</span>
            </div>
          </div>
        </NotAuthorized>
      </AuthorizeRouteView>
      <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
      <LayoutView Layout="@typeof(MainLayout)">
        <div class="flex w-full h-full items-center justify-center">
          <div class="text-center font-light text-lg">
           <span>Страница не найдена</span>
          </div>
       </div>
      </LayoutView>
    </NotFound>
  </Router>
</CascadingAuthenticationState>
