@using DataCore.Sql.TableScaleModels.Access
@using BlazorDeviceControl.Razors.CustomComponents
@inherits RazorComponentItemBase<AccessModel>
@page "/item/access"
@page "/item/access/new"
@page "/item/access/{IdentityUidStr}"

<RazorItemReload TItem="@AccessModel" Title="@LocaleCore.Strings.AccessRights"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RazorComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 })"/>
  <tbody>
  <RazorItemTableBody TItem="@AccessModel" SqlItem="@SqlItem"/>
  <tr>
    <td>@LocaleCore.Table.LoginDt</td>
    <td>
      <RadzenTextBox
        Style="width: 100%; text-align: center; background-color: lightgray; "
        ReadOnly="true" Value="@(StringUtils.FormatDtRus(SqlItemCast.LoginDt, true))"/>
    </td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.User</td>
    <td>
      <RadzenTextBox
        Style="width: 100%; text-align: left; background-color: lightgray; "
        ReadOnly="true" @bind-Value="@SqlItemCast.Name"/>
    </td>
    <td>@LocaleCore.Strings.AccessRights</td>
    <td>
      <MudSelectLocal @bind-Value="@Rights">
        @foreach (TypeModel<AccessRightsEnum> item in TemplateAccessRights)
        {
          <MudSelectItem Value=@item.Value>@item.Name</MudSelectItem>
        }
      </MudSelectLocal>
    </td>
  </tr>
  </tbody>
</MudSimpleTable>

<RazorItemDates SqlItem="@SqlItem"/>

<RazorItemActions
  TItem="@AccessModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"
  />