@using DataCore.Sql.TableScaleModels.Access
@inherits RazorComponentItemBase<DataCore.Sql.TableScaleModels.Access.AccessModel>
@page "/item/access"
@page "/item/access/new"
@page "/item/access/{IdentityUidStr}"

<RazorItemReload TItem="@AccessModel" ParentRazor="@(this)" Title="@LocaleCore.Strings.AccessRights"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RazorComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 })"/>
  <tbody>
  <RazorItemTableBody TItem="@AccessModel" ParentRazor="@(this)"/>
  <tr>
    <td>@LocaleCore.Table.LoginDt</td>
    <td>
      <RadzenTextBox
        Style="width: 100%; text-align: center; background-color: lightgray; "
        ReadOnly="true" Value="@(StringUtils.FormatDtRus(SqlItemCast.LoginDt, true))"/>
    </td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.User</td>
    <td>
      <RadzenTextBox
        Style="width: 100%; text-align: left; background-color: lightgray; "
        ReadOnly="true" @bind-Value="@SqlItemCast.Name"/>
    </td>
    <td>@LocaleCore.Strings.AccessRights</td>
    <td>
      <MudSelect Class="MudSelect" Variant="@Variant.Outlined" Margin="@Margin.Dense"
                 @bind-Value="@Rights">
        @foreach (TypeModel<AccessRightsEnum> item in TemplateAccessRights)
        {
          <MudSelectItem Value=@item.Value>@item.Name</MudSelectItem>
        }
      </MudSelect>
      @*<RadzenDropDown Style="width: 100 %;" FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive
		                            Disabled=false TValue=@AccessRightsEnum
		                            AllowFiltering=false AllowClear=false AllowFilteringByAllStringColumns=false
		                            Data=@TemplateAccessRights PageSize=@AppSettings.DataAccess.JsonSettings.Local.ItemRowsCount
		                            TextProperty="Name" Change=@(args => OnChangeItem(SqlItemCast, nameof(SqlItemCast.Rights), args))
		                            ValueProperty="Value" @bind-Value=@Rights/>*@
    </td>
  </tr>
  </tbody>
</MudSimpleTable>

<RazorItemDates SqlItem="@SqlItem"/>
<RazorItemActions TItem="@AccessModel" ButtonSettings="@ButtonSettings" ParentRazor="@(this)"/>
