@using DataCore.Enums;
@using DataCore.Sql.TableScaleModels.TemplatesResources
@inherits RazorComponentItemBase<DataCore.Sql.TableScaleModels.TemplatesResources.TemplateResourceModel>
@page "/item/template_resource"
@page "/item/template_resource/new"
@page "/item/template_resource/{IdentityUidStr}"

<RazorItemReload TItem="@TemplateResourceModel" ParentRazor="@(this)" Title="@LocaleCore.DeviceControl.ItemTemplateResource"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RazorComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 })"/>
  <tbody>
  <RazorItemTableBody TItem="@TemplateResourceModel" ParentRazor="@(this)"/>
  <tr>
    <td>@LocaleCore.Table.Name</td>
    <td>
      <RadzenTextBox Style="width: 100%; text-align: left;" @bind-Value="@SqlItemCast.Name"/>
    </td>
    <td>@LocaleCore.Table.Type</td>
    <td>
      <RadzenTextBox Style="width: 100%; text-align: left;" @bind-Value="@SqlItemCast.Type"/>
    </td>
  </tr>

  @if (IsNotBlackType(SqlItemCast.Type))
  {
    <tr>
      <td>@LocaleCore.Table.ImageData</td>
      <td colspan="3">
        <RadzenTextArea
          Style="width: 100%; text-align: left; font-size: 12px; line-height: 18px;"
          Rows="18"
          @bind-Value="@(SqlItemCast.Data.ValueUnicode)"/>
      </td>
    </tr>
  }
  </tbody>
</MudSimpleTable>

<RazorItemDates SqlItem="@SqlItem"/>
<RazorItemActions TItem="@TemplateResourceModel" ButtonSettings="@ButtonSettings" ParentRazor="@(this)"/>

