@using Blazor.Heroicons.Outline
@using ScalesDesktop.Source.Shared.UI
@using ScalesDesktop.Source.Shared.Utils
@using Ws.Domain.Models.Entities.Print

<div class="py-3 w-full flex shrink-0 items-center gap-2 px-4">
  <div class="w-1/2 border bg-white rounded-md px-2 h-9 flex items-center shadow-sm gap-2 justify-between overflow-hidden">
    <MagnifyingGlassIcon class="h-5 w-5 pb-[2px] text-gray-600" />
    <input
      @bind="SearchingNumber"

      placeholder="@PalletLocalizer["SearchByNumberPlaceholder"]"
      class="bg-transparent w-full text-sm h-full focus:outline-none focus:border-0 focus:ring-0"
    />
  </div>
  <div class="w-1/2 flex gap-2 h-full items-center overflow-hidden">
    <Button Class="w-1/2">
      @PalletLocalizer["BtnSelectedLabelsPrinting"]
    </Button>
    <Button Variant="ButtonVariant.Outline" Class="w-1/2">
      @PalletLocalizer["BtnAllLabelsPrinting"]
    </Button>
  </div>
</div>

<div class="size-full flex grow overflow-hidden p-4 pt-0">
  <div class="rounded-md border size-full flex bg-background shadow-sm overflow-y-auto overflow-x-hidden">
    <FluentDataGrid
      TGridItem="DataItem"
      GridTemplateColumns="3rem 3rem 1fr 3fr"
      Items="@Data"
      OnRowFocus="@(obj => { if (obj.Item != null) ToggleItem(obj.Item.Label); })"
      RowClass="@(_ => "border-b hover:bg-secondary/[.5] hover:cursor-pointer")"
      Class="[&>.header]:border-b [&_fluent-data-grid-cell]:!text-primary [&_.col-sort-button]:!text-primary size-full [&_.col-options-button]:pl-1 [&_.col-sort-button]:pl-1"
      Virtualize
    >
      <TemplateColumn Align="Align.Center">
        <input
          type="checkbox"
          checked="@SelectedItems.Contains(context.Label)"
          disabled
        />
      </TemplateColumn>
      <PropertyColumn
        Property="@(p => p.Id)"
        Align="Align.Center"
        Title="№"
      />
      <PropertyColumn
        Property="@(p => p.Label.ProductDt)"
        Title="@WsDataLocalizer["ColCreateDt"]"
        Sortable="true"/>
      <PropertyColumn
        Property="@(p => p.Label.BarcodeTop)"
        Title="Штрихкод"/>
    </FluentDataGrid>
    @* <DataGrid *@
    @*   TItem="LabelEntity" *@
    @*   @ref="DataGridRef" *@
    @*   Data="GridData" *@
    @*   @bind-SelectedRows="SelectedItems" *@
    @*   VirtualizeOptions="@(new() { DataGridHeight = "100%", DataGridMaxHeight = "100%" })" *@
    @*   SelectionMode="DataGridSelectionMode.Multiple" *@
    @*   SelectedRowStyling="SelectedRowStyling" *@
    @*   RowStyling="RowStyling" *@
    @*   Virtualize *@
    @*   Class="!mb-0 [&_tbody_td]:py-4" *@
    @* > *@
    @*   <DataGridMultiSelectColumn Width="1rem" /> *@
    @*   <DataGridColumn *@
    @*     Caption="@WsDataLocalizer["ColCreateDt"]" *@
    @*     Field="@nameof(LabelEntity.CreateDt)" *@
    @*     Width="40%" *@
    @*   /> *@
    @*   <DataGridColumn *@
    @*     Caption="@WsDataLocalizer["ColLine"]" *@
    @*     Field="@nameof(LabelEntity.Line)" *@
    @*     Width="60%" *@
    @*   /> *@
    @* </DataGrid> *@
  </div>
</div>
