@using ScalesDesktop.Source.Shared.Utils
@using ScalesDesktop.Source.Shared.UI
@using Blazor.Heroicons.Outline

<div class="w-full h-full flex flex-col overflow-hidden">
  <div class="flex flex-col overflow-hidden items-start h-12 shrink-0 justify-center w-full px-6 border-b xl:px-8">
    <h1 class="text-xl line-clamp-1 text-center xl:text-2xl">
      @LabelsLocalizer["LabelConfigHeader"]
    </h1>
  </div>
  <div class="flex flex-col w-full h-full pt-2 pb-5 px-6 overflow-hidden justify-around xl:px-8 xl:pt-4 xl:pb-7">
    <div class="w-full h-full flex flex-col gap-2">
      <div class="w-full h-14 shrink-0">
        <Button
          Size="ButtonSize.Full"
          Variant="ButtonVariant.Outline"
          OnClick="@ShowPluSelectDialog"
          disabled="@LabelContext.Line.IsNew"
        >
          <div class="size-full text-xl font-normal px-5 flex items-center justify-between">
            <span class="pb-1 truncate">
              @(LabelContext.Plu.IsNew ? "Выберите ПЛУ" : LabelContext.Plu.DisplayName)
            </span>
            <ChevronDownIcon class="size-5"/>
          </div>
        </Button>
      </div>
      @if (LabelContext.Plu.IsNew)
      {
        <div class="size-full flex flex-col items-center justify-center">
          <ExclamationCircleIcon class="size-8" />
          <p class="text-lg">Информация отсутствует</p>
        </div>
      }
      else
      {
        <div class="grid w-full overflow-hidden px-4 py-4 grid-cols-3 gap-2">
          <h3 class="truncate">Номер</h3>
          <span class="col-span-2">@LabelContext.Plu.Number</span>
          <h3 class="truncate">Имя</h3>
          <span class="col-span-2">@LabelContext.Plu.Name</span>
          <h3 class="truncate">Тип</h3>
          <span class="col-span-2">
            @(LabelContext.Plu.IsCheckWeight ? WsDataLocalizer["ColPluWeight"] : WsDataLocalizer["ColPluPiece"])
          </span>
          <h3 class="truncate">Вложенность</h3>
          <span class="col-span-2">@NameFormatting.GetPluNestingFormattedName(LabelContext.PluNesting)</span>
          <h3 class="truncate">Пакет</h3>
          <span class="col-span-2">@LabelContext.Plu.Bundle.Name @LabelContext.Plu.Bundle.Weight</span>
        </div>
      }
    </div>
    <div class="shrink-0 w-full flex gap-4 pt-4 border-t">
      <div class="flex items-center justify-center h-full">
        <div class="rounded-full flex items-center bg-secondary justify-center size-14">
          <ComputerDesktopIcon class="h-6" />
        </div>
      </div>
      <div class="flex flex-col justify-center w-full">
        <span class="text-xl truncate">@LabelContext.Line.Name</span>
        <span class="text-lg truncate">@LabelContext.Line.Warehouse</span>
      </div>
      <div class="h-full flex items-center justify-center shrink-0">
        <Button
          Size="ButtonSize.Large"
          OnClick="@AppReset"
        >
          Обновить
        </Button>
      </div>
    </div>
    @* <LineInputWithReset /> *@
    @* <div class="space-y-2 w-full"> *@
    @*   <Label>@WsDataLocalizer["ColWarehouse"]</Label> *@
    @*   <div class="w-full h-12 xl:h-14"> *@
    @*     <Button *@
    @*       Variant="ButtonVariant.Outline" *@
    @*       Size="ButtonSize.Full" *@
    @*       disabled *@
    @*     > *@
    @*       @LabelContext.Line.Warehouse.Name *@
    @*     </Button> *@
    @*   </div> *@
    @* </div> *@
    @* <div class="space-y-2 w-full"> *@
    @*   <Label>@WsDataLocalizer["ColPlu"]</Label> *@
    @*   <div class="w-full h-12 xl:h-14"> *@
    @*     <Button *@
    @*       Variant="ButtonVariant.Outline" *@
    @*       Size="ButtonSize.Full" *@
    @*       OnClick="@ShowPluSelectDialog" *@
    @*       disabled="@LabelContext.Line.IsNew" *@
    @*     > *@
    @*       @(LabelContext.Plu.IsNew ? LabelsLocalizer["PluSelectPlaceholder"] : LabelContext.Plu.DisplayName) *@
    @*     </Button> *@
    @*   </div> *@
    @* </div> *@
    @* <div class="space-y-2 w-full"> *@
    @*   <Label>@WsDataLocalizer["ColNesting"]</Label> *@
    @*   <div class="w-full h-12 xl:h-14"> *@
    @*     <Button *@
    @*       Variant="ButtonVariant.Outline" *@
    @*       Size="ButtonSize.Full" *@
    @*       disabled *@
    @*     > *@
    @*       @(LabelContext.PluNesting.IsNew ? *@
    @*         LabelsLocalizer["NestingSelectPlaceholder"] : *@
    @*         NameFormatting.GetPluNestingFormattedName(LabelContext.PluNesting)) *@
    @*     </Button> *@
    @*   </div> *@
    @* </div> *@
  </div>
</div>
