@using ScalesDesktop.Source.Shared.UI
@using ScalesDesktop.Source.Shared.UI.Form
@using System.Globalization

<div class="w-full h-full flex flex-col overflow-x-hidden overflow-y-auto pt-6 pb-8 px-5 space-y-5">
  <div class="w-full border-b flex px-2 justify-between items-center pb-4">
    <h2 class="font-medium text-xl">@WsDataLocalizer["ColPallet"] №@PalletContext.CurrentPallet.Counter</h2>
    <Button OnClick="@PrintPalletCard">
      @Localizer["BtnPrintPC"]
    </Button>
  </div>
  <div class="w-full grid grid-cols-1 gap-x-10 gap-y-4 px-2 lg:grid-cols-2 items-start">
    <div class="space-y-2">
      <FieldLabel for="number">@WsDataLocalizer["ColNumber"]</FieldLabel>
      <InputTextField
        id="number"
        Value="@PalletContext.CurrentPallet.Counter.ToString()"
        ReadOnly
      />
    </div>
    <div class="space-y-2">
      <FieldLabel for="barcode">@WsDataLocalizer["ColBarcode"]</FieldLabel>
      <InputTextField
        id="barcode"
        Value="@PalletContext.CurrentPallet.Barcode"
        ReadOnly
      />
    </div>
    <div class="space-y-2">
      <FieldLabel for="line">@WsDataLocalizer["ColLine"]</FieldLabel>
      <InputTextField
        id="line"
        Value="@PalletContext.CurrentPallet.Line"
        ReadOnly
      />
    </div>
    <div class="space-y-2">
      <FieldLabel for="delivery">@WsDataLocalizer["ColPalletMan"]</FieldLabel>
      <InputTextField
        id="delivery"
        Value="@PalletContext.CurrentPallet.PalletMan"
        ReadOnly
      />
    </div>
    <div class="space-y-2">
      <FieldLabel for="count">@WsDataLocalizer["ColCount"]</FieldLabel>
      <InputTextField
        id="count"
        Value="@PalletContext.CurrentPallet.LabelCount.ToString()"
        ReadOnly
      />
    </div>
    <div class="space-y-2">
      <FieldLabel for="kneading">@WsDataLocalizer["ColKneading"]</FieldLabel>
      <InputTextField
        id="kneading"
        Value="@PalletContext.CurrentPallet.Kneading.ToString()"
        ReadOnly
      />
    </div>
    <div class="space-y-2">
      <FieldLabel for="netto">@WsDataLocalizer["ColNetWeight"]</FieldLabel>
      <InputTextField
        id="netto"
        Value="@PalletContext.CurrentPallet.WeightNet?.ToString(CultureInfo.InvariantCulture)"
        ReadOnly
      />
    </div>
    <div class="space-y-2">
      <FieldLabel for="brutto">@WsDataLocalizer["ColGrossWeight"]</FieldLabel>
      <InputTextField
        id="brutto"
        Value="@PalletContext.CurrentPallet.WeightBrut?.ToString(CultureInfo.InvariantCulture)"
        ReadOnly
      />
    </div>
    <div class="space-y-2">
      <FieldLabel for="plu">@WsDataLocalizer["ColPlu"]</FieldLabel>
      <InputTextField
        id="plu"
        Value="@PalletContext.CurrentPallet.Plu"
        ReadOnly
      />
    </div>
  </div>
</div>