@using ScalesDesktop.Source.Shared.UI

<Button
  Size="ButtonSize.Full"
  OnClick="@PrintLabel"
  disabled="@GetPrintLabelDisabledStatus()"
>
  <div class="flex flex-col items-center">
    <span class="text-xl">@LabelsLocalizer["BtnLabelPrint"]</span>
    <span class="text-base font-light">@WsDataLocalizer["ColCounter"]: @LabelContext.Line.Counter</span>
  </div>
</Button>