@using ButtonType = ScalesDesktop.Source.Shared.UI.ButtonType
@using ScalesDesktop.Source.Shared.Utils
@using Ws.Domain.Models.Entities.Ref1c
@using Ws.Domain.Models.Entities.Scale

<Dialog class="max-w-screen-lg">
  <DialogHeader>
    <Button
      Variant="ButtonVariant.Secondary"
      Class="disabled:!opacity-100"
      Disabled
    >
      @Localizer["CreatePalletFormHeader"]
    </Button>
  </DialogHeader>
  <div class="max-h-full w-full overflow-y-auto py-4">
    <EditForm
      Model="FormModel"
      OnValidSubmit="OnSubmit"
      OnInvalidSubmit="HandleInvalidForm"
      class="max-w-md mx-auto w-full flex flex-col space-y-4"
    >
      <DataAnnotationsValidator/>
      <InputLabelWrapper Label="@WsDataLocalizer["ColWarehouse"]" HtmlFor="warehouse">
        <InputTextField
          id="warehouse"
          Value="@LineContext.Line.Warehouse.Name"
          ReadOnly
        />
      </InputLabelWrapper>
      <InputLabelWrapper Label="@WsDataLocalizer["ColPlu"]" HtmlFor="plu">
        <SelectSingle
          TItem="PluEntity"
          Items="Plus"
          @bind-SelectedItem="@FormModel.Plu"
          @bind-SelectedItem:after="SetPluNestings"
          Placeholder="@Localizer["PluSelectPlaceholder"]"
          ItemDisplayName="entity => entity.DisplayName"
          IsFilterable
        />
      </InputLabelWrapper>
      <InputLabelWrapper Label="@WsDataLocalizer["ColNesting"]" HtmlFor="nesting">
        <SelectSingle
          TItem="CharacteristicEntity"
          Items="PlusCharacteristics"
          @bind-SelectedItem="FormModel.Nesting"
          Placeholder="@Localizer["NestingSelectPlaceholder"]"
          ItemDisplayName="item => NameFormatting.GetPluNestingFormattedName(item)"
          IsDisabled="@(FormModel.Plu == null || !PlusCharacteristics.Any())"
        />
      </InputLabelWrapper>
      <InputLabelWrapper Label="@WsDataLocalizer["ColPalletWeight"]" HtmlFor="pallet-weight">
        <InputNumberField
          TValue="decimal"
          id="pallet-weight"
          Step="0.001"
          Min="0"
          Placeholder="@Localizer["PalletWeightInputPlaceholder"]"
          @bind-Value="FormModel.PalletWeight"/>
      </InputLabelWrapper>
      <InputLabelWrapper Label="@WsDataLocalizer["ColCreateDt"]" HtmlFor="create-dt">
        <InputDateField @bind-Value="FormModel.CreateDt" />
      </InputLabelWrapper>
      <InputLabelWrapper Label="@WsDataLocalizer["ColCount"]" HtmlFor="count">
        <InputNumberField
          TValue="int"
          id="count"
          Step="1"
          Min="1"
          Placeholder="@Localizer["LabelCountInputPlaceholder"]"
          @bind-Value="FormModel.Count"
        />
      </InputLabelWrapper>
      <InputLabelWrapper Label="@WsDataLocalizer["ColKneading"]" HtmlFor="kneading">
        <InputNumberField
          TValue="short"
          id="kneading"
          Step="1"
          Min="1"
          Placeholder="@Localizer["KneadingInputPlaceholder"]"
          @bind-Value="FormModel.Kneading"/>
      </InputLabelWrapper>
      <Button Type="ButtonType.Submit" Class="!mt-8 !mb-2">
        @Localizer["BtnCreate"]
      </Button>
    </EditForm>
  </div>
</Dialog>