@using ScalesDesktop.Source.Shared.Utils
@using Ws.Domain.Models.Entities.Ref1c
@using ScalesDesktop.Source.Shared.UI

<Dialog Class="max-w-screen-md select-none">
  <DialogHeader>
    <Button
      Variant="ButtonVariant.Secondary"
      Class="disabled:!opacity-100"
      Disabled
    >
      Выбор ПЛУ
    </Button>
  </DialogHeader>
  <FluentDataGrid
    TGridItem="PluEntity"
    GridTemplateColumns="1fr 3fr"
    Items="Content.Data"
    Pagination="Pagination"
    OnRowFocus="HandleOnRowFocus"
    RowClass="@(_ => "border-b hover:bg-secondary/[.5] hover:cursor-pointer md:[&_fluent-data-grid-cell]:!text-lg")"
    Class="@Css.Class("[&>.header]:border-b [&_fluent-data-grid-cell]:!text-primary [&_fluent-data-grid-cell]:!py-2 md:[&_fluent-data-grid-cell]:!py-3",
            "[&_.col-sort-button]:!text-primary [&_.col-options-button]:pl-1 [&_.col-sort-button]:pl-1")"
  >
    <PropertyColumn
      Property="@(p => p.Number)"
      Title="@WsDataLocalizer["ColNumber"]"
      Sortable="true"
    />
    <PropertyColumn
      Property="@(p => p.Name)"
      Title="@WsDataLocalizer["ColName"]"
    />
  </FluentDataGrid>
  <DataGridPaginationMobile Pagination="Pagination" />
</Dialog>
