<Button
  Size="ButtonSize.Full"
  OnClick="@PrintLabel"
  Disabled="@GetPrintLabelDisabledStatus()"
>
  <div class="flex flex-col items-center">
    <span class="xl:text-xl">@Localizer["BtnLabelPrint"]</span>
    <span class="text-sm xl:text-base font-light">@WsDataLocalizer["ColCounter"]: @ArmContext.Arm?.Counter</span>
  </div>
</Button>
