@attribute [Authorize(Roles = UserAccessStr.Read)]
@using WsStorageCore.TableScaleFkModels.PrintersResourcesFks
@using DeviceControl.Components.Section
@using DeviceControl.Components.Rz
@inherits SectionBase<WsStorageCore.TableScaleFkModels.PrintersResourcesFks.WsSqlPrinterResourceFkModel>

@if (SqlSectionCast.Count > 0)
{
  <SectionTopBar
    Title="@LocaleCore.Print.Resources"
    OnSectionUpdate="@GetSectionData"
    OnSectionAdd="@SqlItemNewAsync"
    SectionCount="@SqlSectionCast.Count"
    SqlCrudConfigSection="@SqlCrudConfigSection"
    ButtonSettings="@ButtonSettings"/>

  <RzDataGrid
    TItem="@WsSqlPrinterResourceFkModel"
    @ref="@DataGrid"
    @bind-Value="@SelectedRow"
    Data="@SqlSectionCast"
    CellContextMenu="@OnCellContextMenu"
    RowSelect="@SqlItemSet"
    RowDoubleClick="@SqlItemOpenAsync">
    <Columns>
      <TItemContent TItem="@WsSqlPrinterResourceFkModel">
        <SectionIsMarked SqlCrudConfigSection="@SqlCrudConfigSection"/>
        <RadzenDataGridColumn Title="@LocaleCore.Table.Name" Property="Printer.Name" Width="32%"/>
        <RadzenDataGridColumn Title="@LocaleCore.Print.TemplateResource" Property="TemplateResource.Name" Width="32%"/>
      </TItemContent>
    </Columns>
  </RzDataGrid>
}
else
{
  <h3>У принтера не загружены ресурсы</h3>
}