@page "/section/plus/new"
@page "/section/plus/{Uid:guid}"
@attribute [Authorize(Roles = WsUserAccessStr.Read)]
@using DeviceControl.Services
@using DeviceControl.Components.Item
@using DeviceControl.Components.Nested.PlusNestingFks
@using DeviceControl.Components.Rz
@using DeviceControl.Utils
@using WsStorageCore.Tables.TableScaleModels.Plus
@inherits ItemBase<WsStorageCore.Tables.TableScaleModels.Plus.WsSqlPluModel>

<ItemTopBar TItem="@WsSqlPluModel" Title="@WsLocaleCore.DeviceControl.ItemNomenclature" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead HeadWidth="@(new List<int> { 15, 35, 15, 35 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@WsLocaleCore.Table.PluNumber</td>
    <td>@SqlItemCast.Number</td>
    <td>@WsLocaleCore.Table.CheckWeight</td>
    <td>
      <RadzenCheckBox TValue="bool" ReadOnly="true" Value="@SqlItemCast.IsCheckWeight"/>
    </td>
  </tr>
  <tr>
    <td>@WsLocaleCore.Table.Name</td>
    <td>@SqlItemCast.Name</td>
    <td>@WsLocaleCore.Table.NomenclatureCode</td>
    <td>@SqlItemCast.Code</td>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@WsRouteService.GetItemRoute(Template)" Text="@WsLocaleCore.Table.Template"/>
    </td>
    <td>@Template.Title</td>
    <td>
      <RadzenLink Path="@WsRouteService.GetItemRoute(StorageMethod)" Text="@WsLocaleCore.Table.PluStorage"/>
    </td>
    <td>@StorageMethod?.Name</td>
  </tr>
  <tr>
    <td>@WsLocaleCore.Table.Ean13</td>
    <td><RzTextBox @bind-Value="@SqlItemCast.Ean13"/></td>
    <td>@WsLocaleCore.Table.Gtin</td>
    <td><RzTextBox @bind-Value="@SqlItemCast.Gtin"/></td>
  </tr>
  <tr>
    <td>@WsLocaleCore.Table.Itf14</td>
    <td><RzTextBox @bind-Value="@SqlItemCast.Itf14"/></td>
    <td>@WsLocaleCore.Table.ShelfLifeDays</td>
    <td>@SqlItemCast.ShelfLifeDays</td>
  </tr>
  <tr>
    <td>@WsLocaleCore.Table.FullName</td>
    <td>
      <RadzenTextArea Style="width: 100%;" Disabled="true" Value="@SqlItemCast.FullName"/>
    </td>
    <td>@WsLocaleCore.Table.Description</td>
    <td>
      <RadzenTextArea Style="width: 100%;" Disabled="true" Value="@SqlItemCast.Description" Rows="3"/>
    </td>
    <td/>
    <td/>
  </tr>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>

@if (SqlItem != null)
{
  <PlusNestingFks SqlItem="@SqlItem"/>
}