@page "/section/plu_weighings/new"
@page "/section/plu_weighings/{IdentityUidStr}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@inherits RazorComponentItemBase<PluWeighingModel>
@using DataCore.Sql.TableScaleModels.PlusWeighings

<RazorItemReload TItem="@PluWeighingModel" Title="@LocaleCore.DeviceControl.ItemPluWeighing"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 })"/>
  <tbody>
    <RazorItemTableBody SqlItem="@SqlItemCast"/>
    <tr>
      <td>
        <RadzenLink Path="@GetRouteItemPath(SqlItemCast.PluScale.Scale)"
                            Text="@LocaleCore.Table.Scale"/>
      </td>
      <td>@SqlItemCast.PluScale.Scale.Description</td>

      <td>@LocaleCore.Table.WeightNetto</td>
      <td>@SqlItemCast.NettoWeight.ToString(CultureInfo.InvariantCulture)</td>
    </tr>
    <tr>
      <td>
        <RadzenLink Path="@GetRouteItemPath(SqlItemCast.PluScale.Plu)"
                    Text="@LocaleCore.Table.Plu"/>
      </td>
      <td>@($"{SqlItemCast.PluScale.Plu.Number} | {SqlItemCast.PluScale.Plu.Name}")</td>

      <td>@LocaleCore.Table.BundleFkWeightTare</td>
      <td>@SqlItemCast.WeightTare.ToString(CultureInfo.InvariantCulture)</td>
    </tr>
    <tr>
      <td>@LocaleCore.Table.Sscc</td>
      <td>@SqlItemCast.Series?.Sscc</td>
      <td>@LocaleCore.Table.IsKneading</td>
      <td>@SqlItemCast.Kneading</td>
    </tr>
    <RazorItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<RazorItemActions
  TItem="@PluWeighingModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"
  />
