@page "/item/plu_weighing"
@page "/item/plu_weighing/new"
@page "/item/plu_weighing/{IdentityUidStr}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@inherits RazorComponentItemBase<PluWeighingModel>
@using DataCore.Sql.TableScaleModels.PlusWeighings

<RazorItemReload TItem="@PluWeighingModel" Title="@LocaleCore.DeviceControl.ItemPluWeighing"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 })"/>
  <tbody>
  <RazorItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@LocaleCore.Table.Scale</td>
    <td>
      <RadzenTextBox
        Style="width: 100%; text-align: left; background-color: lightgray;"
        ReadOnly="true" @bind-Value="@SqlItemCast.PluScale.Scale.Description"/>
    </td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.PluNumber</td>
    <td>
      <RadzenTextBox
        Style="width: 100%; text-align: center; background-color: lightgray;"
        ReadOnly="true" Value="@SqlItemCast.PluScale.Plu.Number.ToString()"/>
    </td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.Plu</td>
    <td>
      <RadzenTextBox
        Style="width: 100%; text-align: left; background-color: lightgray;"
        ReadOnly="true" Value="@SqlItemCast.PluScale.Plu.Name"/>
    </td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.WeightNetto</td>
    <td>
      <RadzenTextBox
        Style="width: 100%; text-align: center; background-color: lightgray;"
        ReadOnly="true" Value="@SqlItemCast.NettoWeight.ToString(CultureInfo.InvariantCulture)"/>
    </td>
    <td>@LocaleCore.Table.BundleFkWeightTare</td>
    <td>
      <RadzenTextBox
        Style="width: 100%; text-align: center; background-color: lightgray;"
        ReadOnly="true" Value="@SqlItemCast.WeightTare.ToString(CultureInfo.InvariantCulture)"/>
    </td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.RegNum</td>
    <td >
      <RadzenTextBox
        Style="width: 100%; text-align: center; background-color: lightgray;"
        ReadOnly="true" Value="@SqlItemCast.RegNum.ToString()"/>
    </td>
    <td>@LocaleCore.Table.IsKneading</td>
    <td>
      <RadzenTextBox
        Style="width: 100%; text-align: center; background-color: lightgray;"
        ReadOnly="true" Value="@SqlItemCast.Kneading.ToString()"/>
    </td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.Sscc</td>
    <td >
      @if (SqlItemCast.Series is not null)
      {
        <RadzenTextBox
          Style="width: 100%; text-align: center; background-color: lightgray;"
          ReadOnly=true Value=@SqlItemCast.Series.Sscc/>
      }
    </td>
  </tr>
  <RazorItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<RazorItemActions
  TItem="@PluWeighingModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"
  />
