@using Ws.Domain.Models.Entities.Scale
@using DeviceControl2.Source.Widgets.Section
@using DeviceControl2.Source.Widgets.Section.DataGridActions
@using Blazor.Heroicons.Solid
@inherits DeviceControl2.Source.Widgets.Section.SectionDataGridPageBase<PluNestingEntity>
@rendermode InteractiveServer

<PageHeader>
  <span>@Localizer["SectionPluNestings"]</span>
  <DataGridItemsCounter ItemsCount="@SectionItems.Count()" IsLoading="IsLoading"/>
  <DataGridActionReload OnClick="@UpdateData" IsLoading="IsLoading" />
</PageHeader>

<DataGridWrapper Class="bg-secondary/[.3] dark:bg-inherit">
  <DataGridContainer
    TItem="PluNestingEntity"
    Items="SectionItems"
    ItemsPerPage="6"
    IsForcePagination
  >
    <ColumnsContent>
      <DataGridColumn
        Caption="@WsDataLocalizer["ColDefault"]"
        Field="@nameof(PluNestingEntity.IsDefault)"
        Width="20%"
      >
        <DisplayTemplate>
          @if (context.IsDefault)
          {
            <StarIcon class="size-5 text-yellow-500" />
          }
        </DisplayTemplate>
      </DataGridColumn>
      <DataGridColumn
        Caption="@WsDataLocalizer["ColName"]"
        Field="Box.Name"
        Width="40%"
      />
      <DataGridColumn
        Caption="@WsDataLocalizer["ColCount"]"
        Field="@nameof(PluNestingEntity.BundleCount)"
        Width="20%"
      />
      <DataGridColumn
        Caption="@WsDataLocalizer["ColTareWeight"]"
        Field="@nameof(PluNestingEntity.WeightTare)"
        Width="20%"
      />
    </ColumnsContent>
  </DataGridContainer>
</DataGridWrapper>
