@using Ws.Domain.Models.Entities.Ref1c
@using Blazor.Heroicons.Outline
@using DeviceControl2.Source.Features
@using DeviceControl2.Source.Widgets.Section
@using DeviceControl2.Source.Widgets.Section.DataGridActions

@inherits DeviceControl2.Source.Widgets.Section.SectionDataGridPageBase<PluEntity>
@attribute [Route($"{RouteUtils.SectionPlus}{RouteUtils.SectionQrlQuery}")]
@rendermode InteractiveServer


<PageHeader>
  <span>ПЛУ</span>
  <ItemsCounter ItemsCount="@SectionItems.Count()" IsLoading="IsLoading"/>
  <DataGridActionReload OnClick="@UpdateData" IsLoading="IsLoading" />
</PageHeader>

<DataGridWrapper>
  <DataGridContainer
    TItem="PluEntity"
    Items="SectionItems"
    OnItemSelect="@(item => OpenDataGridEntityModal(item))"
    IsFilterable
  >
    <ColumnsContent>
      <DataGridColumn
        Caption="Статус"
        Width="5%"
        Filterable="false"
      >
        <DisplayTemplate>
          @if (!GetIsPluValid(context))
          {
            <div class="w-full flex items-center justify-center">
              <ExclamationTriangleIcon class="text-orange-400 size-5" />
            </div>
          }
        </DisplayTemplate>
      </DataGridColumn>
      <DataGridColumn
        Caption="Номер"
        Field="@nameof(PluEntity.Number)"
        FilterMethod="DataGridColumnFilterMethod.StartsWith"
        Width="10%"
      />
      <DataGridColumn
        Caption="Название"
        Field="@nameof(PluEntity.Name)"
        FilterMethod="DataGridColumnFilterMethod.Contains"
        Width="45%"
      />
      <DataGridColumn
        Caption="Тип"
        Field="@nameof(PluEntity.IsCheckWeight)"
        Width="10%"
        Filterable="false"
      >
        <DisplayTemplate>
          <span>
            @(context.IsCheckWeight ? "Весовая" : "Штучная")
          </span>
        </DisplayTemplate>
      </DataGridColumn>
      <DataGridColumn
        Caption="Дата изменения"
        Field="@nameof(PluEntity.ChangeDt)"
        Width="15%"
        Filterable="false"
      />
    </ColumnsContent>
    <ContextMenuContent>
      <DataGridActionViewItem OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, async item => await OpenDataGridEntityModal(item)))" />
      <DataGridActionOpenInNewTab OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, async item => await OpenItemInNewTab(item)))" />
    </ContextMenuContent>
  </DataGridContainer>
</DataGridWrapper>
