@page "/section/logs_web_service_fk/{IdentityUid:guid}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using WsStorageCore.TableDiagModels.LogsWebsFks
@using WsStorageCore.TableDiagModels.Logs
@using DeviceControl.Components.Item
@inherits ItemBase<WsStorageCore.TableDiagModels.LogsWebsFks.WsSqlLogWebFkModel>

<ItemTopBar TItem="WsSqlLogWebFkModel" Title="@LocaleCore.DeviceControl.ItemLog" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 10, 35, 15, 35 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@LocaleCore.Table.Host</td>
    <td>@SqlItemCast.Device.Name</td>
    <td>@LocaleCore.Table.App</td>
    <td>@SqlItemCast.App.Name</td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.LogType</td>
    <td>@SqlItemCast.LogType.Icon</td>
    <td>@LocaleCore.Table.Version</td>
    <td>@SqlItemCast.LogWebRequest.Version</td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.RequestUrl</td>
    <td>@SqlItemCast.LogWebRequest.Url</td>
    <td>@LocaleCore.Table.Request</td>
    <td>@SqlItemCast.ToString()</td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.Request</td>
    <td colspan="3">
      <RadzenTextArea
        Style="width: 100%; text-align: left; font-size: 11px; line-height: 18px; background-color: lightgray; "
        Rows="12" ReadOnly="true"
        Value="@WsDataFormatUtils.GetPrettyXml(SqlItemCast.LogWebRequest.DataString)"/>

      <RadzenButton Click="@(_ => CopyToClipboard(SqlItemCast.LogWebRequest.DataString))"
                    class="RadzenButtonFullWidth" ButtonStyle="@ButtonStyle.Primary" Size="@ButtonSize.Small"
                    Text="@LocaleCore.DeviceControl.TableActionCopy"/>
    </td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.Response</td>
    <td colspan="3">
      <RadzenTextArea
        Style="width: 100%; text-align: left; font-size: 11px; line-height: 18px; background-color: lightgray; "
        Rows="12" ReadOnly="true"
        Value="@WsDataFormatUtils.GetPrettyXml(SqlItemCast.LogWebResponse.DataString)"/>

      <RadzenButton Click="@(_ => CopyToClipboard(SqlItemCast.LogWebResponse.DataString))"
                    class="RadzenButtonFullWidth" ButtonStyle="@ButtonStyle.Primary" Size="@ButtonSize.Small"
                    Text="@LocaleCore.DeviceControl.TableActionCopy"/>
    </td>
  </tr>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  TItem="@WsSqlLogModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"/>