@page "/section/logs_screenshots/new"
@page "/section/logs_screenshots/{Uid:guid}"
@attribute [Authorize(Roles = UserAccessStr.Admin)]
@using DeviceControl.Services
@using WsDataCore.Utils
@using DeviceControl.Components.Item
@using DeviceControl.Utils
@using WsStorageCore.Tables.TableDiagModels.ScalesScreenshots
@inherits ItemBase<WsStorageCore.Tables.TableDiagModels.ScalesScreenshots.WsSqlScaleScreenShotModel>

<ItemTopBar TItem="@WsSqlScaleScreenShotModel" Title="@WsLocaleCore.DeviceControl.ItemScreenShot" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead HeadWidth="@(new List<int> { 15, 35, 15, 35 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>
      <RadzenLink Path="@WsRouteService.GetItemRoute(SqlItemCast.Scale)" Text="@WsLocaleCore.Table.Line"/>
    </td>
    <td>@SqlItemCast.Scale.Description</td>
    <td>@WsLocaleCore.Table.ScreenShot</td>
    <td>@(WsDataUtils.GetBytesLength(SqlItemCast.ScreenShot, false))</td>
  </tr>
  @if (!string.IsNullOrEmpty(ImagePath))
  {
    <tr>
      <td colspan="4">
        <RadzenImage Style="width: 1280px; height: 720px; align-content: center" Path=@ImagePath/>
      </td>
    </tr>
  }
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>