@page "/section/scales_screenshots/new"
@page "/section/scales_screenshots/{Uid:guid}"
@attribute [Authorize(Roles = UserAccessStr.Admin)]
@using WsStorageCore.TableDiagModels.ScalesScreenshots
@using WsDataCore.Utils
@using DeviceControl.Components.Item
@using DeviceControl.Services
@inherits ItemBase<WsStorageCore.TableDiagModels.ScalesScreenshots.WsSqlScaleScreenShotModel>

<ItemTopBar TItem="@WsSqlScaleScreenShotModel" Title="@WsLocaleCore.DeviceControl.ItemScreenShot" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 15, 35, 15, 35 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>
      <RadzenLink Path="@RouteService.GetItemRoute(SqlItemCast.Scale)" Text="@WsLocaleCore.Table.Line"/>
    </td>
    <td>@SqlItemCast.Scale.Description</td>
    <td>@WsLocaleCore.Table.ScreenShot</td>
    <td>@(DataUtils.GetBytesLength(SqlItemCast.ScreenShot, false))</td>
  </tr>
  @if (!string.IsNullOrEmpty(ImagePath))
  {
    <tr>
      <td colspan="4">
        <RadzenImage Style="width: 100%; height: 100%;" Path=@ImagePath/>
      </td>
    </tr>
  }
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  TItem="@WsSqlScaleScreenShotModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>