@using DeviceControl2.Source.Widgets.Section
@using DeviceControl2.Source.Widgets.Section.DataGridActions
@using Ws.Domain.Models.Entities.Ref

@inherits SectionDataGridPageBase<UserEntity>
@attribute [Route($"{RouteUtils.SectionUsers}{RouteUtils.SectionQrlQuery}")]
@rendermode InteractiveServer


<PageHeader>
  <span>@Localizer["SectionUsers"]</span>
  <DataGridItemsCounter ItemsCount="@SectionItems.Count()" IsLoading="IsLoading"/>
  <DataGridActionReload OnClick="@UpdateData" IsLoading="IsLoading" />
  <DataGridActionCreate OnClick="@OpenSectionCreateForm" />
</PageHeader>

<DataGridWrapper>
  <DataGridContainer
    TItem="UserEntity"
    Items="SectionItems"
    OnItemSelect="@(item => OpenDataGridEntityModal(item))"
  >
    <ColumnsContent>
      <DataGridColumn
        Caption="@WsDataLocalizer["ColActive"]"
        Field="@nameof(UserEntity.LoginDt)"
        Width="8%"
      >
        <DisplayTemplate>
          <div class="flex items-center justify-center size-full">
            <div class="size-3 rounded-full overflow-hidden @((DateTime.Now - context.LoginDt).TotalMinutes <= 5 ? "bg-green-400" : "bg-gray-600")"></div>
          </div>
        </DisplayTemplate>
      </DataGridColumn>
      <DataGridColumn
        Caption="@WsDataLocalizer["ColLoginDt"]"
        Field="@nameof(UserEntity.LoginDt)"
        Width="20%"
      />
      <DataGridColumn
        Caption="@WsDataLocalizer["ColName"]"
        Field="@nameof(UserEntity.Name)"
        Width="40%"
      />
      <DataGridColumn
        Caption="@WsDataLocalizer["ColProductionSite"]"
        Field="ProductionSite.Name"
        Width="40%"
      />
    </ColumnsContent>
    <ContextMenuContent>
      <DataGridActionViewItem OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, item => OpenDataGridEntityModal(item)))" />
      <DataGridActionOpenInNewTab OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, item => OpenItemInNewTab(item)))" />
      <DataGridActionDeleteItem OnClick="@(() => ContextFuncWrapper(context.Item, context.CloseContextMenu, item => DeleteItem(item)))" />
    </ContextMenuContent>
  </DataGridContainer>
</DataGridWrapper>
