@inherits BlazorCore.Models.RazorBase
@page "/item/measurements/label"
@page "/item/measurements/label/{IdentityId:long}"
@page "/item/measurements/label/{IdentityId:long}/{TableAction}"
@using BlazorCore
@using BlazorDeviceControl.Shared.Component
@using BlazorDeviceControl.Shared.Section
@using DataCore
@using DataCore.Localizations
@using DataCore.Utils
@using static DataCore.Localizations.LocaleData.DeviceControl

@if (!IsLoaded)
{
    <ActionsLoad ParentRazor=@this DataLoadItem=ShareEnums.ActionLoad.Loading IsShowProgress=true />
}
else
{
    <ActionsReloadItem ParentRazor=@this 
        Title=@LocaleData.DeviceControl.Items.Label SetParameters=@SetParametersAsync />

    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
        <thead>
            <tr>
                <th Style="color:blue; font-weight:bold; width: 20%; ">@LocaleCore.Strings.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 30%; ">@LocaleCore.Strings.RecordValue</th>
                <th Style="color:blue; font-weight:bold; width: 20%; ">@LocaleCore.Strings.RecordName</th>
                <th Style="color:blue; font-weight:bold; width: 30%; ">@LocaleCore.Strings.RecordValue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@LocaleCore.Table.Id</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true Value=@ItemCast.IdentityId.ToString() />
				</td>
                <td>@LocaleCore.Table.Marked</td>
                <td>
                    <RadzenCheckBox Disabled=false TValue="bool" @bind-Value=@ItemCast.IsMarked />
                </td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.Scale</td>
                <td>
                    <RadzenLink Style="width: 100%; text-align: center; " 
                        Path=@GetPath(UriRouteItem.Scale, ItemCast.WeithingFact.Scale, ItemCast.WeithingFact.Scale.IdentityId)
                        Text=@ItemCast.WeithingFact.Scale.Description />
				</td>
                <td>@LocaleCore.Table.Plu</td>
                <td>
                    <RadzenLink Style="width: 100%; text-align: center; " 
                        Path=@GetPath(UriRouteItem.Plu, ItemCast.WeithingFact.Plu, ItemCast.WeithingFact.Plu.IdentityId)
                        Text=@ItemCast.WeithingFact.Plu.GoodsName />
				</td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.WeithingDate</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Value=@ItemCast.WeithingFact.WeithingDate.ToString() 
                        Disabled=false ReadOnly=true DateFormat="yyyy-MM-dd HH:mm:ss" />
				</td>
                <td>@LocaleCore.Table.ProductDate</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Value=@ItemCast.WeithingFact.ProductDate.ToString() 
                        Disabled=false ReadOnly=true DateFormat="yyyy-MM-dd HH:mm:ss" />
				</td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.NetWeight</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true Value=@ItemCast.WeithingFact.NetWeight.ToString() />
				</td>
                <td>@LocaleCore.Table.TareWeight</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true Value=@ItemCast.WeithingFact.TareWeight.ToString() />
				</td>
            </tr>
            <tr>
                <td>@LocaleCore.Table.RegNum</td>
                <td >
                    <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true Value=@ItemCast.WeithingFact.RegNum.ToString() />
				</td>
                <td>@LocaleCore.Table.IsKneading</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center; background-color: lightgray; " 
                        Disabled=false ReadOnly=true Value=@ItemCast.WeithingFact.Kneading.ToString() />
                </td>
            </tr>
            <tr >
                <td>@LocaleCore.Table.Template</td>
                <td>
                    <RadzenLink Style="width: 100%; text-align: center; " 
                        Path=@GetPath(UriRouteItem.Template, ItemCast.WeithingFact.Plu.Template, ItemCast.WeithingFact.Plu.Template.IdentityId)
                        Text=@ItemCast.WeithingFact.Plu.Template.Title />
                </td>
                <td>@LocaleCore.Table.Link</td>
                <td>
                    <RadzenLink Style="width: 100%; text-align: center; " 
                        Path=@LinkLabelary
                        Text=@LocaleCore.Table.TemplateLabelary />
                </td>
            </tr>
            <tr >
                <td>@LocaleCore.Table.Zpl</td>
                <td colspan=3>
                    <RadzenTextArea Style="width: 100%; text-align: left; font-size: 10px; line-height: 16px; background-color: lightgray; " 
                        Disabled=false ReadOnly=true @bind-Value=@ItemCast.Zpl Rows=22 />
				</td>
            </tr>
        </tbody>
    </MudSimpleTable>
    
    <ActionsSave ParentRazor=@this ButtonSettings=@ButtonSettings />
    <ItemDates ParentRazor=@this />
}
