@page "/section/plus_bundles/new"
@page "/section/plus_bundles/{Uid:guid}"
@attribute [Authorize(Roles = WsUserAccessStr.Read)]
@using DeviceControl.Services
@using DeviceControl.Components.Item
@using DeviceControl.Utils
@using WsStorageCore.Tables.TableScaleFkModels.PlusBundlesFks
@inherits ItemBase<WsStorageCore.Tables.TableScaleFkModels.PlusBundlesFks.WsSqlPluBundleFkModel>

<ItemTopBar TItem="@WsSqlPluBundleFkModel" Title="@WsLocaleCore.DeviceControl.ItemPluBundleFk" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead HeadWidth="@(new List<int> { 20, 30, 20, 30 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>
      <RadzenLink Path="@WsRouteService.GetItemRoute(SqlItemCast.Plu)" Text="@WsLocaleCore.Table.Plu"/>
    </td>
    <td>@SqlItemCast.Plu.DisplayName</td>
    <td>@WsLocaleCore.Table.NomenclatureCode</td>
    <td>@SqlItemCast.Plu.Code</td>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@WsRouteService.GetItemRoute(SqlItemCast.Bundle)" Text="@WsLocaleCore.Table.Bundle"/>
    </td>
    <td>@SqlItemCast.Bundle.Name</td>
    <td>@WsLocaleCore.Table.BundleWeight</td>
    <td>@SqlItemCast.Bundle.Weight</td>
  </tr>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>