@page "/section/plus_bundles/new"
@page "/section/plus_bundles/{Uid:guid}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using WsStorageCore.TableScaleFkModels.PlusBundlesFks
@using DeviceControl.Services
@using DeviceControl.Components.Item
@inherits ItemBase<WsStorageCore.TableScaleFkModels.PlusBundlesFks.WsSqlPluBundleFkModel>

<ItemTopBar TItem="@WsSqlPluBundleFkModel" Title="@WsLocaleCore.DeviceControl.ItemPluBundleFk" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new List<int> { 20, 30, 20, 30 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>
      <RadzenLink Path="@RouteService.GetItemRoute(SqlItemCast.Plu)" Text="@WsLocaleCore.Table.Plu"/>
    </td>
    <td>@SqlItemCast.Plu.DisplayName</td>
    <td>@WsLocaleCore.Table.NomenclatureCode</td>
    <td>@SqlItemCast.Plu.Code</td>
  </tr>
  <tr>
    <td>
      <RadzenLink Path="@RouteService.GetItemRoute(SqlItemCast.Bundle)" Text="@WsLocaleCore.Table.Bundle"/>
    </td>
    <td>@SqlItemCast.Bundle.Name</td>
    <td>@WsLocaleCore.Table.BundleWeight</td>
    <td>@SqlItemCast.Bundle.Weight</td>
  </tr>
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  TItem="@WsSqlPluBundleFkModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>