@page "/section/workshops/new"
@page "/section/workshops/{IdentityId:long}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@inherits RazorComponentItemBase<WorkShopModel>
@using DataCore.Sql.TableScaleModels.WorkShops
@using BlazorDeviceControl.Pages.ItemComponents
@using BlazorDeviceControl.Pages.CustomComponents

<RazorItemReload TItem="@WorkShopModel" Title="@LocaleCore.DeviceControl.ItemWorkshop"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 25, 25, 25, 25 })"/>
  <tbody>
  <RazorItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@LocaleCore.Table.Name</td>
    <td><RzTextBoxLocal @bind-Value="@SqlItemCast.Name"/></td>
    <td />
    <td />
  </tr>
  <tr>
    <td>
          <RadzenLink Path="@GetRouteItemPath(SqlItemCast.ProductionFacility)"
                      Text="@LocaleCore.Table.ProductionFacility"/>
        </td>
    <td>
      <RzDropDownLocal @bind-Value="@SqlItemCast.ProductionFacility" Data="@DataContext.ProductionFacilities" TextProperty="Name" />
    </td>
    <td />
    <td />
  </tr>
  <RazorItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<RazorItemActions
  TItem="@WorkShopModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"
  />
