@using ScalesDesktop.Source.Shared.Services
@using TscZebra.Plugin.Abstractions.Enums
@using Blazor.Heroicons.Outline
@using MassaK.Plugin.Abstractions.Enums

@implements IDisposable

@if (LabelContext.Plu.IsNew)
{
  <div class="flex size-full items-center justify-center p-6">
    <div class="flex flex-col gap-8">
      <div class="flex flex-col gap-2 text-center">
        <h3 class="font-medium text-lg xl:text-xl">
          @Localizer["PluDisplayUnselectedTitle"]
        </h3>
        <h4 class="text-muted-foreground text-sm xl:text-base">
          @Localizer["PluDisplayUnselectedDescription"]
        </h4>
      </div>
      <div class="text-muted-foreground text-xs text-center xl:text-sm">
        @Localizer["PluDisplayUnselectedStatusesInfo"]
        <PrinterIcon class="size-4 inline-block"/>
        <ScaleIcon class="size-4 inline-block"/>
      </div>
    </div>

  </div>
}
else if (ScalesService.Status is not MassaKStatus.IsReady)
{
  <div class="flex flex-col size-full items-center justify-center">
    <ExclamationTriangleIcon class="size-16 stroke-[0.9] text-red-500" />
    <span class="text-center text-red-500 text-xl xl:text-2xl">
      @Localizer["ScalesStatusDetached"]
    </span>
  </div>
}
else if (PrinterService.Status is PrinterStatuses.IsDisconnected)
{
  <div class="flex flex-col size-full items-center justify-center">
    <ExclamationTriangleIcon class="size-16 stroke-[0.9] text-red-500" />
    <span class="text-center text-red-500 text-xl xl:text-2xl">
      @Localizer["PrinterStatusDisconnected"]
    </span>
    <Button
      OnClick="@PrinterService.ConnectAsync"
      Variant="ButtonVariant.Outline"
      Class="mt-4"
    >
      <ArrowPathIcon class="size-5 mr-2" />
      @Localizer["BtnReconnect"]
    </Button>
  </div>
}
else
{
  @ChildContent
}

@code {

  # region Injects

  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
  [Inject] private LabelContext LabelContext { get; set; } = default!;
  [Inject] private ScalesService ScalesService { get; set; } = default!;
  [Inject] private PrinterService PrinterService { get; set; } = default!;

  # endregion

  [Parameter] public RenderFragment? ChildContent { get; set; }

  protected override void OnInitialized()
  {
    LabelContext.StateChanged += StateHasChanged;
    ScalesService.StatusChanged += StateHasChanged;
    PrinterService.StatusChanged += StateHasChanged;
  }

  public void Dispose()
  {
    LabelContext.StateChanged -= StateHasChanged;
    ScalesService.StatusChanged -= StateHasChanged;
    PrinterService.StatusChanged -= StateHasChanged;
  }
}
