@page "/section/clips/new"
@page "/section/clips/{Uid:guid}"
@attribute [Authorize(Roles = WsUserAccessStr.Read)]
@using DeviceControl.Components.Item
@inherits ItemBase<WsSqlClipEntity>

<ItemTopBar TItem="@WsSqlClipEntity" Title="@WsLocaleCore.Strings.Clips" OnItemUpdate="@GetItemData"/>
<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
    <ItemTableHead HeadWidth="@(new List<int> { 15, 35, 15, 35 })"/>
    <tbody>
    <ItemTableBody SqlItem="@SqlItemCast"/>
    <tr>
      <td>@WsLocaleCore.Table.Name</td>
      <td>@SqlItemCast.Name</td>
      <td>@WsLocaleCore.Table.Weight</td>
      <td>@SqlItemCast.Weight</td>
    </tr>
    <ItemDates SqlItem="@SqlItemCast"/>
    </tbody>
</MudSimpleTable>

<ItemActions
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>
