@page "/section/plus_nesting_fks/new"
@page "/section/plus_nesting_fks/{IdentityUidStr}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@inherits RazorComponentItemBase<PluNestingFkModel>
@using DataCore.Sql.TableScaleFkModels.PlusNestingFks
@using DataCore.Sql.TableScaleModels.Boxes
@using DataCore.Sql.TableScaleFkModels.PlusBundlesFks
@using BlazorDeviceControl.Pages.CustomComponents

<RazorItemReload TItem="@PluNestingFkModel" Title="@LocaleCore.DeviceControl.ItemPluNestingFk"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 })"/>
  <tbody>
  <RazorItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>
      @LocaleCore.Table.Name
    </td>
    <td>
      <RadzenTextBox
        Style="width: 100%; text-align: center; background-color: lightgray; "
        ReadOnly="true" Value="@SqlItemCast.Name"/>
    </td>
    <td>
      @LocaleCore.Table.IsDefault
    </td>
    <td>
      <RadzenCheckBox TValue="bool" @bind-Value="@SqlItemCast.IsDefault"/>
    </td>
  </tr>
  @* PluBundleFk *@
  <tr>
    <td>
      <RadzenLink Style="width: 100%; margin-left: 0; text-align: center; "
                  Path="@GetRouteItemPath(SqlItemCast.PluBundle)"
                  Text="@LocaleCore.Table.PluBundleFk"/>
    </td>
    <td colspan="3">
      <MudSelectLocal @bind-Value="@PluBundleFk">
        @foreach (PluBundleFkModel item in DataContext.PluBundleFks)
        {
          <MudSelectItem Value=@item>@($"{item.Plu.Name} | {item.Plu.Number} | {item.Bundle.Name}")</MudSelectItem>
        }
      </MudSelectLocal>
    </td>
  </tr>
  @* Plu *@
  <tr>
    <td>
      <RadzenLink Style="width: 100%; "
                  Path="@GetRouteItemPath(SqlItemCast.PluBundle.Plu)"
                  Text="@LocaleCore.Table.Plu"/>
    </td>
    <td>
      <RadzenLink Style="width: 100%; "
                  Path="@GetRouteItemPath(SqlItemCast.PluBundle.Plu)"
                  Text=@($"{PluBundleFk.Plu.Number}") />
    </td>
    <td colspan="2">
      <RadzenLink Style="width: 100%; "
                  Path="@GetRouteItemPath(SqlItemCast.PluBundle.Plu)"
                  Text="@PluBundleFk.Plu.Name"/>
    </td>
  </tr>
  @* Nomenclature *@
  <tr>
    <td>
      <RadzenLabel Style="width: 100%; " Text="@LocaleCore.Table.Nomenclature"/>
    </td>
    <td>
      <RadzenLink Style="width: 100%; "
                  Path="@GetRouteItemPath(SqlItemCast.PluBundle.Bundle)"
                  Text="@(SqlItemCast.PluBundle.Plu.Name)"/>
    </td>
    <td>
      <RadzenLabel Style="width: 100%; " Text="@LocaleCore.Table.NomenclatureCode"/>
    </td>
    <td>
      <RadzenLink Style="width: 100%; "
                  Path="@GetRouteItemPath(SqlItemCast.PluBundle.Bundle)"
                  Text="@(SqlItemCast.PluBundle.Plu.Code)"/>
    </td>
  </tr>
  @* Bundle *@
  <tr>
    <td>
      <RadzenLabel Style="width: 100%; " Text="@LocaleCore.Table.Bundle"/>
    </td>
    <td>
      <RadzenLink Style="width: 100%; "
                  Path="@GetRouteItemPath(SqlItemCast.PluBundle.Bundle)"
                  Text="@PluBundleFk.Bundle.Name"/>
    </td>
    <td>
      <RadzenLabel Style="width: 100%; " Text="@LocaleCore.Table.Weight"/>
    </td>
    <td>
      <RadzenNumeric Style="width: 100%; text-align: center; background-color: lightgray; "
                     Disabled="true" TValue="decimal" ReadOnly="true" @bind-Value="@PluBundleFk.Bundle.Weight"/>
    </td>
  </tr>
  @* Box *@
  <tr>
    <td>
      <RadzenLink Style="width: 100%; "
                  Path="@GetRouteItemPath(SqlItemCast.Box)"
                  Text="@LocaleCore.Table.Box"/>
    </td>
    <td colspan="3">
      <MudSelectLocal @bind-Value="@Box">
        @foreach (BoxModel item in DataContext.Boxes)
        {
          <MudSelectItem Value=@item>@($"{item.Name} | {item.Weight}")</MudSelectItem>
        }
      </MudSelectLocal>
    </td>
  </tr>
  @* Box *@
  <tr>
    <td>
      <RadzenLabel Style="width: 100%; " Text="@LocaleCore.Table.BoxWeight"/>
    </td>
    <td>
      <RadzenNumeric Style="width: 100%; text-align: center; background-color: lightgray; "
                     Disabled="true" TValue="decimal" ReadOnly="true" @bind-Value="@Box.Weight"/>
    </td>
  </tr>
  @* Nesting & Weight *@
  <tr>
    <td>
      <RadzenLabel Style="width: 100%; " Text="@LocaleCore.Table.NestingCount"/>
    </td>
    <td>
      <RzNumericLocal @bind-Value="@SqlItemCast.BundleCount"/>
    </td>
    <td>
      <RadzenLabel Style="width: 100%; " Text="@LocaleCore.Table.WeightNominal"/>
    </td>
    <td>
      <RzNumericLocal @bind-Value="@SqlItemCast.WeightNom"/>
    </td>
  </tr>
  <tr>
    <td>
      <RadzenLabel Style="width: 100%; " Text="@LocaleCore.Table.WeightMinimal"/>
    </td>
    <td>
      <RadzenNumeric Style="width: 100%; text-align: center; "
                     TValue="decimal" @bind-Value="@SqlItemCast.WeightMin"/>
    </td>
    <td>
      <RadzenLabel Style="width: 100%; " Text="@LocaleCore.Table.WeightMaximal"/>
    </td>
    <td>
      <RadzenNumeric Style="width: 100%; text-align: center; "
                     TValue="decimal" @bind-Value="@SqlItemCast.WeightMax"/>
    </td>
  </tr>
  <RazorItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<RazorItemActions
  TItem="@PluNestingFkModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"
  />

