@page "/section/plus_bundles_fks/new"
@page "/section/plus_bundles_fks/{IdentityUidStr}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@inherits RazorComponentItemBase<PluBundleFkModel>
@using DataCore.Sql.TableScaleFkModels.PlusBundlesFks
@using DataCore.Sql.TableScaleModels.Bundles
@using DataCore.Sql.TableScaleModels.Plus
@using BlazorDeviceControl.Pages.CustomComponents

<RazorItemReload TItem="@PluBundleFkModel" Title="@LocaleCore.DeviceControl.ItemPluBundleFk"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 })"/>
  <tbody>
  <RazorItemTableBody SqlItem="@SqlItemCast"/>
  @* Plu & Number *@
  <tr>
    <td>
      <RadzenLink Style="width: 100%; "
                  Path="@GetRouteItemPath(Plu)"
                  Text="@LocaleCore.Table.Plu"/>
    </td>
    <td colspan="3">
      <MudSelectLocal @bind-Value="@Plu">
        @foreach (PluModel item in DataContext.Plus)
        {
          <MudSelectItem Value=@item>@item.Name</MudSelectItem>
        }
      </MudSelectLocal>
    </td>
  </tr>
  @* Plu *@
  <tr>
    <td>
      <RadzenLink Style="width: 100%; "
                  Path="@GetRouteItemPath(SqlItemCast.Plu)"
                  Text="@LocaleCore.Table.Plu"/>
    </td>
    <td>
      <RadzenLink Style="width: 100%; "
                  Path="@GetRouteItemPath(SqlItemCast.Plu)"
                  Text=@($"{Plu.Number}") />
    </td>
    <td colspan="2">
      <RadzenLink Style="width: 100%; "
                  Path="@GetRouteItemPath(SqlItemCast.Plu)"
                  Text="@Plu.Name"/>
    </td>
  </tr>
  @* Nomenclature *@
  <tr>
    <td>
      <RadzenLabel Style="width: 100%; " Text="@LocaleCore.Table.NomenclatureCode"/>
    </td>
    <td>
      <RadzenLink Style="width: 100%; "
                  Path="@GetRouteItemPath(SqlItemCast.Bundle)"
                  Text="@(SqlItemCast.Plu.Code)"/>
    </td>
  </tr>
  @* Bundle *@
  <tr>
    <td>
      <RadzenLink Style="width: 100%; margin-left: 0;"
                  Path="@GetRouteItemPath(SqlItemCast.Bundle)"
                  Text="@LocaleCore.Table.Bundle"/>
    </td>
    <td colspan="3">
      <MudSelectLocal @bind-Value="@Bundle">
        @foreach (BundleModel item in DataContext.Bundles)
        {
          <MudSelectItem Value=@item>@item.Name</MudSelectItem>
        }
      </MudSelectLocal>
    </td>
  </tr>
  <RazorItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<RazorItemActions
  TItem="@PluBundleFkModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"
  />

