@page "/section/plus_groups/new"
@page "/section/plus_groups/{Uid:guid}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@using DeviceControl.Services
@using DeviceControl.Components.Item
@using DeviceControl.Utils
@using WsStorageCore.Tables.TableScaleModels.PlusGroups
@inherits ItemBase<WsStorageCore.Tables.TableScaleModels.PlusGroups.WsSqlPluGroupModel>

<ItemTopBar TItem="@WsSqlPluGroupModel" Title="@WsLocaleCore.DeviceControl.ItemNomenclatureGroup" OnItemUpdate="@GetItemData"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <ItemTableHead HeadWidth="@(new List<int> { 20, 30, 20, 30 })"/>
  <tbody>
  <ItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@WsLocaleCore.Table.Name</td>
    <td>@SqlItemCast.Name</td>
    <td>@WsLocaleCore.Table.Code</td>
    <td>@SqlItemCast.Code</td>
  </tr>
  @if (ParentGroup is {IsNotNew: true })
  {
    <tr>
      <td>
        <RadzenLink Path="@WsRouteService.GetItemRoute(ParentGroup)" Text="@WsLocaleCore.Table.Parent"/>
      </td>
      <td>@ParentGroup.Name</td>
      <td/>
      <td/>
    </tr>
  }
  <ItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<ItemActions
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@RedirectBackAsync"/>