@inherits SectionFormInputBase
@using Blazor.Heroicons.Outline

<SectionFormInputWrapper
  Label="@Label"
  Size="@Size"
  Link="@Link"
>
  @if (GetIsLargeSize(Size))
  {
    <textarea
      disabled="@IsDisabled"
      @bind:get="Value"
      @bind:set="HandleValueChange"
      placeholder="@Localizer["SectionFormInputTextPlaceholder"]"
      class="w-full h-full px-2 py-1 rounded-md overflow-hidden border border-black/[.1] resize-none overflow-y-auto
              focus:border-blue/[.1] focus:ring-0 disabled:bg-gray-200">
    </textarea>
  }
  else
  {
    <input
      type="text"
      disabled="@IsDisabled"
      @bind:get="Value"
      @bind:set="HandleValueChange"
      placeholder="@Localizer["SectionFormInputTextPlaceholder"]"
      class="w-full h-full px-2 rounded-md overflow-hidden border border-black/[.1] focus:border-blue/[.1] focus:ring-0
            disabled:bg-gray-200"
    />
  }
  @if (IsCopyable)
  {
    <button
      type="button"
      @onclick="() => SaveToClipboard(Value)"
      class="absolute top-8 right-16 flex items-center justify-center"
    >
      <DocumentDuplicateIcon class="h-7 w-7 transition-colors text-black/[.3] group-hover:text-black/[.7]" />
    </button>

  }
</SectionFormInputWrapper>
