<div class="w-full !mt-0 bg-white border-t border-t-black/[.1] gap-3 py-4 flex flex-col">
  @if (CreateDate != null || ChangeDate != null)
  {
    <div class="flex px-4 items-center w-full">
      @if (CreateDate != null)
      {
        <div class="w-1/2 px-10 truncate items-center flex gap-2">
          <span>@Localizer["DataGridColumnCreateDt"]:</span>
          <span>@CreateDate?.ToString("dd.MM.yyyy HH:mm")</span>
        </div>
      }
      @if (ChangeDate != null)
      {
        <div class="w-1/2 px-10 truncate flex-items flex gap-2">
          <span>@Localizer["DataGridColumnChangeDt"]:</span>
          <span>@ChangeDate?.ToString("dd.MM.yyyy HH:mm")</span>
        </div>
      }
    </div>
  }
  <div class="flex px-6 w-full gap-2 justify-end">
    @if (OnSubmitAction.HasDelegate)
    {
      <button
        type="button"
        @onclick="CloseModal"
        class="h-9 transition-colors flex items-center w-32 justify-center overflow-hidden rounded-md border hover:bg-neutral-100"
      >
        <span class="pt-[1px]">@Localizer["ButtonCancel"]</span>
      </button>
      <button
        type="button"
        @onclick="ExecuteSubmitWithTimeout"
        disabled="@IsSubmitDisabled"
        class="h-9 bg-neutral-900 transition-colors flex items-center w-32 justify-center overflow-hidden text-white
                  rounded-md border border-black/[.1] hover:bg-neutral-800 disabled:bg-neutral-700">
        <span class="pt-[1px]">@Localizer["ButtonSave"]</span>
      </button>
    }
  </div>
</div>