@using Blazor.Heroicons.Mini
@inherits SectionFormInputBase


<SectionFormInputWrapper
  Label="@Label"
  Size="@Size"
  Link="@Link"
>
  @if (GetIsLargeSize(Size))
  {
    <textarea
      disabled="@IsDisabled"
      @bind:get="Value"
      @bind:set="HandleValueChange"
      placeholder="@Localizer["SectionFormInputTextPlaceholder"]"
      class="w-full h-full px-2 py-1 font-light text-sm rounded-md overflow-hidden border border-black/[.1] resize-none overflow-y-auto
              focus:border-blue/[.1] focus:ring-0 disabled:bg-gray-200 dark:bg-black dark:border-neutral-800 dark:disabled:bg-neutral-900">
    </textarea>
  }
  else
  {
    <input
      type="text"
      disabled="@IsDisabled"
      @bind:get="Value"
      @bind:set="HandleValueChange"
      placeholder="@Localizer["SectionFormInputTextPlaceholder"]"
      class="w-full h-full px-2 rounded-md font-light text-sm overflow-hidden border border-black/[.1] focus:border-blue/[.1] focus:ring-0
            disabled:bg-gray-200 dark:bg-black dark:border-neutral-800 dark:disabled:bg-neutral-900"
    />
  }
  @if (IsCopyable)
  {
    <button
      type="button"
      @onclick="() => SaveToClipboard(Value)"
      class="absolute flex items-center justify-center @(GetIsLargeSize(Size) ? "top-8 right-16 h-7 w-7" : "top-[1.85rem] right-12 h-5 w-5")"
    >
      <DocumentDuplicateIcon class="w-full h-auto transition-colors transition-transform text-black/[.3]
         group-hover:text-black hover:scale-[1.1] dark:text-white/[.4] dark:group-hover:text-white" />
    </button>
  }
</SectionFormInputWrapper>
