@typeparam TValue
@inherits SectionFormInputBase


<SectionFormInputWrapper Label="@Label" Link="@Link">
  <div class="w-full px-1 gap-1 h-full flex items-center rounded-md overflow-hidden border border-black/[.1]
      focus-within:border-blue-500 dark:border-neutral-800 @(IsDisabled ? "bg-gray-100 dark:bg-neutral-900": "bg-white dark:bg-black")"
  >
    <input
      type="number"
      min="@MinValue"
      max="@MaxValue"
      disabled="@IsDisabled"
      @bind:get="BindingValue"
      @bind:set="HandleInputChange"
      class="w-full h-full bg-transparent text-sm font-light border-none px-1 focus:ring-0"
    />
  </div>
</SectionFormInputWrapper>
