@inherits DataGridBase<PluEntity>
@using Ws.StorageCore.Entities.SchemaRef1c.Plus


<DataGridWrapper
  TItem="PluEntity"
  GridData="GridData"
  OnItemSelect="OnItemSelect"
  Title="@Localizer["DialogPluSelectHeaderLabel"]"
>
  <DataGridColumn
    Caption="@Localizer["DataGridColumnNumber"]"
    TItem="PluEntity"
    Field="@nameof(PluEntity.Number)"
    Width="15%"
  />
  <DataGridColumn
    Caption="@Localizer["DataGridColumnType"]"
    TItem="PluEntity"
    Field="@nameof(PluEntity.IsCheckWeight)"
    Width="15%"
  >
    <DisplayTemplate>
      <span>@(context.IsCheckWeight ? "Вес" : "Шт")</span>
    </DisplayTemplate>
  </DataGridColumn>
  <DataGridColumn
    Caption="@Localizer["DataGridColumnName"]"
    TItem="PluEntity"
    Field="@nameof(PluEntity.Name)"
    Width="70%"
  />
</DataGridWrapper>