@using Phetch.Core
@using ScalesDesktop.Source.Shared.Services
@using Ws.Desktop.Models.Features.Arms.Output
@using Ws.Shared.Enums

<div class="flex justify-between items-center w-full">
  <UseParameterlessEndpoint Endpoint="@ArmApi.ArmEndpoint" Context="query">
    @if (!query.HasData)
    {
      <Skeleton Class="size-16 !rounded-full shrink-0"/>
    }
    else
    {
      <div class="size-16 shrink-0 rounded-full flex items-center justify-center bg-secondary">
        @switch (query.Data.Type)
        {
          case ArmType.Pc:
            <ComputerDesktopIcon class="size-8"/>
            break;
          case ArmType.Tablet:
            <DeviceTabletIcon class="size-8 rotate-[270deg]"/>
            break;
          case ArmType.Universal:
            <ServerIcon class="size-8"/>
            break;
          default:
            <ExclamationTriangleIcon class="size-8 text-destructive" />
            break;
        }
      </div>
    }
    <div class="flex w-full flex-col px-3 justify-start">
      @if (!query.HasData)
      {
        <Skeleton Class="w-32 h-6"/>
        <Skeleton Class="w-32 h-6 mt-1"/>
      }
      else
      {
        <span class="font-medium truncate">@query.Data.Name</span>
        <span class="truncate">@query.Data.Warehouse</span>
      }
    </div>
    <Button
      Class="shrink-0 border"
      OnClick="@(async () => await RefetchArm(query))"
      Variant="ButtonVariant.Secondary"
      Disabled="@query.IsFetching"
    >
      <ArrowPathIcon class="size-4 mr-2"/>
      @Localizer["BtnUpdate"]
    </Button>
  </UseParameterlessEndpoint>

</div>

@code {
  [Inject] private PrinterService PrinterService { get; set; } = default!;
  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
  [Inject] private ArmApi ArmApi { get; set; } = default!;

  [Parameter] public EventCallback OnArmRefetch { get; set; }

  private async Task RefetchArm(Query<ArmValue> query)
  {
    query.Refetch();
    if (!OnArmRefetch.HasDelegate) return;
    await Task.Delay(10);
    await OnArmRefetch.InvokeAsync();
  }
}