@using Blazor.Heroicons.Outline
@using Microsoft.FluentUI.AspNetCore.Components
@using ScalesDesktop.Source.Features.ErrorBoundaries

<PrinterErrorBoundary>
  <UseParameterlessEndpoint Endpoint="@ArmApi.ArmEndpoint" Context="armQuery">
    <div class="py-3 w-full flex shrink-0 items-center gap-2 px-4">
      <div class="w-1/2 border bg-background rounded-md px-2 h-9 flex items-center shadow-sm gap-2 justify-between overflow-hidden">
        <MagnifyingGlassIcon class="h-5 w-5 pb-[2px] text-muted-foreground" />
        <input
          @bind="SearchingNumber"
          @bind:event="oninput"
          placeholder="@Localizer["SearchByNumberPlaceholder"]"
          class="bg-transparent w-full text-sm h-full focus:outline-none focus:border-0 focus:ring-0"
        />
      </div>
      <div class="w-1/2 flex gap-2 h-full items-center overflow-hidden">
        @if (armQuery.HasData)
        {
          <UseEndpoint Endpoint="@PalletApi.PalletLabelsEndpoint" Arg="@new(armQuery.Data.Id, Pallet.Id)" Context="labelsQuery">
            <Button
              Variant="ButtonVariant.Outline"
              Class="w-1/2"
              OnClick="@(() => SelectAllItems(labelsQuery.Data?.ToList() ?? []))"
              Disabled="@(!labelsQuery.HasData)"
            >
              @Localizer["BtnSelectAllLabels"]
            </Button>
          </UseEndpoint>
        }
        else
        {
          <Skeleton Class="w-full h-9" />
        }
        <Button Class="w-1/2" OnClick="@PrintLabelsAsync">
          @Localizer["BtnSelectedLabelsPrinting"]
        </Button>
      </div>
    </div>
    <div class="size-full flex grow overflow-hidden p-4 pt-0">
      <div class="rounded-md border size-full flex bg-background shadow-sm overflow-y-auto overflow-x-hidden">
        @if (armQuery.HasData)
        {
          <UseEndpoint Endpoint="@PalletApi.PalletLabelsEndpoint" Arg="@new(armQuery.Data.Id, Pallet.Id)" Context="labelsQuery">
            <FluentDataGrid
              TGridItem="DataItem"
              GridTemplateColumns="5rem 1fr 4fr"
              Items="@GetOrderedLabels(labelsQuery.HasData ? labelsQuery.Data : [])"
              RowClass="@(_ => "border-b hover:bg-secondary/[.5] hover:cursor-pointer [&_fluent-data-grid-cell]:!p-0")"
              Class="[&>.header]:border-b [&_fluent-data-grid-cell]:!text-primary [&_.col-sort-button]:!text-primary size-full [&_.col-options-button]:pl-1 [&_.col-sort-button]:pl-1"
              Loading="@labelsQuery.IsLoading"
              Virtualize
            >
              <TemplateColumn>
                <button @onclick="@(() => ToggleItem(context.Label))" class="size-full flex justify-center items-center px-3">
                  @if (SelectedItems.Contains(context.Label))
                  {
                    <CheckIcon class="size-4"/>
                  }
                </button>
              </TemplateColumn>
              <TemplateColumn Title="@WsDataLocalizer["ColNumber"]">
                <button @onclick="@(() => ToggleItem(context.Label))" class="size-full flex items-center px-3">
                  @context.Id
                </button>
              </TemplateColumn>
              <TemplateColumn Title="@WsDataLocalizer["ColBarcode"]">
                <div @onclick="@(() => ToggleItem(context.Label))" class="size-full flex items-center px-3">
                  @Pallet.Barcode
                </div>
              </TemplateColumn>
            </FluentDataGrid>
          </UseEndpoint>
        }
      </div>
    </div>
  </UseParameterlessEndpoint>
</PrinterErrorBoundary>
