@using Blazor.Heroicons
@using Blazor.Heroicons.Mini
@using ScalesDesktop.Source.Features.ErrorBoundaries

<PrinterErrorBoundary>
  <div class="w-full flex flex-col gap-2 shrink-0 items-center px-6 pt-4">
    <div class="w-full flex items-center justify-between">
      <h3 class="font-medium text-xl pb-1">@Localizer["ColPrint"]</h3>
      <div class="flex gap-2 items-center">
        <Button
          Variant="ButtonVariantType.Outline"
          OnClick="@PrintLabelsAsync"
          Disabled="@(!SelectedItems.Any() || IsPrinting)"
        >
          <PrinterIcon class="size-4 mr-2" />
          @Localizer["BtnSelectedLabelsPrinting"]
        </Button>
        <UseEndpoint Endpoint="@PalletEndpoints.PalletLabelsEndpoint" Arg="@new(Pallet.Id)" Context="labelsQuery">
          <Button OnClick="@PrintPalletCard">
            <DocumentTextIcon class="size-4 mr-2" />
            @Localizer["BtnPrintPC"]
          </Button>
        </UseEndpoint>
      </div>
    </div>
    <div class="flex w-full pb-2 justify-between items-end">
      <div class="w-1/2 pb-2">
        <div class="w-full border bg-background rounded-md pb-0.5 px-2 h-9 flex items-center shadow-sm gap-2 justify-between overflow-hidden">
          <Heroicon
            Name="@HeroiconName.MagnifyingGlass"
            Type="HeroiconType.Outline"
            class="size-5 py-px text-muted-foreground"
          />
          <input
            name="label-search"
            @bind="SearchingNumber"
            @bind:event="oninput"
            placeholder="@Localizer["SearchByNumberPlaceholder"]"
            class="bg-transparent size-full text-sm focus:outline-none focus:border-0 focus:ring-0"
          />
        </div>
      </div>
      <span class="text-sm">
        <UseEndpoint Endpoint="@PalletEndpoints.PalletLabelsEndpoint" Arg="@new(Pallet.Id)" Context="labelsQuery">
          @(string.Format(Localizer["LabelsDataGridSelectedInfo"], SelectedItems.Count(), labelsQuery.Data?.Length ?? 0))
        </UseEndpoint>
      </span>
    </div>
  </div>
  <div class="size-full grow overflow-hidden px-6 pb-6 pt-0">
    <div class="rounded-md border size-full bg-background shadow-sm overflow-hidden">
      <UseEndpoint Endpoint="@PalletEndpoints.PalletLabelsEndpoint" Arg="@new(Pallet.Id)" Context="labelsQuery">
        <FluentDataGrid
          TGridItem="DataItem"
          Items="@GetOrderedLabels(labelsQuery.HasData ? labelsQuery.Data : [])"
          RowClass="@(_ => "border-b shrink-0 hover:bg-secondary/[.5] hover:cursor-pointer")"
          Class="overflow-y-auto [&>.sticky-header]:border-b [&>.sticky-header]:!bg-background [&_fluent-data-grid-cell]:!text-primary [&_.col-sort-button]:!text-primary size-full [&_.col-options-button]:pl-1 [&_.col-sort-button]:pl-1"
          Loading="@labelsQuery.IsLoading"
          GenerateHeader="GenerateHeaderOption.Sticky"
          Virtualize
        >
          <SelectColumn
            TGridItem="DataItem"
            SelectMode="DataGridSelectMode.Multiple"
            SelectFromEntireRow="true"
            @bind-SelectedItems="@SelectedItems"
            Align="Align.Center"
            Class="[&>svg]:!ml-0"
          />
          <PropertyColumn
            Title="@WsDataLocalizer["ColNumber"]"
            Property="@(p => p.Id)"
            Width="1fr"
          />
          <PropertyColumn
            Title="@WsDataLocalizer["ColBarcode"]"
            Property="@(p => p.Label.Barcode)"
            Width="5fr"
          />
          <TemplateColumn Width="4rem" Align="Align.Center">
            <button
              type="button"
              onclick="@(() => SaveToClipboard(context.Label.Barcode))"
              class="text-muted-foreground opacity-50 hover:opacity-100"
            >
              <ClipboardDocumentIcon class="size-5" />
            </button>
          </TemplateColumn>
        </FluentDataGrid>
      </UseEndpoint>
    </div>
  </div>
</PrinterErrorBoundary>
