@using vNext.BlazorComponents.FluentValidation

<EditForm
  Model="FormModel"
  OnValidSubmit="@OnValidSubmit"
  class="max-w-md mx-auto w-full flex flex-col space-y-4"
  novalidate="true"
>
  <FluentValidationValidator Validator="@(new PalletSecondStageFormValidator())" />
  <FormFieldWrapper Label="@WsDataLocalizer["ColPalletWeight"]" HtmlId="pallet-weight">
    <InputNumberField
      TValue="decimal"
      id="pallet-weight"
      Step="0.001"
      Placeholder="@Localizer["PalletWeightInputPlaceholder"]"
      @bind-Value="FormModel.PalletWeight"
    />
    <FieldValidation For="@(() => FormModel.PalletWeight)" />
  </FormFieldWrapper>
  <FormFieldWrapper Label="@WsDataLocalizer["ColCreateDt"]" HtmlId="create-dt">
    <InputDateField @bind-Value="FormModel.CreateDt"/>
  </FormFieldWrapper>
  <FormFieldWrapper Label="@WsDataLocalizer["ColCount"]" HtmlId="count">
    <InputNumberField
      TValue="int"
      id="count"
      Step="1"
      Min="1"
      Placeholder="@Localizer["LabelCountInputPlaceholder"]"
      @bind-Value="FormModel.Count"
    />
    <FieldValidation For="@(() => FormModel.Count)" />
  </FormFieldWrapper>
  <FormFieldWrapper Label="@WsDataLocalizer["ColKneading"]" HtmlId="kneading">
    <InputNumberField
      TValue="short"
      id="kneading"
      Step="1"
      Min="1"
      Placeholder="@Localizer["KneadingInputPlaceholder"]"
      @bind-Value="FormModel.Kneading"
    />
    <FieldValidation For="@(() => FormModel.Kneading)" />
  </FormFieldWrapper>
  <div class="w-full flex justify-end gap-2 py-2">
    <Button
      OnClick="@OnCancelAction"
      Variant="ButtonVariant.Outline"
    >
      @Localizer["BtnBack"]
    </Button>
    <Button Type="BtnType.Submit">
      @Localizer["BtnNext"]
    </Button>
  </div>
</EditForm>