@using Blazor.Heroicons.Solid
@using Ws.StorageCore.Entities.SchemaScale.PlusNestingFks

<ModalHeader>
  <p class="text-2xl">Выбор Вложенности</p>
  <button
    type="button"
    @onclick="CloseModal"
    class="w-10 h-10 bg-gray-100 flex overflow-hidden border border-black/[.1] rounded-md justify-center items-center"
  >
    <XMarkIcon class="h-8 w-8" />
  </button>
</ModalHeader>
<ModalBody Class="p-0">
  <BlazorDataGrid
    SelectedRowChanged="OnRowSelected"
    Data="GetPluNestingsEntities()"
    TItem="SqlPluNestingFkEntity"
  >
    <DataGridColumns>
      <DataGridColumn
        Caption="По умолчанию"
        TItem="SqlPluNestingFkEntity"
        Field="@nameof(SqlPluNestingFkEntity.IsDefault)"
        Width="10%"
      >
        <DisplayTemplate>
          @if (context.IsDefault)
          {
            <div class="flex h-full w-full items-center justify-center">
              <StarIcon class="h-8 w-8 text-yellow-500" />
            </div>

          }
        </DisplayTemplate>
      </DataGridColumn>
      <DataGridColumn
        Caption="Название"
        TItem="SqlPluNestingFkEntity"
        Field="@nameof(SqlPluNestingFkEntity.Box.Name)"
        Width="45%"
      />
      <DataGridColumn
        Caption="Кол-во вложений"
        TItem="SqlPluNestingFkEntity"
        Field="@nameof(SqlPluNestingFkEntity.BundleCount)"
        Width="15%"
      />
      <DataGridColumn
        Caption="Вес коробки"
        TItem="SqlPluNestingFkEntity"
        Field="Box.Weight"
        Width="10%"
      />
      <DataGridColumn
        Caption="Вес пакета"
        TItem="SqlPluNestingFkEntity"
        Field="Plu.Bundle.Weight"
        Width="10%"
      />
      <DataGridColumn
        Caption="Вес тары"
        TItem="SqlPluNestingFkEntity"
        Field="@nameof(SqlPluNestingFkEntity.WeightTare)"
        Width="10%"
      />
    </DataGridColumns>
    <PageButtonTemplate>
      <button type="button" class="h-10 w-10 text-xl">
          @context.PageNumber
      </button>
    </PageButtonTemplate>
    <NextPageButtonTemplate>
      <ChevronRightIcon class="h-6 w-6 mx-2 my-2" />
    </NextPageButtonTemplate>
    <PreviousPageButtonTemplate>
      <ChevronLeftIcon class="h-6 w-6 mx-2 my-2" />
    </PreviousPageButtonTemplate>
    <LastPageButtonTemplate>
      <ChevronDoubleRightIcon class="h-6 w-6 mx-2 my-2" />
    </LastPageButtonTemplate>
    <FirstPageButtonTemplate>
      <ChevronDoubleLeftIcon class="h-6 w-6 mx-2 my-2" />
    </FirstPageButtonTemplate>
    <TotalItemsTemplate>
      <span class="hidden"/>
    </TotalItemsTemplate>
    <TotalItemsShortTemplate>
      <span class="hidden"/>
    </TotalItemsShortTemplate>
  </BlazorDataGrid>
</ModalBody>
