@using Ws.Domain.Models.Entities.Ref1c
<DialogDataGridWrapper
  TItem="PluEntity"
  OnItemSelect="OnRowSelected"
  GridData="GetPluEntities()"
  Title="@Localizer["DialogPluSelectHeaderLabel"]"
>
  <BlazorDataGridColumn
    Caption="@Localizer["DataGridColumnNumber"]"
    TItem="PluEntity"
    Field="@nameof(PluEntity.Number)"
    Width="15%"
  />
  <BlazorDataGridColumn
    Caption="@Localizer["DataGridColumnType"]"
    TItem="PluEntity"
    Field="@nameof(PluEntity.IsCheckWeight)"
    Width="15%"
  >
    <DisplayTemplate>
      <p class="text-lg text-black xl:text-xl">
        @(context.IsCheckWeight ? "Вес" : "Шт")
      </p>
    </DisplayTemplate>
  </BlazorDataGridColumn>
  <BlazorDataGridColumn
    Caption="@Localizer["DataGridColumnName"]"
    TItem="PluEntity"
    Field="@nameof(PluEntity.Name)"
    Width="70%"
  />
</DialogDataGridWrapper>
