@using Blazor.Heroicons.Solid
@using Ws.Domain.Models.Entities.Scale
@using Ws.Domain.Models.Entities.SchemaScale
<DialogDataGridWrapper
  TItem="PluNestingEntity"
  OnItemSelect="OnRowSelected"
  GridData="GetPluNestingsEntities()"
  Title="@Localizer["DialogNestingSelectHeaderLabel"]"
>
  <BlazorDataGridColumn
    Caption="@Localizer["DataGridColumnDefault"]"
    TItem="PluNestingEntity"
    Field="@nameof(PluNestingEntity.IsDefault)"
    Width="10%"
  >
    <DisplayTemplate>
      @if (context.IsDefault)
      {
        <div class="flex h-full w-full items-center justify-center">
          <StarIcon class="h-8 w-8 text-yellow-500" />
        </div>
      }
    </DisplayTemplate>
  </BlazorDataGridColumn>
  <BlazorDataGridColumn
    Caption="@Localizer["DataGridColumnName"]"
    TItem="PluNestingEntity"
    Field="@nameof(PluNestingEntity.Box.Name)"
    Width="45%"
  />
  <BlazorDataGridColumn
    Caption="@Localizer["DataGridColumnBundleCount"]"
    TItem="PluNestingEntity"
    Field="@nameof(PluNestingEntity.BundleCount)"
    Width="15%"
  />
  <BlazorDataGridColumn
    Caption="@Localizer["DataGridColumnBoxWeight"]"
    TItem="PluNestingEntity"
    Field="Box.Weight"
    Width="10%"
  />
  <BlazorDataGridColumn
    Caption="@Localizer["DataGridColumnBundleWeight"]"
    TItem="PluNestingEntity"
    Field="Plu.Bundle.Weight"
    Width="10%"
  />
  <BlazorDataGridColumn
    Caption="@Localizer["DataGridColumnTareWeight"]"
    TItem="PluNestingEntity"
    Field="@nameof(PluNestingEntity.WeightTare)"
    Width="10%"
  />
</DialogDataGridWrapper>
