@using Ws.StorageCore.Entities.SchemaRef1c.Plus

<DialogDataGridWrapper
  TItem="SqlPluEntity"
  OnItemSelect="OnRowSelected"
  GridData="GetPluEntities()"
  Title="@Localizer["DialogPluSelectHeaderLabel"]"
>
  <BlazorDataGridColumn
    Caption="@Localizer["DataGridColumnNumber"]"
    TItem="SqlPluEntity"
    Field="@nameof(SqlPluEntity.Number)"
    Width="15%"
  />
  <BlazorDataGridColumn
    Caption="@Localizer["DataGridColumnType"]"
    TItem="SqlPluEntity"
    Field="@nameof(SqlPluEntity.IsCheckWeight)"
    Width="15%"
  >
    <DisplayTemplate>
      <p class="text-lg text-black xl:text-xl">
        @(context.IsCheckWeight ? "Вес" : "Шт")
      </p>
    </DisplayTemplate>
  </BlazorDataGridColumn>
  <BlazorDataGridColumn
    Caption="@Localizer["DataGridColumnName"]"
    TItem="SqlPluEntity"
    Field="@nameof(SqlPluEntity.Name)"
    Width="70%"
  />
</DialogDataGridWrapper>
