<Dialog class="max-w-lg p-6">
  <div class="flex flex-col space-y-2 mb-4 text-center">
    <h2 class="text-lg font-semibold">@Localizer["ExitAppDialogTitle"]</h2>
    <p class="text-sm text-muted-foreground">@Localizer["ExitAppDialogDescription"]</p>
  </div>
  <div class="flex flex-col gap-2">
    <Button OnClick="@ExitApp" Class="!w-full">
      @Localizer["BtnExit"]
    </Button>
    <Button Variant="ButtonVariant.Outline" OnClick="@CloseDialog">
      @Localizer["BtnCancel"]
    </Button>
  </div>
</Dialog>
