@using ScalesDesktop.Source.Shared.Utils
@using Blazor.Heroicons.Outline
@using Ws.Domain.Models.Enums

@attribute [Route(RouteUtils.Home)]


<div class="size-full flex items-center justify-center">
  @if (LineContext.Line.IsNew)
  {
    <div class="flex max-w-sm flex-col items-center gap-2">
      <ExclamationTriangleIcon class="size-24 text-destructive" />
      <div class="flex flex-col text-center">
        <h2 class="text-lg font-semibold">Линия не настроена</h2>
        <p class="text-xs">
          Пожалуйста, обратитесь к технической поддержке для настройки линии. После настройки линии нажмите "Обновить"
        </p>
      </div>
      <Button Size="ButtonSize.Large">
        <ArrowPathIcon class="size-4 mr-4"/>
        @Localizer["BtnUpdate"]
      </Button>
    </div>
  }
  else
  {
    <div class="bg-background max-w-lg shadow-sm w-full rounded-xl overflow-hidden p-6 border flex gap-6 flex-col">
    <div class="flex flex-col space-y-1 text-center">
      <h2 class="text-2xl font-semibold">@Localizer["AppName"]</h2>
      <p class="text-sm text-muted-foreground">@Localizer["HomePageCardDescription"]</p>
    </div>
    <ul class="flex flex-col gap-2">
      @if (LineContext.Line.Type is LineTypeEnum.Tablet or LineTypeEnum.Universal)
      {
        <li>
          <a href="@RouteUtils.Labels">
            <Button Variant="ButtonVariant.Outline" Class="!w-full !px-6 !justify-start !py-6 !text-lg">
              <TagIcon class="size-5 mr-3"/>
              @WsDataLocalizer["ColLabel"]
            </Button>
          </a>
        </li>
      }
      @if (LineContext.Line.Type is LineTypeEnum.Pc or LineTypeEnum.Universal)
      {
        <li>
          <a href="@RouteUtils.Pallet">
            <Button Variant="ButtonVariant.Outline" Class="!w-full !px-6 !justify-start !py-6 !text-lg">
              <ClipboardIcon class="size-5 mr-3"/>
              @WsDataLocalizer["ColPallet"]
            </Button>
          </a>
        </li>
      }
      <li>
        <Button Variant="ButtonVariant.Outline" Class="!w-full !px-6 !justify-start !py-6 !text-lg" OnClick="@ShowCloseAppDialog">
          <ArrowRightStartOnRectangleIcon class="size-5 mr-3"/>
          @Localizer["BtnExit"]
        </Button>
      </li>
    </ul>
    <div class="flex justify-between items-center w-full">
      <div class="h-16 px-4 shrink-0 rounded-full flex items-center justify-center overflow-hidden bg-secondary">
        @switch (LineContext.Line.Type)
        {
          case LineTypeEnum.Pc:
            <ComputerDesktopIcon class="size-8"/>
            break;
          case LineTypeEnum.Tablet:
            <DeviceTabletIcon class="size-8"/>
            break;
          case LineTypeEnum.Universal:
            <ServerIcon class="size-8"/>
            break;
          default:
            <ExclamationTriangleIcon class="size-8 text-destructive"/>
            break;
        }
      </div>
      <div class="flex w-full flex-col px-3 justify-start">
        <span class="font-medium truncate">@LineContext.Line.Name</span>
        <span class="truncate">@LineContext.Line.Warehouse.Name</span>
      </div>
      <Button Class="shrink-0" OnClick="@ResetLine">
        <ArrowPathIcon class="size-4 mr-4"/>
        @Localizer["BtnUpdate"]
      </Button>
    </div>
  </div>
  }
</div>