@using Blazor.Heroicons.Outline
@using Microsoft.Extensions.Localization
@using ScalesMobile.Source.Features
@using ScalesMobile.Source.Shared.Localization

<div class="w-full flex flex-col gap-6">
  <div class="flex flex-col space-y-1 text-center">
    <h2 class="text-2xl font-semibold">@Localizer["AppName"]</h2>
    <p class="text-sm text-muted-foreground">@Localizer["HomeMenuDescription"]</p>
  </div>
  <ul class="flex flex-col gap-2">
    <li>
      <a href="@RouteUtils.Create">
        <HomeMenuItem>
          <PlusIcon class="size-5 mr-3" />
          @Localizer["CreatePageTitle"]
        </HomeMenuItem>
      </a>
    </li>
    <li>
      <a href="@RouteUtils.Scan">
        <HomeMenuItem>
          <MagnifyingGlassIcon class="size-5 mr-3" />
          @Localizer["ScanPageTitle"]
        </HomeMenuItem>
      </a>
    </li>
    <li>
      <HomeMenuItem OnClick="@ShowCloseAppDialog">
        <ArrowRightStartOnRectangleIcon class="size-5 mr-3" />
        @Localizer["BtnExit"]
      </HomeMenuItem>
    </li>
  </ul>
</div>

@code {
  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
  [Inject] private IDialogService DialogService { get; set; } = default!;

  private async Task ShowCloseAppDialog() => await DialogService.ShowDialogAsync<CloseAppDialog>(new());
}