@using DeviceControl.Source.Shared.Services
@using Ws.DeviceControl.Models.Features.Database
@attribute [Route($"{RouteUtils.SectionMigrations}")]
@attribute [Authorize(Policy = PolicyEnum.Admin)]
@rendermode InteractiveServer

<UseParameterlessEndpoint Endpoint="@DiagnosticEndpoints.MigrationsEndpoint" Context="migrationsQuery">
  <PageHeader>
    <span>@Localizer["SectionMigrations"]</span>
    <DataGridItemsCounter ItemsCount="@(migrationsQuery.Data?.Length ?? 0)" IsLoading="migrationsQuery.IsFetching" />
    <DataGridActionReload OnClick="@migrationsQuery.RefetchAsync" IsLoading="migrationsQuery.IsFetching" />
  </PageHeader>

  <DataGridWrapper>
    <DataGridContainer
      TItem="MigrationHistoryDto"
      Items="@(migrationsQuery.HasData ? migrationsQuery.Data : [])"
    >
      <ColumnsContent>
        <DataGridColumn
          Caption="@WsDataLocalizer["ColVersion"]"
          Field="@nameof(MigrationHistoryDto.ProductVersion)"
          Width="10%"
        />
        <DataGridColumn
          Caption="@WsDataLocalizer["ColName"]"
          Field="@nameof(MigrationHistoryDto.MigrationId)"
          Width="90%"
        />
      </ColumnsContent>
    </DataGridContainer>
  </DataGridWrapper>
</UseParameterlessEndpoint>

@code {
  # region Injects

  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
  [Inject] private IStringLocalizer<WsDataResources> WsDataLocalizer { get; set; } = default!;
  [Inject] private DiagnosticEndpoints DiagnosticEndpoints { get; set; } = default!;

  # endregion
}
