@page "/section/templates/new"
@page "/section/templates/{IdentityId:long}"
@attribute [Authorize(Roles = UserAccessStr.Read)]
@inherits RazorComponentItemBase<WsStorageCore.TableScaleModels.Templates.TemplateModel>
@using BlazorDeviceControl.Pages.ItemComponents
@using BlazorDeviceControl.Pages.CustomComponents
@using WsStorageCore.TableScaleModels.Templates
@using WsStorageCore.TableScaleModels.Templates

<RazorItemReload TItem="@TemplateModel" Title="@LocaleCore.DeviceControl.ItemTemplate"/>

<MudSimpleTable Class="MudItemTable" Dense="true" Bordered="true" FixedHeader="false">
  <RazorItemTableHead CssTableStyleHead="@RzComponentUtils.GetTableHeadStyle(new() { 15, 35, 15, 35 })"/>
  <tbody>
  <RazorItemTableBody SqlItem="@SqlItemCast"/>
  <tr>
    <td>@LocaleCore.Table.Title</td>
    <td><RadzenTextBox Style="width: 100%; text-align: left;" @bind-Value="@SqlItemCast.Title"/></td>
    <td>@LocaleCore.Table.CategoryName</td>
    <td>
      <RzDropDownLocal @bind-Value="@SqlItemCast.CategoryId" Data="@TemplateCategories" ValueProperty="Value" TextProperty="Name" />
    </td>
  </tr>
  <tr>
    <td>@LocaleCore.Table.ImageData</td>
    <td colspan="3">
      <RadzenTextArea
        Style="width: 100%; text-align: left; font-size: 12px; line-height: 18px;"
        Rows="18"
        @bind-Value="@(SqlItemCast.Data)"/>
    </td>
  </tr>
  <RazorItemDates SqlItem="@SqlItemCast"/>
  </tbody>
</MudSimpleTable>

<RazorItemActions
  TItem="@TemplateModel"
  ButtonSettings="@ButtonSettings"
  OnItemSave="@SqlItemSaveAsync"
  OnItemCancel="@SqlItemCancelAsync"
  />
