@using Blazor.Heroicons.Outline

<AuthorizeView Policy="@PolicyEnum.Support">
  <Button
    OnClick="@SwitchIsUnlocked"
    Variant="ButtonVariantType.Outline"
    Class="@Css.Class("!w-full !justify-start", Class)"
    Disabled="Disabled"
  >
    @if (IsUnlocked)
    {
      <LockClosedIcon class="size-4 mr-2"/>
      <span>@Localizer["FormActionLock"]</span>
    }
    else
    {
      <LockOpenIcon class="size-4 mr-2"/>
      <span>@Localizer["FormActionUnlock"]</span>
    }
  </Button>
</AuthorizeView>

@code {
  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;

  [Parameter] public bool IsUnlocked { get; set; }
  [Parameter] public bool Disabled { get; set; }
  [Parameter] public EventCallback<bool> IsUnlockedChanged { get; set; }
  [Parameter] public string Class { get; set; } = string.Empty;

  private async Task SwitchIsUnlocked()
  {
    IsUnlocked = !IsUnlocked;
    await IsUnlockedChanged.InvokeAsync(IsUnlocked);
  }
}